<div class="shopping-bag-card-quantity">
  <% if item.quantity > 1 %>
    <%= simple_form_for item, remote: true do |f| %>
      <%= f.input :quantity, as: :hidden, input_html: {value: item.quantity - 1} %>
      <%= button_tag type: :submit, class: "shopping-bag-quantity-controls" do %>
        <%= image_tag 'minus.png', width: 16 %>
      <% end %>
    <% end %>
  <% else %>
    <%= image_tag 'minus.png', width: 16, class: "py-2" %>
  <% end %>
  <p class="ls-xs lighter mb-0 mx-3 item-quantity">Qty: <%= item.quantity %></p>
  <%= simple_form_for item, remote: true do |f| %>
    <%= f.input :quantity, as: :hidden, input_html: {value: item.quantity + 1} %>
    <%= button_tag type: :submit, class: "shopping-bag-quantity-controls" do %>
      <%= image_tag 'plus.png', width: 16 %>
    <% end %>
  <% end %>
</div>
