<div class="shopping-bag-card">
  <div class="shopping-bag-card-content">
    <div class="shopping-bag-image-container">
      <% if item.shade.number_in_stock == 0 %>
        <div class="out-of-stock-overlay">
          <h4 class="boldest kaftan text-center out-of-stock-overlay-message">OUT OF STOCK</h4>
        </div>
      <% end %>
      <%= image_tag url_for(item.shade.card_photo), class: 'shopping-bag-card-image', alt: "shade photo" %>
    </div>
    <div class="shopping-bag-item-info">
      <div class="pt-4 d-none d-sm-block"></div>
      <div class="shopping-bag-card-title mb-4 mb-sm-0">
        <p class="mb-2 lighter ls-xs"><%= item.product.brand.name %>, <%= item.product.title %>, <%= item.shade.name %></p>
        <p class="neue-machina text-secondary ls-xs lighter mb-0"><%= humanized_money_with_symbol(item.product.price) %></p>
        <%# if policy(item).set_credit_purchase? && item.product.demoable %>
          <%#= simple_form_for item, url: set_credit_purchase_basket_product_path(item), method: :patch, html: { onchange: "Rails.fire(this, 'submit')" }, remote: true do |f| %>
              <%#= f.input :purchase_with_credit, class: 'Mukta Mahee' %>
          <%# end %>
        <%# end %>
      </div>
      <div class="d-flex justify-content-between align-items-center">
        <span class="item-form-<%= item.id %>" style="display: contents;">
          <%= render 'baskets/shopping_bag_form_controls', item: item %>
        </span>
        <%= link_to basket_product_path(item), method: :delete, remote: true, class: "ls-xs lighter no-decoration" do %>
          Remove <%= image_tag 'popup_close.png', width: 12 %>
        <% end %>
      </div>
    </div>
  </div>
  <hr class="m-0" style="border-color: #DDCCB5;">
</div>
