<div class="shopping-bag-card">
  <div class="shopping-bag-card-content">
    <%= image_tag item.shade.photos.first, class: 'shopping-bag-card-image' %>
    <div class="shopping-bag-card-title">
      <p class="small-text boldest no-margin shopping-bag-card-title"><%= item.product.title %></p>
      <%= link_to 'Remove', basket_product_path(item), method: :delete, remote: true, class: "small-text underline grey-font boldest text-right shopping-bag-card-title" %>
    </div>
    <p class="small-text boldest text-right shopping-bag-card-price"><%= humanized_money_with_symbol(item.product.price) %></p>
    <span class="item-form-<%= item.id %>" style="display: contents;">
      <%= render 'baskets/shopping_bag_form_controls', item: item %>
    </span>
  </div>
  <hr style="border-color: #CFCFCF;">
</div>
