<div class="shopping-bag-card">
  <div class="shopping-bag-card-content">
    <%= image_tag url_for(item.shade.photos.first), class: 'shopping-bag-card-image' %>
    <div class="shopping-bag-card-title">
      <p class="small-text boldest no-margin"><%= item.product.title %></p>
      <%= link_to 'Remove', basket_product_path(item), method: :delete, remote: true, class: "small-text underline grey-font boldest text-right" %>
      <% if policy(item).set_credit_purchase? && item.product.demoable %>
        <%= simple_form_for item, url: set_credit_purchase_basket_product_path(item), method: :patch, html: { onchange: "Rails.fire(this, 'submit')" }, remote: true do |f| %>
            <%= f.input :purchase_with_credit %>
        <% end %>
      <% end %>
    </div>
    <p class="small-text boldest text-right shopping-bag-card-price"><%= humanized_money_with_symbol(item.product.price) %></p>
    <span class="item-form-<%= item.id %>" style="display: contents;">
      <%= render 'baskets/shopping_bag_form_controls', item: item %>
    </span>
  </div>
  <hr style="border-color: #CFCFCF;">
</div>
