<div class="shopping-bag-card-quantity kaftan boldest">
  <% if item.quantity > 1 %>
    <%= simple_form_for item, remote: true do |f| %>
      <%= f.input :quantity, as: :hidden, input_html: {value: item.quantity - 1} %>
      <%= f.submit '-', class: "shopping-bag-quantity-controls"  %>
    <% end %>
  <% else %>
    <p class="boldest no-margin no-quantity">-</p>
  <% end %>
  <p class="boldest no-margin small-text"><%= item.quantity %></p>
  <%= simple_form_for item, remote: true do |f| %>
    <%= f.input :quantity, as: :hidden, input_html: {value: item.quantity + 1} %>
    <%= f.submit '+', class: "shopping-bag-quantity-controls" %>
  <% end %>
</div>
<p class="small-text boldest text-right shopping-bag-card-total kaftan"><%= humanized_money_with_symbol((item.product.price * item.quantity)) %></p>
