<div class="shopping-bag-card">
  <div class="shopping-bag-card-content">
    <div class="shopping-bag-image-container">
      <% if item.shade.number_in_stock == 0 %>
        <div class="out-of-stock-overlay">
          <h4 class="boldest kaftan text-center out-of-stock-overlay-message">OUT OF STOCK</h4>
        </div>
      <% end %>
      <%= image_tag url_for(item.shade.card_photo), class: 'shopping-bag-card-image', alt: "shade photo" %>
    </div>
    <div class="shopping-bag-card-title">
      <p class="small-text boldest no-margin kaftan"><%= item.product.title %></p>
      <p class="small-text no-margin kaftan"><%= item.shade.name %></p>
      <p class="small-text no-margin kaftan"><%= item.product.brand.name %></p>
      <%= link_to 'Remove', basket_product_path(item), method: :delete, remote: true, class: "small-text kaftan underline grey-font boldest text-right" %>
      <%# if policy(item).set_credit_purchase? && item.product.demoable %>
        <%#= simple_form_for item, url: set_credit_purchase_basket_product_path(item), method: :patch, html: { onchange: "Rails.fire(this, 'submit')" }, remote: true do |f| %>
            <%#= f.input :purchase_with_credit, class: 'Mukta Mahee' %>
        <%# end %>
      <%# end %>
    </div>
    <p class="small-text boldest text-right shopping-bag-card-price kaftan"><%= humanized_money_with_symbol(item.product.price) %></p>
    <span class="item-form-<%= item.id %>" style="display: contents;">
      <%= render 'baskets/shopping_bag_form_controls', item: item %>
    </span>
  </div>
  <hr style="border-color: #CFCFCF;">
</div>
