formContainer = document.querySelector('.shopping-bag-code');
formContainer.innerHTML = ''
formContainer.innerHTML = "<%= j render 'form', basket: @basket %>"
discountForm = document.querySelector('.shopping-bag-code > form')
input = discountForm.querySelector('.form-group')
if ('<%= @discount.present? && @basket.valid? %>' === 'true') {
  priceContainer = document.querySelector('.shopping-bag-continue-checkout-total')
  priceContainer.innerHTML = "<%= j render 'shared/shopping_bag_price', basket: @basket %>"
  // input.classList.add("form-group-valid")
  input.firstElementChild.classList.remove("is-invalid")
  input.firstElementChild.classList.add("is-valid")
  input.style.margin = 'auto'
  document.querySelector('.discount-message').innerHTML = `<p style='font-size: 10px; color: #1EDD88; margin-bottom: 1px;'>Discount code applied.</p>`
  discountForm.lastElementChild.remove()
  discountForm.insertAdjacentHTML('beforeend', '<%= link_to "REMOVE", remove_discount_path, method: :patch, remote: true, class: "primary-button discount-code-button width-max-content" %>')
} else {
  input.classList.add("form-group-invalid")
  input.firstElementChild.classList.remove("is-valid")
  input.firstElementChild.classList.add("is-invalid")
  input.style.marginBottom = '0'
  if ('<%= @code.length %>' === '0') {
    document.querySelector('.discount-message').innerHTML = `<p style='font-size: 10px; color: #FD1015; margin-bottom: 1px;'>You didn't enter a discount code. Please try again</p>`
  }
  if ('<%= @discount.nil? %>' === 'true') {
    document.querySelector('.discount-message').innerHTML = `<p style='font-size: 10px; color: #FD1015; margin-bottom: 1px;'>Discount code is invalid</p>`
  }
}
console.log('<%= @discount.nil? %>')
