<div class="shopping-bag-wrapper minimum-height">
  <div class="shopping-bag-container">
    <% if @basket.user&.influencer %>
      <div class="influencer-credit-container">
        <p class="small-text boldest underline small-margin-bottom muli">Credit Remaining</p>
        <p class="boldest small-margin-bottom influencer-remaining-credit muli"><%= humanized_money_with_symbol @basket.user.remaining_credit %></p>
        <p class="v-small-text small-margin-bottom muli">Your credit expires last day of the month</p>
      </div>
    <% end %>
    <h2 class="shopping-bag-title text-center">Shopping Bag</h2>
    <hr style="border-color: #CFCFCF;">
    <div class="empty-basket-text">
      <% if @basket.products.count == 0 %>
        <p class="large-margin text-center boldest muli grey s-medium-text">Your basket is empty</p>
        <div class="start-shopping-holder">
          <%= link_to "SHOP NOW", products_path, class: "primary-button"  %>
        </div>
        <hr style="border-color: #CFCFCF;">
      <% end %>
    </div>
    <% @basket.basket_products.each do |item| %>
      <div class="item-<%= item.id %> item-bag-<%= item.id %> %>">
        <%= render 'shopping_bag_product_card', item: item %>
      </div>
    <% end %>
    <div class="shopping-bag-checkout">
      <div class="shopping-bag-code">
        <!-- <p class="boldest small-text tiny-margin-bottom">Promotional code</p> -->
        <%#= simple_form_for @basket, url: discount_path, method: :patch, remote: :true do |f| %>
          <%# if @basket.discount_code %>
            <%#= f.input :discount_code, label: false, placeholder: 'Enter code', disabled: true, input_html: { class: 'contact-form-input', value: @basket.discount_code&.code } %>
          <%# else %>
            <%#= f.input :discount_code, label: false, placeholder: 'Enter code', input_html: { class: 'contact-form-input', value: @basket.discount_code&.code } %>
          <%# end %>
          <!-- <div class="discount-message"></div> -->
          <%# if @basket.basket_products.count == 0 %>
            <!-- <div class="primary-button discount-code-button disabled" style="width: 98px;">APPLY</div> -->
          <%# elsif @basket.discount_code.nil? %>
            <%#= f.submit 'APPLY', class: "primary-button discount-code-button", id: "discount-apply"  %>
          <%# else %>
            <%#= link_to 'REMOVE', remove_discount_path, method: :patch, remote: true, class: "primary-button discount-code-button" %>
          <%# end %>
        <%# end %>
        <%= render 'form', basket: @basket %>
      </div>
      <div class="shopping-bag-continue-checkout">
        <% if @locale == 'US' %>
          <p class="boldest grey-font text-right small-text no-margin muli">Subtotal: <span class="basket-total-price" ><%= humanized_money_with_symbol @basket.us_unadjusted_price %></span></p>
        <% else %>
          <p class="boldest grey-font text-right small-text no-margin muli">Subtotal: <span class="basket-total-price" ><%= humanized_money_with_symbol @basket.unadjusted_price %></span></p>
        <% end %>
        <div class="shopping-bag-continue-checkout-total">
          <%= render 'shared/shopping_bag_price', basket: @basket %>
        </div>
        <div class="checkout-button">
          <%= render 'checkout_button', basket: @basket %>
        </div>
        <%= image_tag 'powered-by-stripe.png', class: 'powered-by-stripe', alt: 'stripe photo' %>
      </div>
    </div>
  </div>
</div>

