<div class="shopping-bag-wrapper minimum-height">
  <div class="shopping-bag-container">
    <% if @basket.user&.influencer %>
      <div class="influencer-credit-container">
        <p class="small-text boldest underline small-margin-bottom">Credit Remaining</p>
        <p class="boldest small-margin-bottom influencer-remaining-credit"><%= humanized_money_with_symbol @basket.user.remaining_credit %></p>
        <p class="v-small-text small-margin-bottom">Your credit expires last day of the month</p>
      </div>
    <% end %>
    <h2 class="shopping-bag-title text-center">Shopping Bag</h2>
    <hr style="border-color: #CFCFCF;">
    <% if @basket.products.count == 0 %>
      <p class="large-margin text-center boldest">Your basket is empty</p>
      <hr style="border-color: #CFCFCF;">
    <% end %>
    <% @basket.basket_products.each do |item| %>
      <div class="item-<%= item.id %> item-bag-<%= item.id %> %>">
        <%= render 'shopping_bag_product_card', item: item %>
      </div>
    <% end %>
    <div class="shopping-bag-checkout">
      <div class="shopping-bag-code">
        <p class="boldest small-text tiny-margin-bottom">Promotional code</p>
        <%= simple_form_for @basket, url: discount_path, method: :patch, remote: :true do |f| %>
          <%= f.input :discount_code, label: false, placeholder: 'Enter code', input_html: { class: 'contact-form-input', value: @basket.discount_code&.code } %>
          <% if @basket.discount_code.nil? %>
            <%= f.submit 'APPLY', class: "primary-button discount-code-button"  %>
          <% else %>
            <%= link_to 'REMOVE', remove_discount_path, method: :patch, remote: true, class: "primary-button discount-code-button" %>
          <% end %>
        <% end %>
      </div>
      <div class="shopping-bag-continue-checkout">
        <p class="boldest grey-font text-right small-text no-margin">Subtotal: <span class="basket-total-price" ><%= humanized_money_with_symbol @basket.subtotal %></span></p>
        <div class="shopping-bag-continue-checkout-total">
          <%= render 'shared/shopping_bag_price', basket: @basket %>
        </div>
        <%= link_to 'CHECKOUT', checkout_path, class: 'primary-button bag-checkout-button' %>
        <%= image_tag 'powered-by-stripe.png', class: 'powered-by-stripe' %>
      </div>
    </div>
  </div>
</div>
