<div class="admin-wrapper minimum-height">
  <div class="admin-sales-report-container">
    <h2 class="insider-info-title mlb-title text-center">Activity Report</h2>
    <hr>
    <div class="admin-form-container admin-products-new-container sales-report-container">
      <%= simple_form_for :filter, url: admin_activity_report_path, method: :get do |f| %>
          <div class="personal-details-input">
          <p class="boldest muli s-medium-text text-right no-margin">Start Date</p>
          <%= f.input :from, label: false, input_html: { value: params[:filter].nil? ? '' : params[:filter][:from], class: 'contact-form-input' } %>
        </div>
        <div class="personal-details-input align-items-center">
          <p class="boldest muli s-medium-text text-right no-margin">End Date</p>
          <%= f.input :to, label: false, input_html: { value: params[:filter].nil? ? '' : params[:filter][:to], class: 'contact-form-input' } %>
        </div>
        <div class="personal-details-input align-items-center">
          <p class="boldest muli s-medium-text text-right no-margin">Influencer</p>
          <%= f.input :influencer_id, collection: User.where(influencer: true), label: false, label_method: :full_name, value_method: :id, selected: params[:filter].nil? ? '' : params[:filter][:influencer_id], include_blank: true, input_html: { class: 'dropdown-input sign-up-dropdown' } %>
        </div>
          <%= f.submit 'FILTER', class: "primary-button personal-details-button small-text" %>
      <% end %>
    </div>
    <div class="influencer-orders-container">
        <table id="analytics-table">
            <thead>
                <tr>
                    <th>Influencer ID</th>
                    <th>Influencer Name</th>
                    <th>Commission Rate</th>
                    <th>Content Publish Date</th>
                    <th>Content Name</th>
                    <th>Content Type</th>
                    <th>Number of Visits</th>
                    <th>Number of Transactions</th>
                    <th>Transaction Value</th>
                    <th>VAT</th>
                    <th>Transaction Total</th>
                    <th>Commission Amount</th>
                </tr>
            </thead>
            <tbody>
                <% @results.each do |result| %>
                    <% user = result.user %>
                    <tr class="influencer-order">
                        <td><%= user.id %></td>
                        <td><%= user.full_name %></td>
                        <td><%= user.commission_rate %></td>
                        <td><%= result.publish_date.strftime('%d/%m/%Y') %></td>
                        <td><%= result.title %></td>
                        <td><%= result.class == Lookbook ? 'Image' : 'Video' %></td>
                        <td><%= result.visits %></td>
                        <td><%= result.sales %></td>
                        <td><%= humanized_money_with_symbol Money.new (result.sales_total_cents / 12.to_f) * 10 %></td>
                        <td><%= humanized_money_with_symbol Money.new result.sales_total_cents - (result.sales_total_cents / 12.to_f) * 10 %></td>
                        <td><%= humanized_money_with_symbol Money.new result.sales_total_cents %></td>
                        <td><%= humanized_money_with_symbol Money.new ((result.sales_total_cents / 12.to_f) * 10) * ((user.commission_rate) / 100)  %></td>
                    </tr>
                <% end %>
            </tbody>
            <tfoot>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><strong>TOTAL</strong></td>
                    <td></td>
                    <td><strong><%= @results.sum(&:visits) %></strong></td>
                    <td><strong><%= @results.sum(&:sales) %></strong></td>
                    <td><strong><%= humanized_money_with_symbol Money.new @results.sum { |result| (result.sales_total_cents / 12.to_f) * 10 } %></strong></td>
                    <td><strong><%= humanized_money_with_symbol Money.new @results.sum { |result| result.sales_total_cents - (result.sales_total_cents / 12.to_f) * 10 } %></strong></td>
                    <td><strong><%= humanized_money_with_symbol Money.new @results.sum { |result| result.sales_total_cents } %></strong></td>
                    <td><strong><%= humanized_money_with_symbol Money.new @results.sum { |result| ((result.sales_total_cents / 12.to_f) * 10) * ((result.user.commission_rate) / 100) } %></strong></td>
                </tr>
            </tfoot>
        </table>
    </div>
  </div>
</div>
