<div class="dashboard-wrapper">
  <div class="dashboard-container">
    <div class="dash-menu-container">
      <%= render 'admin/shared/admin_dash' %>
    </div>
    <div class="dash-content-container">
      <h2 class="insider-info-title mlb-title text-center">Admin Portal</h2>
      <hr>
      <div class="dash-home-options">
        <%= link_to admin_brands_path, class: "dash-home-option-links" do %>
          <div class="each-dash-home-option">
            <%= image_tag "basket.png" %>
            <h5>All Brands</h5>
          </div>
        <% end %>
        <div class="dash-home-options-line-break"></div>
        <%= link_to admin_products_path, class: "dash-home-option-links" do %>
          <div class="each-dash-home-option">
            <%= image_tag "lipstick.png" %>
            <h5>All Products</h5>
          </div>
        <% end %>
        <div class="dash-home-options-line-break"></div>
        <%= link_to admin_lookbooks_path, class: "dash-home-option-links" do %>
          <div class="each-dash-home-option">
            <%= image_tag "lookbook-icon.png" %>
            <h5>Pending Lookbooks</h5>
          </div>
        <% end %>
        <div class="dash-home-options-line-break"></div>
        <%= link_to admin_tutorials_path, class: "dash-home-option-links" do %>
          <div class="each-dash-home-option">
            <%= image_tag "tutorial-icon.png" %>
            <h5>Pending Tutorials</h5>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
