<%= simple_form_for :filter, url: admin_sales_report_path, method: :get do |f| %>
    <%= f.input :from %>
    <%= f.input :to %>
    <%= f.input :influencer_id, collection: User.where(influencer: true), label_method: :full_name, value_method: :id %>
    <%= f.submit 'Filter' %>
<% end %>
<div class="influencer-orders-container">
    <table>
        <thead>
            <tr>
                <th>Influencer ID</th>
                <th>Influencer Name</th>
                <th>Commission Rate</th>
                <th>Order Date</th>
                <th>Order Number</th>
                <th>Order Amount</th>
                <th>VAT</th>
                <th>Total</th>
                <th>Commission Amount</th>
            </tr>
        </thead>
        <tbody>
            <% @orders.each do |order| %>
                <% user = order.affiliation&.user %>
                <tr class="influencer-order">
                    <td><%= user&.id %></td>
                    <td><%= user&.full_name %></td>
                    <td><%= user&.commission_rate %></td>
                    <td><%= order.created_at.strftime('%d/%m/%Y') %></td>
                    <td><%= order.id %></td>
                    <td><%= humanized_money_with_symbol (order.total_price / 12.to_f) * 10 %></td>
                    <td><%= humanized_money_with_symbol order.total_price - (order.total_price / 12.to_f) * 10 %></td>
                    <td><%= humanized_money_with_symbol order.total_price %></td>
                    <td><%= humanized_money_with_symbol ((order.total_price / 12.to_f) * 10) * ((user&.commission_rate || 0) / 100)  %></td>
                </tr> 
            <% end %>
        </tbody>
    </table>
</div>