card = document.getElementById('wishlist-<%= @wishlist_product.id %>-card')
card.remove()

basketIcon = document.querySelector('.basket-icon-container')
basketIconMobile = document.querySelector('.basket-icon-mobile')

document.querySelector('.basket-item-count').innerText = '<%= @basket.total_number_of_products %>'
document.querySelector('.basket-total-price').innerText = '<%= humanized_money_with_symbol @basket.total_price %>'
document.querySelector('.navbar-basket-title h6').innerHTML = 'my bag, <%= @basket.products.size %> <%= 'item'.pluralize(@basket.products.size) %>'
// document.querySelector('.navbar-basket-title').innerHTML = '<div class="item-added"><p><i class="far fa-check-circle"></i> Item added to bag!</p></div><h6 class="s-medium-text"><span class="boldest">My Bag</span>, <%= @basket.products.size %> <%= 'item'.pluralize(@basket.products.size) %></h6>'
// document.querySelector('item-added').innerHTML = ''
container = document.querySelector('.navbar-basket-items-container')
container.innerHTML = "<%= j render 'shared/navbar_basket_product_card', item: @item %>"

// navBasketDrop = document.querySelector('.navbar-hover-container');
// navBasketDrop.classList.add('navbar-hover-container-top')
// setTimeout(() => navBasketDrop.classList.remove('navbar-hover-container-top'), 3000)

navBasketDrop = document.querySelector('.navbar-hover-container');
if (window.scrollY > 40) {
  navBasketDrop.style.top = '60px'
} else {
  navBasketDrop.style.top = `calc(100px - ${window.scrollY}px)`
}
setTimeout(() => navBasketDrop.style.top = '-620px', 3000)

basketIcon.style.animation = 'basket-bounce 2s ease'
basketIconMobile.style.animation = 'basket-bounce 2s ease'
setTimeout(() => basketIcon.style.animation = '', 2000)
setTimeout(() => basketIconMobile.style.animation = '', 2000)
