<div class="tutorial-show-title-content">
  <div style="width: 120px;">
    <%= link_to 'See all looks', influencer_video_path, class: "web-tutorials-link" %>
  </div>
  <h2 class="insider-info-title text-center"><%= @lookbook.title %></h2>
  <div style="width: 120px;">
  </div>
</div>
<div class="main-lookbook-cards-container">
  <div class="main-lookbook-card lookbook-card-opacity left-lookbook-card">
    <div class="main-lookbook-card-image-container">
      <%= image_tag url_for(@previous_lookbook.photo), class: "main-lookbook-card-image" %>
    </div>
    <div class="main-lookbook-card-text">
      <p class="didot">An extraterrestrial glow. I recommend this to everyone. Lorem ipsum di amet.</p>
    </div>
  </div>
  <div class="main-card-container">
    <%= link_to lookbook_path(@previous_lookbook, user_id: @previous_lookbook.user.id) do %>
      <%= image_tag 'previous.png', class: "lookbook-previous-next-buttons" %>
    <% end %>
    <div class="main-lookbook-card">
      <div class="main-lookbook-card-image-container">
          <%= image_tag url_for(@lookbook.photo), class: "main-lookbook-card-image" %>
      </div>
      <div class="main-lookbook-card-text">
        <p class="didot">An extraterrestrial glow. I recommend this to everyone. Lorem ipsum di amet.</p>
      </div>
    </div>
    <%= link_to lookbook_path(@next_lookbook, user_id: @next_lookbook.user.id) do %>
      <%= image_tag 'next.png', class: "lookbook-previous-next-buttons" %>
    <% end %>

  </div>
  <div class="main-lookbook-card lookbook-card-opacity right-lookbook-card">
    <div class="main-lookbook-card-image-container">
      <%= image_tag url_for(@next_lookbook.photo), class: "main-lookbook-card-image" %>
    </div>
    <div class="main-lookbook-card-text">
      <p class="didot">An extraterrestrial glow. I recommend this to everyone. Lorem ipsum di amet.</p>
    </div>
  </div>
</div>
<div class="featured-products-wrapper">
  <div class="featured-products-header">
    <div class="tutorial-spacer" style="width: 150px;"></div>
    <h2 class="insider-info-title text-center">Shop the look</h2>
    <div class="tutorial-spacer text-right" style="width: 150px;">
      <%= link_to 'Shop more products', products_path, class: "web-tutorials-link" %>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <% @lookbook.products.first(4).each do |product| %>
        <div class="col-xs-12 col-sm-6 col-md-3 d-flex justify-content-center" style="padding: 5px;">
          <div class="card-image-results">
            <div class="card">
              <%= link_to product_path(product) do %>
                <div class="card_image">
                  <%= link_to product_path(product) do %>
                    <%= image_tag url_for(product.shades.first.photos.first) %>
                  <% end %>
                </div>
              <% end %>
              <div class="card_header">
                <p><%= product.title %></p>
              </div>
              <div class="card_price-heart">
                <%= humanized_money_with_symbol(product.price) %>
              </div>
              <div class="card_ratings">
                <% if product.average_rating == 0 %>
                 <% 5.times do %>
                  <p><i class="far fa-star"></i></p>
                  <% end %>
                 <p>(0) Reviews</p>
                <% else  %>
                  <% product.average_rating.times do %>
                    <p><i class="fas fa-star"></i></p>
                  <% end %>
                  <p><%= product.total_reviews %></p>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <%= link_to 'Shop more products', products_path, class: "mobile-tutorials-link" %>
</div>
<div class="youll-also-love-wrapper">
  <div class="similar-tutorials-header">
    <div class="tutorial-spacer" style="width: 150px;"></div>
    <h2 class="insider-info-title text-center">You'll also love</h2>
    <div class="tutorial-spacer text-right" style="width: 150px;">
      <%= link_to 'See more looks', '#', class: "web-tutorials-link" %>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <% @lookbooks.sample(4).each do |lookbook| %>
        <div class="col-xs-12 col-md-6 col-lg-3">
          <%= link_to lookbook_path(lookbook, user_id: lookbook.user.id), class: "lookbook-small-card-link card-link" do %>
            <div class="lookbook-small-card">
              <div class="lookbook-card-small-image">
                <%= image_tag url_for(lookbook.photo) %>
              </div>
              <div class="lookbook-card-small-text-container">
                <p class="lookbook-card-small-text muli">Shop the look</p>
                <%= image_tag 'basket.png', class: "lookbook-card-small-basket" %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <%= link_to 'See more looks', '#', class: "mobile-tutorials-link" %>
</div>
