<div class="tutorial-show-title-content lookbook-max-width">
  <div style="width: 120px;">
    <%= link_to 'See all looks', influencer_video_path, class: "web-tutorials-link" %>
  </div>
  <h2 class="insider-info-title text-center"><%= @lookbook.title %></h2>
  <div style="width: 120px;">
  </div>
</div>
<div class="main-lookbook-cards-container">
  <div class="main-lookbook-card lookbook-card-opacity left-lookbook-card">
    <div class="main-lookbook-card-image-container">
      <%= image_tag url_for(@previous_lookbook.photo), class: "main-lookbook-card-image" %>
    </div>
    <div class="main-lookbook-card-text">
      <p class="didot"><%= @previous_lookbook.description %></p>
    </div>
  </div>
  <div class="main-card-container">
    <%= link_to lookbook_path(@previous_lookbook, user_id: @previous_lookbook.user.id) do %>
      <%= image_tag 'previous.png', class: "lookbook-previous-next-buttons" %>
    <% end %>
    <div class="main-lookbook-card">
      <div class="main-lookbook-card-image-container">
          <%= image_tag url_for(@lookbook.photo), class: "main-lookbook-card-image" %>
      </div>
      <div class="main-lookbook-card-text">
        <p class="didot"><%= @lookbook.description %></p>
      </div>
    </div>
    <%= link_to lookbook_path(@next_lookbook, user_id: @next_lookbook.user.id) do %>
      <%= image_tag 'next.png', class: "lookbook-previous-next-buttons" %>
    <% end %>
  </div>
  <div class="main-lookbook-card lookbook-card-opacity right-lookbook-card">
    <div class="main-lookbook-card-image-container">
      <%= image_tag url_for(@next_lookbook.photo), class: "main-lookbook-card-image" %>
    </div>
    <div class="main-lookbook-card-text">
      <p class="didot"><%= @next_lookbook.description %></p>
    </div>
  </div>
</div>
<div class="featured-products-wrapper">
  <div class="featured-products-header lookbook-max-width">
    <div class="tutorial-spacer" style="width: 150px;">
      <%= link_to 'Add all to bag', add_to_bag_user_lookbook_path([@user, @lookbook]), method: :post, remote: true, class: "add-all-to-bag" %>
    </div>
    <h2 class="insider-info-title text-center">Shop the look</h2>
    <div class="tutorial-spacer text-right" style="width: 150px;">
      <%= link_to 'Shop more products', products_path, class: "web-tutorials-link" %>
    </div>
  </div>
  <div class="max-width">
    <% if @lookbook.products.count > 4 %>
      <p class="shop-look-text text-center">Scroll across to see more products</p>
    <% end %>
    <div class="row-carousel">
      <%= image_tag 'small-back.png', class: 'carousel-buttons cb-left' %>
      <% @lookbook.products.each do |product| %>
        <div class="col-9 col-sm-6 col-md-3 tp-cols">
          <%= render 'shared/product_cards', product: product %>
        </div>
      <% end %>
      <%= image_tag 'small-forward.png', class: 'carousel-buttons cb-right' %>
    </div>
  </div>
  <%= link_to 'Shop more products', products_path, class: "mobile-tutorials-link" %>
</div>
<div class="youll-also-love-wrapper">
  <div class="similar-tutorials-header lookbook-max-width">
    <div class="tutorial-spacer" style="width: 150px;"></div>
    <h2 class="insider-info-title text-center">You'll also love</h2>
    <div class="tutorial-spacer text-right" style="width: 150px;">
      <%= link_to 'See more looks', user_lookbooks_path(@lookbook.user), class: "web-tutorials-link" %>
    </div>
  </div>
  <div class="max-width">
    <div class="row-carousel">
      <%= image_tag 'small-back.png', class: 'carousel-buttons cb-left' %>
      <% @users_lookbooks.each do |lookbook| %>
        <div class="col-10 col-md-6 col-lg-3 lv-cols">
          <%= link_to lookbook_path(lookbook, user_id: lookbook.user.id), class: "lookbook-small-card-link card-link" do %>
            <div class="lookbook-small-card">
              <div class="lookbook-card-small-image">
                <%= image_tag url_for(lookbook.photo) %>
              </div>
              <div class="lookbook-card-small-text-container">
                <p class="lookbook-card-small-text muli">Shop the look</p>
                <%= image_tag 'basket.png', class: "lookbook-card-small-basket" %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
      <%= image_tag 'small-forward.png', class: 'carousel-buttons cb-right' %>
    </div>
  </div>
  <%= link_to 'See more looks', user_lookbooks_path(@lookbook.user), class: "mobile-tutorials-link" %>
</div>
<% if @lookbook.user == current_user && @lookbook.status == "pending" || @lookbook.status == "rejected" %>
    <div class="container tutorial-show-admin-options">
      <hr>
        <h6 class="boldest margin-top" >Current Status: <%= @lookbook.status.capitalize %></h6>
        <% if @lookbook.rejection_message %>
          <p class="boldest">Message: <span class="didot lighter"><%= @lookbook.rejection_message %></span></p>
        <% end %>
        <%= link_to "EDIT", edit_lookbook_path(@lookbook), class: 'secondary-button small-margin-right' %>
      <hr>
    </div>
<% end %>

<script>
  itemAdded = document.querySelector('.item-added');
  addToBag = document.querySelector('.add-all-to-bag');

  addToBag.addEventListener('click', function() {
    itemAdded.classList.add('item-added-show');
    // basketIcon.style.animation = 'basket-bounce 2s ease'
    // setTimeout(() => basketIcon.style.animation = '', 2000)
    setTimeout(() => itemAdded.classList.remove('item-added-show'), 4000)
    setTimeout(() => addToBag.disabled = true, 100)
    setTimeout(() => addToBag.disabled = false, 4000)
  });
</script>


