<%= link_to "NEW ARTICLE", new_admin_insider_article_path, class: 'primary-button products-admin-primary m10' %>
<div class="row" style="margin: 0; width: 100%;">
  <% insider_articles.each_with_index do |article, index| %>
    <div class="col-12 col-sm-6 col-xl-4" style="padding: 0;">
      <%= link_to insider_article_path(article), class: "insider-home-card-link" do %>
        <div class="insider-home-articles-card" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= url_for(article.cover_photo) %>);">
          <div class="insider-home-articles-card-text">
            <h6><%= article.category %></h6>
            <p class="neue-machina small-text"><%= article.title %></p>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
