<div class="admin-wrapper minimum-height">
  <div class="admin-container" style="max-width: 850px; padding-bottom: 0;">
    <h2 class="insider-info-title mlb-title text-center">Update Insider Article</h2>
    <hr>
      <div id="insiderArticle" class="new-question-answers-form insider-form">
        <%= form_for [:admin, @insider_article] do |f| %>
          <%if @insider_article.errors.any? %>
            <p class="form-error"><%= @insider_article.errors.full_messages.first  %></p>
          <% end %>
          <div class="insider-articles-input">
            <p class="boldest muli s-medium-text no-bottom-margin">Article title</p>
            <%= f.text_field :title, class:"form-control" %>
          </div>
          <div class="insider-articles-input">
            <p class="boldest muli s-medium-text no-bottom-margin">Category</p>
            <%= f.select(:category, ["Inspiration", "Ask the Expert", "News"], {}, { class: "filters-container boldest s-medium-text insider-article-category" }) %>
          </div>
          <div class="insider-articles-input">
            <p class="boldest muli s-medium-text no-bottom-margin">Article date</p>
            <div class="form-group date optional user_dob">
              <div class="d-flex flex-row justify-content-between align-items-center">
                <select id="insider_article_article_date_3i" name="insider_article[article_date(3i)]" class="form-control mx-1 date optional dob-container" data-date="<%= @insider_article.article_date %>">
                  <option selected disabled>Day</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10</option>
                  <option value="11">11</option>
                  <option value="12">12</option>
                  <option value="13">13</option>
                  <option value="14">14</option>
                  <option value="15">15</option>
                  <option value="16">16</option>
                  <option value="17">17</option>
                  <option value="18">18</option>
                  <option value="19">19</option>
                  <option value="20">20</option>
                  <option value="21">21</option>
                  <option value="22">22</option>
                  <option value="23">23</option>
                  <option value="24">24</option>
                  <option value="25">25</option>
                  <option value="26">26</option>
                  <option value="27">27</option>
                  <option value="28">28</option>
                  <option value="29">29</option>
                  <option value="30">30</option>
                  <option value="31">31</option>
                </select>
                <select id="insider_article_article_date_2i" name="insider_article[article_date(2i)]" class="form-control mx-1 date optional dob-container">
                  <option selected disabled>Month</option>
                  <option value="1">January</option>
                  <option value="2">February</option>
                  <option value="3">March</option>
                  <option value="4">April</option>
                  <option value="5">May</option>
                  <option value="6">June</option>
                  <option value="7">July</option>
                  <option value="8">August</option>
                  <option value="9">September</option>
                  <option value="10">October</option>
                  <option value="11">November</option>
                  <option value="12">December</option>
                </select>
                <select id="insider_article_article_date_1i" name="insider_article[article_date(1i)]" class="form-control mx-1 date optional dob-container">
                  <option selected disabled>Year</option>
                  <option value="2025">2025</option>
                  <option value="2024">2024</option>
                  <option value="2023">2023</option>
                  <option value="2022">2022</option>
                  <option value="2021">2021</option>
                  <option value="2020">2020</option>
                  <option value="2019">2019</option>
                  <option value="2018">2018</option>
                  <option value="2017">2017</option>
                  <option value="2016">2016</option>
                  <option value="2015">2015</option>
                  <option value="2014">2014</option>
                  <option value="2013">2013</option>
                  <option value="2012">2012</option>
                  <option value="2011">2011</option>
                  <option value="2010">2010</option>
                  <option value="2009">2009</option>
                  <option value="2008">2008</option>
                  <option value="2007">2007</option>
                  <option value="2006">2006</option>
                  <option value="2005">2005</option>
                  <option value="2004">2004</option>
                  <option value="2003">2003</option>
                  <option value="2002">2002</option>
                  <option value="2001">2001</option>
                  <option value="2000">2000</option>
                  <option value="1999">1999</option>
                </select>
              </div>
            </div>
          </div>
          <div class="insider-articles-input">
            <p class="boldest muli s-medium-text no-bottom-margin">Author</p>
            <%= f.text_field :by, class:"form-control" %>
          </div>
          <div class="insider-articles-input align-items-start">
            <p class="boldest muli s-medium-text photo-input-text">Author avatar</p>
            <div>
              <%= f.label :author_avatar, 'CHOOSE FILE',class: 'upload-photo' %>
              <%= f.file_field :author_avatar, class: 'd-none photo-input', 'data-name': 'insider-author-avatar', onchange: "displayPreview(this)" %>
              <% if @insider_article.author_avatar.attached? %>
                <%= image_tag url_for(@insider_article.author_avatar), height: 100, class: "photo-preview", 'data-name': 'insider-author-avatar', alt: "Insider article author avatar" %>
              <% else %>
                <%= image_tag "", width: 100, class: "d-none photo-preview", 'data-name': 'insider-author-avatar', alt: "Insider article author avatar" %>
              <% end %>
            </div>
          </div>
          <!-- <div class="spacer" style="height: 50px;"></div> -->
          <div class="insider-articles-input align-items-start">
            <p class="boldest muli s-medium-text photo-input-text">Cover photo</p>
            <div>
              <%= f.label :cover_photo, 'CHOOSE FILE',class: 'upload-photo' %>
              <%= f.file_field :cover_photo, class: 'd-none photo-input', 'data-name': 'insider-cover-photo', onchange: "displayPreview(this)" %>
              <% if @insider_article.cover_photo.attached? %>
                <%= image_tag url_for(@insider_article.cover_photo), height: 100, class: "photo-preview", 'data-name': 'insider-cover-photo', alt: "Insider article cover photo" %>
              <% else %>
                <%= image_tag "", width: 100, class: "d-none photo-preview", 'data-name': 'insider-cover-photo', alt: "Insider article cover photo" %>
              <% end %>
            </div>
          </div>
          <div class="insider-articles-input align-items-start">
            <p class="boldest muli s-medium-text photo-input-text">Mobile Cover photo</p>
            <div>
              <%= f.label :mobile_cover_photo, 'CHOOSE FILE',class: 'upload-photo' %>
              <%= f.file_field :mobile_cover_photo, class: 'd-none photo-input', 'data-name': 'insider-cover-photo', onchange: "displayPreview(this)" %>
              <% if @insider_article.mobile_cover_photo.attached? %>
                <%= image_tag url_for(@insider_article.mobile_cover_photo), height: 100, class: "photo-preview", 'data-name': 'insider-cover-photo', alt: "Insider article cover photo" %>
              <% else %>
                <%= image_tag "", width: 100, class: "d-none photo-preview", 'data-name': 'insider-cover-photo', alt: "Insider article cover photo" %>
              <% end %>
            </div>
          </div>
          <!-- <div class="spacer" style="height: 50px;"></div> -->
          <div class="insider-articles-input">
            <p class="boldest muli s-medium-text no-bottom-margin">Cover photo alt text</p>
            <%= f.text_field :cover_alt_text, class:"form-control" %>
          </div>
          <!-- <div class="spacer" style="height: 50px;"></div> -->
          <hr>
          <div class="insider-articles-input align-items-start">
            <p class="boldest muli s-medium-text no-bottom-margin">Text one</p>
            <div>
              <%= f.text_field :text1, class:"form-control", id: :text1%>
              <trix-editor input="text1" placeholder="Type here to generate HTML above..."></trix-editor>
            </div>
          </div>
          <hr>
          <!-- <div class="spacer" style="height: 50px;"></div> -->
          <div class="insider-articles-input align-items-start">
            <p class="boldest muli s-medium-text photo-input-text">Media one</p>
            <div>
              <%= f.label :photo1, 'CHOOSE FILE',class: 'upload-photo' %>
              <%= f.file_field :photo1, class: 'd-none photo-input', 'data-name': 'insider-photo-one', onchange: "displayPreview(this)" %>
              <% if @insider_article.photo1.attached? %>
                <%= image_tag url_for(@insider_article.photo1), height: 100, class: "photo-preview", 'data-name': 'insider-photo-one', alt: "Insider article photo one" %>
              <% else %>
                <%= image_tag "", width: 100, class: "d-none photo-preview", 'data-name': 'insider-photo-one', alt: "Insider article photo one" %>
              <% end %>
            </div>
          </div>
          <!-- <div class="spacer" style="height: 50px;"></div> -->
          <div class="insider-articles-input">
            <p class="boldest muli s-medium-text no-bottom-margin">Media one alt text</p>
            <%= f.text_field :photo1_alt_text, class:"form-control" %>
          </div>
          <!-- <div class="spacer" style="height: 50px;"></div> -->
          <hr>
          <div class="insider-articles-input align-items-start">
            <p class="boldest muli s-medium-text no-bottom-margin">Text two</p>
            <div>
              <%= f.text_field :text2, class:"form-control", id: :text2%>
              <trix-editor input="text2" placeholder="Type here to generate HTML above..."></trix-editor>
            </div>
          </div>
          <hr>
          <!-- <div class="spacer" style="height: 50px;"></div> -->
          <div class="insider-articles-input align-items-start">
            <p class="boldest muli s-medium-text photo-input-text">Media two</p>
            <div>
              <%= f.label :photo2, 'CHOOSE FILE',class: 'upload-photo' %>
              <%= f.file_field :photo2, class: 'd-none photo-input', 'data-name': 'insider-photo-two', onchange: "displayPreview(this)" %>
              <% if @insider_article.photo2.attached? %>
                <%= image_tag url_for(@insider_article.photo2), height: 100, class: "photo-preview", 'data-name': 'insider-photo-two', alt: "Insider article photo two" %>
              <% else %>
                <%= image_tag "", width: 100, class: "d-none photo-preview", 'data-name': 'insider-photo-two', alt: "Insider article photo two" %>
              <% end %>
            </div>
          </div>
          <!-- <div class="spacer" style="height: 50px;"></div> -->
          <div class="insider-articles-input">
            <p class="boldest muli s-medium-text no-bottom-margin">Media two alt text</p>
            <%= f.text_field :photo2_alt_text, class:"form-control" %>
          </div>
          <!-- <div class="spacer" style="height: 50px;"></div> -->
          <hr>
          <div class="insider-articles-input align-items-start">
            <p class="boldest muli s-medium-text no-bottom-margin">Text three</p>
            <div>
              <%= f.text_field :text3, class:"form-control", id: :text3%>
              <trix-editor input="text3" placeholder="Type here to generate HTML above..."></trix-editor>
            </div>
          </div>
          <hr>
          <!-- <div class="spacer" style="height: 50px;"></div> -->
          <div class="insider-articles-input align-items-start">
            <p class="boldest muli s-medium-text photo-input-text">Media three</p>
            <div>
              <%= f.label :photo3, 'CHOOSE FILE',class: 'upload-photo' %>
              <%= f.file_field :photo3, class: 'd-none photo-input', 'data-name': 'insider-photo-three', onchange: "displayPreview(this)" %>
              <% if @insider_article.photo3.attached? %>
                <%= image_tag url_for(@insider_article.photo3), height: 100, class: "photo-preview", 'data-name': 'insider-photo-three', alt: "Insider article photo three" %>
              <% else %>
                <%= image_tag "", width: 100, class: "d-none photo-preview", 'data-name': 'insider-photo-three', alt: "Insider article photo three" %>
              <% end %>
            </div>
          </div>
          <!-- <div class="spacer" style="height: 50px;"></div> -->
          <div class="insider-articles-input">
            <p class="boldest muli s-medium-text no-bottom-margin">Media three alt text</p>
            <%= f.text_field :photo3_alt_text, class:"form-control" %>
          </div>
          <!-- <div class="spacer" style="height: 50px;"></div> -->
          <hr>
          <div class="insider-articles-input align-items-start">
            <p class="boldest muli s-medium-text no-bottom-margin">Text four</p>
            <div>
              <%= f.text_field :text4, class:"form-control", id: :text4%>
              <trix-editor input="text4" placeholder="Type here to generate HTML above..."></trix-editor>
            </div>
          </div>
          <hr>
          <div class="insider-articles-input">
            <p class="boldest muli s-medium-text no-bottom-margin">Homepage</p>
            <%= f.check_box :homepage, class:"form-control lb-checkbox featured-check-box" %>
          </div>
          <div class="insider-articles-input">
            <p class="boldest muli s-medium-text no-bottom-margin">Featured</p>
            <%= f.check_box :featured, class:"form-control lb-checkbox featured-check-box" %>
          </div>
          <div class="insider-articles-input">
            <p class="boldest muli s-medium-text no-bottom-margin">Card text color</p>
            <%= f.select(:card_text_color, ["White", "Black"], {}, { class: "filters-container boldest s-medium-text insider-article-category" }) %>
          </div>
          <!-- <div class="spacer" style="height: 50px;"></div> -->
          <%= f.submit 'UPDATE INSIDER ARTICLE', class: 'primary-button personal-details-button small-text' %>
        <% end %>
      </div>
  </div>
</div>

<%= content_for(:after_js) do %>
  <%= javascript_pack_tag 'components/photo_preview' %>
<% end %>

<script>
  const addSelected = () => {
    const days = document.getElementById("insider_article_article_date_3i").children;
    const months = document.getElementById("insider_article_article_date_2i").children;
    const years = document.getElementById("insider_article_article_date_1i").children;
    const dob = document.getElementById("insider_article_article_date_3i").dataset.date;

    if(dob) {
      if(dob.split('-')[2].split('')[0] == 0) {
        days[dob.split('-')[2].split('')[1]].selected = true
      } else {
        days[dob.split('-')[2]].selected = true
      }

      if(dob.split('-')[1].split('')[0] == "0") {
        months[dob.split('-')[1].split('')[1]].selected = true
      } else {
        months[dob.split('-')[1]].selected = true
      }

      const yearValues = [...years].map( year => year.value)
      const yearSelected = yearValues.indexOf(dob.split('-')[0])
      years[yearSelected].selected = true
    }
  }
  addSelected()
</script>
