<div class="dashboard-wrapper">
  <div class="dashboard-container-title mb-3 px-3 px-md-0">
    <h4 class="ls-xs mb-2">admin portal</h4>
  </div>
  <div class="dashboard-container">
    <div class="dash-menu-container">
      <%= render 'admin/shared/admin_dash' %>
    </div>
    <div class="dash-content-container">
      <p class="ls-xs mb-3 mb-md-2 pl-3 pl-md-0">content / insider articles / add article</p>
      <div class="dash-content dash-new-lookbook-container justify-content-center pt-4">
        <div id="insiderArticle" class="insider-form">
          <%= form_for [:admin, @insider_article], html: { class: 'dash-new-lookbook w-100' } do |f| %>
            <p class="ls-xs lighter text-center mt-3">add article</p>
            <%if @insider_article.errors.any? %>
              <p class="form-error"><%= @insider_article.errors.full_messages.first %></p>
            <% end %>
            <%= f.text_field :title, placeholder: 'title', class: "contact-form-input mb-3 form-control" %>
            <%= f.select(:category, ["Inspiration", "Ask the Expert", "News"], {prompt: 'category'}, { class: "contact-form-input mb-3 form-control" }) %>
            <h6 class="neue-machina ls-xs small-text">Date of Birth</h6>
            <div class="form-group date optional user_dob">
              <div class="d-flex flex-row justify-content-between align-items-center">
                <select id="insider_article_article_date_3i" name="insider_article[article_date(3i)]" class="form-control mr-1 date optional contact-form-input mb-3 mb-sm-4">
                  <option selected disabled>dd</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10</option>
                  <option value="11">11</option>
                  <option value="12">12</option>
                  <option value="13">13</option>
                  <option value="14">14</option>
                  <option value="15">15</option>
                  <option value="16">16</option>
                  <option value="17">17</option>
                  <option value="18">18</option>
                  <option value="19">19</option>
                  <option value="20">20</option>
                  <option value="21">21</option>
                  <option value="22">22</option>
                  <option value="23">23</option>
                  <option value="24">24</option>
                  <option value="25">25</option>
                  <option value="26">26</option>
                  <option value="27">27</option>
                  <option value="28">28</option>
                  <option value="29">29</option>
                  <option value="30">30</option>
                  <option value="31">31</option>
                </select>
                <select id="insider_article_article_date_2i" name="insider_article[article_date(2i)]" class="form-control mx-1 date optional contact-form-input mb-3 mb-sm-4">
                  <option selected disabled>mm</option>
                  <option value="1">January</option>
                  <option value="2">February</option>
                  <option value="3">March</option>
                  <option value="4">April</option>
                  <option value="5">May</option>
                  <option value="6">June</option>
                  <option value="7">July</option>
                  <option value="8">August</option>
                  <option value="9">September</option>
                  <option value="10">October</option>
                  <option value="11">November</option>
                  <option value="12">December</option>
                </select>
                <select id="insider_article_article_date_1i" name="insider_article[article_date(1i)]" class="form-control ml-1 date optional contact-form-input mb-3 mb-sm-4">
                  <option selected disabled>yyyy</option>
                  <option value="2025">2025</option>
                  <option value="2024">2024</option>
                  <option value="2023">2023</option>
                  <option value="2022">2022</option>
                  <option value="2021">2021</option>
                  <option value="2020">2020</option>
                  <option value="2019">2019</option>
                  <option value="2018">2018</option>
                  <option value="2017">2017</option>
                  <option value="2016">2016</option>
                  <option value="2015">2015</option>
                </select>
              </div>
            </div>
            <!-- author avatar -->
            <%= f.text_field :by, placeholder: 'author', class: "contact-form-input mb-3 form-control" %>
            <%= f.label :author_avatar, 'choose author avatar',class: 'upload-photo' %>
            <%= f.file_field :author_avatar, class: 'd-none photo-input', 'data-name': 'insider-author-avatar', onchange: "displayPreview(this)" %>
            <% if @insider_article.author_avatar.attached? %>
              <%= image_tag url_for(@insider_article.author_avatar), height: 100, class: "photo-preview", 'data-name': 'insider-author-avatar', alt: "Insider article author avatar" %>
            <% else %>
              <%= image_tag "", width: 100, class: "d-none photo-preview", 'data-name': 'insider-author-avatar', alt: "Insider article author avatar" %>
            <% end %>
            <!-- cover photo -->
            <%= f.label :cover_photo, 'choose cover photo',class: 'upload-photo' %>
            <%= f.file_field :cover_photo, class: 'd-none photo-input', 'data-name': 'insider-cover-photo', onchange: "displayPreview(this)" %>
            <% if @insider_article.cover_photo.attached? %>
              <%= image_tag url_for(@insider_article.cover_photo), height: 100, class: "photo-preview", 'data-name': 'insider-cover-photo', alt: "Insider article cover photo" %>
            <% else %>
              <%= image_tag "", width: 100, class: "d-none photo-preview", 'data-name': 'insider-cover-photo', alt: "Insider article cover photo" %>
            <% end %>
            <!-- mobile cover photo -->
            <%= f.label :mobile_cover_photo, 'choose mobile cover photo',class: 'upload-photo' %>
            <%= f.file_field :mobile_cover_photo, class: 'd-none photo-input', 'data-name': 'insider-cover-photo', onchange: "displayPreview(this)" %>
            <% if @insider_article.mobile_cover_photo.attached? %>
              <%= image_tag url_for(@insider_article.mobile_cover_photo), height: 100, class: "photo-preview", 'data-name': 'insider-cover-photo', alt: "Insider article cover photo" %>
            <% else %>
              <%= image_tag "", width: 100, class: "d-none photo-preview", 'data-name': 'insider-cover-photo', alt: "Insider article cover photo" %>
            <% end %>
            <%= f.text_field :cover_alt_text, placeholder: 'cover photo alt text', class: "contact-form-input mb-3 form-control" %>
            <hr>
            <%= f.text_field :text1, placeholder: 'text one', class: "contact-form-input mb-3 form-control", id: :text1 %>
            <trix-editor input="text1" placeholder="Type here to generate HTML above..."></trix-editor>
            <hr>
            <!-- <div class="spacer" style="height: 50px;"></div> -->
            <div class="insider-articles-input align-items-start">
              <div>
                <%= f.label :photo1, 'choose media one',class: 'upload-photo' %>
                <%= f.file_field :photo1, class: 'd-none photo-input', 'data-name': 'insider-photo-one', onchange: "displayPreview(this)" %>
                <% if @insider_article.photo1.attached? %>
                  <%= image_tag url_for(@insider_article.photo1), height: 100, class: "photo-preview", 'data-name': 'insider-photo-one', alt: "Insider article photo one" %>
                <% else %>
                  <%= image_tag "", width: 100, class: "d-none photo-preview", 'data-name': 'insider-photo-one', alt: "Insider article photo one" %>
                <% end %>
              </div>
            </div>
            <%= f.text_field :photo1_alt_text, placeholder: 'media one alt text', class: "contact-form-input mb-3 form-control" %>
            <hr>
            <%= f.text_field :text2, placeholder: 'text two', class: "contact-form-input mb-3 form-control", id: :text2%>
            <trix-editor input="text2" placeholder="Type here to generate HTML above..."></trix-editor>
            <hr>
            <!-- <div class="spacer" style="height: 50px;"></div> -->
            <div class="insider-articles-input align-items-start">
              <div>
                <%= f.label :photo2, 'choose media two',class: 'upload-photo' %>
                <%= f.file_field :photo2, class: 'd-none photo-input', 'data-name': 'insider-photo-two', onchange: "displayPreview(this)" %>
                <% if @insider_article.photo2.attached? %>
                  <%= image_tag url_for(@insider_article.photo2), height: 100, class: "photo-preview", 'data-name': 'insider-photo-two', alt: "Insider article photo two" %>
                <% else %>
                  <%= image_tag "", width: 100, class: "d-none photo-preview", 'data-name': 'insider-photo-two', alt: "Insider article photo two" %>
                <% end %>
              </div>
            </div>
            <%= f.text_field :photo2_alt_text, placeholder: 'media two alt text', class: "contact-form-input mb-3 form-control" %>
            <hr>
            <%= f.text_field :text3, placeholder: 'text three', class: "contact-form-input mb-3 form-control", id: :text3 %>
            <trix-editor input="text3" placeholder="Type here to generate HTML above..."></trix-editor>
            <hr>
            <!-- <div class="spacer" style="height: 50px;"></div> -->
            <div class="insider-articles-input align-items-start">
              <div>
                <%= f.label :photo3, 'choose media three',class: 'upload-photo' %>
                <%= f.file_field :photo3, class: 'd-none photo-input', 'data-name': 'insider-photo-three', onchange: "displayPreview(this)" %>
                <% if @insider_article.photo3.attached? %>
                  <%= image_tag url_for(@insider_article.photo3), height: 100, class: "photo-preview", 'data-name': 'insider-photo-three', alt: "Insider article photo three" %>
                <% else %>
                  <%= image_tag "", width: 100, class: "d-none photo-preview", 'data-name': 'insider-photo-three', alt: "Insider article photo three" %>
                <% end %>
              </div>
            </div>
            <%= f.text_field :photo3_alt_text, placeholder: 'media three alt text', class: "contact-form-input mb-3 form-control" %>
            <hr>
            <%= f.text_field :text4, placeholder: 'text four', class: "contact-form-input mb-3 form-control", id: :text4 %>
            <trix-editor input="text4" placeholder="Type here to generate HTML above..."></trix-editor>
            <hr>

            <div class="remember-me-container mb-2">
              <fieldset class="form-group boolean optional insider_article_homepage form-group-valid">
                <div class="form-check">
                  <input name="insider_article[homepage]" type="hidden" value="0">
                  <input class="form-check-input is-valid boolean optional" type="checkbox" value="1" name="insider_article[homepage]" id="insider_article_homepage">
                  <label class="form-check-label boolean optional s-medium-text lighter ls-xs" for="insider_article_homepage">homepage</label>
                </div>
              </fieldset>
            </div>

            <div class="remember-me-container mb-2">
              <fieldset class="form-group boolean optional insider_article_featured form-group-valid">
                <div class="form-check">
                  <input name="insider_article[featured]" type="hidden" value="0">
                  <input class="form-check-input is-valid boolean optional" type="checkbox" value="1" name="insider_article[featured]" id="insider_article_featured">
                  <label class="form-check-label boolean optional s-medium-text lighter ls-xs" for="insider_article_featured">featured</label>
                </div>
              </fieldset>
            </div>

            <%= f.select(:card_text_color, ["White", "Black"], {prompt: 'card text color'}, { class: "contact-form-input mb-3 form-control" }) %>
            <div class="py-4">
              <%= f.submit 'add article', class: 'primary-button personal-details-button small-text' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<%= content_for(:after_js) do %>
  <%= javascript_pack_tag 'components/photo_preview' %>
<% end %>




