<div class="registrations-new-wrapper">
  <h1>Login or create an account</h1>
  <div class="container registrations-new-sub-wrapper">
    <h3 class="text-center">Your details</h3>
    <div class="registrations-new-container">
      <div class="sign-up-container">
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= f.error_notification %>
          <div class="form-inputs">
            <%= f.input :first_name,
                        required: true,
                        label: false,
                        placeholder: "First name",
                        autofocus: true,
                        input_html: { autocomplete: "first_name" }%>
            <%= f.input :last_name,
                        required: true,
                        label: false,
                        placeholder: "Last name",
                        input_html: { autocomplete: "last_name" }%>
            <%= f.input :email,
                        required: true,
                        label: false,
                        placeholder: "Email address",
                        input_html: { autocomplete: "email" } %>
            <%= f.input :country,
                        required: true,
                        label: false,
                        prompt: "Country",
                        input_html: { autocomplete: "email", class: 'dropdown-input sign-up-dropdown' } %>
            <%= f.input :password,
                        label: false,
                        placeholder: "Password",
                        required: true,
                        hint: ("Password must be #{@minimum_password_length} characters minimum and contain one capital letter and one non-letter character" if @minimum_password_length),
                        input_html: { autocomplete: "new-password" } %>
            <%= f.input :password_confirmation,
                        label: false,
                        placeholder: "Confirm your password",
                        required: true,
                        input_html: { autocomplete: "new-password" } %>
          </div>
      </div>
      <div class="sign-up-extras-container">
          <h6 class="no-margin">How did you hear about us?</h6>
          <%= f.input :origin, label: false, prompt: "Choose option", collection: ["Lenny", "Gonzalo"], include_blank: false, input_html: { class: 'dropdown-input sign-up-dropdown' } %>
          <h6 class="no-margin s-medium-text">Find out about the latest offers, new products and beauty news.</h6>
          <%= f.input :newsletter, label: false %>
          <h6 class="grey-font s-medium-text mt-pp">By creating an account you agree to the website's Terms and our Privacy Policy</h6>
          <%= f.input :accepts_terms, label: false %>
          <div class="form-actions">
            <%= f.button :submit, "SUBMIT", class: "primary-button" %>
          </div>
      </div>
        <% end %>
    </div>
  </div>
</div>

<%#= render "devise/shared/links" %>
