<div class="registrations-new-wrapper">
  <h1>Create an account</h1>
  <div class="container registrations-new-sub-wrapper">
    <h3 class="text-center">Your details</h3>
    <div class="registrations-new-container">
      <div class="sign-up-container">
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= f.error_notification %>
          <div class="form-inputs">
            <%= f.input :first_name,
                        required: true,
                        label: false,
                        placeholder: "First name",
                        autofocus: true %>
            <%= f.input :last_name,
                        required: true,
                        label: false,
                        placeholder: "Last name" %>
            <%= f.input :email,
                        required: true,
                        label: false,
                        placeholder: "Email address" %>
            <%= f.input :country,
                        required: true,
                        label: false,
                        prompt: "Country",
                        input_html: { autocomplete: "country", class: 'dropdown-input sign-up-dropdown' } %>
            <%= f.input :gender,
                        required: true,
                        label: false,
                        collection: ["Male", "Female"],
                        prompt: "Gender",
                        input_html: { autocomplete: "gender", class: 'dropdown-input sign-up-dropdown' } %>
            <p class="muli" style="margin: 0 0 0 5px; color: #BCBCBC; font-size: 14px;">Date of Birth</p>
            <%= f.input :dob,
                        required: true,
                        as: :date,
                        label: false,
                        prompt: "-",
                        start_year: Date.today.year - 13, end_year: Date.today.year - 75,
                        order: [:day, :month, :year],
                        input_html: { autocomplete: "email", id: 'date_of_birth', class: 'dropdown-input sign-up-dropdown' } %>
            <%= f.input :password,
                        label: false,
                        placeholder: "Password",
                        required: true,
                        hint: ("Password must be #{@minimum_password_length} characters minimum and contain one capital letter and one non-letter character" if @minimum_password_length),
                        input_html: { autocomplete: "new-password" } %>
            <%= f.input :password_confirmation,
                        label: false,
                        placeholder: "Confirm your password",
                        required: true,
                        input_html: { autocomplete: "new-password" } %>
          </div>
      </div>
      <div class="sign-up-extras-container">
        <div>
          <h6 class="">How did you hear about us?</h6>
          <%= f.input :origin, label: false, prompt: "Choose option", collection: ["Search Engine", "Instagram", "YouTube", "Word of Mouth", "Print", "Radio", "TV", "Other"], include_blank: false, input_html: { class: 'dropdown-input sign-up-dropdown' } %>
          <div class="d-flex" style="align-items: baseline;">
            <%= f.input :newsletter, label: "Find out about the latest offers, new products and beauty news.", label_html: { class: 'reg-new-checkbox-label' }, input_html: { class: 'margin-bottom' } %>
          </div>
          <div class="d-flex mb-3" style="align-items: baseline;">
            <%= f.input :accepts_terms, label: "By creating an account you agree to the website's Terms and our Privacy Policy", label_html: { class: 'reg-new-checkbox-label grey-important' }, input_html: { class: 'grey' } %>
          </div>
        </div>
        <div class="form-actions">
          <%= f.button :submit, "SUBMIT", class: "primary-button" %>
        </div>
      </div>
        <% end %>
    </div>
  </div>
</div>

<script>
  // Fixing poor naming 😔
  const errors = document.querySelectorAll('.invalid-feedback')
  errors.forEach( (error) => {
    if (error.innerHTML == "Accepts terms You must accept the Terms &amp; Conditions") {
      error.innerHTML = "You must accept the Terms &amp; Conditions"
    }
  })
</script>

<%#= render "devise/shared/links" %>
