<%= simple_form_for [:admin, @home_banner], html: { id: "form" } do |f| %>
  <p class="ls-xs lighter text-center mt-3"><%= params[:action] == 'new' ? 'add' : 'edit' %> home banner</p>
  <%= f.input :content, label: false, placeholder: 'content', input_html: { class: "contact-form-input mb-3" } %>
  <%= f.input :link, label: false, placeholder: 'link (e.g. /products)', input_html: { class: "contact-form-input mb-3" } %>
  <%= f.input :link_text, label: false, placeholder: 'link text', input_html: { class: "contact-form-input mb-3" } %>
  <%= f.input :text_color, collection: ["White", "Black"], label: false, prompt: 'text colour', input_html: { class: "contact-form-input mb-3" } %>
  <% if @home_banner.display %>
    <p class="lighter ls-xs" style="color: green">I'm live, uncheck to take me off the homepage</p>
    <%= f.input :display, label: false, input_html: { class: "lb-checkbox" } %>
  <% end %>
  <% if @home_banner.am_i_valid? %>
    <p class="lighter ls-xs">ready to go live</p>
    <%= f.input :display, label: false, input_html: { class: "lb-checkbox" } %>
  <% else %>
    <p class="lighter ls-xs" style="color: red;">Not yet ready to go live</p>
  <% end %>
  <%= f.input :banner, input_html: { class: 'd-none photo-input', 'data-name': 'home-banner', onchange: "displayPreview(this)" }, label_html: { class: 'upload-photo'}, label: 'choose banner (1046 x 533 required)' %>
  <% if @home_banner.banner.attached? %>
    <%= image_tag url_for(@home_banner.banner), class: "photo-preview", 'data-name': 'home-banner', alt: "Freebie banner" %>
  <% else %>
    <%= image_tag "", height: 100, class: "d-none photo-preview", 'data-name': 'home-banner', alt: "Freebie banner" %>
  <% end %>
  <%= f.submit "#{ params[:action] == 'new' ? 'add' : 'update' } add home banner", class: 'primary-button personal-details-button small-text' %>
<% end %>

<script>
  document.querySelectorAll(".photo-input").forEach((element) => {
    element.onchange = function() {
      document.getElementById("form").submit();
    }
  })
</script>

<%= content_for(:after_js) do %>
  <%= javascript_pack_tag 'components/photo_preview' %>
<% end %>


