<div class="admin-wrapper minimum-height">
  <div class="admin-container" style="max-width: 800px;">
    <h2 class="insider-info-title mlb-title text-center">Update a home banner</h2>
    <hr>
    <div class="admin-form-container freebies-form-container">
      <%= simple_form_for [:admin, @home_banner] do |f| %>
        <div class="personal-details-input">
          <p class="boldest muli s-medium-text text-right no-margin">Content</p>
          <%= f.input :content, label: false, input_html: { class: "contact-form-input" } %>
        </div>
        <div class="personal-details-input">
          <p class="boldest muli s-medium-text text-right no-margin">Link</p>
          <%= f.input :link, label: false, placeholder: 'e.g. /products', input_html: { class: "contact-form-input" } %>
        </div>
        <div class="personal-details-input">
          <p class="boldest muli s-medium-text text-right no-margin">Link text</p>
          <%= f.input :link_text, label: false, input_html: { class: "contact-form-input" } %>
        </div>
        <div class="personal-details-input align-items-start">
          <p class="boldest muli s-medium-text text-right photo-input-text">Banner</p>
          <div>
            <%= f.input :banner, input_html: { class: 'd-none photo-input', 'data-name': 'home-banner', onchange: "displayPreview(this)" }, label_html: { class: 'upload-photo'}, label: 'CHOOSE FILE' %>
            <% if @home_banner.banner.attached? %>
              <%= image_tag url_for(@home_banner.banner), height: 100, class: "photo-preview", 'data-name': 'home-banner', alt: "Freebie banner" %>
            <% else %>
              <%= image_tag "", width: 100, class: "d-none photo-preview", 'data-name': 'home-banner', alt: "Freebie banner" %>
            <% end %>
          </div>
        </div>
        <div class="personal-details-input align-items-start">
          <p class="boldest muli s-medium-text text-right photo-input-text">Mobile Banner</p>
          <div>
            <%= f.input :mobile_banner, input_html: { class: 'd-none photo-input', 'data-name': 'home-banner', onchange: "displayPreview(this)" }, label_html: { class: 'upload-photo'}, label: 'CHOOSE FILE' %>
            <% if @home_banner.mobile_banner.attached? %>
              <%= image_tag url_for(@home_banner.mobile_banner), height: 100, class: "photo-preview", 'data-name': 'home-banner', alt: "Freebie banner" %>
            <% else %>
              <%= image_tag "", width: 100, class: "d-none photo-preview", 'data-name': 'home-banner', alt: "Freebie banner" %>
            <% end %>
          </div>
        </div>
        <!-- BEGINNING OF RESPONSIVE IMAGE LOADERS -->
        <!-- IPAD -->
        <div class="personal-details-input align-items-start">
          <p class="boldest muli s-medium-text text-right photo-input-text">Ipad Banner (768 x 924)</p>
          <div>
            <%= f.input :ipad, input_html: { class: 'd-none photo-input', 'data-name': 'home-banner', onchange: "displayPreview(this)" }, label_html: { class: 'upload-photo'}, label: 'CHOOSE FILE' %>
            <% if @home_banner.ipad.attached? %>
              <%= image_tag url_for(@home_banner.ipad), height: 100, class: "photo-preview", 'data-name': 'home-banner', alt: "Freebie banner" %>
            <% else %>
              <%= image_tag "", width: 100, class: "d-none photo-preview", 'data-name': 'home-banner', alt: "Freebie banner" %>
            <% end %>
          </div>
        </div>
        <!-- IPADPRO -->
        <div class="personal-details-input align-items-start">
          <p class="boldest muli s-medium-text text-right photo-input-text">IpadPro Banner (1024 x 1266)</p>
          <div>
            <%= f.input :ipadpro, input_html: { class: 'd-none photo-input', 'data-name': 'home-banner', onchange: "displayPreview(this)" }, label_html: { class: 'upload-photo'}, label: 'CHOOSE FILE' %>
            <% if @home_banner.ipadpro.attached? %>
              <%= image_tag url_for(@home_banner.ipadpro), height: 100, class: "photo-preview", 'data-name': 'home-banner', alt: "Freebie banner" %>
            <% else %>
              <%= image_tag "", width: 100, class: "d-none photo-preview", 'data-name': 'home-banner', alt: "Freebie banner" %>
            <% end %>
          </div>
        </div>
        <!-- IPADX -->
        <div class="personal-details-input align-items-start">
          <p class="boldest muli s-medium-text text-right photo-input-text">IpadX Banner (375 x 712)</p>
          <div>
            <%= f.input :ipadx, input_html: { class: 'd-none photo-input', 'data-name': 'home-banner', onchange: "displayPreview(this)" }, label_html: { class: 'upload-photo'}, label: 'CHOOSE FILE' %>
            <% if @home_banner.ipadx.attached? %>
              <%= image_tag url_for(@home_banner.ipadx), height: 100, class: "photo-preview", 'data-name': 'home-banner', alt: "Freebie banner" %>
            <% else %>
              <%= image_tag "", width: 100, class: "d-none photo-preview", 'data-name': 'home-banner', alt: "Freebie banner" %>
            <% end %>
          </div>
        </div>
        <!-- IPADX -->
        <div class="personal-details-input align-items-start">
          <p class="boldest muli s-medium-text text-right photo-input-text">Iphone Banner (375 x 567)</p>
          <div>
            <%= f.input :iphone, input_html: { class: 'd-none photo-input', 'data-name': 'home-banner', onchange: "displayPreview(this)" }, label_html: { class: 'upload-photo'}, label: 'CHOOSE FILE' %>
            <% if @home_banner.iphone.attached? %>
              <%= image_tag url_for(@home_banner.iphone), height: 100, class: "photo-preview", 'data-name': 'home-banner', alt: "Freebie banner" %>
            <% else %>
              <%= image_tag "", width: 100, class: "d-none photo-preview", 'data-name': 'home-banner', alt: "Freebie banner" %>
            <% end %>
          </div>
        </div>
        <!-- IPADX -->
        <div class="personal-details-input align-items-start">
          <p class="boldest muli s-medium-text text-right photo-input-text">IphoneSE Banner (320 x 468)</p>
          <div>
            <%= f.input :iphonese, input_html: { class: 'd-none photo-input', 'data-name': 'home-banner', onchange: "displayPreview(this)" }, label_html: { class: 'upload-photo'}, label: 'CHOOSE FILE' %>
            <% if @home_banner.iphonese.attached? %>
              <%= image_tag url_for(@home_banner.iphonese), height: 100, class: "photo-preview", 'data-name': 'home-banner', alt: "Freebie banner" %>
            <% else %>
              <%= image_tag "", width: 100, class: "d-none photo-preview", 'data-name': 'home-banner', alt: "Freebie banner" %>
            <% end %>
          </div>
        </div>
        <!-- PIXEL -->
        <div class="personal-details-input align-items-start">
          <p class="boldest muli s-medium-text text-right photo-input-text">Pixel Banner (411 x 631)</p>
          <div>
            <%= f.input :pixel, input_html: { class: 'd-none photo-input', 'data-name': 'home-banner', onchange: "displayPreview(this)" }, label_html: { class: 'upload-photo'}, label: 'CHOOSE FILE' %>
            <% if @home_banner.pixel.attached? %>
              <%= image_tag url_for(@home_banner.pixel), height: 100, class: "photo-preview", 'data-name': 'home-banner', alt: "Freebie banner" %>
            <% else %>
              <%= image_tag "", width: 100, class: "d-none photo-preview", 'data-name': 'home-banner', alt: "Freebie banner" %>
            <% end %>
          </div>
        </div>
        <!-- GALAXY -->
        <div class="personal-details-input align-items-start">
          <p class="boldest muli s-medium-text text-right photo-input-text">Galaxy Banner (360 x 540)</p>
          <div>
            <%= f.input :galaxy, input_html: { class: 'd-none photo-input', 'data-name': 'home-banner', onchange: "displayPreview(this)" }, label_html: { class: 'upload-photo'}, label: 'CHOOSE FILE' %>
            <% if @home_banner.galaxy.attached? %>
              <%= image_tag url_for(@home_banner.galaxy), height: 100, class: "photo-preview", 'data-name': 'home-banner', alt: "Freebie banner" %>
            <% else %>
              <%= image_tag "", width: 100, class: "d-none photo-preview", 'data-name': 'home-banner', alt: "Freebie banner" %>
            <% end %>
          </div>
        </div>
        <!-- PIXEL2 -->
        <div class="personal-details-input align-items-start">
          <p class="boldest muli s-medium-text text-right photo-input-text">Pixel 2 Banner (412 x 647)</p>
          <div>
            <%= f.input :pixel2, input_html: { class: 'd-none photo-input', 'data-name': 'home-banner', onchange: "displayPreview(this)" }, label_html: { class: 'upload-photo'}, label: 'CHOOSE FILE' %>
            <% if @home_banner.pixel2.attached? %>
              <%= image_tag url_for(@home_banner.pixel2), height: 100, class: "photo-preview", 'data-name': 'home-banner', alt: "Freebie banner" %>
            <% else %>
              <%= image_tag "", width: 100, class: "d-none photo-preview", 'data-name': 'home-banner', alt: "Freebie banner" %>
            <% end %>
          </div>
        </div>
        <!-- PIXEL3 -->
        <div class="personal-details-input align-items-start">
          <p class="boldest muli s-medium-text text-right photo-input-text">Pixel 3 Banner (412 x 624)</p>
          <div>
            <%= f.input :pixel3, input_html: { class: 'd-none photo-input', 'data-name': 'home-banner', onchange: "displayPreview(this)" }, label_html: { class: 'upload-photo'}, label: 'CHOOSE FILE' %>
            <% if @home_banner.pixel3.attached? %>
              <%= image_tag url_for(@home_banner.pixel3), height: 100, class: "photo-preview", 'data-name': 'home-banner', alt: "Freebie banner" %>
            <% else %>
              <%= image_tag "", width: 100, class: "d-none photo-preview", 'data-name': 'home-banner', alt: "Freebie banner" %>
            <% end %>
          </div>
        </div>
        <!-- GALAXY2 -->
        <div class="personal-details-input align-items-start">
          <p class="boldest muli s-medium-text text-right photo-input-text">Galaxy 2 banner (480 x 653)</p>
          <div>
            <%= f.input :galaxy2, input_html: { class: 'd-none photo-input', 'data-name': 'home-banner', onchange: "displayPreview(this)" }, label_html: { class: 'upload-photo'}, label: 'CHOOSE FILE' %>
            <% if @home_banner.galaxy2.attached? %>
              <%= image_tag url_for(@home_banner.galaxy2), height: 100, class: "photo-preview", 'data-name': 'home-banner', alt: "Freebie banner" %>
            <% else %>
              <%= image_tag "", width: 100, class: "d-none photo-preview", 'data-name': 'home-banner', alt: "Freebie banner" %>
            <% end %>
          </div>
        </div>
        <!-- GALAXYMINI -->
        <div class="personal-details-input align-items-start">
          <p class="boldest muli s-medium-text text-right photo-input-text">Galaxy Mini banner (360 x 440)</p>
          <div>
            <%= f.input :galaxymini, input_html: { class: 'd-none photo-input', 'data-name': 'home-banner', onchange: "displayPreview(this)" }, label_html: { class: 'upload-photo'}, label: 'CHOOSE FILE' %>
            <% if @home_banner.galaxymini.attached? %>
              <%= image_tag url_for(@home_banner.galaxymini), height: 100, class: "photo-preview", 'data-name': 'home-banner', alt: "Freebie banner" %>
            <% else %>
              <%= image_tag "", width: 100, class: "d-none photo-preview", 'data-name': 'home-banner', alt: "Freebie banner" %>
            <% end %>
          </div>
        </div>
        <!-- FLEXI -->
        <div class="personal-details-input align-items-start">
          <p class="boldest muli s-medium-text text-right photo-input-text">Flexi banner (414 x 696)</p>
          <div>
            <%= f.input :flexi, input_html: { class: 'd-none photo-input', 'data-name': 'home-banner', onchange: "displayPreview(this)" }, label_html: { class: 'upload-photo'}, label: 'CHOOSE FILE' %>
            <% if @home_banner.flexi.attached? %>
              <%= image_tag url_for(@home_banner.flexi), height: 100, class: "photo-preview", 'data-name': 'home-banner', alt: "Freebie banner" %>
            <% else %>
              <%= image_tag "", width: 100, class: "d-none photo-preview", 'data-name': 'home-banner', alt: "Freebie banner" %>
            <% end %>
          </div>
        </div>
        <!-- IPHONE9 -->
        <div class="personal-details-input align-items-start">
          <p class="boldest muli s-medium-text text-right photo-input-text">IPhone 9 banner (376 x 612)</p>
          <div>
            <%= f.input :iphone9, input_html: { class: 'd-none photo-input', 'data-name': 'home-banner', onchange: "displayPreview(this)" }, label_html: { class: 'upload-photo'}, label: 'CHOOSE FILE' %>
            <% if @home_banner.iphone9.attached? %>
              <%= image_tag url_for(@home_banner.iphone9), height: 100, class: "photo-preview", 'data-name': 'home-banner', alt: "Freebie banner" %>
            <% else %>
              <%= image_tag "", width: 100, class: "d-none photo-preview", 'data-name': 'home-banner', alt: "Freebie banner" %>
            <% end %>
          </div>
        </div>
        <!-- IPHONE10 -->
        <div class="personal-details-input align-items-start">
          <p class="boldest muli s-medium-text text-right photo-input-text">IPhone 10 banner (376 x 467)</p>
          <div>
            <%= f.input :iphone10, input_html: { class: 'd-none photo-input', 'data-name': 'home-banner', onchange: "displayPreview(this)" }, label_html: { class: 'upload-photo'}, label: 'CHOOSE FILE' %>
            <% if @home_banner.iphone10.attached? %>
              <%= image_tag url_for(@home_banner.iphone10), height: 100, class: "photo-preview", 'data-name': 'home-banner', alt: "Freebie banner" %>
            <% else %>
              <%= image_tag "", width: 100, class: "d-none photo-preview", 'data-name': 'home-banner', alt: "Freebie banner" %>
            <% end %>
          </div>
        </div>
        <!-- TABLET -->
        <div class="personal-details-input align-items-start">
          <p class="boldest muli s-medium-text text-right photo-input-text">Tablet banner (600 x 760)</p>
          <div>
            <%= f.input :tablet, input_html: { class: 'd-none photo-input', 'data-name': 'home-banner', onchange: "displayPreview(this)" }, label_html: { class: 'upload-photo'}, label: 'CHOOSE FILE' %>
            <% if @home_banner.tablet.attached? %>
              <%= image_tag url_for(@home_banner.tablet), height: 100, class: "photo-preview", 'data-name': 'home-banner', alt: "Freebie banner" %>
            <% else %>
              <%= image_tag "", width: 100, class: "d-none photo-preview", 'data-name': 'home-banner', alt: "Freebie banner" %>
            <% end %>
          </div>
        </div>
        <!-- TABLETLRG -->
        <div class="personal-details-input align-items-start">
          <p class="boldest muli s-medium-text text-right photo-input-text">Tablet Lrg banner (800 x1180)</p>
          <div>
            <%= f.input :tabletlrg, input_html: { class: 'd-none photo-input', 'data-name': 'home-banner', onchange: "displayPreview(this)" }, label_html: { class: 'upload-photo'}, label: 'CHOOSE FILE' %>
            <% if @home_banner.tabletlrg.attached? %>
              <%= image_tag url_for(@home_banner.tabletlrg), height: 100, class: "photo-preview", 'data-name': 'home-banner', alt: "Freebie banner" %>
            <% else %>
              <%= image_tag "", width: 100, class: "d-none photo-preview", 'data-name': 'home-banner', alt: "Freebie banner" %>
            <% end %>
          </div>
        </div>
        <!-- TABLETPAn -->
        <div class="personal-details-input align-items-start">
          <p class="boldest muli s-medium-text text-right photo-input-text">Tablet Pan banner (1280 x 650)</p>
          <div>
            <%= f.input :tabletpan, input_html: { class: 'd-none photo-input', 'data-name': 'home-banner', onchange: "displayPreview(this)" }, label_html: { class: 'upload-photo'}, label: 'CHOOSE FILE' %>
            <% if @home_banner.tabletpan.attached? %>
              <%= image_tag url_for(@home_banner.tabletpan), height: 100, class: "photo-preview", 'data-name': 'home-banner', alt: "Freebie banner" %>
            <% else %>
              <%= image_tag "", width: 100, class: "d-none photo-preview", 'data-name': 'home-banner', alt: "Freebie banner" %>
            <% end %>
          </div>
        </div>


        <div class="personal-details-input">
          <p class="boldest muli s-medium-text text-right no-margin">Text Color</p>
            <%= f.select(:text_color, ["White", "Black"], {}, { class: "filters-container boldest s-medium-text insider-article-category" }) %>
        </div>
        <div class="personal-details-input">
          <p class="boldest muli s-medium-text text-right no-margin">Display?</p>
          <%= f.input :display, label: false, input_html: { class: "lb-checkbox" } %>
        </div>
        <%= f.submit 'UPDATE HOME BANNER', class: 'primary-button personal-details-button small-text' %>
      <% end %>
    </div>
  </div>
</div>

<%= content_for(:after_js) do %>
  <%= javascript_pack_tag 'components/photo_preview' %>
<% end %>
