<link href="https://fonts.googleapis.com/css?family=Muli:400,600,900&display=swap" rel="stylesheet">
<style>

  .email-container {
    font-family: 'Muli', 'sans serif';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid #000;
    padding: 16px;
    overflow: scroll;
  }
  .black-bar {
    height: 16px;
    background: #000;
  }
  .black-footer {
    height: 80px;
    background: #000;
  }
  .loop-logo {
    width: 200px;
  }
  .line-break {
    width: 100%;
    border-top: 1px solid rgba(0,0,0,0.2);
    margin: 16px 0;
  }
  .order-confirm-image {
    height: 50px;
    margin-right: 16px;
  }
  .list-card {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .list-card p {
    margin: 0;
  }
  .order-title {
    flex: 1;
  }
  .email-order-info {
    width: 50%;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 16px;
  }
  .email-order-price {
    border: 1px solid rgba(0,0,0,0.2);
    width: 50%;
    padding: 16px;
    margin: 0 0 0 auto;
  }
  ul {
    padding: 0;
    width: 100%;
  }
  .track-btn {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    cursor: pointer;
    height: 50px;
    background-color: #000;
    color: #F5F5F5 !important;
    border-radius: 0;
    padding: 6px 50px;
    letter-spacing: 2px;
    font-weight: bold;
    font-family: 'Muli', sans-serif;
    display: flex !important;
    visibility: visible !important;
    justify-content: center;
    align-items: center;
    margin: 16px 0;
    font-size: 10px !important;
    padding: 5px 15px !important;
    height: 31px !important;
    box-shadow: inset 0 0 0 3px #000 !important;
    width: 120px;
    text-decoration: none;
    margin: 16px auto;
  }
  .small-text {
    font-size: 12px;
  }
  .boldest {
    font-weight: 900;
  }
  .grey {
    color: #676767;
  }
  .no-margin {
    margin: 0;
  }
  .small-bottom-margin {
    margin-bottom: 10px;
  }
  .no-bottom-margin {
    margin-bottom: 0 !important;
  }
</style>
<div class="email-wrapper">
  <div class="black-bar"></div>
  <div class="email-container">
    <a href="https://infinite-journey-41892.herokuapp.com/">
      <img class="loop-logo" src="https://infinite-journey-41892.herokuapp.com/assets/loop-beauty-logo-21ea5aaddb1f016acbe1be8b354d3dee32d32e991875035e9b6da3f5780a669b.svg" alt="loop beauty logo">
    </a>
    <div class="line-break"></div>
    <div style="max-width: 700px; width: 600px;">
      <div style="margin: 50px 0;">
        <div>
          <h2 class="insider-info-title mlb-title text-center">Hi <%= @user.first_name.capitalize %></h2>
          <p  style="width: 100%;">Thank you for shopping with us at LoopBeauty</p>
          <hr>
          <div class="my-orders-container">
            <p class="boldest" style="width: 100%;">Order details</p>
            <div style="display: flex; width: 100%; margin-bottom: 16px;">
              <div class="email-order-info" style="margin-right: 8px;">
                <div class="order-success-delivery-option">
                  <p class="boldest small-text no-margin muli">Delivery option:</p>
                  <p class="small-text grey boldest muli"><%= @order.delivery_type.capitalize %></p>
                </div>
                <hr>
                <div class="order-success-address">
                  <p class="boldest small-text no-margin muli">Delivery address:</p>
                  <p class="small-text boldest no-bottom-margin muli"><%= @order.user.first_name %> <%= @order.user.last_name %></p>
                  <p class="small-text grey boldest no-bottom-margin muli"><%= @order.delivery_address.address_line1 %></p>
                  <p class="small-text grey boldest no-bottom-margin muli"><%= @order.delivery_address.city %></p>
                  <p class="small-text grey boldest no-bottom-margin muli"><%= @order.delivery_address.postcode %></p>
                </div>
              </div>
              <div class="email-order-info" style="margin-left: 8px;">
                <div class="order-success-order-number">
                  <p class="boldest small-text no-margin muli">Order no:</p>
                  <p class="small-text grey boldest muli"><%= "%05d" % @order.id %></p>
                </div>
                <hr>
                <p class="boldest small-text no-margin muli">Date: <span class="grey"><%= @order.created_at.strftime('%e %B %Y') %></span></p>
                <hr>
                <p class="boldest small-text no-margin muli">No of items: <span class="grey"><%= @order.total_number_of_products %></span></p>
                <hr>
                <%= link_to 'TRACK ORDER', 'https://tracking.controlport.co.uk/e9ab6870/loop-beauty/return/49cbcb', target: '_blank', class: 'track-btn' %>
              </div>
            </div>
            <p class="boldest" style="width: 100%;">Products</p>
            <ul>
              <% @order.order_products.each_with_index do |order_product, index| %>
              <li class="list-card" style="border-top: <%= index == 0 ? 'none' : '1px solid rgba(0,0,0,0.1)'%>; padding: 4px 0">
                <%= image_tag url_for(order_product.shade.card_photo), class: "order-confirm-image", alt: "order product shade photo" %>
                  <div class="order-title">
                    <p class="order-title small-text boldest" style="max-width: 300px;"><%= order_product.product.title %></p>
                    <p class="small-text muli"><%= order_product.shade.name %></p>
                  </div>
                  <p class="small-text muli" style="margin: 0 16px;">Quantity: <%= order_product.quantity %></p>
                  <p class="small-text muli"><%= humanized_money_with_symbol order_product.product.price * order_product.quantity %></p>
                <% end %>
              </li>
            </ul>
            <div class="email-order-price">
              <p class="boldest small-text no-margin muli">Subtotal: <span class="grey"><%= humanized_money_with_symbol @order.subtotal %></span></p>
              <p class="boldest small-text no-margin muli">Delivery: <span class="grey"><%= @order.delivery_cost %></span></p>
              <% if @order.credit_spent_cents > 0 %>
                <p class="boldest small-text no-margin muli">Total credits spent: <span class="grey"><%= humanized_money_with_symbol @order.credit_spent %></span></p>
                <p class="boldest small-text no-margin muli">Remaining credits: <span class="grey"><%= humanized_money_with_symbol @order.user.remaining_credit %></span></p>
              <% end %>
              <div style="width: 100%; border-top: 1px solid rgba(0,0,0,0.2); margin: 8px 0"></div>
              <p class="boldest small-text no-margin muli">Total: <span class="grey"><%= humanized_money_with_symbol @order.total_with_delivery %></span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="line-break"></div>
  </div>
  <div class="black-footer"></div>
</div>
