<div class="admin-wrapper minimum-height">
  <div class="admin-container">
    <h2 class="insider-info-title mlb-title text-center">Change Makeup Banner</h2>
    <hr>
    <div class="admin-form-container">
      <%= simple_form_for @banner, url: admin_change_banner_path, method: :post do |f| %>
        <div class="personal-details-input align-items-start">
          <p class="boldest kaftan s-medium-text text-right photo-input-text">Banner Photo</p>
          <div>
            <%= f.input :photo, input_html: { class: 'd-none photo-input', 'data-name': 'makeup_banner', onchange: "displayPreview(this)" }, label_html: { class: 'upload-photo'}, label: 'CHOOSE FILE' %>
            <% if @banner.photo.attached? %>
              <%= image_tag url_for(@banner.photo), height: 100, class: "photo-preview", 'data-name': 'makeup_banner', alt: "banner preview" %>
            <% else %>
              <%= image_tag "", width: 100, class: "d-none photo-preview", 'data-name': 'makeup_banner', alt: "banner preview" %>
            <% end %>
          </div>
        </div>
        <%= f.submit 'CHANGE MAKE UP BANNER', class: 'primary-button personal-details-button small-text' %>
      <% end %>
    </div>
  </div>
</div>

<%= content_for(:after_js) do %>
  <%= javascript_pack_tag 'components/photo_preview' %>
<% end %>
