<div class="dashboard-wrapper">
  <div class="dashboard-container">
    <div class="dash-menu-container">
      <% if current_user.influencer? %>
        <%= render 'shared/influencer_dash' %>
      <% else %>
        <%= render 'shared/dash' %>
      <% end %>
    </div>
    <div class="dash-content-container">
      <h2 class="insider-info-title mlb-title text-center">Account Details</h2>
      <hr>
      <div class="account-details-tabs">
        <p class="boldest grey-font account-tab-one all-tabs account-active-tab">Personal Details</p>
        <span>|</span>
        <p class="boldest grey-font account-tab-two all-tabs">Addresses</p>
        <span>|</span>
        <p class="boldest grey-font account-tab-three all-tabs">Change Password</p>
      </div>
      <div class="account-details-content">
        <div class="account-content-one account-content-show">
          <%= simple_form_for current_user, url: user_path(current_user), method: :patch do |f| %>
              <%= f.input :first_name %>
              <%= f.input :last_name %>
              <%= f.input :email %>
              <%= f.input :dob, start_year: Date.today.year - 100, end_year: Date.today.year - 10, order: [:day, :month, :year] %>
              <%= f.submit %>
          <% end %>
        </div>
        <div class="account-content-two">
          <div>
            <h4>Delivery Addresses</h4>
            <% current_user.delivery_addresses.each do |add| %>
              <h6><%= "#{current_user.full_name}, #{add.street}, #{add.city}, #{add.postcode}" %></h6>
            <% end %>
            <%= simple_form_for @delivery_address || Address.new(delivery_address: true) do |f| %>
              <%= f.input :street %>
              <%= f.input :city %>
              <%= f.input :postcode %>
              <%= f.input :delivery_address, as: :hidden %>
              <%= f.submit %>
            <% end %>
          </div>
          <div>
            <h4>Billing Addresses</h4>
            <% current_user.billing_addresses.each do |add| %>
              <h6><%= "#{current_user.full_name}, #{add.street}, #{add.city}, #{add.postcode}" %></h6>
            <% end %>
            <%= simple_form_for @billing_address || Address.new(delivery_address: false) do |f| %>
              <%= f.input :street %>
              <%= f.input :city %>
              <%= f.input :postcode %>
              <%= f.input :delivery_address, as: :hidden %>
              <%= f.submit %>
            <% end %>
          </div>
        </div>
        <div class="account-content-three">
          <%= simple_form_for current_user, url: user_change_password_path(current_user) do |f| %>
              <%= f.input :password %>
              <%= f.input :password_confirmation %>
              <%= f.input :old_password %>
              <%= f.submit %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  tabOne = document.querySelector('.account-tab-one');
  tabTwo = document.querySelector('.account-tab-two');
  tabThree = document.querySelector('.account-tab-three');
  contentOne = document.querySelector('.account-content-one');
  contentTwo = document.querySelector('.account-content-two');
  contentThree = document.querySelector('.account-content-three');

  tabs = document.querySelectorAll('.all-tabs');
  tabs.forEach(function(tab) {
    tab.addEventListener('click', (e) => {
      document.querySelectorAll('.all-tabs').forEach(function(tab) { tab.classList.remove('account-active-tab') });
      e.currentTarget.classList.add('account-active-tab');
    })
  });

  tabOne.addEventListener('click', function() {
    contentOne.classList.add('account-content-show');
    contentTwo.classList.remove('account-content-show');
    contentThree.classList.remove('account-content-show');
  });

  tabTwo.addEventListener('click', function() {
    contentTwo.classList.add('account-content-show');
    contentOne.classList.remove('account-content-show');
    contentThree.classList.remove('account-content-show');
  });

  tabThree.addEventListener('click', function() {
    contentThree.classList.add('account-content-show');
    contentOne.classList.remove('account-content-show');
    contentTwo.classList.remove('account-content-show');
  });


</script>

