<div class="dashboard-wrapper">
  <div class="dashboard-container">
    <div class="dash-menu-container">
      <% if current_user.influencer? %>
        <%= render 'shared/influencer_dash' %>
      <% else %>
        <%= render 'shared/dash' %>
      <% end %>
    </div>
    <div class="dash-content-container">
      <h2 class="insider-info-title mlb-title text-center">Account Details</h2>
      <hr>
      <div class="account-details-tabs">
        <p class="boldest grey-font account-tab-one all-tabs account-active-tab">Personal Details</p>
        <span>|</span>
        <p class="boldest grey-font account-tab-two all-tabs">Addresses</p>
        <span>|</span>
        <p class="boldest grey-font account-tab-three all-tabs">Change Password</p>
      </div>
      <div class="account-details-content">
        <div class="account-content-one account-content-show">
          <%= simple_form_for current_user, url: user_path(current_user), method: :patch do |f| %>
            <div class="personal-details-input">
              <p class="boldest muli text-right no-margin">First Name</p>
              <%= f.input :first_name, label: false %>
            </div>
            <div class="personal-details-input">
              <p class="boldest muli text-right no-margin">Last Name</p>
              <%= f.input :last_name, label: false %>
            </div>
            <div class="personal-details-input">
              <p class="boldest muli text-right no-margin">Email</p>
              <%= f.input :email, label: false %>
            </div>
            <div class="personal-details-input">
              <p class="boldest muli text-right no-margin">D.O.B</p>
              <%= f.input :dob, label: false, include_blank: true, start_year: Date.today.year - 100, end_year: Date.today.year - 10, order: [:day, :month, :year], input_html: { class: 'dob-container' } %>
            </div>
            <%= f.submit 'SAVE CHANGES', class: 'primary-button personal-details-button small-text' %>
          <% end %>
        </div>
        <div class="account-content-two">
          <div class="address-container">
            <h6 class="boldest">Delivery Address</h6>
            <div>
              <% if current_user.delivery_addresses.count == 0 %>
                  <div class="address-card">
                    <p class="grey-font small-text muli boldest tiny-margin-bottom">You don't have any delivery addresses</p>
                  </div>
              <% end %>
              <% current_user.delivery_addresses.each do |add| %>
                <div class="row row-style">
                  <div class="col-xs-12">
                    <div class="address-card">
                      <p class="grey-font small-text muli boldest tiny-margin-bottom"><%= "#{current_user.full_name}, #{add.street}" %></p>
                      <p class="grey-font small-text muli boldest no-margin"><%= "#{add.city}, #{add.postcode}" %></p>
    <!--                   <%# unless add.default_address %>
                        <%#= link_to address_set_default_path(add), method: :patch, class: "no-decoration" do %>
                          <p class="small-text underline grey-font boldest text-right no-margin">Set as default</p>
                        <%# end %>
                      <%# end %> -->
                      <%= link_to address_path(add), method: :delete, class: "no-decoration" do %>
                        <p class="small-text underline grey-font boldest text-right no-margin">Remove</p>
                      <% end %>
                    </div>
                  </div>
                </div>
              <% end %>
              <!-- <p class="primary-button address-button">ADD NEW ADDRESS</p> -->
            </div>
            <h6 class="boldest">Billing Address</h6>
            <div>
              <% if current_user.billing_addresses.count == 0 %>
                <div class="address-card">
                  <p class="grey-font small-text muli boldest tiny-margin-bottom">You don't have any billing addresses</p>
                </div>
              <% end %>
              <% current_user.billing_addresses.each do |add| %>
                <div class="row row-style">
                  <div class="col-xs-12">
                    <div class="address-card">
                      <p class="grey-font small-text muli boldest tiny-margin-bottom"><%= "#{current_user.full_name}, #{add.street}" %></p>
                      <p class="grey-font small-text muli boldest no-margin"><%= "#{add.city}, #{add.postcode}" %></p>
                      <%= link_to address_path(add), method: :delete, class: "no-decoration" do %>
                        <p class="small-text underline grey-font boldest text-right no-margin">Remove</p>
                      <% end %>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
            <p class="primary-button address-button small-text">ADD NEW ADDRESS</p>
          </div>
        </div>
        <div class="account-content-two-add-address">
          <div class="address-form-container">
            <h6 class="boldest text-center margin-bottom">Add Delivery Address</h6>
            <%= simple_form_for @delivery_address || Address.new(delivery_address: true) do |f| %>
              <div class="personal-details-input">
                <p class="boldest muli text-right no-margin">Street</p>
                <%= f.input :street, label: false, input_html: { class: 'contact-form-input' } %>
              </div>
              <div class="personal-details-input">
                <p class="boldest muli text-right no-margin">Street 2</p>
                <%= f.input :street2, label: false, input_html: { class: 'contact-form-input' } %>
              </div>
              <div class="personal-details-input">
                <p class="boldest muli text-right no-margin">City</p>
                <%= f.input :city, label: false, input_html: { class: 'contact-form-input' } %>
              </div>
              <div class="personal-details-input">
                <p class="boldest muli text-right no-margin">County/State</p>
                <%= f.input :county, label: false, input_html: { class: 'contact-form-input' } %>
              </div>
              <div class="personal-details-input">
                <p class="boldest muli text-right no-margin">Country</p>
                <%= f.input :country, label: false, input_html: { class: 'dropdown-input sign-up-dropdown' } %>
              </div>
              <div class="personal-details-input">
                <p class="boldest muli text-right no-margin">Postcode</p>
                <%= f.input :postcode, label: false, input_html: { class: 'contact-form-input' } %>
              </div>
              <div class="personal-details-input">
                <p class="boldest muli text-right no-margin">Phone Number</p>
                <%= f.input :phone_number, label: false, input_html: { class: 'contact-form-input' } %>
              </div>
              <div class="d-flex align-items-center">
                <%= f.input :use_as_billing, label: false, input_html: { class: 'lb-checkbox' } %>
                <p class="no-bottom-margin didot">Use as billing address</p>
              </div>
              <%= f.input :delivery_address, as: :hidden %>
              <%= f.submit 'ADD DELIVERY ADDRESS', class: 'primary-button address-button small-text' %>
            <% end %>
          </div>
          <div class="address-form-container">
            <h6 class="boldest text-center margin-bottom">Add Billing Address</h6>
            <%= simple_form_for @billing_address || Address.new(delivery_address: false) do |f| %>
              <div class="personal-details-input">
                <p class="boldest muli text-right no-margin">Street</p>
                <%= f.input :street, label: false, input_html: { class: 'contact-form-input' } %>
              </div>
              <div class="personal-details-input">
                <p class="boldest muli text-right no-margin">Street 2</p>
                <%= f.input :street2, label: false, input_html: { class: 'contact-form-input' } %>
              </div>
              <div class="personal-details-input">
                <p class="boldest muli text-right no-margin">City</p>
                <%= f.input :city, label: false, input_html: { class: 'contact-form-input' } %>
              </div>
              <div class="personal-details-input">
                <p class="boldest muli text-right no-margin">County/State</p>
                <%= f.input :county, label: false, input_html: { class: 'contact-form-input' } %>
              </div>
              <div class="personal-details-input">
                <p class="boldest muli text-right no-margin">Country</p>
                <%= f.input :country, label: false, input_html: { class: 'dropdown-input sign-up-dropdown' } %>
              </div>
              <div class="personal-details-input">
                <p class="boldest muli text-right no-margin">Postcode</p>
                <%= f.input :postcode, label: false, input_html: { class: 'contact-form-input' } %>
              </div>
              <div class="personal-details-input">
                <p class="boldest muli text-right no-margin">Phone Number</p>
                <%= f.input :phone_number, label: false, input_html: { class: 'contact-form-input' } %>
              </div>
              <%= f.input :delivery_address, as: :hidden %>
              <%= f.submit 'ADD BILLING ADDRESS', class: 'primary-button address-button small-text' %>
            <% end %>
          </div>
        </div>
        <div class="account-content-three">
          <%= simple_form_for current_user, url: user_change_password_path(current_user) do |f| %>
            <div class="account-password-input">
              <p class="boldest muli text-right no-margin">Old Password</p>
              <%= f.input :old_password, label: false %>
            </div>
            <div class="account-password-input">
              <p class="boldest muli text-right no-margin">New Password</p>
                <%= f.input :password, label: false %>
              </div>
            <div class="account-password-input">
              <p class="boldest muli text-right no-margin">Confirm Password</p>
              <%= f.input :password_confirmation, label: false %>
            </div>
            <%= f.submit 'SAVE CHANGES', class: 'primary-button personal-details-button small-text' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  tabOne = document.querySelector('.account-tab-one');
  tabTwo = document.querySelector('.account-tab-two');
  tabThree = document.querySelector('.account-tab-three');
  contentOne = document.querySelector('.account-content-one');
  contentTwo = document.querySelector('.account-content-two');
  contentTwoAddress = document.querySelector('.account-content-two-add-address');
  contentThree = document.querySelector('.account-content-three');
  addressButton = document.querySelector('.address-button');

  tabs = document.querySelectorAll('.all-tabs');
  tabs.forEach(function(tab) {
    tab.addEventListener('click', (e) => {
      document.querySelectorAll('.all-tabs').forEach(function(tab) { tab.classList.remove('account-active-tab') });
      e.currentTarget.classList.add('account-active-tab');
    })
  });

  tabOne.addEventListener('click', function() {
    contentOne.classList.add('account-content-show');
    contentTwo.classList.remove('account-content-show');
    contentThree.classList.remove('account-content-show');
    contentTwoAddress.classList.remove('account-content-show');

  });

  tabTwo.addEventListener('click', function() {
    contentTwo.classList.add('account-content-show');
    contentOne.classList.remove('account-content-show');
    contentThree.classList.remove('account-content-show');
    contentTwoAddress.classList.remove('account-content-show');

  });

  tabThree.addEventListener('click', function() {
    contentThree.classList.add('account-content-show');
    contentOne.classList.remove('account-content-show');
    contentTwo.classList.remove('account-content-show');
    contentTwoAddress.classList.remove('account-content-show');

  });

  addressButton.addEventListener('click', function() {
    contentTwoAddress.classList.add('account-content-show');
    contentTwo.classList.remove('account-content-show');

  });

</script>

