<%= content_for :meta_title do %>
  Shop by Influncer
<% end %>
<div class="influencers-wrapper">
    <div class="influencers-container d-flex justify-content-center">
      <div class="row m-0">
        <% 4.times do %>
          <% @users.each do |influencer| %>
            <div class="col-12 col-md-6">
                <div class="each-influencer-avatar-card text-center">
                  <%= image_tag (influencer.avatar_photo.attached? ? url_for(influencer.avatar_photo.variant(resize: '300x300')) : 'https://cdn.shopify.com/s/files/1/0912/3996/products/AFB-closeup-final_2048x.jpg?v=1548689204'), class: "influencer-large-avatar mb-4", alt: "influencer avatar" %>
                  <div class="w-75 m-auto">
                    <h3><%= influencer.full_name.upcase %></h3>
                    <p>"<%= influencer.description %>"</p>
                    <div class="d-flex justify-content-center">
                      <div class="mr-4">
                        <i class="fab fa-instagram"></i>
                        <span>375 posts</span>
                      </div>
                      <div class="">
                        <i class="fab fa-youtube"></i>
                        <span>15 videos</span>
                      </div>
                    </div>
                    <%= link_to 'VIEW PROFILE', user_path(influencer), class: "primary-button" %>
                  </div>
                  <% if !influencer.published %>
                    <p>UNPUBLISHED</p>
                  <% elsif current_user&.admin? %>
                    <p><%= influencer.affiliate_link %></p>
                  <% end %>
                </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
</div>

<% if policy([:admin, User]).create? %>
  <div class="admin-options">
    <hr>
    <div class="container">
      <h6 class="boldest">Admin options</h6>
      <div class="d-flex">
        <%= link_to 'ADD INFLUENCER', new_admin_influencer_path, class: 'secondary-button' %>
      </div>
    </div>
    <hr>
  </div>
<% end %>
