<div class="influencers-wrapper">
  <h2 class="insider-info-title text-center">Shop by Influencer</h2>
  <div class="container d-flex justify-content-center">
    <div class="influencers-container">
      <div class="row">
        <% @users.each do |influencer| %>
          <div class="col-6 col-sm-4 col-lg-3">
            <%= link_to user_path(influencer), class: "influencer-card-link" do %>
              <div class="each-influencer-avatar-card text-center">
                <%= image_tag (influencer.avatar_photo.attached? ? url_for(influencer.avatar_photo.variant(resize: '300x300')) : 'https://cdn.shopify.com/s/files/1/0912/3996/products/AFB-closeup-final_2048x.jpg?v=1548689204'), class: "influencer-large-avatar", alt: "influencer avatar" %>
                <h6 class="influencer-instagram"><%= influencer.instagram %></h6>
                <% if !influencer.published %>
                  <p>UNPUBLISHED</p>
                <% else %>
                  <p><%= influencer.affiliate_link %></p>
                <% end %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<% if policy([:admin, User]).create? %>
  <div class="admin-options">
    <hr>
    <div class="container">
      <h6 class="boldest">Admin options</h6>
      <div class="d-flex">
        <%= link_to 'ADD INFLUENCER', new_admin_influencer_path, class: 'secondary-button' %>
      </div>
    </div>
    <hr>
  </div>
<% end %>
