<div class="content-margin pop-out-no-padding-mobile brands-banner">
  <%= link_to :back, class: 'back-button d-md-none' do %>
    <%= image_tag 'back.png', width: 28 %>
  <% end %>
  <div class="content-container">
    <div class="pop-out-image-banner py-5">
        <h2 class="neue-machina ls-sm mb-3 pt-5 text-center"><%= @user.instagram %></h2>
        <% if @user.description %>
          <p class="lighter mb-4 ls-sm text-center px-3 px-md-5 user-description"><%= @user.description %></p>
        <% end %>
        <div class="influencer-socials mb-4">
          <div class="mr-0 mr-sm-4 mb-3 mb-sm-0 lighter">
            <i class="fab fa-instagram"></i>
            <span>375 posts</span>
          </div>
          <div class="mb-3 mb-sm-0 lighter">
            <i class="fab fa-youtube"></i>
            <span>15 videos</span>
          </div>
        </div>
    </div>
  </div>
</div>

<div class="brand-padding mt-5">
  <div class="content-container">
    <div class="influencer-makeup-container">
      <%= render 'shared/card_results', products: @products, form_url: make_up_user_path(@user), sort_method: @sort_method %>
    </div>
  </div>
</div>


<% if policy(ShowroomProduct).create? %>
  <div class="showroom-product-form">
    <%= render 'shared/showroom_product_form' %>
  </div>
<% end %>
