<div class="dashboard-wrapper">
  <div class="dashboard-container">
    <div class="dash-menu-container">
      <% if current_user.influencer %>
        <%= render 'shared/influencer_dash' %>
      <% else %>
        <%= render 'shared/dash' %>
      <% end %>
    </div>
    <div class="dash-content-container">
      <h2 class="insider-info-title mlb-title text-center">My Orders</h2>
      <hr>
      <div class="my-orders-container">
        <p class="muli">Displaying <span class="boldest"> <%= @orders.count %></span> orders</p>
        <div class="row" style="width: 100%;">
          <% @orders.each do |order| %>
            <div class="col-12">
              <div class="each-order-card">
                <div class="each-order-container">
                  <div class="my-order-details">
                    <%= image_tag url_for(order.products.first.shades.first.card_photo), class: "order-image", alt: "product shade photo" %>
                    <div class="order-details-text">
                      <p><%= order.products.first.title %></p>
                      <p class="small-text">(and <%= order.products.count - 1 %> more)</p> <!-- NUMBER OF PRODUCTS IN THE ORDER -->
                      <p class="boldest"><%= order.created_at.strftime('%d/%m/%Y') %>, FN26822124</p> <!-- DATE OF THE ORDER AND SKU NUMBER -->
                      <%#= link_to 'Track this order', '#', class: "small-text"  %>
                    </div>
                  </div>
                  <div class="order-status">
                    <p><%= order.status %></p> <!-- STATUS OF THE ORDER -->
                  </div>
                  <div class="order-price">
                    <p><%= humanized_money_with_symbol order.total_price %></p> <!-- PRICE OF THE ORDER -->
                  </div>
                </div>
                <%= link_to order_path(order), class: "primary-button orders-button small-text" do %>
                  VIEW ALL PRODUCTS (<%= order.products.count %>)
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
