<div class="dashboard-wrapper">
  <div class="dashboard-container">
    <div class="dash-menu-container">
      <% if current_user.influencer %>
        <%= render 'shared/influencer_dash' %>
      <% else %>
        <%= render 'shared/dash' %>
      <% end %>
    </div>
    <div class="dash-content-container">
      <h2 class="insider-info-title mlb-title text-center">My Orders</h2>
      <hr>
      <div class="my-orders-container">
        <div class="row" style="width: 100%;">
          <div class="col-12 d-flex justify-content-center">
            <p class="boldest muli small-text grey"><%= page_entries_info @orders %></p>
          </div>
          <% @orders.each_with_index do |order, index| %>
            <div class="col-12">
              <div class="each-order-card">
                <% unless index == 0 %>
                  <hr>
                <% end %>
                <%= link_to order_path(order), class: "no-decoration my-orders-cards" do %>
                  <div class="each-order-container">
                    <div class="my-order-details">
                      <%= image_tag url_for(order.products.first.shades.first.card_photo), class: "order-image", alt: "product shade photo" %>
                      <div class="order-details-text">
                        <p class="small-text muli boldest"><%= order.products.first.title %></p>
                        <p class="muli small-text">
                          <% if order.products.count > 1 %>
                            (and <%= order.products.count - 1 %> more)
                          <% end %> 
                        </p> <!-- NUMBER OF PRODUCTS IN THE ORDER -->
                        <p class="small-text boldest muli"><%= order.created_at.strftime('%d/%m/%Y') %>, Order No. <%= "%05d" % order.id %></p> <!-- DATE OF THE ORDER AND SKU NUMBER -->
                        <%#= link_to 'Track this order', '#', class: "small-text"  %>
                      </div>
                    </div>
                    <div class="order-status">
                      <p class="muli"><%= order.status %></p> <!-- STATUS OF THE ORDER -->
                    </div>
                    <div class="order-price muli boldest">
                      <p class="small-text"><%= humanized_money_with_symbol order.total_with_delivery %></p> <!-- PRICE OF THE ORDER -->
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>
          <div class="col-12 d-flex justify-content-center mt-3">
            <%= paginate @orders %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
