<div class="dashboard-wrapper">
  <div class="dashboard-container-title mb-3 px-3 px-md-0">
    <h4 class="ls-xs mb-0 <%= 'mb-2' unless current_user.influencer %>"><%= current_user.influencer ? "influencer portal" : "my profile" %></h4>
    <% if current_user.influencer? %>
      <div class="d-flex justify-content-center align-items-center">
        <p class="m-0 lighter ls-xs d-none d-sm-block">hello, <%= current_user.first_name %></p>
        <%= image_tag url_for(current_user.avatar_photo), class: 'avatar-large ml-3' %>
      </div>
    <% end %>
  </div>
  <div class="dashboard-container">
    <div class="dash-menu-container">
      <%= render 'shared/dash' %>
    </div>
    <div class="dash-content-container">
      <p class="ls-xs mb-3 mb-md-2 pl-3 pl-3 pl-md-0">my products</p>
      <div class="dash-content">
        <%= render 'shared/my_products_cards', products: @products, wishlist_product: @wishlist_product %>
      </div>
    </div>
  </div>
</div>

<script>
  basketIcon = document.querySelector('.basket-icon-container');
  basketIconMobile = document.querySelector('.basket-icon-mobile')
  itemAdded = document.querySelector('.item-added');
  addToBag = document.querySelectorAll('.add-to-bag-grey');

  addToBag.forEach((button) => {
    button.addEventListener('click', function() {
      button.innerHTML = 'Item added';
      itemAdded.classList.add('item-added-show');
      basketIcon.style.animation = 'basket-bounce 2s ease'
      basketIconMobile.style.animation = 'basket-bounce 2s ease'
      setTimeout(() => basketIcon.style.animation = '', 2000)
      setTimeout(() => basketIconMobile.style.animation = '', 2000)
      setTimeout(() => itemAdded.classList.remove('item-added-show'), 4000)
      setTimeout(() => button.disabled = true, 100)
      setTimeout(() => button.disabled = false, 4000)
      setTimeout(() => button.innerHTML = 'Reorder', 3500)
    });
  })
</script>
