<div class="dashboard-wrapper">
  <div class="dashboard-container-title mb-3 px-3 px-md-0">
    <h4 class="ls-xs mb-0"><%= current_user.influencer ? "influencer portal" : "my profile" %></h4>
    <div class="d-flex justify-content-center align-items-center">
      <p class="m-0 lighter ls-xs d-none d-sm-block">hello, <%= current_user.first_name %></p>
      <%= image_tag url_for(@user.avatar_photo), class: 'avatar-large ml-3' %>
    </div>
  </div>
  <div class="dashboard-container">
    <div class="dash-menu-container">
      <% if current_user.influencer %>
        <%= render 'shared/influencer_dash' %>
      <% else %>
        <%= render 'shared/dash' %>
      <% end %>
    </div>
    <div class="dash-content-container">
      <p class="ls-xs mb-3 mb-md-2 pl-3 pl-3 pl-md-0">share</p>
      <div class="dash-content">
        <div class="dash-share-options-container w-100">
          <div class="row m-0">
            <div class="col-12 col-sm-4" style="padding: 0;">
              <div class="each-dash-container mb-5 mb-sm-0">
                <div class="dash-share-options">
                  <%= image_tag 'upload-lookbook.png', alt: "share lookbook icon" %>
                  <p class="ls-xs lighter dash-share-option-text m-0">lookbook</p>
                </div>
                <%= link_to new_lookbook_path, class: "primary-button dash-share-button position-relative mt-4" do %>
                  upload
                  <%= image_tag 'upload.png', class: 'upload-icon' %>
                <% end %>
              </div>
            </div>
            <div class="col-12 col-sm-4" style="padding: 0;">
              <div class="each-dash-container mb-5 mb-sm-0">
                <div class="dash-share-options">
                  <%= image_tag 'upload-tutorial.png', alt: "share tutorial icon" %>
                  <p class="ls-xs lighter dash-share-option-text m-0">tutorial</p>
                </div>
                <%= link_to new_tutorial_path, class: "primary-button dash-share-button position-relative mt-4" do %>
                  upload
                  <%= image_tag 'upload.png', class: 'upload-icon' %>
                <% end %>
              </div>
            </div>
            <div class="col-12 col-sm-4" style="padding: 0;">
              <div class="each-dash-container mb-2 mb-sm-0">
                <div class="dash-share-options">
                  <%= image_tag 'check-content-status.png', alt: "content status icon" %>
                  <p class="ls-xs lighter dash-share-option-text m-0">content status</p>
                </div>
                <%= link_to user_uploads_path, class: "primary-button dash-share-button position-relative mt-4" do %>
                  view
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
