<% if !@user.published %>
  <div class="unpublished_bar">
    <h3>PENDING PUBLICATION</h3>
  </div>
<% end %>

<div class="influencers-show-banner" id="influencers-show-banner"  style="background-image: url('<%= @user.cover_photo.attached? ? (rails_blob_path @user.cover_photo) : ('https://images.unsplash.com/photo-1512207128881-1baee87126fb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1198&q=80') %>')" data-mob="<%= rails_blob_path @user.mobile_cover_photo %>" data-lrg="<%= rails_blob_path @user.cover_photo %>">
  <div class="influencer-show-banner-text-container">
    <div class="influencer-show-banner-text">
      <h4 class="<%= 'light-text' if !@user.light_text %>"><%= @user.instagram %></h4>
      <h5 class="didot <%= 'light-text' if !@user.light_text %>"><%= @user.description %></h5>
      <div class="influencer-social-data">
        <% if @user.instagram %>
          <%= link_to "https://www.instagram.com/#{@user.instagram.remove('@')}", target: "_blank", rel: "noopener", class: "each-social-data #{'light-link' if !@user.light_text}" do %>
              <i class="fab fa-instagram social-instagram"></i>
              <h6><%= @user.instagram_followers %></h6>
          <% end %>
        <% end %>
        <% unless @user.youtube.empty? %>
          <%= link_to @user.youtube, target: "_blank", class: "each-social-data #{'light-link' if !@user.light_text}" do %>
              <i class="fab fa-youtube social-youtube"></i>
              <h6><%= @user.youtube_subscribers %></h6>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <%= image_tag "chev-down.png", alt: "alttext", class: "banner-arrow animated bounce", id: 'arrow' %>
</div>
<div class="influencer-show-banner-text-mobile-container">
  <div class="influencer-show-banner-text">
    <h4 class="boldest"><%= @user.instagram %></h4>
    <h5 class="didot"><%= @user.description %></h5>
    <div class="influencer-social-data">
      <% if @user.instagram %>
        <%= link_to "https://www.instagram.com/#{@user.instagram.remove('@')}", target: "_blank", class: "each-social-data" do %>
            <i class="fab fa-instagram social-instagram"></i>
            <h6><%= @user.instagram_followers %></h6>
        <% end %>
      <% end %>
      <% unless @user.youtube.empty? %>
        <%= link_to @user.youtube, target: "_blank", class: "each-social-data" do %>
            <i class="fab fa-youtube social-youtube"></i>
            <h6><%= @user.youtube_subscribers %></h6>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<div id="options"></div>
<div class="influencer-show-options">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <%= link_to make_up_user_path(@user), class: "influencer-card-link" do %>
          <div class="influencer-show-card">
            <h5 class="text-center">Makeup</h5>
            <div class="influencer-show-card-image" style="background-image: url('<%= @user.makeup_photo.attached? ?  (url_for @user.makeup_photo.variant(resize: '600')) : ('https://images.unsplash.com/photo-1515688594390-b649af70d282?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1295&q=80') %>')">
            </div>
          </div>
        <% end %>
      </div>
      <div class="col-xs-12 col-sm-6">
        <% if @user.question_answer.nil? %>
          <% if current_user&.admin %>
            <%= link_to new_user_question_answer_path(@user), class: "influencer-card-link" do %>
              <div class="influencer-show-card">
                <h5 class="text-center">Create Q & A</h5>
                <div class="influencer-show-card-image" style="background-image: url('https://cdn.pixabay.com/photo/2017/07/10/23/43/question-mark-2492009_1280.jpg')">
                  <%= image_tag 'plus-circle.png', class: 'plus-circle' %>
                </div>
              </div>
            <% end %>
          <% else %>
            <div class="influencer-show-card">
              <h5 class="text-center">No Q & A</h5>
              <div class="influencer-show-card-image" style="background-image: url('https://cdn.pixabay.com/photo/2017/07/10/23/43/question-mark-2492009_1280.jpg')">
              </div>
            </div>
          <% end %>
        <% else %>
          <%= link_to user_question_answer_path([@user, @user.question_answer]), class: "influencer-card-link" do %>
            <div class="influencer-show-card">
              <h5 class="text-center">Q & A</h5>
              <div class="influencer-show-card-image" style="background-image: url('<%= @user.qa_photo.attached? ?  (url_for @user.qa_photo.variant(resize: '600')) : ('https://images.unsplash.com/photo-1512207128881-1baee87126fb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1198&q=80') %>')">
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
      <div class="col-xs-12 col-sm-6">
        <%= link_to user_tutorials_path(@user), class: "influencer-card-link" do %>
          <div class="influencer-show-card">
            <h5 class="text-center">Tutorials</h5>
            <div class="influencer-show-card-image" style="background-image: url('<%= @user.tutorial_photo.attached? ?  (url_for @user.tutorial_photo.variant(resize: '600')) : ('https://images.unsplash.com/photo-1512207128881-1baee87126fb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1198&q=80') %>')">
              <%= image_tag 'play-button.png', class: "play-button", width: 80 %>
            </div>
        <% end %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <%= link_to user_lookbooks_path(@user), class: "influencer-card-link" do %>
          <div class="influencer-show-card">
            <h5 class="text-center">Lookbook</h5>
            <div class="influencer-show-card-image" style="background-image: url('<%= @user.lookbook_photo.attached? ?  (url_for @user.lookbook_photo.variant(resize: '600')) : ('https://images.unsplash.com/photo-1512207128881-1baee87126fb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1198&q=80') %>')">
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<% if policy([:admin, @user]).publish? %>
  <div class="admin-options">
    <hr>
    <div class="container">
      <h6 class="boldest">Admin options</h6>
      <div class="d-flex">
        <% if @user.published %>
          <%= link_to "UNPUBLISH", unpublish_admin_influencer_path(@user), method: :patch, class: 'secondary-button small-margin-right' %>
        <% else %>
          <%= link_to "PUBLISH", publish_admin_influencer_path(@user), method: :patch, class: 'secondary-button small-margin-right' %>
        <% end %>
        <%= link_to "EDIT", edit_admin_influencer_path(@user), class: 'secondary-button' %>
      </div>
    </div>
  </div>
<% end %>
<script>
  let arrow = document.getElementById('arrow');
  arrow.addEventListener('click',() => {
    window.scroll({
      top: window.innerHeight - 100,
      behavior: 'smooth'
    });
  })
  function change_users() {
    if (window.innerWidth < 767.98) {
      document.getElementById('influencers-show-banner').style.backgroundImage = `url('${document.getElementById('influencers-show-banner').dataset.mob}')`
    } else {
      document.getElementById('influencers-show-banner').style.backgroundImage = `url('${document.getElementById('influencers-show-banner').dataset.lrg}')`
    }
  }
  change_users()
  window.onresize = change_users;

</script>
