<div class="influencers-show-banner"  style="background-image: url('<%= @user.cover_photo.attached? ?  (rails_blob_url @user.cover_photo) : ('https://images.unsplash.com/photo-1512207128881-1baee87126fb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1198&q=80') %>')">
  <div class="influencer-show-banner-text-container">
    <div class="influencer-show-banner-text">
      <h4><%= @user.instagram %></h4>
      <h5 class="old-standard">I am all about makeup and fashion. I love expressing myself, having fun and helping people by sharing my beauty and fashion knowledge</h5>
      <div class="influencer-social-data">
        <% if @user.instagram %>
          <%= link_to "https://www.instagram.com/#{@user.instagram.remove('@')}", target: "_blank", class: "each-social-data" do %>
              <i class="fab fa-instagram social-instagram"></i>
              <h6>274k</h6>
          <% end %>
        <% end %>
        <% if @user.youtube %>
          <%= link_to @user.youtube, target: "_blank", class: "each-social-data" do %>
              <i class="fab fa-youtube social-youtube"></i>
              <h6>400k</h6>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="influencer-show-options">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <%= link_to '#', class: "influencer-card-link" do %>
          <div class="influencer-show-card">
            <h5 class="text-center">Make Up</h5>
            <div class="influencer-show-card-image" style="background-image: url('https://images.unsplash.com/photo-1515688594390-b649af70d282?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1295&q=80')">
            </div>
          </div>
        <% end %>
      </div>
      <div class="col-xs-12 col-sm-6">
        <%= link_to questions_and_answers_path, class: "influencer-card-link" do %>
          <div class="influencer-show-card">
            <h5 class="text-center">Q & A</h5>
            <div class="influencer-show-card-image" style="background-image: url('https://images.unsplash.com/photo-1520612450758-39ccdb9be5c4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80')">
            </div>
          </div>
        <% end %>
      </div>
      <div class="col-xs-12 col-sm-6">
        <%= link_to influencer_video_path, class: "influencer-card-link" do %>
          <div class="influencer-show-card">
            <h5 class="text-center">Videos</h5>
            <div class="influencer-show-card-image" style="background-image: url('https://images.pexels.com/photos/1445467/pexels-photo-1445467.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')">
              <%= image_tag 'play-button.png', class: "play-button", width: 80 %>
            </div>
        <% end %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <%= link_to '#', class: "influencer-card-link" do %>
          <div class="influencer-show-card">
            <h5 class="text-center">Lookbook</h5>
            <div class="influencer-show-card-image" style="background-image: url('https://images.pexels.com/photos/935985/pexels-photo-935985.jpeg?auto=format%2Ccompress&cs=tinysrgb&dpr=2&h=750&w=1260')">
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
