<%= content_for :meta_title do %>
  <%= @user.instagram.gsub(/@/, '') %> - <%= @user.full_name %>
<% end %>

<% if !@user.published %>
  <div class="unpublished_bar">
    <h3>PENDING PUBLICATION</h3>
  </div>
<% end %>

<div class="content-margin pop-out-no-padding-mobile brands-banner">
  <%= link_to :back, class: 'back-button d-md-none' do %>
  <%= image_tag 'back.png', width: 28 %>
  <% end %>
  <div class="content-container pop-out-bottom-padding">
    <div class="pop-out-image-banner">
      <div class="pop-out-image-banner-content">
        <h2 class="neue-machina ls-sm mb-3 text-center"><%= @user.instagram %></h2>
        <% if @user.description %>
          <p class="lighter mb-4 ls-sm text-center px-3 px-md-5 user-description"><%= @user.description %></p>
        <% end %>
        <div class="d-block d-sm-flex justify-content-center mb-4">
          <div class="mr-0 mr-sm-4 mb-3 mb-sm-0 lighter">
            <i class="fab fa-instagram"></i>
            <span>375 posts</span>
          </div>
          <div class="mb-3 mb-sm-0 lighter">
            <i class="fab fa-youtube"></i>
            <span>15 videos</span>
          </div>
        </div>
        <%= image_tag url_for(@user.cover_photo) %>
      </div>
    </div>
  </div>
</div>

<div class="content-margin position-relative mt-0">
  <h2 class="text-center neue-machina ls-sm pt-5 pb-3"><%= @user.first_name %>'s Favourite Products</h2>
  <div class="d-flex justify-content-center">
    <%= link_to "browse all of #{@user.first_name}'s products", make_up_user_path(@user), class: 'dotted-underline-button lighter mb-5 px-0' %>
  </div>
  <div class="content-container content-carousel">
    <div class="d-block d-md-none">
      <div id="mobileProductsCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
        <div class="carousel-inner">
          <% @favorite_products.each_with_index do |product, index| %>
            <div class="carousel-item <%= 'active' if index == 0 %>">
              <div class="col-12">
                <div class="card-image-results homepage-products">
                  <div class="card">
                    <%= link_to product_path(product) do %>
                      <% if product.out_of_stock? %>
                        <div class="out-of-stock-overlay">
                          <h4 class="boldest kaftan text-center out-of-stock-overlay-message">OUT OF STOCK</h4>
                        </div>
                      <% end %>
                      <div class="card_image">
                        <%= link_to product_path(product) do %>
                          <% if product.shades.first&.card_photo %>
                            <%= image_tag url_for(product.shades.first.card_photo.variant(resize: '300x300')), alt: "product shade photo" %>
                          <% else %>
                            <div style="background-color: #EFEFEF; min-height: 131.5px; max-height: 204px; height: 13rem; width: 100%"></div>
                          <% end %>
                        <% end %>
                      </div>
                    <% end %>
                  </div>
                  <div class="card-info">
                    <p class="mb-2 truncate-text lighter ls-xs"><%= product.brand.name %>, <%= product.title %></p>
                    <p class="neue-machina text-secondary"><%= humanized_money_with_symbol(product.price) %></p>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
        <a class="carousel-control-prev" href="#mobileProductsCarousel" role="button" data-slide="prev">
          <%= image_tag 'right_caret.png', width: 40 %>
        </a>
        <a class="carousel-control-next" href="#mobileProductsCarousel" role="button" data-slide="next">
          <%= image_tag 'right_caret.png', width: 40 %>
        </a>
      </div>
    </div>

    <div class="d-none d-md-block">
      <div id="whatsHotNowCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
        <div class="carousel-inner">
          <% @favorite_products.each_slice(3) do |products| %>
            <div class="carousel-item <%= 'active' if products[0] == @favorite_products.first %>">
              <div class="row row-products">
                <% products.each do |product| %>
                  <div class="col-4">
                    <div class="card-image-results homepage-products">
                      <div class="card">
                        <%= link_to product_path(product) do %>
                          <% if product.out_of_stock? %>
                            <div class="out-of-stock-overlay">
                              <h4 class="boldest kaftan text-center out-of-stock-overlay-message">OUT OF STOCK</h4>
                            </div>
                          <% end %>
                          <div class="button-overlay d-none d-md-flex">
                            <div class="oval-button mx-3">
                              <div class="button-text">
                                <p class="mb-0 bt-5 ls-sm">Add to Cart</p>
                              </div>
                              <%= image_tag 'oval-button.svg' %>
                            </div>
                          </div>
                          <div class="card_image">
                            <%= link_to product_path(product) do %>
                              <% if product.shades.first&.card_photo %>
                                <%= image_tag url_for(product.shades.first.card_photo.variant(resize: '300x300')), alt: "product shade photo" %>
                              <% else %>
                                <div style="background-color: #EFEFEF; min-height: 131.5px; max-height: 204px; height: 13rem; width: 100%"></div>
                              <% end %>
                            <% end %>
                          </div>
                        <% end %>
                      </div>
                      <div class="card-info">
                        <p class="mb-2 truncate-text lighter ls-xs"><%= product.brand.name %>, <%= product.title %></p>
                        <p class="neue-machina text-secondary"><%= humanized_money_with_symbol(product.price) %></p>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
        <% if @products.count > 3 %>
          <a class="carousel-control-prev" href="#whatsHotNowCarousel" role="button" data-slide="prev">
            <%= image_tag 'right_caret.png', width: 40 %>
          </a>
          <a class="carousel-control-next" href="#whatsHotNowCarousel" role="button" data-slide="next">
            <%= image_tag 'right_caret.png', width: 40 %>
          </a>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="content-margin">
  <div class="content-container">
    <div class="qna-wrapper">
      <h2 class="text-center neue-machina ls-sm pt-5 pb-3">Q&A</h2>
      <div class="d-flex justify-content-center">
        <%= link_to "browse all of #{@user.first_name}'s questions", user_question_answer_path([@user, @user.question_answer]), class: 'dotted-underline-button lighter mb-5 px-0' %>
      </div>
      <div class="qna-content">
        <div class="row m-0 p-0 py-sm-5 justify-content-between">
          <div class="col-12 col-sm-6 col-md-5">
            <%= image_tag(url_for(@question_answer.photo_one), alt: @question_answer.photo_one_alt_text, class: 'qna-image') %>
          </div>
          <div class="col-12 col-sm-6 col-md-5">
            <h4 class="neue-machina ls-xs font-weight-normal mb-4"><%= @question_answer.question_one %></h4>
            <p class="ls-xs lighter medium-text mb-4"><%= @question_answer.answer_one %></p>
            <div class="qa-link d-flex justify-content-start">
              <%= link_to "read more", user_question_answer_path([@user, @user.question_answer]), class: 'dotted-underline-button lighter mb-5 px-0' %>
            </div>
          </div>
        </div>
        <div class="row m-0 p-0 py-sm-5 justify-content-between question-middle">
          <div class="col-12 col-sm-6 col-md-5">
            <h4 class="neue-machina ls-xs font-weight-normal mb-4"><%= @question_answer.question_two %></h4>
            <p class="ls-xs lighter medium-text mb-4"><%= @question_answer.answer_two %></p>
            <div class="qa-link d-flex justify-content-start">
              <%= link_to "read more", user_question_answer_path([@user, @user.question_answer]), class: 'dotted-underline-button lighter mb-5 px-0' %>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-5">
            <%= image_tag(url_for(@question_answer.photo_two), alt: @question_answer.photo_two_alt_text, class: 'qna-image') %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% if policy([:admin, @user]).publish? %>
  <div class="admin-options">
    <hr>
    <div class="container">
      <h6 class="boldest">Admin options</h6>
      <div class="d-flex">
        <% if @user.published %>
          <%= link_to "UNPUBLISH", unpublish_admin_influencer_path(@user), method: :patch, class: 'secondary-button small-margin-right' %>
        <% else %>
          <%= link_to "PUBLISH", publish_admin_influencer_path(@user), method: :patch, class: 'secondary-button small-margin-right' %>
        <% end %>
        <%= link_to "EDIT", edit_admin_influencer_path(@user), class: 'secondary-button' %>
      </div>
    </div>
  </div>
<% end %>
<script>

  function change_users() {
    if (window.innerWidth < 767.98) {
      document.getElementById('influencers-show-banner').style.backgroundImage = `url('${document.getElementById('influencers-show-banner').dataset.mob}')`
    } else {
      document.getElementById('influencers-show-banner').style.backgroundImage = `url('${document.getElementById('influencers-show-banner').dataset.lrg}')`
    }
  }
  change_users()
  window.onresize = change_users;

</script>
