<div class="dashboard-wrapper">
  <div class="dashboard-container">
    <div class="dash-menu-container">
      <% if current_user.influencer? %>
        <%= render 'shared/influencer_dash' %>
      <% else %>
        <%= render 'shared/dash' %>
      <% end %>
    </div>
    <div class="dash-content-container">
      <h2 class="insider-info-title mlb-title text-center">Uploads</h2>
      <hr>
      <div class="account-details-tabs">
        <p class="boldest grey-font account-tab-one all-tabs account-active-tab">Pending (<%= @pending.count %>)</p>
        <span>|</span>
        <p class="boldest grey-font account-tab-two all-tabs">Rejected (<%= @rejected.count %>)</p>
        <span>|</span>
        <p class="boldest grey-font account-tab-three all-tabs">Approved (<%= @approved.count %>)</p>
      </div>
      <div class="account-details-content">
        <div class="uploads-content-one account-content-show">
          <% if @pending.count == 0 %>
            <p class="large-margin text-center boldest muli">You have no pending uploads</p>
          <% else %>
            <div class="row row-style">
              <% @pending.each do |item| %>
                <%= render 'shared/upload_cards', item: item %>
              <% end %>
            </div>
          <% end %>
        </div>
        <div class="uploads-content-two">
          <% if @rejected.count == 0 %>
            <p class="large-margin text-center boldest">You have no rejected uploads</p>
          <% else %>
            <div class="row row-style">
              <% @rejected.each do |item| %>
                <%= render 'shared/upload_cards', item: item %>
              <% end %>
            </div>
          <% end %>
        </div>
        <div class="uploads-content-three">
          <% if @approved.count == 0 %>
            <p class="large-margin text-center boldest">You have no approved uploads</p>
          <% else %>
            <div class="row row-style">
              <% @approved.each do |item| %>
                <%= render 'shared/upload_cards', item: item %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  tabOne = document.querySelector('.account-tab-one');
  tabTwo = document.querySelector('.account-tab-two');
  tabThree = document.querySelector('.account-tab-three');
  contentOne = document.querySelector('.uploads-content-one');
  contentTwo = document.querySelector('.uploads-content-two');
  contentThree = document.querySelector('.uploads-content-three');

  tabs = document.querySelectorAll('.all-tabs');
  tabs.forEach(function(tab) {
    tab.addEventListener('click', (e) => {
      document.querySelectorAll('.all-tabs').forEach(function(tab) { tab.classList.remove('account-active-tab') });
      e.currentTarget.classList.add('account-active-tab');
    })
  });

  tabOne.addEventListener('click', function() {
    contentOne.classList.add('account-content-show');
    contentTwo.classList.remove('account-content-show');
    contentThree.classList.remove('account-content-show');
  });

  tabTwo.addEventListener('click', function() {
    contentTwo.classList.add('account-content-show');
    contentOne.classList.remove('account-content-show');
    contentThree.classList.remove('account-content-show');
  });

  tabThree.addEventListener('click', function() {
    contentThree.classList.add('account-content-show');
    contentOne.classList.remove('account-content-show');
    contentTwo.classList.remove('account-content-show');
  });


</script>
