<div style="display: flex; flex: 1; justify-content: space-between; align-items: center;">
  <p><%= item.product.title %></p>
  <% if item.quantity > 1 %>
    <%= simple_form_for item, remote: true do |f| %>
      <%= f.input :quantity, as: :hidden, input_html: {value: item.quantity - 1} %>
      <%= f.submit 'Decrease' %>
    <% end %>
  <% end %>
  <p><%= item.quantity %></p>
  <%= simple_form_for item, remote: true do |f| %>
    <%= f.input :quantity, as: :hidden, input_html: {value: item.quantity + 1} %>
    <%= f.submit 'Increase' %>
  <% end %>
  <%= simple_form_for item, method: :delete, remote: true do |f| %>
    <%= f.submit 'Delete' %>
  <% end %>
</div>
