<%= simple_form_for Product.new, url: form_url, method: :get, remote: true, html: { id: 'product-filter', onchange: "Rails.fire(this, 'submit')" } do |f| %>
  <div class="products-index-filters-container">
    <div class="partial-filters-one">
      <h5 class="medium-text no-bottom-margin">Refine By</h5>
      <div class="d-flex align-items-center">
        <%#= image_tag 'dropdown-down.png', class: "dropdown-arrow" %>
        <%= f.fields_for :sort do |s| %>
          <%= s.input :method, collection: [['New in', 'created_at,desc'], ['Price: High to low', 'price_cents,desc'], ['Price: Low to high', 'price_cents,asc']], selected: sort_method, label: false, input_html: { class: 'filters-container boldest s-medium-text' } %>
        <% end %>
      </div>
      <p class="boldest muli no-bottom-margin left-margin small-text grey"><%= page_entries_info @products %></p>
    </div>
  </div>
  <div class="products-index-container">
    <div class="partial-filters-two">
      <%= simple_form_for Product.new, url: form_url, method: :get, remote: true, html: { id: 'product-filter', onchange: "Rails.fire(this, 'submit')" } do |f| %>
        <div class="partial-filters-container">
          <div class="mobile-filters">
            <p class="boldest no-margin">Filter</p>
          </div>
          <div class="partial-filters">
            <div class="partial-filters_collection">
              <div class="filter-title filter-title-subcategories">
                <h6>Category</h6>
                <%= image_tag 'filter-arrow.png', class: 'filter-arrow filter-arrow-category arrow-flip' %>
              </div>
              <div class="filters-options filters-options-subcategories show-filters">
                <% Category.find_each do |category| %>
                  <h6><%= category.name %></h6>
                  <%= f.input :sub_category, collection: category.sub_categories.order(name: :ASC).product_filter_labels_and_values(@original), as: :check_boxes, required: false, label: "", checked: params[:product] ? params[:product][:sub_category] : [], value_method: :first, label_method: :last %>
                <% end %>
              </div>
            </div>
            <% unless params[:controller] == 'brands' %>
              <div class="partial-filters_collection">
                <div class="filter-title filter-title-brands">
                  <h6>Brand</h6>
                  <%= image_tag 'filter-arrow.png', class: 'filter-arrow filter-arrow-brands' %>
                </div>
                <div class="filters-options filters-options-brands">
                  <%= f.input :brand, collection: Brand.order(name: :ASC).product_filter_labels_and_values(@original), as: :check_boxes, required: false, label: "", checked: params[:product] ? params[:product][:brand] : [], value_method: :first, label_method: :last %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
        <!--   <div class="partial-products">
            <%# @products.each do |product| %>
              <div class="card">
                <%#= link_to product_path(product) do %>
                  <div class="card_image">
                    <%#= image_tag product.shades.first.photos.first.variant(resize: "100x100") %>
                    </div>
                  <%# end %>
                  <div class="card_header">
                    <%#= product.title %>
                  </div>
                </div>
                <%#= hidden_field_tag :query , "", id: "query-filter" %>
                <%#= hidden_field_tag :place , "", id: "place-filter" %>

                <%#= submit_tag 'Apply', id: "filter-button" %>
              <%# end %>
            </div> -->
          <!--   <div class="partial-products" id="results">
                <%#= render 'card_results', products: @products %>
            </div> -->
        <div class="row" style="flex: 1; margin: 0;">
          <% if products.count == 0 %>
            <h6 class="didot text-center large-margin-top width-100">There are no products <%= @query ? "matching '#{ @query }'" : "" %></h6>
          <% else %>
            <% products.each do |product| %>
              <div class="col-6 col-sm-6 col-md-4" style="padding: 10px;">
                <!-- removed d-flex justify-content-center from above div -->
                <div class="product-cards-holder">
                  <%= render 'shared/product_cards', product: product %>
                </div>
              </div>
            <% end %>
          <% end %>
          <div class="col-12 d-flex justify-content-center">
            <%= paginate products %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<script>
  filterTitleSubcategories = document.querySelector('.filter-title-subcategories')
  filterOptionsSubcategories = document.querySelector('.filters-options-subcategories')

  filterTitleBrands = document.querySelector('.filter-title-brands')
  filterOptionsBrands = document.querySelector('.filters-options-brands')

  filterTitleSubcategories.addEventListener('click', () => {
    filterOptionsSubcategories.classList.toggle('show-filters')
    document.querySelector('.filter-arrow-category').classList.toggle('arrow-flip')
  })

  filterTitleBrands.addEventListener('click', () => {
    filterOptionsBrands.classList.toggle('show-filters')
    document.querySelector('.filter-arrow-brands').classList.toggle('arrow-flip')
  })
</script>
