<%= simple_form_for Product.new, url: form_url, method: :get, remote: true, html: { id: 'product-filter', onchange: "Rails.fire(this, 'submit')" } do |f| %>
  <div class="products-index-filters-container">
    <div class="partial-filters-one">
      <% if params[:controller] == 'products' %>
        <h3 class="large-text lighter mb-3 mb-sm-0">products</h3>
      <% elsif params[:action] == 'showroom' %>
        <div class="influencer-credit-container dotted-underline-button mb-3 mb-sm-0">
          <p class="small-text mb-0 mr-2">Credit Remaining</p>
          <p class="small-text mb-0"><%= humanized_money_with_symbol @user.remaining_credit %></p>
        </div>
      <% end %>
      <div class="d-flex align-items-center">
        <%= f.fields_for :sort do |s| %>
          <%= s.input :method, collection: [['new in', 'created_at,desc'], ['price: high to low', 'price_cents,desc'], ['price: low to high', 'price_cents,asc']], selected: sort_method, label: false, input_html: { class: 'filters-container small-text ls-xs' } %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="products-index-container last-content-padding">
    <div class="partial-filters-two">
      <%= simple_form_for Product.new, url: form_url, method: :get, remote: true, html: { id: 'product-filter', onchange: "Rails.fire(this, 'submit')" } do |f| %>
        <div class="partial-filters-container">
          <div class="partial-filters">
            <div class="partial-filters_collection">
              <div class="filter-title filter-title-categories">
                <h6 class="neue-machina ls-xs lighter">category</h6>
                <%= image_tag 'popup_close.png', class: 'filter-arrow filter-arrow-category arrow-flip' %>
              </div>
              <div class="filters-options filters-options-categories show-filters">
                <% Category.order(name: :ASC).each do |category| %>
                  <%# raise if category.sub_categories.ids.include?(11)%>
                  <% next if category.sub_categories.all? { |sc| !@all.map(&:sub_category).include?(sc) } %>
                  <div class="filter-subtitle filter-subtitle-<%= category.name %> ml-2" data-sub="<%= category.name %>">
                    <h6 class="neue-machina ls-xs lighter"><%= category.name.downcase %></h6>
                    <%= image_tag 'popup_close.png', class: 'filter-arrow filter-arrow-subcategory', data: { sub: "#{ category.name }" } %>
                  </div>
                  <div class="filter-subcategory-container filter-subcategory-<%= category.name %> ml-3" data-sub="<%= category.name %>">
                    <%= f.input :sub_category, collection: category.sub_categories.joins(:products).merge(@original.where(sub_category_id: category.sub_categories.ids)).order(name: :ASC).product_filter_labels_and_values(@original).uniq, as: :check_boxes, required: false, label: "", checked: params[:product] ? params[:product][:sub_category] : [], value_method: :first, label_method: :last %>
                  </div>
                <% end %>
              </div>
            </div>
            <% unless params[:controller] == 'brands' %>
              <div class="partial-filters_collection">
                <div class="filter-title filter-title-brands">
                  <h6 class="neue-machina ls-xs lighter">brands</h6>
                  <%= image_tag 'popup_close.png', class: 'filter-arrow filter-arrow-brands' %>
                </div>
                <div class="filters-options filters-options-brands ml-2">
                  <%= f.input :brand, collection: Brand.order(name: :ASC).joins(:products).merge(@original.where(brand_id: Brand.all.ids)).product_filter_labels_and_values(@original).uniq, as: :check_boxes, required: false, label: "", checked: params[:product] ? params[:product][:brand] : [], value_method: :first, label_method: :last %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
        <div class="row" id="card-target" style="flex: 1; margin: 0;">
          <%= render 'shared/filter_cards', products: products %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<script>
  filterTitleCategories = document.querySelector('.filter-title-categories')
  filterOptionsCategories = document.querySelector('.filters-options-categories')

  filterTitleBrands = document.querySelector('.filter-title-brands')
  filterOptionsBrands = document.querySelector('.filters-options-brands')

  if (window.innerWidth < 768) {
    filterOptionsCategories.classList.remove('show-filters')
    document.querySelector('.filter-arrow-category').classList.remove('arrow-flip')
  }

  if (filterTitleCategories) {
    filterTitleCategories.addEventListener('click', () => {
      filterOptionsCategories.classList.toggle('show-filters')
      document.querySelector('.filter-arrow-category').classList.toggle('arrow-flip')
    })
  }

  if (filterTitleBrands) {
    filterTitleBrands.addEventListener('click', () => {
      filterOptionsBrands.classList.toggle('show-filters')
      document.querySelector('.filter-arrow-brands').classList.toggle('arrow-flip')
    })
   }

  document.querySelectorAll('.filter-subtitle').forEach((subtitle) => {
    subtitle.addEventListener('click', () => {
      // document.querySelector(`.filter-subcategory-${subtitle.dataset.sub}`).classList.toggle('show-filters')
      document.querySelectorAll('.filter-subcategory-container').forEach((subcategory) => {
        if (subtitle.dataset.sub === subcategory.dataset.sub) {
          subcategory.classList.toggle('show-filters')
          document.querySelectorAll('.filter-arrow-subcategory').forEach((arrow) => {
            if (arrow.dataset.sub === subcategory.dataset.sub) {
              arrow.classList.toggle('arrow-flip')
            }
          })
        }
      })
    })
  })

</script>
