<%= simple_form_for Product.new, url: form_url, method: :get, remote: true, html: { id: 'product-filter', onchange: "Rails.fire(this, 'submit')" } do |f| %>
  <div class="products-index-filters-container">
    <div class="partial-filters-one">
      <h5 class="medium-text no-bottom-margin">Refine By</h5>
      <div class="d-flex align-items-center">
        <%#= image_tag 'dropdown-down.png', class: "dropdown-arrow" %>
        <%= f.fields_for :sort do |s| %>
          <%= s.input :method, collection: [['New in', 'created_at,desc'], ['Price: High to low', 'price_cents,desc'], ['Price: Low to high', 'price_cents,asc']], selected: sort_method, label: false, input_html: { class: 'filters-container boldest s-medium-text' } %>
        <% end %>
      </div>
      <div class="show-page-entries">
        <p class="boldest muli no-bottom-margin left-margin small-text grey"><%= page_entries_info @products %></p>
      </div>
    </div>
  </div>
  <div class="products-index-container">
    <div class="partial-filters-two">
      <%= simple_form_for Product.new, url: form_url, method: :get, remote: true, html: { id: 'product-filter', onchange: "Rails.fire(this, 'submit')" } do |f| %>
        <div class="partial-filters-container">
          <div class="mobile-filters">
            <p class="boldest no-margin">Filter</p>
          </div>
          <div class="partial-filters">
            <div class="partial-filters_collection">
              <div class="filter-title filter-title-categories">
                <h6>Category</h6>
                <%= image_tag 'filter-arrow.png', class: 'filter-arrow filter-arrow-category arrow-flip' %>
              </div>
              <div class="filters-options filters-options-categories show-filters">
                <% Category.order(name: :ASC).each do |category| %>
                  <% next if category.sub_categories.all? { |sc| @products.where(sub_category: sc ).empty? } %>
                  <div class="filter-subtitle filter-subtitle-<%= category.name %>" data-sub="<%= category.name %>">
                    <h6><%= category.name %></h6>
                    <%= image_tag 'filter-arrow.png', class: 'filter-arrow filter-arrow-subcategory', data: { sub: "#{ category.name }" } %>
                  </div>
                  <div class="filter-subcategory-container filter-subcategory-<%= category.name %>" data-sub="<%= category.name %>">
                    <%= f.input :sub_category, collection: category.sub_categories.joins(:products).merge(Product.where(sub_category_id: category.sub_categories.ids)).order(name: :ASC).product_filter_labels_and_values(@original).uniq, as: :check_boxes, required: false, label: "", checked: params[:product] ? params[:product][:sub_category] : [], value_method: :first, label_method: :last %>
                  </div>
                <% end %>
              </div>
            </div>
            <% unless params[:controller] == 'brands' %>
              <div class="partial-filters_collection">
                <div class="filter-title filter-title-brands">
                  <h6>Brand</h6>
                  <%= image_tag 'filter-arrow.png', class: 'filter-arrow filter-arrow-brands' %>
                </div>
                <div class="filters-options filters-options-brands">
                  <%= f.input :brand, collection: Brand.order(name: :ASC).product_filter_labels_and_values(@original), as: :check_boxes, required: false, label: "", checked: params[:product] ? params[:product][:brand] : [], value_method: :first, label_method: :last %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
        <!--   <div class="partial-products">
            <%# @products.each do |product| %>
              <div class="card">
                <%#= link_to product_path(product) do %>
                  <div class="card_image">
                    <%#= image_tag product.shades.first.photos.first.variant(resize: "100x100") %>
                    </div>
                  <%# end %>
                  <div class="card_header">
                    <%#= product.title %>
                  </div>
                </div>
                <%#= hidden_field_tag :query , "", id: "query-filter" %>
                <%#= hidden_field_tag :place , "", id: "place-filter" %>

                <%#= submit_tag 'Apply', id: "filter-button" %>
              <%# end %>
            </div> -->
          <!--   <div class="partial-products" id="results">
                <%#= render 'card_results', products: @products %>
            </div> -->
        <div class="row" id="card-target" style="flex: 1; margin: 0;">
          <%= render 'shared/filter_cards', products: products %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<script>
  filterTitleCategories = document.querySelector('.filter-title-categories')
  filterOptionsCategories = document.querySelector('.filters-options-categories')

  filterTitleBrands = document.querySelector('.filter-title-brands')
  filterOptionsBrands = document.querySelector('.filters-options-brands')

  if (filterTitleCategories) {
    filterTitleCategories.addEventListener('click', () => {
      filterOptionsCategories.classList.toggle('show-filters')
      document.querySelector('.filter-arrow-category').classList.toggle('arrow-flip')
    })
  }

  if (filterTitleBrands) {
    filterTitleBrands.addEventListener('click', () => {
      filterOptionsBrands.classList.toggle('show-filters')
      document.querySelector('.filter-arrow-brands').classList.toggle('arrow-flip')
    })
   }

  document.querySelectorAll('.filter-subtitle').forEach((subtitle) => {
    subtitle.addEventListener('click', () => {
      // document.querySelector(`.filter-subcategory-${subtitle.dataset.sub}`).classList.toggle('show-filters')
      document.querySelectorAll('.filter-subcategory-container').forEach((subcategory) => {
        if (subtitle.dataset.sub === subcategory.dataset.sub) {
          subcategory.classList.toggle('show-filters')
          document.querySelectorAll('.filter-arrow-subcategory').forEach((arrow) => {
            if (arrow.dataset.sub === subcategory.dataset.sub) {
              arrow.classList.toggle('arrow-flip')
            }
          })
        }
      })
    })
  })

</script>
