<%= simple_form_for Product.new, url: form_url, method: :get, remote: true, html: { id: 'product-filter', onchange: "Rails.fire(this, 'submit')" } do |f| %>
  <div class="products-index-filters-container">
    <div class="partial-filters-one">
      <h5 class="medium-text">Refine By</h5>
      <div>
          <%#= image_tag 'dropdown-down.png', class: "dropdown-arrow" %>
          <%= f.fields_for :sort do |s| %>
            <%= s.input :method, collection: [['New in', 'created_at,desc'], ['Price: High to low', 'price_cents,desc'], ['Price: Low to high', 'price_cents,asc']], selected: sort_method, label: false, input_html: { class: 'filters-container boldest s-medium-text' } %>
          <% end %>
      </div>
    </div>
  </div>
  <div class="products-index-container">
    <div class="partial-filters-two">
      <%= simple_form_for Product.new, url: form_url, method: :get, remote: true, html: { id: 'product-filter', onchange: "Rails.fire(this, 'submit')" } do |f| %>
        <div class="partial-filters">
          <div class="partial-filters_collection">
            <h6>Category</h6>
            <%#= collection_check_boxes :category, :product_id, Category.all, :id, :name %>
            <%= f.input :category, collection: Category.all, as: :check_boxes, required: false, label: "", checked: params[:product] ? params[:product][:category] : [] %>
          </div>
          <% unless params[:controller] == 'brands' %>
            <div class="partial-filters_collection">
              <h6>Brand</h6>
              <%#= collection_check_boxes :brand, :product_id, Brand.all, :id, :name %>
              <%= f.input :brand, collection: Brand.all, as: :check_boxes, required: false, label: "", checked: params[:product] ? params[:product][:brand] : [] %>
            </div>
          <% end %>
        </div>
      <% end %>
        <!--   <div class="partial-products">
            <%# @products.each do |product| %>
              <div class="card">
                <%#= link_to product_path(product) do %>
                  <div class="card_image">
                    <%#= image_tag product.shades.first.photos.first.variant(resize: "100x100") %>
                    </div>
                  <%# end %>
                  <div class="card_header">
                    <%#= product.title %>
                  </div>
                </div>
                <%#= hidden_field_tag :query , "", id: "query-filter" %>
                <%#= hidden_field_tag :place , "", id: "place-filter" %>

                <%#= submit_tag 'Apply', id: "filter-button" %>
              <%# end %>
            </div> -->
          <!--   <div class="partial-products" id="results">
                <%#= render 'card_results', products: @products %>
            </div> -->
        <div class="row" style="flex: 1; margin: 0;">
          <% products.each do |product| %>
            <div class="col-xs-12 col-sm-6 col-md-4 d-flex justify-content-center" style="padding: 5px;">
              <div class="card-image-results">
                <div class="card">
                  <%= link_to product_path(product) do %>
                    <div class="card_image">
                      <%= link_to product_path(product) do %>
                        <%= image_tag url_for(product.shades.first.photos.first) %>
                      <% end %>
                    </div>
                  <% end %>
                </div>
                <div class="card-info">
                  <div class="card_header">
                    <p><%= product.title %></p>
                  </div>
                  <div class="card_price-heart">
                    <%= humanized_money_with_symbol(product.price) %>
                  </div>
                  <div class="card_ratings">
                    <%= render 'shared/ratings', rating: product.average_rating %>
                    <p class="small-text"><%= product.average_rating %> (<%= product.total_reviews %> Reviews)</p>
                  </div>
                  <% if user_signed_in? %>
                    <i class="<%= current_user.wishlist.products.include?(product) ? 'fas fa-heart' : 'far fa-heart' %> wishlist-heart-icon"></i>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
