<div class="dash-links">
  <h2 class="insider-info-title mlb-title text-center dash-mobile-title">My Loop Beauty</h2>
  <h2 class="insider-info-title text-center dash-mobile-name">Hello <%= current_user.first_name %> <%= current_user.last_name %></h2>
  <div class="each-dash-link-title">ORDERS</div>
  <%= link_to user_my_orders_path(current_user), class: "each-dash-link" do %>
    <%= image_tag "basket.png", class: "dash-links-image" %>My Orders
  <% end %>
  <%= link_to  user_my_products_path(current_user), class: "each-dash-link" do %>
    <%= image_tag "lipstick.png", class: "dash-links-image" %>My Products
  <% end %>
  <%= link_to user_refer_a_friend_path(current_user), class: "each-dash-link" do %>
    <%= image_tag "dash-refer.png", class: "dash-links-image" %>Refer a Friend
  <% end %>
  <%= link_to user_wishlist_path(current_user), class: "each-dash-link" do %>
    <%= image_tag "dash-wish.png", class: "dash-links-image" %>Wishlist
  <% end %>
  <div class="each-dash-link-title">ACCOUNT SETTINGS</div>
  <%= link_to user_account_details_path(current_user), class: "each-dash-link" do %>
    <%= image_tag "default-user.png", class: "dash-links-image" %>Account Details
  <% end %>
  <%= link_to user_preference_centre_path(current_user), class: "each-dash-link" do %>
    <%= image_tag "dash-preferences.png", class: "dash-links-image" %>Preference Centre
  <% end %>
  <%= link_to destroy_user_session_path, method: :delete, class: "each-dash-link" do %>
    <%= image_tag "dash-sign-out.png", class: "dash-links-image" %>Sign Out
  <% end %>
</div>

<div class="dash-links-mobile">
  <%= link_to user_my_orders_path(current_user), class: "each-dash-link-mobile no-decoration" do %>
    <%= image_tag "basket.png", class: "dash-links-mobile-image" %>
  <% end %>
  <%= link_to  user_my_products_path(current_user), class: "each-dash-link-mobile no-decoration" do %>
    <%= image_tag "lipstick.png", class: "dash-links-mobile-image" %>
  <% end %>
  <%= link_to user_refer_a_friend_path(current_user), class: "each-dash-link-mobile no-decoration" do %>
    <%= image_tag "dash-refer.png", class: "dash-links-mobile-image" %>
  <% end %>
  <%= link_to user_wishlist_path(current_user), class: "each-dash-link-mobile no-decoration" do %>
    <%= image_tag "dash-wish.png", class: "dash-links-mobile-image" %>
  <% end %>
    <%= link_to user_account_details_path(current_user), class: "each-dash-link-mobile no-decoration" do %>
    <%= image_tag "default-user.png", class: "dash-links-mobile-image" %>
  <% end %>
  <%= link_to user_preference_centre_path(current_user), class: "each-dash-link-mobile no-decoration" do %>
    <%= image_tag "dash-preferences.png", class: "dash-links-mobile-image" %>
  <% end %>
  <%= link_to destroy_user_session_path, method: :delete, class: "each-dash-link-mobile no-decoration" do %>
    <%= image_tag "dash-sign-out.png", class: "dash-links-mobile-image" %>
  <% end %>
</div>
