<div class="dash-links">
  <h2 class="insider-info-title mlb-title text-center dash-mobile-title">My Loop Beauty</h2>
  <h2 class="insider-info-title text-center dash-mobile-name">Hello <%= current_user.first_name %> <%= current_user.last_name %></h2>
  <div class="each-dash-link-title">ORDERS</div>
  <%= link_to user_my_orders_path(current_user), class: "each-dash-link" do %>
    <%= image_tag "basket.png", class: "dash-links-image", alt: "dash basket icon" %>My Orders
  <% end %>
  <%= link_to user_my_products_path(current_user), class: "each-dash-link" do %>
    <%= image_tag "lipstick.png", class: "dash-links-image", alt: "dash lipstick icon" %>My Products
  <% end %>
  <%= link_to user_refer_a_friend_path(current_user), class: "each-dash-link" do %>
    <%= image_tag "dash-refer.png", class: "dash-links-image", alt: "dash refer icon" %>Refer a Friend
  <% end %>
  <%= link_to user_wishlist_path(current_user), class: "each-dash-link" do %>
    <%= image_tag "dash-wish.png", class: "dash-links-image", alt: "dash wishlist icon" %>Wishlist
  <% end %>
  <%= link_to abandoned_baskets_path, class: "each-dash-link" do %>
    <%= image_tag "basket.png", class: "dash-links-image", alt: "dash basket icon" %>Abandoned Bags
  <% end %>
  <div class="each-dash-link-title">ACCOUNT SETTINGS</div>
  <%= link_to user_account_details_path(current_user), class: "each-dash-link" do %>
    <%= image_tag "default-user.png", class: "dash-links-image", alt: "dash user icon" %>Account Details
  <% end %>
  <%= link_to user_preference_centre_path(current_user), class: "each-dash-link" do %>
    <%= image_tag "dash-preferences.png", class: "dash-links-image", alt: "dash preferences icon" %>Preference Centre
  <% end %>
  <%= link_to destroy_user_session_path, method: :delete, class: "each-dash-link" do %>
    <%= image_tag "dash-sign-out.png", class: "dash-links-image", alt: "dash sign out icon" %>Sign Out
  <% end %>
</div>

<div class="dash-links-mobile">
  <%= link_to user_my_orders_path(current_user), class: "each-dash-link-mobile muli no-decoration" do %>
    <span>ORDERS</span>
    <%= image_tag "basket.png", class: "dash-links-mobile-image", alt: "dash basket icon" %>
  <% end %>
  <%= link_to user_my_products_path(current_user), class: "each-dash-link-mobile muli no-decoration" do %>
    <span>PRODUCTS</span>
    <%= image_tag "lipstick.png", class: "dash-links-mobile-image", alt: "dash lipstick icon" %>
  <% end %>
  <%= link_to user_refer_a_friend_path(current_user), class: "each-dash-link-mobile muli no-decoration" do %>
    <span>REFER</span>
    <%= image_tag "dash-refer.png", class: "dash-links-mobile-image", alt: "dash refer icon" %>
  <% end %>
  <%= link_to user_wishlist_path(current_user), class: "each-dash-link-mobile muli no-decoration" do %>
    <span>WISHLIST</span>
    <%= image_tag "dash-wish.png", class: "dash-links-mobile-image", alt: "dash wishlist icon" %>
  <% end %>
  <%= link_to user_account_details_path(current_user), class: "each-dash-link-mobile muli no-decoration" do %>
    <span>ACCOUNT</span>
    <%= image_tag "default-user.png", class: "dash-links-mobile-image", alt: "dash user icon" %>
  <% end %>
  <%= link_to user_preference_centre_path(current_user), class: "each-dash-link-mobile muli no-decoration" do %>
    <span>PREFERENCES</span>
    <%= image_tag "dash-preferences.png", class: "dash-links-mobile-image", alt: "dash preferences icon" %>
  <% end %>
  <%= link_to abandoned_baskets_path, class: "each-dash-link-mobile muli no-decoration" do %>
    <span>ABANDONED BAGS</span>
    <%= image_tag "basket.png", class: "dash-links-mobile-image", alt: "dash basket icon" %>
  <% end %>
  <%= link_to destroy_user_session_path, method: :delete, class: "each-dash-link-mobile muli no-decoration" do %>
    <span>SIGN OUT</span>
    <%= image_tag "dash-sign-out.png", class: "dash-links-mobile-image", alt: "dash sign out icon" %>
  <% end %>
</div>
