<div class="footer-wrapper">
  <div class="footer">
    <div class="d-flex flex-column justify-content-center align-items-center mt-4 w-100">
      <div class="footer-logo-section">
        <div class="footer-logo d-flex justify-content-center mb-5">
          <%= link_to root_path do %>
            <%= image_tag 'the-net.png', alt: "the net logo" %>
          <% end %>
        </div>
        <div class="footer-social-links  footer-links-row mb-5">
          <%= link_to 'https://www.youtube.com/channel/UC3bJHDngsfAcR5IwcEd3q3A', class: "mr-5", target: "_blank", rel: "noopener" do %>
            <p class="ls-xs">YouT.</p>
          <% end %>
          <%= link_to 'https://www.instagram.com/myloopbeauty/', class: "mx-4", target: "_blank", rel: "noopener" do %>
            <p class="ls-xs">Inst.</p>
          <% end %>
          <%= link_to 'https://www.facebook.com/myloopbeauty', class: "ml-5", target: "_blank", rel: "noopener" do %>
            <p class="ls-xs">Faceb.</p>
          <% end %>
        </div>
      </div>
      <div class="d-block d-md-flex mb-5 mb-md-3 footer-links-row">
        <p class="mb-2 ls-xs"><%= link_to 'Shop', products_path, class: 'no-decoration mx-3' %></p>
        <p class="mb-2 ls-xs"><%= link_to 'Community', community_path, class: 'no-decoration mx-3' %></p>
        <p class="mb-2 ls-xs"><%= link_to 'Experts', users_path, class: 'no-decoration mx-3' %></p>
        <p class="mb-2 ls-xs"><%= link_to 'How To', '#', class: 'no-decoration mx-3' %></p>
      </div>
      <div class="d-block d-md-flex mb-5 footer-links-row-bottom">
        <p class="mb-2 ls-xs"><%= link_to 'About Us', about_us_path, class: 'no-decoration mx-3' %></p>
        <p class="mb-2 ls-xs"><%= link_to 'Shipping', shipping_path, class: 'no-decoration mx-3' %></p>
        <p class="mb-2 ls-xs"><%= link_to 'Returns', returns_policy_path, class: 'no-decoration mx-3' %></p>
        <p class="mb-2 ls-xs"><%= link_to "T&C's", terms_and_conditions_path, class: 'no-decoration mx-3' %></p>
        <p class="mb-2 ls-xs"><%= link_to 'Privacy Policy', privacy_policy_path, class: 'no-decoration mx-3' %></p>
        <p class="mb-2 ls-xs"><%= link_to 'Sale Terms', sale_terms_path, class: 'no-decoration mx-3' %></p>
        <p class="mb-2 ls-xs"><%= link_to 'Contact Us', contact_us_path, class: 'no-decoration mx-3' %></p>
      </div>
      <div class="footer-section mt-5">
        <!-- Begin Mailchimp Signup Form -->
        <div id="mc_embed_signup">
          <form action="https://loopbeauty.us19.list-manage.com/subscribe/post?u=2e469bc335ba91eb474ed6736&amp;id=d69bb54588" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
              <div id="mc_embed_signup_scroll">
                <div class="mc-field-group">
                  <div style="display: flex; margin-bottom: 10px;">
                    <label for="mce-EMAIL" style="position: absolute; z-index: -1; color: #FFF;">Subscribe</label>
                    <input type="email" value="" name="EMAIL" class="required email send_email_input" id="mce-EMAIL" placeholder="newsletter">
                    <div class="clear">
                      <input type="submit" value="signup" name="subscribe" id="mc-embedded-subscribe" class="button contact-form-button">
                    </div>
                  </div>
                </div>
                <div style="position: absolute; left: -5000px;" aria-hidden="true">
                  <input type="text" name="b_2e469bc335ba91eb474ed6736_d69bb54588" tabindex="-1" value="">
                </div>
              </div>
              <div id="mce-responses" class="clear">
                <div class="response" id="mce-error-response" style="display:none"></div>
                <div class="response" id="mce-success-response" style="display:none"></div>
              </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          </form>
        </div>
        <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='BIRTHDAY';ftypes[5]='birthday';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
        <!--End mc_embed_signup-->
      </div>
    </div>
    <div class="footer-bottom">
      <p class="mb-0">THE NET All rights reserved™</p>
      <p class="mb-3 mb-md-0">88 Main Street, Unit 22, London, UK, W11 7HS</p>
    </div>
  </div>
</div>
