<div id="carouselExampleSlidesOnly" class="carousel slide carousel-fade" data-ride="carousel" data-pause="false">
  <div class="carousel-inner" id="carousel-data" data-banner_urls="<%= @ordered_dimensions_and_urls.to_json %>" data-breakpoints="<%= @ordered_breakpoints %>">
    <% @home_banners.order(created_at: :ASC).each_with_index do |home_banner, index| %>
      <div class="carousel-item <%= index == 0 ? 'active' : '' %>" style="background-image: url(<%= url_for home_banner.banner %>)">
        <a href="<%= home_banner.link %>" class="no-decoration">
          <div id="banner_<%= home_banner.id %>" class="banner-backgrounds">
            <div class="holding-page-banner-text-container">
              <div class="holding-page-banner-text">
                <h2 class="didot <%= home_banner.text_color == 'White' ? 'home-banner-white' : 'home-banner-black' %>"><%= home_banner.content %></h2>
                <p class="<%= home_banner.text_color == 'White' ? 'home-banner-white' : 'home-banner-black' %>"><%= home_banner.link_text %></p>
              </div>
            </div>
          </div>
        </a>
      </div>
    <% end %>
  </div>
</div>
<h2 id="info" class="" %></h2>
<script>
  function changeBannerUrls() {
    banners_array = JSON.parse(document.getElementById('carousel-data').dataset.banner_urls)
    banners = document.querySelectorAll('.banner-backgrounds')
    breakpoints = JSON.parse(document.getElementById('carousel-data').dataset.breakpoints)
    breaks = 0
    breakpoints.forEach((breakpoint) => {

      index = 0
      if (screen.width == breakpoint[0]) {
        if (screen.height == breakpoint[1]) {
          banners.forEach((banner) => {
            banner_id_and_url = banners_array[index]
            id = `banner_${banner_id_and_url[0]}`
            div = document.getElementById(id)
            div.style.height = `${window.innerHeight - 100}px`
            div.style.backgroundImage = `url(${banner_id_and_url[1][breaks][2].split("/").slice(3).join("/")})`
            index += 1

          })
          return;
        }
      }
      breaks += 1
    })
  }
  function do_i_change() {
    if (window.innerWidth > 480) {
      changeBannerUrls()
    }
  }
  changeBannerUrls()
  window.onresize = do_i_change;
</script>







