<div class="carousel-item <%= index == 0 ? 'active' : '' %> ">
  <a href="<%= home_banner.link %>" class="no-decoration">
    <div
      style="background-image: url('<%= home_banner.safe_url(:banner) %>')">
      <div class="holding-page-banner-text-container">
        <div class="holding-page-banner-text">
          <h2 class="didot <%= home_banner.text_color == 'White' ? 'home-banner-white' : 'home-banner-black' %>"><%= home_banner.content %></h2>
          <p class="<%= home_banner.text_color == 'White' ? 'home-banner-white' : 'home-banner-black' %>"><%= home_banner.link_text %></p>
        </div>
      </div>
    </div>
  </a>
</div>

<script>
  function changeBannerUrls() {
    dimensions = "<%= home_banner.viewport_array_ordered_by_width %>"
    debugger
  }
  function do_i_change() {
    if (window.innerWidth > 480) {
      changeBannerUrls()
    }
  }
  changeBannerUrls()
  window.onresize = do_i_change;
</script>





































