<div class="home-featured-container load-show" data-prev="<%= asset_path 'pag-left.png' %>"  data-next="<%= asset_path 'pag-right.png' %>">
  <div class="home-featured-tabs">
    <div class="home-tab muli bold load-show home-tab-active" data-section="new">
      NEW IN
    </div>
    <div class="home-tab muli bold load-show" data-section="trending">
      TRENDING
    </div>
    <div class="home-tab muli bold load-show" data-section="best">
      BEST SELLERS
    </div>
  </div>
  <div class="home-featured-products-container">
    <div class="home-featured-products" data-section="new" aria-hidden="false">
      <div class="homepage-slick">
        <% @new_in.each do |product| %>
          <div class="homepage-slick-card">
            <%= render 'shared/homepage_tab_products', product: product %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="home-featured-products" data-section="trending" aria-hidden="true" style="display: none;">
      <div class="homepage-slick">
        <% @trending.each do |product| %>
          <div class="homepage-slick-card">
            <%= render 'shared/homepage_tab_products', product: product %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="home-featured-products" data-section="best" aria-hidden="true" style="display: none;">
      <div class="homepage-slick">
        <% @best_sellers.each do |product| %>
          <div class="homepage-slick-card">
            <%= render 'shared/homepage_tab_products', product: product %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
