<div class="dash-links">
  <%= image_tag @user == current_user ? url_for(@user.avatar_photo) : 'loop-oo.png', class: "dash-links-avatar", alt: "influencer avatar" %>
  <div class="each-dash-link-title">Hello <%= @user == current_user ? @user.first_name : Admin %></div>
  <%= link_to user_dashboard_path(@user), class: "each-dash-link" do %>
    <%= image_tag "account-overview.png", class: "dash-links-image", alt: "dash account icon" %>Account Overview
  <% end %>
  <%= link_to user_my_orders_path(@user), class: "each-dash-link" do %>
    <%= image_tag "basket.png", class: "dash-links-image", alt: "dash basket icon" %>My Orders
  <% end %>
  <%= link_to  user_share_path(@user), class: "each-dash-link" do %>
    <%= image_tag "share.png", class: "dash-links-image", alt: "dash share icon" %>Share
  <% end %>
  <%= link_to user_analytics_path(@user), class: "each-dash-link" do %>
    <%= image_tag "analytics.png", class: "dash-links-image", alt: "dash analytics icon" %>Analytics
  <% end %>
  <%= link_to user_showroom_path(@user), class: "each-dash-link" do %>
    <%= image_tag "lipstick.png", class: "dash-links-image", alt: "dash lipstick icon" %>Showroom
  <% end %>
  <%= link_to user_account_details_path(@user), class: "each-dash-link" do %>
    <%= image_tag "default-user.png", class: "dash-links-image", alt: "dash user icon" %>Account Details
  <% end %>
  <%= link_to user_preference_centre_path(current_user), class: "each-dash-link" do %>
    <%= image_tag "dash-preferences.png", class: "dash-links-image", alt: "dash preferences icon" %>Preference Centre
  <% end %>
  <%= link_to destroy_user_session_path, method: :delete, class: "each-dash-link" do %>
    <%= image_tag "dash-sign-out.png", class: "dash-links-image", alt: "dash sign out icon" %>Sign Out
  <% end %>
</div>

<!-- NEED TO ADD MY ORDERS FOR INFLUENCERS ON MOBILE -->
<div class="dash-links-mobile">
  <%= link_to user_my_orders_path(@user), class: "each-dash-link-mobile muli no-decoration" do %>
    <span>MY ORDERS</span>
    <%= image_tag "basket.png", class: "dash-links-mobile-image", alt: "dash basket icon" %>
  <% end %>
  <%= link_to  user_share_path(@user), class: "each-dash-link-mobile muli no-decoration" do %>
    <span>SHARE</span>
    <%= image_tag "share.png", class: "dash-links-mobile-image", alt: "dash share icon" %>
  <% end %>
  <%= link_to user_analytics_path(@user), class: "each-dash-link-mobile muli no-decoration" do %>
    <span>ANALYTICS</span>
    <%= image_tag "analytics.png", class: "dash-links-mobile-image", alt: "dash analytics icon" %>
  <% end %>
  <%= link_to user_showroom_path(@user), class: "each-dash-link-mobile muli no-decoration" do %>
    <span>SHOWROOM</span>
    <%= image_tag "lipstick.png", class: "dash-links-mobile-image", alt: "dash lipstick icon" %>
  <% end %>
    <%= link_to user_account_details_path(@user), class: "each-dash-link-mobile muli no-decoration" do %>
      <span>ACCOUNT</span>
    <%= image_tag "default-user.png", class: "dash-links-mobile-image", alt: "dash user icon" %>
  <% end %>
  <%= link_to user_preference_centre_path(current_user), class: "each-dash-link-mobile muli no-decoration" do %>
    <span>PREFERENCES</span>
    <%= image_tag "dash-preferences.png", class: "dash-links-mobile-image", alt: "dash preferences icon" %>
  <% end %>
  <%= link_to destroy_user_session_path, method: :delete, class: "each-dash-link-mobile muli no-decoration" do %>
    <span>SIGN OUT</span>
    <%= image_tag "dash-sign-out.png", class: "dash-links-mobile-image", alt: "dash sign out icon" %>
  <% end %>
</div>
