<div class="dash-links">
  <%= image_tag url_for(current_user.avatar_photo) %>
  <div class="each-dash-link-title">Hello <%= current_user.first_name %></div>
  <%= link_to user_dashboard_path(current_user), class: "each-dash-link" do %>
    <%= image_tag "basket.png", class: "dash-links-image" %>Account Overview
  <% end %>
  <%= link_to  user_share_path(current_user), class: "each-dash-link" do %>
    <%= image_tag "lipstick.png", class: "dash-links-image" %>Share
  <% end %>
  <%= link_to user_analytics_path(current_user), class: "each-dash-link" do %>
    <%= image_tag "dash-refer.png", class: "dash-links-image" %>Analytics
  <% end %>
  <%= link_to user_showroom_path(current_user), class: "each-dash-link" do %>
    <%= image_tag "dash-wish.png", class: "dash-links-image" %>Showroom
  <% end %>
  <%= link_to user_account_details_path(current_user), class: "each-dash-link" do %>
    <%= image_tag "default-user.png", class: "dash-links-image" %>Account Details
  <% end %>
  <%= link_to destroy_user_session_path, method: :delete, class: "each-dash-link" do %>
    <%= image_tag "dash-sign-out.png", class: "dash-links-image" %>Sign Out
  <% end %>
</div>
