<div class="row row-padding" style="width: 100%; margin: 0;">
  <% if products.count == 0 %>
    <!-- <p class="medium-margin text-center boldest grey s-medium-text kaftan" style="width: 100%;">You haven't ordered any products yet.</p> -->
    <div class="start-shopping-holder">
      <%= link_to "SHOP NOW", products_path, class: "primary-button"  %>
    </div>
  <% end %>
  <% products.each do |product| %>
    <div class="col-6 col-sm-6 col-lg-4" style="margin-bottom: 15px;">
      <%= link_to product_path(product), class: 'no-decoration' do %>
        <div class="card-image-results">
          <div class="card mb-3">
            <%= link_to product_path(product) do %>
              <div class="card_image">
                <%= link_to product_path(product) do %>
                  <% if product.lead_product_image.attached? %>
                    <%= image_tag url_for(product.lead_product_image.variant(resize: '450x450')), alt: "product shade photo" %>
                  <% elsif product.shades.first&.card_photo %>
                    <%= image_tag url_for(product.shades.first.card_photo.variant(resize: '450x450')), alt: "product shade photo" %>
                  <% else %>
                    <div style="background-color: #EFEFEF; min-height: 131.5px; max-height: 204px; height: 13rem; width: 100%"></div>
                  <% end %>
                <% end %>
                <% if user_signed_in? && current_user.wishlist %>
                  <div id="wishlist-<%= product.id %>">
                    <% if Wishlist.where(user: current_user).first.products.include?(product) %>
                      <%= link_to wishlist_product_path(WishlistProduct.where(wishlist: current_user.wishlist, product: product).first), method: :delete, remote: :true, class: 'no-decoration' do %>
                        <i class="<%= current_user.wishlist.products.include?(product) ? 'fas fa-heart' : 'far fa-heart' %> wishlist-heart-icon"></i>
                      <% end %>
                    <% else %>
                      <%= link_to product_wishlist_products_path(product), method: :post, remote: :true, class: 'no-decoration' do %>
                        <i class="<%= current_user.wishlist.products.include?(product) ? 'fas fa-heart' : 'far fa-heart' %> wishlist-heart-icon"></i>
                      <% end %>
                    <% end %>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
          <div class="card-info">
            <p class="mb-2 truncate-text lighter ls-xs"><%= product.brand.name %>, <%= product.title %></p>
            <p class="neue-machina text-secondary ls-xs lighter"><%= humanized_money_with_symbol(product.price) %></p>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
  <div class="col-12 d-flex justify-content-center">
    <p class="small-text ls-xs lighter"><%= page_entries_info products %></p>
  </div>
  <div class="paginator-container">
    <%= paginate products %>
  </div>
</div>
