<% @basket.basket_products.each do |item| %>
  <div id="item-<%= item.id %>" class="item-<%= item.id %> each-nav-basket-item">
    <%= link_to product_path(item.product), class: 'no-decoration' do %>
      <div class="basket-items-card">
        <div class="basket-items-card-image">
          <%= image_tag url_for(item.shade.photos.first) %>
        </div>
        <div class="basket-items-card-info">
          <div class="basket-items-card-info-top">
            <p class="no-margin boldest small-text"><%= item.product.title %></p>
            <p class="no-margin small-text"><%= item.shade.name %></p>
          </div>
          <div class="basket-items-card-info-bottom">
            <p class="no-margin small-text">Quantity: <%= item.quantity %></p>
            <p class="no-margin small-text"><%= humanized_money_with_symbol(item.product.price) %></p>
          </div>
        </div>
      </div>
      <hr>
    <% end %>
    <%= link_to basket_product_path(item), method: :delete, remote: true, class: "nav-basket-trash no-decoration" do %>
      <i class="far fa-trash-alt"></i>
    <% end %>
  </div>
<% end %>
