<!-- <div class="offers-banner">
  <p class="offers-banner-text"><%#= OfferBanner.any? ? OfferBanner.last.content : "" %></p>
</div> -->
<% if current_user&.admin %>
  <div class="admin-button-container">
    <div style="position: fixed;right: 5px;">
      <%= link_to 'PORTAL', admin_portal_path, class: 'admin-button' %>
      <% if Lookbook.where(status: 'pending').any? || Tutorial.where(status: 'pending').any? %>
        <div class="admin-notification kaftan">
        <p><%= Lookbook.where(status: 'pending').size + Tutorial.where(status: 'pending').size %></p>
      </div>
      <% end %>
    </div>
  </div>
<% end %>
<div class="navbar navbar-expand-lg navbar-light navbar-lewagon">
  <div class="navbar-menu-container">
    <div class="d-flex align-items-center navbar-menu">
      <%= image_tag 'hamburger.png', class: "mr-0 mr-sm-3", alt: "hamburger icon" %>
      <span class="font-weight-bold d-none d-sm-inline">MENU</span>
    </div>
  </div>
  <div class="navbar-logo">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag 'the-net.png', alt: "the net logo" %>
    <% end %>
  </div>

  <ul class="navbar-nav" style="flex-direction: row">
    <li class="nav-item small-hidden" style="position: relative;">
      <div class="nav-link">
        <%= image_tag 'navbar-search.png', id: 'navbar-search-close', alt: "search icon" %>
        <div id="product_search" class="navbar-search-container">
          <%= form_tag products_path, method: :get do |f| %>
            <div style="display: flex; justify-content: center;">
              <div>
                <%= text_field_tag :query, params[:query], class: 'navbar-search-input neue-machina', placeholder: 'Search for a product..', autocomplete: 'off' %>
              </div>
              <%#= button_tag(type: :submit, class: "button search-form-button") do %>
                <%#= image_tag 'navbar-search-white.png' %>
              <%# end %>
            </div>
            <div id="suggestions"></div>
          <% end %>
        </div>
      </div>
    </li>
    <li class="nav-item mobile-hidden">
      <% if user_signed_in? %>
        <div class="nav-link mx-4">
          <%= image_tag 'default-user.png', class: "dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false, alt: "user icon" %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown" style="padding: 0; margin-top: 0;">
            <ul class="web-dropdown neue-machina">
              <li><%= link_to 'My Profile', user_dashboard_path(current_user), class: 'ls-xs' %></li>
              <li><%= link_to 'Log Out', destroy_user_session_path, method: :delete, class: 'ls-xs' %></li>
            </ul>
          </div>
        </div>
      <% else %>
        <%= link_to new_user_session_path, class: "nav-link mx-4" do %>
          <%= image_tag 'default-user.png', alt: "user icon" %>
        <% end %>
      <% end %>
    </li>
    <li class="nav-item mobile-hidden">
      <div class="nav-link basket-icon-container">
        <%= image_tag 'basket.png', alt: "basket icon" %>
        <p class="basket-item-count basket-web"><%= @basket.total_number_of_products %></p>
      </div>
    </li>
  </ul>
  <div class="mobile-nav-links-container">
    <div class="mobile-left-links">
      <% if user_signed_in? %>
          <%= link_to user_dashboard_path(current_user) do %>
            <%= image_tag 'default-user.png', class: "mr-3", alt: "user icon" %>
          <% end %>
      <% else %>
        <%= link_to new_user_session_path do %>
          <%= image_tag 'default-user.png', class: "mr-3", alt: "user icon" %>
        <% end %>
      <% end %>
    </div>
    <div class="mobile-left-links" style="margin-left: 5px;">
      <%= link_to bag_path, class: "basket-icon-container basket-icon-mobile" do %>
        <%= image_tag 'basket.png', alt: "basket icon" %>
        <p class="basket-item-count basket-mobile"><%= @basket.total_number_of_products %></p>
      <% end %>
    </div>
  </div>
</div>
<div class="web-menu web-menu-transition d-none">
  <div class="web-menu-content">
    <%= image_tag 'popup_close.png', class: 'nav-close', id: 'close-navbar-menu' %>
    <div class="web-menu-links">
      <%= link_to "new in", products_path %>
      <%= link_to "shop", products_path %>
      <%= link_to "lookbook", '#' %>
      <%= link_to "experts", users_path %>
      <%= link_to "community", community_path %>
    </div>
    <%= image_tag 'the_net_watermark.png', class: 'the-net-watermark-menu' %>
    <div class="web-menu-image-container d-md-none">
      <div class="oval-button oval-nav">
        <div class="button-text">
          <p class="mb-0 bt-5 ls-sm">Hottest Beauty</p>
        </div>
        <%= image_tag 'oval-button.svg' %>
      </div>
      <%= image_tag 'asterisk.png', class: 'asterisk asterisk-nav' %>
      <%= image_tag 'mobile-nav-image.png', class: 'mobile-nav-image' %>
    </div>
  </div>
  <div class="web-menu-underlay"></div>
</div>

<div class="navbar-hover-container">
  <div class="navbar-basket-title">
    <div class="item-added">
      <i class="far fa-check-circle"></i>
      <p class="ls-xs">item added</p>
    </div>
    <div class="d-flex justify-content-between">
      <h6 class="neue-machina s-medium-text ls-xs mb-0">my bag, <%= @basket.total_number_of_products %> <%= 'item'.pluralize(@basket.total_number_of_products) %></h6>
    </div>
  </div>
  <hr class="mt-2">
  <div class="navbar-basket-items-container">
    <% if @basket.products.count == 0 %>
      <p class="medium-margin text-center ls-xs">your basket is empty</p>
    <% end %>
    <%= render 'shared/navbar_basket_product_card', item: @item %>
  </div>
  <div class="subtotal-container">
    <p class="s-medium-text ls-xs">subtotal:</p>
    <p class="s-medium-text basket-total-price ls-xs"><%= humanized_money_with_symbol @basket.total_price %></p>
  </div>
  <%= link_to 'VIEW BAG & CHECKOUT', bag_path, class: "primary-button mb-0 navbar-basket-button" %>
</div>

<script>

  // WEB NAV

  navClose = document.getElementById('close-navbar-menu');
  navUnderlay = document.querySelector('.web-menu-underlay');
  navMenuPopup = document.querySelector('.web-menu');
  navMenuContent = document.querySelector('.web-menu-content');
  navMenu = document.querySelector('.navbar-menu');

  if (window.innerWidth < 769) {
    navMenuPopup.style.height = `${window.innerHeight}px`
    navMenuContent.style.height = `${window.innerHeight}px`
  }

  navClose.addEventListener('click', (event) => {
    navMenuPopup.classList.add('web-menu-transition');
    setTimeout(function() {
      navMenuPopup.classList.add('d-none')
    }, 200)
  })

  navUnderlay.addEventListener('click', (event) => {
    navMenuPopup.classList.add('web-menu-transition');
    setTimeout(function() {
      navMenuPopup.classList.add('d-none')
    }, 200)
  })

  navMenu.addEventListener('click', (event) => {
    navMenuPopup.classList.remove('d-none');
    setTimeout(function() {
      navMenuPopup.classList.remove('web-menu-transition')
    }, 200)
  })


  // navbarBrands = document.getElementById('navbar-brands');
  // menuBrands = document.querySelector('.navbar-submenu-brands');
  navbarInfluencers = document.getElementById('navbar-influencers');
  menuInfluencers = document.querySelector('.navbar-submenu-influencers');
  subnavUnderlay = document.querySelector('.navbar-submenu-underlay');

  // navbarBrands.addEventListener('mouseover', function() {
  //   menuBrands.style.display = "flex";
  //   subnavUnderlay.style.display = "block";
  // });

  // navbarBrands.addEventListener('mouseleave', function() {
  //   menuBrands.style.display = "none";
  //   subnavUnderlay.style.display = "none";
  // });

  // menuBrands.addEventListener('mouseover', function() {
  //   menuBrands.style.display = "flex";
  //   subnavUnderlay.style.display = "block";
  // });

  // menuBrands.addEventListener('mouseleave', function() {
  //   menuBrands.style.display = "none";
  //   subnavUnderlay.style.display = "none";
  // });

  // navbarInfluencers.addEventListener('mouseover', function() {
  //   menuInfluencers.style.display = "flex";
  //   subnavUnderlay.style.display = "block";
  // });

  // navbarInfluencers.addEventListener('mouseleave', function() {
  //   menuInfluencers.style.display = "none";
  //   subnavUnderlay.style.display = "none";
  // });

  // menuInfluencers.addEventListener('mouseover', function() {
  //   menuInfluencers.style.display = "flex";
  //   subnavUnderlay.style.display = "block";
  // });

  // menuInfluencers.addEventListener('mouseleave', function() {
  //   menuInfluencers.style.display = "none";
  //   subnavUnderlay.style.display = "none";
  // });
  // WEB NAV

  // NAV BASKET DROPDOWN

  navBasketDrop = document.querySelector('.navbar-hover-container');
  basketIcon = document.querySelector('.basket-icon-container');
  // navBasketClose = document.querySelector('.nav-basket-close');
  itemAdded = document.querySelector('.item-added');

  // basketIcon.addEventListener('mouseover', function() {
  //   // navBasketDrop.classList.add('navbar-hover-container-top')
  //   if (window.scrollY > 40) {
  //     navBasketDrop.style.top = '96px'
  //   } else {
  //     navBasketDrop.style.top = `calc(100px - ${window.scrollY}px)`
  //   }
  // })
  // basketIcon.addEventListener('mouseleave', function() {
  //   // navBasketDrop.classList.remove('navbar-hover-container-top')
  //   navBasketDrop.style.top = '-620px'
  // })
  // navBasketDrop.addEventListener('mouseover', function() {
  //   // navBasketDrop.classList.add('navbar-hover-container-top')
  //   if (window.scrollY > 40) {
  //     navBasketDrop.style.top = '96px'
  //   } else {
  //     navBasketDrop.style.top = `calc(100px - ${window.scrollY}px)`
  //   }
  // })
  // navBasketDrop.addEventListener('mouseleave', function() {
  //   // navBasketDrop.classList.remove('navbar-hover-container-top')
  //   navBasketDrop.style.top = '-620px'
  // })
  // navBasketClose.addEventListener('click', function() {
  //   // navBasketDrop.classList.remove('navbar-hover-container-top')
  //   navBasketDrop.style.top = '-620px'
  // })

  basketIcon.addEventListener('mouseover', function() {
    if (window.scrollY > 40) {
      navBasketDrop.style.top = '96px'
    } else {
      navBasketDrop.style.top = `calc(100px - ${window.scrollY}px)`
    }
    setTimeout(function() {
      navBasketDrop.addEventListener('mouseover', function() {
        if (window.scrollY > 40) {
          navBasketDrop.style.top = '96px'
        } else {
          navBasketDrop.style.top = `calc(100px - ${window.scrollY}px)`
        }
      })
      navBasketDrop.addEventListener('mouseleave', function() {
        navBasketDrop.style.top = '-620px'
      })
      // navBasketClose.addEventListener('click', function() {
      //   navBasketDrop.style.top = '-620px'
      // })
    }, 1000)
  })

  basketIcon.addEventListener('mouseleave', function() {
    navBasketDrop.style.top = '-620px'
  })

  // NAV BASKET DROPDOWN

  // NAV SEARCH

  navSearchInput = document.querySelector('.navbar-search-input');
  suggestions = document.getElementById('suggestions');
  // navSearchClose = document.getElementById('navbar-search-close');

  navSearchInput.addEventListener('focus', () => {
    setTimeout(function() {
      navSearchInput.classList.toggle('nav-no-bg');
    }, 210)
  })

  navSearchInput.addEventListener('blur', () => {
    setTimeout(function() {
      suggestions.innerHTML = ''
      navSearchInput.classList.toggle('nav-no-bg');
    }, 210)
  })

  // NAV SEARCH

</script>
