<div class="card-image-results">
  <div class="card">
    <%= link_to product_path(product) do %>
      <div class="button-overlay">
        <button class="primary-button" type="button">BUY NOW</button>
      </div>
      <% if product.send("#{'us_' if @locale == 'US'}out_of_stock?") %>
        <div class="out-of-stock-overlay">
          <h4 class="boldest muli text-center out-of-stock-overlay-message">OUT OF STOCK</h4>
        </div>
      <% end %>
      <div class="card_image">
        <%= link_to product_path(product) do %>
          <% if product.lead_product_image.attached? %>
            <%= image_tag url_for(product.lead_product_image.variant(resize: '450x450')), alt: "product shade photo" %>
          <% elsif product.shades.first&.card_photo %>
            <%= image_tag url_for(product.shades.first.card_photo.variant(resize: '450x450')), alt: "product shade photo" %>
          <% else %>
            <div style="background-color: #EFEFEF; min-height: 131.5px; max-height: 204px; height: 13rem; width: 100%"></div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="card-info">
    <p class="muli boldest" style="margin-bottom: 0px;"><%= product.brand.name %></p>
    <div class="card_header">
      <p class="muli boldest"><%= product.title %></p>
    </div>
    <div class="card_price-heart muli boldest">
      <% if @locale == 'US' %>
        <%= product.us_price_cents > 0 ? humanized_money_with_symbol(product.us_price) : 'NOT AVAILABLE' %>
      <% else %>
        <%= product.price_cents > 0 ? humanized_money_with_symbol(product.price) : 'NOT AVAILABLE' %>
      <% end %>
    </div>
    <div class="card_ratings">
      <div class="rating-stars">
        <%= render 'shared/ratings', rating: product.average_rating.to_i %>
        <p class="all-reviews muli boldest"><%= product.average_rating %></p>
      </div>
      <p class="all-reviews muli boldest">(<%= product.total_reviews %> <%= 'review'.pluralize(product.total_reviews) %>)</p>
    </div>
    <% if user_signed_in? && current_user.wishlist %>
      <div id="wishlist-<%= product.id %>">
        <% if Wishlist.where(user: current_user).first.products.include?(product) %>
          <%= link_to wishlist_product_path(WishlistProduct.where(wishlist: current_user.wishlist, product: product).first), method: :delete, remote: :true, class: 'no-decoration' do %>
            <i class="<%= current_user.wishlist.products.include?(product) ? 'fas fa-heart' : 'far fa-heart' %> wishlist-heart-icon"></i>
          <% end %>
        <% else %>
          <%= link_to product_wishlist_products_path(product), method: :post, remote: :true, class: 'no-decoration' do %>
            <i class="<%= current_user.wishlist.products.include?(product) ? 'fas fa-heart' : 'far fa-heart' %> wishlist-heart-icon"></i>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
<% if policy(ShowroomProduct).destroy? && (params[:controller] == 'users' && params[:action] == 'make_up' || ((params[:controller] == 'showroom_products' && params[:action] == 'destroy') || (params[:controller] == 'showroom_products' && params[:action] == 'create')) ) %>
  <%= link_to 'Remove', user_showroom_product_path(@user, ShowroomProduct.where(showroom: @user.showroom, product: product).first.id), method: :delete, class: "small-text underline grey-font boldest showroom-delete-link" %>
  <!-- REMOVED SHOWROOM DELETE REMOTE TRUE -->
<% end %>
