<div id="wishlist-<%= product.id %>" class="secondary-button w-100 mt-2 mb-4 px-2">
  <% if Wishlist.where(user: current_user).first.products.include?(product) %>
    <%= link_to wishlist_product_path(WishlistProduct.where(wishlist: current_user.wishlist, product: product).first, return_to_my_products: true), method: :delete, remote: :true, class: 'no-decoration d-flex align-items-center justify-content-between w-100' do %>
      <div style="width: 14px;"></div>
      <span><%= current_user.wishlist.products.include?(product) ? 'REMOVE FROM WISHLIST' : 'ADD TO WISHLIST' %></span>
      <i class="<%= current_user.wishlist.products.include?(product) ? 'fas fa-heart' : 'far fa-heart' %>"></i>
    <% end %>
  <% else %>
    <%= link_to product_wishlist_products_path(product, return_to_my_products: true), method: :post, remote: :true, class: 'no-decoration d-flex align-items-center justify-content-between w-100' do %>
      <div style="width: 14px;"></div>
      <span><%= current_user.wishlist.products.include?(product) ? 'REMOVE FROM WISHLIST' : 'ADD TO WISHLIST' %></span>
      <i class="<%= current_user.wishlist.products.include?(product) ? 'fas fa-heart' : 'far fa-heart' %>"></i>
    <% end %>
  <% end %>
</div>
