<% case rating %>
<% when 1 %>
  <div class="rating-container">
    <%= image_tag 'checked-star.png', class: 'ratings-star', alt: "Rating stars" %><%= image_tag 'empty-star.png', class: 'ratings-star', alt: "Rating stars" %><%= image_tag 'empty-star.png', class: 'ratings-star', alt: "Rating stars" %><%= image_tag 'empty-star.png', class: 'ratings-star', alt: "Rating stars" %><%= image_tag 'empty-star.png', class: 'ratings-star', alt: "Rating stars" %>
  </div>
<% when 2 %>
  <div class="rating-container">
    <%= image_tag 'checked-star.png', class: 'ratings-star', alt: "Rating stars" %><%= image_tag 'checked-star.png', class: 'ratings-star', alt: "Rating stars" %><%= image_tag 'empty-star.png', class: 'ratings-star', alt: "Rating stars" %><%= image_tag 'empty-star.png', class: 'ratings-star', alt: "Rating stars" %><%= image_tag 'empty-star.png', class: 'ratings-star', alt: "Rating stars" %>
  </div>
<% when 3 %>
  <div class="rating-container">
    <%= image_tag 'checked-star.png', class: 'ratings-star', alt: "Rating stars" %><%= image_tag 'checked-star.png', class: 'ratings-star', alt: "Rating stars" %><%= image_tag 'checked-star.png', class: 'ratings-star', alt: "Rating stars" %><%= image_tag 'empty-star.png', class: 'ratings-star', alt: "Rating stars" %><%= image_tag 'empty-star.png', class: 'ratings-star', alt: "Rating stars" %>
  </div>
<% when 4 %>
  <div class="rating-container">
    <%= image_tag 'checked-star.png', class: 'ratings-star', alt: "Rating stars" %><%= image_tag 'checked-star.png', class: 'ratings-star', alt: "Rating stars" %><%= image_tag 'checked-star.png', class: 'ratings-star', alt: "Rating stars" %><%= image_tag 'checked-star.png', class: 'ratings-star', alt: "Rating stars" %><%= image_tag 'empty-star.png', class: 'ratings-star', alt: "Rating stars" %>
  </div>
<% when 5 %>
  <div class="rating-container">
    <%= image_tag 'checked-star.png', class: 'ratings-star', alt: "Rating stars" %><%= image_tag 'checked-star.png', class: 'ratings-star', alt: "Rating stars" %><%= image_tag 'checked-star.png', class: 'ratings-star', alt: "Rating stars" %><%= image_tag 'checked-star.png', class: 'ratings-star', alt: "Rating stars" %><%= image_tag 'checked-star.png', class: 'ratings-star', alt: "Rating stars" %>
  </div>
<% end %>
