<div class="col-12 col-md-6 col-lg-3 lv-cols">
  <%= link_to tutorial_path(tutorial), class: "video-card-link card-link" do %>
    <div class="homepage-video-card">
      <div class="video-holder" style="background-image: url(<%= url_for(tutorial.cover_photo) %>)">
        <%= image_tag 'play-button.png', class: "play-button", width: 80 %>
      </div>
      <div class="homepage-video-card-text">
        <p class="video-card-text-title small-text tiny-margin-bottom">by <%= tutorial.user.instagram %></p>
        <p class="video-card-text-content no-margin didot"><%= tutorial.title %></p>
      </div>
    </div>
  <% end %>
</div>
