<% if item.class == Lookbook %>
  <div class="col-12 col-sm-6 col-lg-4" style="margin-bottom: 10px;">
    <p class="no-margin boldest"><%= item.class %> submitted by <%= item.user.first_name %> <%= item.user.last_name %></p>
    <p class="no-margin small-text"><%= item.updated_at.strftime('%A, %d %b %Y %l:%M %p') %></p>
    <%= link_to lookbook_path(item, user_id: item.user.id), class: "lookbook-small-card-link card-link" do %>
      <div class="lookbook-small-card uploads-lookbook-card">
        <div class="uploads-card-image">
          <%= image_tag url_for(item.photo), alt: "influencer lookbook photo" %>
        </div>
        <div class="uploads-lookbook-text">
          <p class="truncate-text muli no-margin s-medium-text boldest"><%= item.title %></p>
          <p class="truncate-text didot no-margin">An extraterrestrial glow. I recommend this to everyone. Lorem ipsum di amet.</p>
        </div>
      </div>
    <% end %>
    <p class="no-margin small-text"><%= item.affiliate_link %></p>
    <% if current_user&.admin %>
      <div class="d-flex justify-content-around">
        <%= link_to 'APPROVE', approve_admin_lookbook_path(item), method: :patch, class: 'secondary-button products-admin-buttons' %>
        <%= link_to 'REJECT', reject_admin_lookbook_path(item), method: :patch, class: 'secondary-button products-admin-buttons' %>
      </div>
    <% end %>
  </div>
<% else %>
  <div class="col-12 col-sm-6 col-lg-4" style="margin-bottom: 10px;">
    <p class="no-margin boldest"><%= item.class %> submitted by <%= item.user.first_name %> <%= item.user.last_name %></p>
    <p class="no-margin small-text"><%= item.updated_at.strftime('%A, %d %b %Y %l:%M %p') %></p>
    <%= link_to tutorial_path(item), class: "video-card-link card-link" do %>
      <div class="homepage-video-card">
        <div class="video-holder" style="background-image: url(<%= url_for(item.cover_photo) %>)">
          <%= image_tag 'play-button.png', class: "play-button", width: 80, alt: "play button" %>
        </div>
        <div class="homepage-video-card-text">
          <p class="video-card-text-title small-text tiny-margin-bottom">by <%= item.user.instagram %></p>
          <p class="video-card-text-content no-margin didot"><%= item.title %></p>
        </div>
      </div>
    <% end %>
    <p class="no-margin small-text"><%= item.affiliate_link %></p>
    <% if current_user&.admin %>
      <div class="d-flex justify-content-around">
        <%= link_to 'APPROVE', approve_admin_tutorial_path(item), method: :patch, class: 'secondary-button products-admin-buttons' %>
        <%= link_to 'REJECT', reject_admin_tutorial_path(item), method: :patch, class: 'secondary-button products-admin-buttons' %>
      </div>
    <% end %>
  </div>
<% end %>

