<% if item.class == Lookbook %>
  <div class="col-12 col-sm-6 col-lg-4">
    <div class="upload-card mb-5">
      <p class="no-margin ls-xs"><%= item.class %></p>
      <p class="v-small-text ls-xs lighter mb-2"><%= item.updated_at.strftime('%A, %d %b %Y %l:%M %p') %></p>
      <div class="card upload-cards mb-3">
        <%= link_to lookbook_path(item) do %>
          <div class="card_image position-relative">
            <%= image_tag url_for(item.photo.variant(resize: '300x300')), alt: "product shade photo" %>
            <% if current_user&.admin %>
              <div class="products-admin-options">
                <%= link_to 'approve', approve_admin_lookbook_path(item), method: :patch, class: 'primary-button bg-approve admin-options-button mt-0 mb-2' %>
                <%= link_to 'reject', reject_admin_lookbook_path(item), method: :patch, class: 'primary-button bg-delete admin-options-button mt-0 mb-0' %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="card-info">
        <p class="mb-2 truncate-text lighter ls-xs"><%= item.title %></p>
        <p class="neue-machina text-secondary lighter small-text ls-xs"><%= item.description.truncate(60) %></p>
      </div>
    </div>
    <% if item.affiliate_link %>
      <div class="d-flex flex-column justify-content-center align-items-center mb-5">
        <input type="text" value="<%= item.affiliate_link %>" id="<%= item.id %>" class="aff-link contact-form-input mb-1 text-center">
         <!-- The button used to copy the text -->
        <button class="dotted-underline-button small-text" onclick="myFunction(<%= item.id %>)">Copy Link</button>
      </div>
    <% end %>
  </div>
<% else %>
  <div class="col-12 col-sm-6 col-lg-4">
    <div class="upload-card mb-5">
      <p class="no-margin ls-xs"><%= item.class %></p>
      <p class="v-small-text ls-xs lighter mb-2"><%= item.updated_at.strftime('%A, %d %b %Y %l:%M %p') %></p>
      <div class="card upload-cards mb-3">
        <%= link_to tutorial_path(item) do %>
          <div class="button-overlay d-none d-md-flex">
            <div class="oval-button mx-3">
              <div class="button-text">
                <p class="mb-0 bt-5 ls-sm">play video</p>
              </div>
              <%= image_tag 'oval-button.svg' %>
            </div>
          </div>
          <div class="card_image">
            <%= image_tag url_for(item.cover_photo.variant(resize: '300x300')), alt: "product shade photo" %>
            <% if current_user&.admin %>
              <div class="products-admin-options">
                <%= link_to 'approve', approve_admin_lookbook_path(item), method: :patch, class: 'primary-button bg-approve admin-options-button mt-0 mb-2' %>
                <%= link_to 'reject', reject_admin_lookbook_path(item), method: :patch, class: 'primary-button bg-delete admin-options-button mt-0 mb-0' %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="card-info">
        <p class="mb-2 truncate-text lighter ls-xs"><%= item.title %></p>
        <p class="neue-machina text-secondary lighter small-text ls-xs"><%= item.user.instagram %></p>
      </div>
      <% if item.affiliate_link %>
        <div class="d-flex flex-column justify-content-center align-items-center">
          <input type="text" value="<%= item.affiliate_link %>" id="<%= item.id %>" class="aff-link contact-form-input mb-1 text-center">
           <!-- The button used to copy the text -->
          <button class="dotted-underline-button small-text" onclick="myFunction(<%= item.id %>)">Copy Link</button>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

<script>
  function myFunction(id) {
    /* Get the text field */
    var copyText = document.getElementById(id);

    /* Select the text field */
    copyText.select();
    copyText.setSelectionRange(0, 99999); /*For mobile devices*/

    /* Copy the text inside the text field */
    document.execCommand("copy");

    /* Alert the copied text */
  }

</script>
