<div class="tutorials-index-wrapper">
    <h2 class="insider-info-title text-center influencer-videos-title-mobile"><%= @title %></h2>
  <div class="influencer-videos-title-section">
    <%= form_with(url: all_videos_path, method: :get, class: 'some-class') do %>
      <div class="filters-container">
        <%= select_tag(:sort, options_for_select([["Sort by: Newest", 'created_at,desc'], ["Sort by: Oldest", 'created_at,asc']], params[:sort]), onchange: 'this.form.submit()') %>
      </div>
      <h2 class="insider-info-title text-center influencer-videos-title-web"><%= @title %></h2>
      <div class="filters-container">
          <%= select_tag(:link, options_for_select([["Filter by: All", 'all'], ["Filter by: Tutorials", 'tutorial'], ["Filter by: Ask the Expert", "ask the expert"]], params[:link]), onchange: 'this.form.submit()') %>
      </div>
    <% end %>
  </div>

  <div class="max-width">
    <div class="row-carousel" style="margin: 30px auto 0 auto;">
      <% @videos.each do |video| %>
        <%= render 'shared/tutorials_card', tutorial: video %>
      <% end %>
    </div>
  </div>
</div>
