<div class="tutorials-index-wrapper">
    <h2 class="insider-info-title text-center influencer-videos-title-mobile"><%= @title %></h2>
  <!-- <div class="influencer-videos-title-section"> -->
    <%= form_with(url: all_videos_path, method: :get, class: 'some-class influencer-videos-title-section') do %>
      <%= select_tag(:sort, options_for_select([["Newest", 'created_at,desc'], ["Oldest", 'created_at,asc']], params[:sort]), onchange: 'this.form.submit()', class: 'filters-container boldest s-medium-text form-control') %>
      <h2 class="insider-info-title text-center influencer-videos-title-web"><%= @title %></h2>
      <%= select_tag(:link, options_for_select([["All", 'all'], ["Tutorials", 'tutorial'], ["Ask the Expert", "ask the expert"]], params[:link]), onchange: 'this.form.submit()', class: 'filters-container boldest s-medium-text form-control') %>
    <% end %>
  <!-- </div> -->

  <div class="max-width">
    <div class="row-carousel" style="margin: 30px auto 0 auto;">
      <% @videos.each do |video| %>
        <%= render 'shared/tutorials_card', tutorial: video %>
      <% end %>
    </div>
  </div>
</div>
