<div class="dashboard-wrapper">
  <div class="dashboard-container">
    <div class="dash-menu-container">
      <%= render 'shared/influencer_dash' %>
    </div>
    <div class="dash-content-container">
      <h2 class="insider-info-title mlb-title text-center">Update Tutorial</h2>
      <hr>
      <div class="dash-upload-content-container-wide">
        <%= simple_form_for @tutorial do |f| %>
          <div class="personal-details-input-wide">
            <p class="boldest muli s-medium-text text-right no-margin">Title</p>
            <%= f.input :title, label: false, input_html: { class: "contact-form-input" } %>
          </div>
          <div class="personal-details-input-wide">
            <p class="boldest muli s-medium-text text-right no-margin">Category</p>
            <%= f.input :category, collection: [['Tutorial','tutorial'], ['Ask the Expert', 'ask the expert']], label: false, include_blank: false %>
          </div>
          <div class="personal-details-input-wide align-items-start">
            <p class="boldest muli s-medium-text text-right photo-input-text">Video</p>
            <div class="dash-upload-photo">
              <%= f.input :video, input_html: { class: 'd-none photo-input', 'data-name': 'tutorial-video', onchange: "displayPreview(this)" }, label_html: { class: 'upload-photo'}, label: 'CHOOSE FILE' %>
              <% if @tutorial.video.attached? %>
                <div class="video-preview photo-preview" data-name="tutorial-video"><p class="boldest no-margin didot"><%= @tutorial.video.filename.to_s %></p></div>
              <% end %>
            </div>
          </div>
          <div class="personal-details-input-wide align-items-start">
            <p class="boldest muli s-medium-text text-right photo-input-text">Cover photo</p>
            <div>
              <%= f.input :cover_photo, input_html: { class: 'd-none photo-input', 'data-name': 'cover-photo', onchange: "displayPreview(this)" }, label_html: { class: 'upload-photo'}, label: 'CHOOSE FILE' %>
              <% if @tutorial.cover_photo.attached? %>
                <%= image_tag url_for(@tutorial.cover_photo), height: 100, class: "photo-preview", 'data-name': 'cover-photo', alt: "tutorial preview photo" %>
              <% else %>
                <%= image_tag "", width: 100, class: "d-none photo-preview", 'data-name': 'cover-photo', alt: "tutorial preview photo" %>
              <% end %>
            </div>
          </div>
          <div class="personal-details-input-wide align-items-start">
            <p class="boldest muli s-medium-text text-right no-margin">Products</p>
            <%= f.input :product_ids, label: false, collection: Product.all, label_method: ->(product){ "#{product.title} (#{product.brand.name})" }, input_html: { multiple: true, style: "overflow: scroll" } %>
          </div>
          <% if current_user.admin %>
            <div class="personal-details-input-wide">
              <p class="boldest muli s-medium-text text-right no-margin">Featured</p>
              <%= f.input :featured, label: false, input_html: { class: "contact-form-input lb-checkbox" } %>
            </div>
          <% end %>
          <%= f.submit 'UPDATE TUTORIAL', class: 'primary-button personal-details-button small-text' %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= content_for(:after_js) do %>
  <%= javascript_pack_tag 'components/photo_preview' %>
<% end %>
