<div class="tutorials-index-wrapper">
  <h2 class="insider-info-title text-center influencer-videos-title-mobile"><%= @user.first_name %> <%= @user.last_name %>'s tutorials</h2>
  <div class="influencer-videos-title-section">
    <div class="filters-container">
      <p>Sort by: newest</p>
      <%= image_tag 'dropdown-down.png', class: "dropdown-arrow" %>
    </div>
    <h2 class="insider-info-title text-center influencer-videos-title-web"><%= @user.first_name %> <%= @user.last_name %><%= @user.last_name.last == 's' ? "'" : "'s" %> tutorials</h2>
    <div class="filters-container">
      <p>Filter by: tutorials</p>
      <%= image_tag 'dropdown-down.png', class: "dropdown-arrow" %>
    </div>
  </div>

<div class="max-width">
  <div class="row row-style" style="margin: 30px auto 0 auto;">
    <% @tutorials.each do |tutorial| %>
      <%= render 'shared/tutorials_card', tutorial: tutorial %>
    <% end %>
  </div>
</div>
</div>
