<div class="tutorial-show-title-content">
  <% if request&.referrer&.include?('videos') %>
    <%= link_to 'See all tutorials', videos_path, class: "web-tutorials-link" %>
  <% else %>
    <%= link_to 'See all tutorials', user_tutorials_path(@tutorial.user), class: "web-tutorials-link" %>
  <% end %>
  <h2 class="insider-info-title text-center"><%= @tutorial.title %></h2>
  <div class="previous-next-tutorial">
    <div class="previous">
      <%= image_tag 'dropdown-forward.png', width: 10, style: "transform: rotate(180deg)" %>
      <%= link_to 'Previous', tutorial_path(@previous_tutorial) %>
    </div>
    <span class="previous-next-seperator"><strong style="margin: 0 5px;">|</strong></span>
    <div class="next">
      <%= link_to 'Next', tutorial_path(@next_tutorial) %>
      <%= image_tag 'dropdown-forward.png', width: 10 %>
    </div>
  </div>
</div>
<div class="tutorial-show-video-banner">
  <%= video_tag url_for(@tutorial.video), style: "width: 100%", id: "tutorial-show-video" %>
  <div class="video-overlay">
    <%= image_tag 'play-button.png', class: "video-home-play-button", width: 80 %>
  </div>
</div>
<% if request&.referrer&.include?('videos') %>
  <%= link_to 'See all tutorials', videos_path, class: "mobile-tutorials-link" %>
<% else %>
  <%= link_to 'See all tutorials', user_tutorials_path(@tutorial.user), class: "mobile-tutorials-link" %>
<% end %>

<div class="featured-products-wrapper">
  <div class="featured-products-header max-width">
    <div class="tutorial-spacer" style="width: 150px;"></div>
    <h2 class="insider-info-title text-center">Featured Products</h2>
    <%= link_to 'Shop more products', products_path, class: "web-tutorials-link" %>
  </div>
  <div class="max-width">
    <div class="row-carousel">
      <% @tutorial.products.first(4).each do |product| %>
        <div class="col-12 col-sm-6 col-md-3 d-flex justify-content-center" style="padding: 5px;">
          <%= render 'shared/product_cards', product: product %>
        </div>
      <% end %>
    </div>
  </div>
  <%= link_to 'Shop more products', products_path, class: "mobile-tutorials-link" %>
</div>
<div class="similar-tutorials-wrapper">
  <div class="similar-tutorials-header max-width">
    <div class="tutorial-spacer" style="width: 150px;"></div>
    <h2 class="insider-info-title text-center">You'll also love</h2>
    <%= link_to 'View more tutorials', user_tutorials_path(@tutorial.user), class: "web-tutorials-link" %>
  </div>
  <div class="max-width">
    <div class="row-carousel">
      <% @tutorials.sample(4).each do |tutorial| %>
        <div class="col-12 col-md-6 col-lg-3">
          <%= link_to tutorial_path(tutorial), class: "video-card-link card-link" do %>
            <div class="homepage-video-card">
              <div class="video-holder" style="background-image: url(<%= url_for(tutorial.cover_photo) %>)">
                <%= image_tag 'play-button.png', class: "play-button", width: 80 %>
              </div>
              <div class="homepage-video-card-text">
                <p class="video-card-text-title">by <%= tutorial.user.instagram %></p>
                <p class="video-card-text-content"><%= tutorial.title %></p>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <%= link_to 'View more tutorials', user_tutorials_path(@tutorial.user), class: "mobile-tutorials-link" %>
</div>

<% if current_user&.admin? && @tutorial.status == "pending" || @tutorial.status == "rejected" %>
  <h3>Current Status: <%= @tutorial.status %></h3>
  <%= link_to "Approve", approve_admin_tutorial_path(@tutorial), method: :patch %>
  <%= simple_form_for @tutorial, url: reject_admin_tutorial_path, method: :patch do |f| %>
    <%= f.input :rejection_message%>
    <%= f.submit "Reject" %>
  <% end %>
<% end %>
<script>
  videoOverlay = document.querySelector('.video-overlay');
  video = document.getElementById('tutorial-show-video');

  videoOverlay.addEventListener('click', function() {
    videoOverlay.style.display = "none";
    video.play();
    video.controls = 'true';
  })
</script>
