<div class="influencer-content-wrapper">
  <div class="influencer-content-image-container">
    <%= image_tag 'the-net-white.png', width: 68, class: "mb-3 d-none d-md-block" %>
    <% if @tutorial.processing? %>
      <div class="d-flex align-items-center justify-content-center flex-column" style="width: 100%; height: 600px;">
        <h3 class="text-white neue-machina ls-xs">Video is processing</h3>
        <h6 class="text-white neue-machina ls-xs"><%= @tutorial.progress %>% done</h6>
      </div>
    <% else %>
      <div class="d-flex position-relative mx-md-5">
      <%= video_tag url_for(@tutorial.video), style: "max-height: 80vh; max-width: 100%", id: "tutorial-show-video", playsinline: true, poster: url_for(@tutorial.cover_photo), alt: "influencer tutorial video", preload: 'none' %>
        <div class="video-overlay">
          <%= image_tag 'play-button.png', class: "video-home-play-button", width: 80, alt: "play button" %>
        </div>
      </div>
    <% end %>
    <%= link_to :back do %>
      <%= image_tag 'dropdown-back.png', class: 'back-arrow' %>
    <% end %>
  </div>
  <div class="influencer-content-products py-5 px-4 px-lg-5">
    <% if policy([:admin, Tutorial]).featured? && @tutorial.status == 'approved' %>
      <div class="admin-options">
        <hr>
        <div class="container">
          <h6 class="neue-machina ls-xs boldest">Admin options</h6>
          <p class="neue-machina ls-xs"><strong>Affiliate link:</strong> <%= @tutorial.affiliate_link %></p>
          <div class="d-flex flex-column align-items-start">
            <% if @tutorial.featured %>
              <p class="primary-button" style="width: max-content; height: 40px; padding: 6px 25px; margin: 0;cursor: default;">FEATURED</p>
            <% else %>
              <%= link_to 'set as featured', featured_admin_tutorial_path(@tutorial), method: :patch, class: 'dotted-underline-button d-inline-block px-0 mb-3' %>
            <% end %>
            <%= link_to 'edit', edit_tutorial_path(@tutorial), class: 'dotted-underline-button d-inline-block px-0 mb-3' %>
            <%= link_to 'download', url_for(@tutorial.video), class: 'dotted-underline-button d-inline-block px-0 mb-3' %>
            <%= link_to 'delete', tutorial_path(@tutorial), method: :delete, data: { confirm: 'Are you sure?' }, class: 'dotted-underline-button d-inline-block px-0 mb-3' %>
          </div>
        </div>
        <hr>
      </div>
    <% end %>
    <% if current_user&.admin? && (@tutorial.status == "pending" || @tutorial.status == "rejected") %>
      <div class="d-flex flex-column align-items-start mb-5">
        <h6 class="bold neue-machina ls-xs" >Current Status: <%= @tutorial.status %></h6>
        <%= link_to "edit", edit_tutorial_path(@tutorial), class: 'dotted-underline-button d-inline-block px-0 mb-3' %>
        <%= link_to "approve", approve_admin_tutorial_path(@tutorial), method: :patch, class: 'dotted-underline-button d-inline-block px-0 mb-3' %>
        <%= link_to "download", url_for(@tutorial.video) , class: 'dotted-underline-button d-inline-block px-0 mb-3'  %>
        <%= simple_form_for @tutorial, url: reject_admin_tutorial_path, method: :patch, html: { class: 'w-100' } do |f| %>
          <%= f.input :rejection_message, label: false, placeholder: 'rejection message', input_html: { class: 'contact-form-input' } %>
          <%= f.submit "REJECT", class: 'dotted-underline-button px-0 small-text' %>
        <% end %>
      </div>
    <% elsif @tutorial.user == current_user && @tutorial.status == "pending" || @tutorial.status == "rejected" %>
        <div class="container tutorial-show-admin-options">
          <hr>
            <h6 class="boldest margin-top" >Current Status: <span class="neue-machina lighter"><%= @tutorial.status.capitalize %></span></h6>
            <% if @tutorial.rejection_message %>
              <p class="boldest">Reason for rejection: <span class="neue-machina lighter"><%= @tutorial.rejection_message %></span></p>
            <% end %>
            <%= link_to "RESUBMIT FOR APPROVAL", edit_tutorial_path(@tutorial), class: 'secondary-button small-margin-right' %>
          <hr>
        </div>
    <% end %>
    <h5 class="neue-machina ls-sm text-center font-weight-bold">FEATURED PRODUCTS</h5>
    <div class="row my-5 mx-auto justify-content-center">
      <% @tutorial.products.each do |product| %>
        <div class="col-12">
          <%= render 'shared/product_cards', product: product %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<script>
  videoOverlay = document.querySelector('.video-overlay');
  video = document.getElementById('tutorial-show-video');
  videoOverlay.addEventListener('click', function() {
    videoOverlay.style.display = "none";
    video.play();
    video.controls = 'true';
  })
</script>
