<div class="dashboard-wrapper">
  <div class="dashboard-container">
    <div class="dash-menu-container">
      <%= render 'admin/shared/admin_dash' %>
    </div>
    <div class="dash-content-container">
      <h2 class="insider-info-title mlb-title text-center">Insider Reviews</h2>
      <hr>
      <div class="review-product-container">
        <div class="review-product-image">
          <%= image_tag url_for(@product.shades.first.photos.first), alt: "product shade photo" %>
        </div>
        <%= link_to product_path(@product), class: 'grey-hover' do %>
          <h5 class="boldest"><%= @product.title %></h5>
        <% end %>
      </div>
      <div class="product-review-wrapper">
        <%= simple_form_for [@product, InsiderReview.new], html: { class: 'customer-review-form small-padding' } do |f| %>
            <h6 class="insider-info-title text-center">How did you enjoy our <%= @product.title %>?</h6>
            <div class="customer-review-input">
              <p class="boldest muli s-medium-text no-margin">Influencer</p>
              <%= f.association :user, collection: User.where(influencer: true).order(:last_name), label_method: :full_name, label: false,  input_html: { class: 'dropdown-input sign-up-dropdown' }  %>
            </div>
            <div class="customer-review-input">
              <p class="boldest muli s-medium-text no-margin">Rating</p>
              <%= f.input :rating, collection: [1,2,3,4,5], label: false, input_html: { class: 'dropdown-input sign-up-dropdown', id: 'review_rating' } %>
            </div>
            <div class="customer-review-input">
              <p class="boldest muli s-medium-text no-margin">Review</p>
              <%= f.input :review, label: false, placeholder: "Please leave your review here...", input_html: { class: 'product-show-review-input' } %>
            </div>
            <%= f.submit 'LEAVE A REVIEW' , class: 'primary-button personal-details-button small-text' %>
        <% end %>
      </div>
      <div class="row admin-review-row" style="margin: 30px 0;">
        <% if @insider_reviews.count == 0 %>
          <p class="medium-margin text-center boldest didot" style="width: 100%;">There are no insider reviewss yet</p>
        <% end %>
        <% @insider_reviews.each do |review| %>
          <div class="col-12 col-sm-10 col-md-6 ir-cols flex-column">
            <div class="admin-insider-review-cards">
              <div class="insider-review-left">
                <div class="insider-review-image" style="background-image: url(<%= url_for(review.user.avatar_photo) %>)"></div>
                <h6><%= review.user.instagram %></h6>
              </div>
              <div class="insider-review-right">
                <div class="insider-review-text">
                  <%= render 'shared/ratings', rating: review.rating %>
                  <p class="didot"><%= review.review %></p>
                </div>
              </div>
            </div>
            <div class="d-flex justify-content-end">
              <%= link_to 'Edit',  edit_admin_product_insider_review_path(@product, review), class: "muli small-text underline grey-font boldest text-right small-margin-right" %>
              <%= link_to "Remove",  admin_product_insider_review_path(@product, review), method: :delete, data: { confirm: 'Are you sure?' }, class: "muli small-text underline grey-font boldest text-right" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
