<div class="dashboard-wrapper">
  <div class="dashboard-container">
    <div class="dash-menu-container">
      <div class="dash-links">
        <h4 class="insider-info-title mlb-title text-center dash-mobile-title">Order Summary</h4>
        <% if @basket.empty? %>
          <p class="small-text text-center">There are no items in your basket</p>
        <% else %>
          <div class="checkout-basket-display">
            <div class="checkout-item-container">
              <% @basket.basket_products.each do |item| %>
                <div class="checkout-item">
                  <div>
                    <h6 class="boldest small-text"><%= item.product.title %></h6>
                    <h6 class="small-text"><%= item.shade.name %></h6>
                    <h6 class="small-text no-margin">Qty: <%= item.quantity %></h6>
                  </div>
                  <div>
                    <h6 class="small-text"><%= humanized_money_with_symbol item.product.price * item.quantity %></h6>
                  </div>
                </div>
              <% end %>
              <%= link_to 'Edit Bag', bag_path, class: 'text-center grey underline boldest small-text checkout-edit-bag' %>
            </div>
            <div class="checkout-total-container">
              <div class="basket-price">
                <span class="small-text grey boldest">Subtotal: </span>
                <h5 class="small-text grey boldest no-margin"><%= humanized_money_with_symbol @basket.total_price %></h5>
              </div>
              <div class="basket-price small-margin-bottom">
                <span class="small-text grey boldest no-margin">Delivery: </span>
                <% if @basket.basket_products.first.purchase_with_credit %>
                  <h5 class="small-text grey boldest no-margin delivery-cost"><%= humanized_money_with_symbol 0.00 %></h5>
                <% else %>
                  <h5 class="small-text grey boldest no-margin delivery-cost"><%= humanized_money_with_symbol 5.95 %></h5>
                <% end %>
              </div>
              <div class="basket-price">
                <span class="grey boldest medium-text">Total: </span>
                <h5 class="grey boldest medium-text no-margin total-cost"><%=humanized_money_with_symbol(@basket.total_price + Money.new(595)) %></h5>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="dash-content-container">
      <h2 class="insider-info-title mlb-title text-center">Checkout</h2>
      <hr>
      <%= render 'checkout_process' %>
      <hr>
      <div class="order-summary-container">
        <div class="order-summary">
          <div class="order-summary-mobile">
            <h4 class="boldest medium-text">Order Summary</h4>
            <% if @basket.empty? %>
              <p>There are no items in your basket</p>
            <% else %>
              <div class="checkout-basket-display">
                <div class="checkout-item-container">
                  <% @basket.basket_products.each do |item| %>
                    <div class="checkout-item">
                      <div>
                        <h6 class="boldest small-text"><%= item.product.title %></h6>
                        <h6 class="small-text"><%= item.shade.name %></h6>
                        <h6 class="small-text no-margin">Qty: <%= item.quantity %></h6>
                      </div>
                      <div>
                        <h6 class="small-text"><%= humanized_money_with_symbol item.product.price * item.quantity %></h6>
                      </div>
                    </div>
                  <% end %>
                  <%= link_to 'Edit Bag', bag_path, class: 'text-center grey underline boldest small-text checkout-edit-bag' %>
                </div>
                <div class="checkout-total-container">
                  <div class="basket-price">
                    <span class="small-text grey boldest">Subtotal: </span>
                    <h5 class="small-text grey boldest no-margin"><%= humanized_money_with_symbol @basket.total_price %></h5>
                  </div>
                  <div class="basket-price small-margin-bottom">
                    <span class="small-text grey boldest no-margin">Delivery: </span>
                    <% if @basket.basket_products.first.purchase_with_credit %>
                      <h5 class="small-text grey boldest no-margin delivery-cost"><%= humanized_money_with_symbol 0.00 %></h5>
                    <% else %>
                      <h5 class="small-text grey boldest no-margin delivery-cost"><%= humanized_money_with_symbol 5.95 %></h5>
                    <% end %>
                  </div>
                  <div class="basket-price">
                    <span class="grey boldest medium-text">Total: </span>
                    <h5 class="grey boldest medium-text no-margin total-cost"><%= humanized_money_with_symbol(@basket.total_price + Money.new(595)) %></h5>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
          <p class="medium-text boldest small-margin-top">Delivery Option</p>
          <div class="delivery-container">
            <% if @basket.basket_products.first.purchase_with_credit %>
              <div class="delivery-disable"></div>
            <% end %>
            <div class="checkout-delivery-option no-border-bottom"  data-total="<%= @basket.total_price_cents + 595 %>" data-deliveryCost="595" data-deliveryType="standard">
              <div class="checkout-checkbox">
                <div class="checkout-checkbox-inner"></div>
              </div>
              <p class="boldest delivery-option-text no-margin">Standard</p>
              <p class="boldest delivery-option-text grey no-margin" style="padding: 0 10px;">2-5 working days from despatch</p>
              <p class="boldest delivery-option-text no-margin"><%= humanized_money_with_symbol 5.95 %></p>
            </div>
            <div class="checkout-delivery-option no-border-bottom" data-total="<%= @basket.total_price_cents + 695 %>" data-deliveryCost="695" data-deliveryType="express">
              <div class="checkout-checkbox">
                <div></div>
              </div>
              <p class="boldest delivery-option-text no-margin">Express</p>
              <p class="boldest delivery-option-text grey no-margin" style="padding: 0 10px;">Next working day from despatch</p>
              <p class="boldest delivery-option-text no-margin"><%= humanized_money_with_symbol 6.95 %></p>
            </div>
            <div class="checkout-delivery-option margin-bottom" data-total="<%= @basket.total_price_cents + 1295 %>" data-deliveryCost="1295" data-deliveryType="international">
              <div class="checkout-checkbox">
                <div></div>
              </div>
              <div>
                <p class="boldest delivery-option-text no-margin">International</p>
                <p class="boldest delivery-option-text no-margin">(Europe Only)</p>
              </div>
              <p class="boldest delivery-option-text grey no-margin" style="padding: 0 10px;">3-5 working days from despatch</p>
              <p class="boldest delivery-option-text no-margin"><%= humanized_money_with_symbol 12.95 %></p>
            </div>
          </div>
          <div class="checkout-addresses-container">
            <div class="checkout-address">
              <p class="medium-text boldest">Delivery Address</p>
              <% if @user.delivery_addresses.any? %>
                <div id="deliveryAddress">
                  <% @user.addresses.where(delivery_address: true).to_a.each do |a| %>
                    <div>
                      <p class="small-text grey boldest tiny-margin-bottom"><%= @user.first_name %> <%= @user.last_name %></p>
                      <p class="small-text grey boldest tiny-margin-bottom"><%= a.street %></p>
                      <p class="small-text grey boldest tiny-margin-bottom"><%= a.city %>, <%= a.county %></p>
                      <p class="small-text grey boldest tiny-margin-bottom"><%= a.postcode %></p>
                      <p class="small-text grey boldest tiny-margin-bottom"><%= a.country %></p>
                    </div>
                  <% end %>
                </div>
                <a class="secondary-button" id="newDeliveryAddress">Add a new address</a>
                <div class="d-none" id="newDeliveryInput">
                  <%= simple_form_for @address do |f| %>
                    <%= f.input :street, label: false, placeholder: 'Street', input_html: { class: 'contact-form-input', style: "width: 95%;" } %>
                    <%= f.input :city, label: false, placeholder: 'City', input_html: { class: 'contact-form-input', style: "width: 95%;" } %>
                    <%= f.input :county, label: false, placeholder: 'County/State', input_html: { class: 'contact-form-input', style: "width: 95%;" } %>
                    <%= f.input :postcode, label: false, placeholder: 'Post code', input_html: { class: 'contact-form-input', style: "width: 95%;" } %>
                    <%= f.input :country, label: false, prompt: 'Country', input_html: { class: 'contact-form-input', style: "width: 95%;" } %>
                    <%= f.input :delivery_address, as: :hidden, input_html: { value: false } %>
                    <%= f.submit 'ADD ADDRESS', class: 'secondary-button checkout-address-button', id: 'billingBtn' %>
                  <% end %>
                </div>
              <% else %>
                <%= simple_form_for @address do |f| %>
                  <%= f.input :street, label: false, placeholder: 'Street', input_html: { class: 'contact-form-input', style: "width: 95%;" } %>
                  <%= f.input :city, label: false, placeholder: 'City', input_html: { class: 'contact-form-input', style: "width: 95%;" } %>
                  <%= f.input :county, label: false, placeholder: 'County/State', input_html: { class: 'contact-form-input', style: "width: 95%;" } %>
                  <%= f.input :postcode, label: false, placeholder: 'Post code', input_html: { class: 'contact-form-input', style: "width: 95%;" } %>
                  <%= f.input :country, label: false, prompt: 'Country', input_html: { class: 'contact-form-input', style: "width: 95%;" } %>
                  <%= f.input :delivery_address, as: :hidden, input_html: { value: true } %>
                  <%= f.submit 'ADD ADDRESS', class: 'secondary-button checkout-address-button', id: 'deliveryBtn' %>
                <% end %>
              <% end %>
            </div>
            <div class="checkout-address">
              <p class="medium-text boldest">Billing Address</p>
              <% if @user.billing_addresses.any? %>
                <div id="billingAddress">
                  <p class="small-text grey boldest tiny-margin-bottom"><%= @user.first_name %> <%= @user.last_name %></p>
                  <p class="small-text grey boldest tiny-margin-bottom"><%= @user.addresses.first.street %></p>
                  <p class="small-text grey boldest tiny-margin-bottom"><%= @user.addresses.first.city %>, <%= @user.addresses.first.county %></p>
                  <p class="small-text grey boldest tiny-margin-bottom"><%= @user.addresses.first.postcode %></p>
                  <p class="small-text grey boldest tiny-margin-bottom"><%= @user.addresses.first.country %></p>
                  <a class="secondary-button" id="newBillingAddress">Add a new address</a>
                </div>
                <div class="d-none" id="newBillingInput">
                  <%= simple_form_for @address do |f| %>
                    <%= f.input :street, label: false, placeholder: 'Street', input_html: { class: 'contact-form-input', style: "width: 95%;" } %>
                    <%= f.input :city, label: false, placeholder: 'City', input_html: { class: 'contact-form-input', style: "width: 95%;" } %>
                    <%= f.input :county, label: false, placeholder: 'County/State', input_html: { class: 'contact-form-input', style: "width: 95%;" } %>
                    <%= f.input :postcode, label: false, placeholder: 'Post code', input_html: { class: 'contact-form-input', style: "width: 95%;" } %>
                    <%= f.input :country, label: false, prompt: 'Country', input_html: { class: 'contact-form-input', style: "width: 95%;" } %>
                    <%= f.input :delivery_address, as: :hidden, input_html: { value: false } %>
                    <%= f.submit 'ADD ADDRESS', class: 'secondary-button checkout-address-button', id: 'billingBtn' %>
                  <% end %>
                </div>
              <% else %>
                <%= simple_form_for @address do |f| %>
                  <%= f.input :street, label: false, placeholder: 'Street', input_html: { class: 'contact-form-input', style: "width: 95%;" } %>
                  <%= f.input :city, label: false, placeholder: 'City', input_html: { class: 'contact-form-input', style: "width: 95%;" } %>
                  <%= f.input :county, label: false, placeholder: 'County/State', input_html: { class: 'contact-form-input', style: "width: 95%;" } %>
                  <%= f.input :postcode, label: false, placeholder: 'Post code', input_html: { class: 'contact-form-input', style: "width: 95%;" } %>
                  <%= f.input :country, label: false, prompt: 'Country', input_html: { class: 'contact-form-input', style: "width: 95%;" } %>
                  <%= f.input :delivery_address, as: :hidden, input_html: { value: false } %>
                  <%= f.submit 'ADD ADDRESS', class: 'secondary-button checkout-address-button', id: 'billingBtn' %>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
        <script src="https://checkout.stripe.com/checkout.js"></script>
        <%= simple_form_for @order, html: {
          'data-email': current_user.email,
          'data-description': "#{current_user.first_name}'s order from Loop Beauty",
          'data-amount': @basket.total_price_cents + 595,
          'data-currency': @basket.total_price.currency
        } do |f| %>
          <div class="checkout-mobile">
              <%= f.input :delivery_address_id, as: :hidden, input_html: { value: current_user&.delivery_addresses&.first&.id } %>
              <%= f.input :billing_address_id, as: :hidden, input_html: { value: current_user&.billing_addresses&.first&.id } %>
              <%= f.input :delivery_type, as: :hidden, input_html: { value: 'standard' } %>
              <%= f.fields_for :stripe do |s| %>
                <%= s.input :stripe_email, as: :hidden %>
                <%= s.input :stripe_token, as: :hidden %>
              <% end %>
              <%= f.input :phone_number, input_html: { value: "#{current_user&.phone_number ? current_user.phone_number : '' }", class: "contact-form-input checkout-mobile-input" }  %>
          </div>
          <% if @basket.total_price <= 0 %>
            <%= f.submit 'COMPLETE PURCHASE', class: 'primary-button checkout-complete-button'  %>
          <% elsif @user.addresses.where(delivery_address: true).length == 0 || @user.addresses.where(delivery_address: false).length == 0 %>
            <%= f.submit 'CONFRIM ADRESSES', class: 'stripe-button stripe-button-el', id: "addressBtn" %>
          <% else %>
            <%= f.submit 'PAYMENT', class: 'stripe-button stripe-button-el' %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script>
  addressBtn = document.getElementById('addressBtn')
  deliveryBtn = document.getElementById('deliveryBtn')
  billingBtn = document.getElementById('billingBtn')
  newBillingInput = document.getElementById('newBillingInput')
  billingAddress = document.getElementById('billingAddress')
  newBilling = document.getElementById('newBillingAddress')
  newDeliveryInput = document.getElementById('newDeliveryInput')
  deliveryAddress = document.getElementById('deliveryAddress')
  newDelivery = document.getElementById('newDeliveryAddress')

  if (addressBtn) {
    addressBtn.addEventListener('click', (event) => {
      deliveryBtn.click();
      billingBtn.click();
    })
  }

  newBilling.addEventListener('click', () => {
    newBillingInput.classList.remove('d-none')
    console.log('test')
    billingAddress.classList.add('d-none')
  })

  newDelivery.addEventListener('click', () => {
    newDeliveryInput.classList.remove('d-none')
    console.log('test')
    deliveryAddress.classList.add('d-none')
  })

  document.getElementById('test').addEventListener('click', () => {
    console.log('hello')
  })

</script>
