<div class="dashboard-wrapper orders-container">
  <div class="dashboard-container">
    <h4 class="ls-xs mb-4 large-text">order summary</h4>
  </div>
  <div class="dashboard-container orders-content-container">
    <div class="checkout-basket-container">
      <div class="checkout-basket-content">
        <% if @basket.empty? %>
          <p class="small-text text-center neue-machina no-margin" style="padding-bottom: 16px; margin: 0; border-bottom: 1px solid rgba(0,0,0,0.2);">There are no items in your basket</p>
        <% else %>
          <div class="checkout-basket-display">
            <div class="checkout-item-container">
              <% @basket.basket_products.each do |item| %>
                <div class="checkout-item">
                  <p class="mb-0 ls-xs"><%= item.product.title %></p>
                  <p class="mb-0 ls-xs small-text lighter"><%= item.shade.name %></p>
                  <p class="mb-2 ls-xs small-text lighter"><%= item.product.brand.name %></p>
                  <div class="d-flex justify-content-between">
                    <p class="mb-0 ls-xs lighter">Qty: <%= item.quantity %></p>
                    <p class="mb-0 lighter ls-xs"><%= humanized_money_with_symbol item.product.price * item.quantity %></p>
                  </div>
                </div>
              <% end %>
              <div class="d-flex justify-content-center my-4">
                <%= link_to 'Edit Bag', bag_path, class: 'ls-xs text-center dotted-underline-button px-0' %>
              </div>
              <div class="checkout-total-container">
                <div class="basket-price">
                  <p class="lighter ls-xs mb-0">Subtotal: </p>
                  <p class="lighter ls-xs mb-0"><%= humanized_money_with_symbol @basket.unadjusted_price %></p>
                </div>
                <% if @basket.discount_code.present? %>
                  <div class="basket-price">
                    <p class="lighter ls-xs mb-0">Discount: </p>
                    <p class="lighter ls-xs mb-0">-<%= humanized_money_with_symbol @basket.money_off %></p>
                  </div>
                <% elsif @basket.basket_products.any?(&:purchase_with_credit) %>
                  <div class="basket-price">
                    <p class="lighter ls-xs mb-0">Credit Spent: </p>
                    <p class="lighter ls-xs mb-0">-<%= humanized_money_with_symbol @basket.money_off_from_credit %></p>
                  </div>
                <% end %>
                <div class="basket-price small-margin-bottom">
                  <p class="lighter ls-xs mb-0">Delivery: </p>
                  <% if @basket.basket_products.any?(&:purchase_with_credit?) %>
                    <p class="lighter ls-xs mb-0 delivery-cost"><%= humanized_money_with_symbol 0.00 %></p>
                  <% else %>
                    <p class="lighter ls-xs mb-0 delivery-cost"><%= humanized_money_with_symbol 5.95 %></p>
                  <% end %>
                </div>
                <div class="basket-price">
                  <p class="medium-text lighter mb-0 ls-xs">Total: </p>
                  <p class="medium-text lighter mb-0 ls-xs total-cost"><%= humanized_money_with_symbol(@basket.basket_products.any?(&:purchase_with_credit) ? @basket.total_price : @basket.total_price + Money.new(595)) %></p>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <%= simple_form_for @order, remote: true do |f| %>
        <div class="checkout-mobile">
          <%= f.input :delivery_address_id, as: :hidden, input_html: { id: "deliveryHolder", value: current_user&.delivery_addresses&.last&.id } %>
          <%= f.input :billing_address_id, as: :hidden, input_html: { id: "billingHolder", value: current_user&.billing_addresses&.last&.id } %>
          <%= f.input :delivery_type, as: :hidden, input_html: { value: 'standard' } %>
        </div>
        <script src="https://js.stripe.com/v3/"></script>
        <% if @basket.total_price <= 0 %>
          <%= f.submit 'Complete Purchase', class: 'primary-button w-100 mb-0'  %>
        <% elsif @user.delivery_addresses.length == 0 || @user.billing_addresses.length == 0 %>
          <!-- <a class="stripe-button conditional-button kaftan" id="addressBtn">CONFIRM ADDRESSES</a> -->
          <%= f.submit 'Pay Now', disabled: true, class: 'disabled-checkout-button-stripe stripe-button conditional-button', id: "paymentHidden" %>
        <% else %>
          <%= f.submit 'Pay Now', class: 'stripe-button stripe-button-el' %>
        <% end %>
        <div class="d-flex justify-content-end py-3">
          <%= image_tag 'powered-by-stripe.png', class: 'powered-by-stripe', alt: 'stripe photo' %>
        </div>
      <% end %>
    </div>
    <div class="dash-content-container">
      <%= render 'shared/checkout_process' %>
    </div>
  </div>
</div>

<script>
  // billingAddressContainer = document.querySelector('.billing-address-container')
  // useAsBilling = document.getElementById('address_use_as_billing')
  // useAsBilling.addEventListener('change', () => {
  //   billingAddressContainer.classList.toggle('d-none')
  // })

  delButton = document.getElementById('deliveryBtn')
  bilButton = document.getElementById('billingBtn')
  reqCheckoutModalBtn = document.querySelector('.checkout-modal-del-add-btn');
  reqCheckoutModalBtn = document.querySelector('.checkout-modal-bil-add-btn');

  reqCheckoutD = document.querySelectorAll('.checkout-del-add');
  reqCheckoutModalD = document.querySelectorAll('.checkout-modal-del-add');
  reqCheckoutB = document.querySelectorAll('.checkout-bil-add');
  reqCheckoutModalB = document.querySelectorAll('.checkout-modal-bil-add');

  function isfilled(element) {
    return element != ""
  }

  reqCheckoutD.forEach((field) => {
    field.addEventListener('keyup', () => {
      myArray = []
      reqCheckoutD.forEach((input) => {
        myArray.push(input.value)
      })
      console.log(myArray.every(isfilled))
      if (myArray.every(isfilled)) {
        delButton.disabled = false;
        delButton.classList.remove('disabled-checkout-button')
      } else {
        delButton.disabled = true;
        delButton.classList.add('disabled-checkout-button')
      }
    })
  })

  reqCheckoutModalD.forEach((field) => {
    field.addEventListener('keyup', () => {
      myArray = []
      reqCheckoutModalD.forEach((input) => {
        myArray.push(input.value)
      })
      console.log(myArray.every(isfilled))
      if (myArray.every(isfilled)) {
        delButton.disabled = false;
        delButton.classList.remove('disabled-checkout-button')
      } else {
        delButton.disabled = true;
        delButton.classList.add('disabled-checkout-button')
      }
    })
  })

  reqCheckoutB.forEach((field) => {
    field.addEventListener('keyup', () => {
      myArray = []
      reqCheckoutB.forEach((input) => {
        myArray.push(input.value)
      })
      console.log(myArray.every(isfilled))
      if (myArray.every(isfilled)) {
        bilButton.disabled = false;
        bilButton.classList.remove('disabled-checkout-button')
      } else {
        bilButton.disabled = true;
        bilButton.classList.add('disabled-checkout-button')
      }
    })
  })

  reqCheckoutModalB.forEach((field) => {
    field.addEventListener('keyup', () => {
      myArray = []
      reqCheckoutModalB.forEach((input) => {
        myArray.push(input.value)
      })
      console.log(myArray.every(isfilled))
      if (myArray.every(isfilled)) {
        bilButton.disabled = false;
        bilButton.classList.remove('disabled-checkout-button')
      } else {
        bilButton.disabled = true;
        bilButton.classList.add('disabled-checkout-button')
      }
    })
  })

</script>

