<div class="dashboard-wrapper">
  <div class="dashboard-container">
    <div class="dash-menu-container">
      <div class="dash-links">
        <h4 class="insider-info-title mlb-title text-center dash-mobile-title">Order Summary</h4>
        <% if @basket.empty? %>
          <p class="small-text text-center didot no-margin" style="padding-bottom: 16px; margin: 0; border-bottom: 1px solid rgba(0,0,0,0.2);">There are no items in your basket</p>
        <% else %>
          <div class="checkout-basket-display">
            <div class="checkout-item-container">
              <% @basket.basket_products.each do |item| %>
                <div class="checkout-item">
                  <div>
                    <h6 class="boldest small-text"><%= item.product.title %></h6>
                    <h6 class="small-text"><%= item.shade.name %></h6>
                    <h6 class="small-text no-margin">Qty: <%= item.quantity %></h6>
                  </div>
                  <div>
                    <h6 class="small-text"><%= humanized_money_with_symbol item.product.price * item.quantity %></h6>
                  </div>
                </div>
              <% end %>
              <%= link_to 'Edit Bag', bag_path, class: 'muli text-center grey underline boldest small-text checkout-edit-bag' %>
            </div>
            <div class="checkout-total-container">
              <div class="basket-price">
                <span class="small-text grey boldest muli">Subtotal: </span>
                <h5 class="small-text grey boldest no-margin"><%= humanized_money_with_symbol @basket.unadjusted_price %></h5>
              </div>
              <% if @basket.discount_code.present? %>
                <div class="basket-price">
                  <span class="small-text grey boldest muli">Discount: </span>
                  <h5 class="small-text grey boldest no-margin">-<%= humanized_money_with_symbol @basket.money_off %></h5>
                </div>
              <% elsif @basket.basket_products.any?(&:purchase_with_credit) %>
                <div class="basket-price">
                  <span class="small-text grey boldest muli">Credit Spent: </span>
                  <h5 class="small-text grey boldest no-margin">-<%= humanized_money_with_symbol @basket.money_off_from_credit %></h5>
                </div>
              <% end %>
              <div class="basket-price small-margin-bottom">
                <span class="small-text grey boldest no-margin muli">Delivery: </span>
                <% if @basket.basket_products.all?(&:purchase_with_credit?) %>
                  <h5 class="small-text grey boldest no-margin delivery-cost"><%= humanized_money_with_symbol 0.00 %></h5>
                <% else %>
                  <h5 class="small-text grey boldest no-margin delivery-cost"><%= humanized_money_with_symbol 5.95 %></h5>
                <% end %>
              </div>
              <div class="basket-price">
                <span class="grey boldest medium-text muli">Total: </span>
                <h5 class="grey boldest medium-text no-margin total-cost"><%= humanized_money_with_symbol(@basket.total_price_cents > 0 ? @basket.total_price + Money.new(595) : Money.new(0)) %></h5>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="dash-content-container">
      <h2 class="insider-info-title mlb-title text-center">Checkout</h2>
      <hr>
      <%= render 'shared/checkout_process' %>
      <hr>
      <div class="order-summary-container">
        <div class="order-summary">
          <div class="order-summary-mobile">
            <h4 class="boldest medium-text checkout-show-mobile-subtitle">Order Summary</h4>
            <% if @basket.empty? %>
              <p class="didot">There are no items in your basket</p>
            <% else %>
              <div class="checkout-basket-display">
                <div class="checkout-item-container">
                  <% @basket.basket_products.each do |item| %>
                    <div class="checkout-item">
                      <div>
                        <h6 class="boldest small-text"><%= item.product.title %></h6>
                        <h6 class="small-text"><%= item.shade.name %></h6>
                        <h6 class="small-text no-margin">Qty: <%= item.quantity %></h6>
                      </div>
                      <div>
                        <h6 class="small-text"><%= humanized_money_with_symbol item.product.price * item.quantity %></h6>
                      </div>
                    </div>
                  <% end %>
                  <%= link_to 'Edit Bag', bag_path, class: 'text-center muli grey underline boldest small-text checkout-edit-bag' %>
                </div>
                <div class="checkout-total-container">
                  <div class="basket-price">
                    <span class="small-text grey boldest muli">Subtotal: </span>
                    <h5 class="small-text grey boldest no-margin"><%= humanized_money_with_symbol @basket.unadjusted_price %></h5>
                  </div>
                  <% if @basket.discount_code.present? %>
                    <div class="basket-price">
                      <span class="small-text grey boldest muli">Discount: </span>
                      <h5 class="small-text grey boldest no-margin">-<%= humanized_money_with_symbol @basket.money_off %></h5>
                    </div>
                  <% elsif @basket.basket_products.any?(&:purchase_with_credit) %>
                    <div class="basket-price">
                      <span class="small-text grey boldest muli">Credit Spent: </span>
                      <h5 class="small-text grey boldest no-margin">-<%= humanized_money_with_symbol @basket.money_off_from_credit %></h5>
                    </div>
                  <% end %>
                  <div class="basket-price small-margin-bottom">
                    <span class="small-text grey boldest no-margin muli">Delivery: </span>
                    <% if @basket.basket_products.all(&:purchase_with_credit?) %>
                      <h5 class="small-text grey boldest no-margin delivery-cost"><%= humanized_money_with_symbol 0.00 %></h5>
                    <% else %>
                      <h5 class="small-text grey boldest no-margin delivery-cost"><%= humanized_money_with_symbol 5.95 %></h5>
                    <% end %>
                  </div>
                  <div class="basket-price">
                    <span class="grey boldest medium-text muli">Total: </span>
                    <h5 class="grey boldest medium-text no-margin total-cost"><%= humanized_money_with_symbol(@basket.total_price_cents > 0 ? @basket.total_price + Money.new(595) : Money.new(0)) %></h5>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
          <div class="delivery-option-title">
            <p class="medium-text boldest margin-top muli">Delivery Option</p>
          </div>
          <% if @basket.basket_products.any?(&:purchase_with_credit) %>
            <h6 class="muli boldest s-medium-text">Free delivery on orders purchased with credit</h6>
          <% end %>
          <div class="delivery-container">
            <% if @basket.basket_products.any?(&:purchase_with_credit) %>
              <div class="delivery-disable">
              </div>
            <% end %>
            <div class="checkout-delivery-option no-border-bottom"  data-total="<%= @basket.total_price_cents + 595 %>" data-deliveryCost="595" data-deliveryType="standard">
              <div class="checkout-checkbox">
                <div class="checkout-checkbox-inner"></div>
              </div>
              <p class="boldest delivery-option-text no-margin">Standard</p>
              <p class="boldest delivery-option-text grey no-margin" style="padding: 0 10px;">2-5 working days from despatch</p>
              <p class="boldest delivery-option-text no-margin"><%= humanized_money_with_symbol 5.95 %></p>
            </div>
            <div class="checkout-delivery-option no-border-bottom" data-total="<%= @basket.total_price_cents + 695 %>" data-deliveryCost="695" data-deliveryType="express">
              <div class="checkout-checkbox">
                <div></div>
              </div>
              <p class="boldest delivery-option-text no-margin">Express</p>
              <p class="boldest delivery-option-text grey no-margin" style="padding: 0 10px;">Next working day from despatch</p>
              <p class="boldest delivery-option-text no-margin"><%= humanized_money_with_symbol 6.95 %></p>
            </div>
            <div class="checkout-delivery-option margin-bottom" data-total="<%= @basket.total_price_cents + 1295 %>" data-deliveryCost="1295" data-deliveryType="international">
              <div class="checkout-checkbox">
                <div></div>
              </div>
              <div>
                <p class="boldest delivery-option-text no-margin">International</p>
                <p class="boldest delivery-option-text no-margin">(Europe Only)</p>
              </div>
              <p class="boldest delivery-option-text grey no-margin" style="padding: 0 10px;">3-5 working days from despatch</p>
              <p class="boldest delivery-option-text no-margin"><%= humanized_money_with_symbol 12.95 %></p>
            </div>
          </div>
          <div class="checkout-addresses-container">
            <div class="checkout-address">
              <p class="checkout-address-title medium-text boldest muli">Delivery Address</p>
                <% if @default_delivery %>
                  <div class="delivery-default">
                    <%= render 'addresses/address', add: @default_delivery %>
                  </div>
                <% end %>
              <!-- Delivery Address Modal -->
              <div class="modal fade" id="deliveryModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                  <div class="modal-content loop-border">
                    <div class="modal-header">
                      <h5 class="modal-title insider-info-title muli boldest" id="exampleModalLabel">Choose a delivery address</h5>
                    </div>
                    <div class="modal-body modal-delivery-addresses">
                      <%= render 'addresses/modal_addresses', addresses: @user.delivery_addresses %>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="secondary-button checkout-address-button small-text muli" data-dismiss="modal">CLOSE</button>
                    </div>
                  </div>
                </div>
              </div>

              <% if @user.delivery_addresses.any? %>
                <p id="deliveryAddressShow" class="d-none"></p>
                <div id="deliveryAddressButtons">
                  <a class="grey underline boldest small-text checkout-edit-bag a-not-href muli" id="savedDeliveryAddress" data-toggle="modal" data-target="#deliveryModal">Choose an address</a>
                  <a class="grey underline boldest small-text checkout-edit-bag a-not-href muli" id="newDeliveryAddress" data-toggle="modal" data-target="#new-delivery-address">Add new address</a>
                </div>
                <!-- New Delivery Address Modal -->
                <div class="modal fade" id="new-delivery-address" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content loop-border">
                      <div class="modal-header">
                        <h5 class="modal-title insider-info-title muli boldest" id="exampleModalLabel">Add a delivery address</h5>
                      </div>
                      <div class="modal-body modal-delivery-addresses">
                        <div class="modal-new-delivery-address">
                          <%= simple_form_for @address do |f| %>
                            <%= f.input :address_line1, label: false, placeholder: 'Address Line 1', required: true, input_html: { class: 'contact-form-input' } %>
                            <%= f.input :address_line2, label: false, placeholder: 'Address Line 2 (optional)', required: false, input_html: { class: 'contact-form-input' } %>
                            <%= f.input :county, label: false, placeholder: 'County/State', required: true, input_html: { class: 'contact-form-input' } %>
                            <%= f.input :city, label: false, placeholder: 'City', required: true, input_html: { class: 'contact-form-input' } %>
                            <%= f.input :postcode, label: false, placeholder: 'Post/zip code', required: true, input_html: { class: 'contact-form-input' } %>
                            <%= f.input :country, label: false, prompt: 'Country', required: true, input_html: { class: 'dropdown-input sign-up-dropdown tiny-margin-bottom' } %>
                            <%= f.input :phone_number, label: false, placeholder: 'Phone Number', input_html: { class: 'contact-form-input' } %>
                            <div class="d-flex align-items-center">
                              <%= f.input :use_as_billing, label: false, input_html: { class: 'lb-checkbox' } %>
                              <p class="no-bottom-margin muli">Use as billing address</p>
                            </div>
                            <%= f.input :delivery_address, as: :hidden, input_html: { value: true } %>
                        </div>
                      </div>
                        <div class="modal-footer">
                          <button type="button" class="secondary-button checkout-address-button small-text muli" data-dismiss="modal">CLOSE</button>
                          <%= f.submit 'ADD ADDRESS', class: 'primary-button checkout-address-button', id: 'deliveryBtn' %>
                        </div>
                      <% end %>
                    </div>
                  </div>
                </div>
              <% else %>
                <%= simple_form_for @address do |f| %>
                  <%= f.input :address_line1, label: false, placeholder: 'Address Line 1', required: true, input_html: { class: 'contact-form-input', style: "width: 95%;" } %>
                  <%= f.input :address_line2, label: false, placeholder: 'Address Line 2  (optional)', required: false, input_html: { class: 'contact-form-input', style: "width: 95%;" } %>
                  <%= f.input :county, label: false, placeholder: 'County/State', required: true, input_html: { class: 'contact-form-input', style: "width: 95%;" } %>
                  <%= f.input :city, label: false, placeholder: 'City', required: true, input_html: { class: 'contact-form-input', style: "width: 95%;" } %>
                  <%= f.input :postcode, label: false, placeholder: 'Post/zip code', required: true, input_html: { class: 'contact-form-input', style: "width: 95%;" } %>
                  <%= f.input :country, label: false, prompt: 'Country', required: true, input_html: { class: 'dropdown-input sign-up-dropdown tiny-margin-bottom', style: "width: 95%;" } %>
                  <%= f.input :phone_number, label: false, placeholder: 'Phone Number', input_html: { class: 'contact-form-input', style: "width: 95%;" } %>
                  <div class="d-flex align-items-center">
                    <%= f.input :use_as_billing, label: false, input_html: { class: 'lb-checkbox' } %>
                    <p class="no-bottom-margin muli">Use as billing address</p>
                  </div>
                  <%= f.input :delivery_address, as: :hidden, input_html: { value: true } %>
                  <%= f.submit 'ADD ADDRESS', class: 'primary-button checkout-address-button', id: 'deliveryBtn' %>
                <% end %>
              <% end %>
            </div>
            <div class="checkout-address billing-address-container">
              <p class="checkout-address-title medium-text boldest muli">Billing Address</p>
                <% if @default_billing %>
                  <div class="billing-default">
                    <%= render 'addresses/address', add: @default_billing %>
                  </div>
                <% end %>
              <!-- Billing Address Modal -->
              <div class="modal fade" id="billingModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                  <div class="modal-content loop-border">
                    <div class="modal-header">
                      <h5 class="modal-title insider-info-title boldest muli" id="exampleModalLabel">Choose a Billing address</h5>
                    </div>
                    <div class="modal-body modal-billing-addresses">
                      <%= render 'addresses/modal_addresses', addresses: @user.billing_addresses %>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="secondary-button checkout-address-button small-text muli" data-dismiss="modal">CLOSE</button>
                    </div>
                  </div>
                </div>
              </div>
              <!--  -->
              <% if @user.billing_addresses.any? %>
                <p id="billingAddressShow" class="d-none"></p>
                <div id="billingAddressButtons">
                  <a class="grey underline boldest small-text checkout-edit-bag a-not-href muli" id="savedBillingAddress" data-toggle="modal" data-target="#billingModal">Choose an address</a>
                  <a class="grey underline boldest small-text checkout-edit-bag a-not-href muli" id="newBillingAddress" data-toggle="modal" data-target="#new-billing-address">Add new address</a>
                </div>
                <!-- New Billing Address Modal -->
                <div class="modal fade" id="new-billing-address" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content loop-border">
                      <div class="modal-header">
                        <h5 class="modal-title insider-info-title muli boldest" id="exampleModalLabel">Add a billing address</h5>
                      </div>
                      <div class="modal-body modal-delivery-addresses">
                        <div class="modal-new-delivery-address">
                          <%= simple_form_for @address do |f| %>
                            <%= f.input :address_line1, label: false, placeholder: 'Address Line 1', required: true, input_html: { class: 'contact-form-input' } %>
                            <%= f.input :address_line2, label: false, placeholder: 'Address Line 2  (optional)', required: false, input_html: { class: 'contact-form-input' } %>
                            <%= f.input :county, label: false, placeholder: 'County/State', required: true, input_html: { class: 'contact-form-input' } %>
                            <%= f.input :city, label: false, placeholder: 'City', required: true, input_html: { class: 'contact-form-input' } %>
                            <%= f.input :postcode, label: false, placeholder: 'Post/zip code', required: true, input_html: { class: 'contact-form-input' } %>
                            <%= f.input :country, label: false, prompt: 'Country', required: true, input_html: { class: 'dropdown-input sign-up-dropdown tiny-margin-bottom' } %>
                            <%= f.input :phone_number, label: false, placeholder: 'Phone Number', input_html: { class: 'contact-form-input' } %>
                            <div style="height: 24px;"></div>
                            <%= f.input :delivery_address, as: :hidden, input_html: { value: false } %>
                        </div>
                      </div>
                        <div class="modal-footer">
                          <button type="button" class="secondary-button checkout-address-button small-text muli" data-dismiss="modal">CLOSE</button>
                          <%= f.submit 'ADD ADDRESS', class: 'primary-button checkout-address-button', id: 'billingBtn' %>
                        </div>
                      <% end %>
                    </div>
                  </div>
                </div>
              <% else %>
                <%= simple_form_for @address do |f| %>
                  <%= f.input :address_line1, label: false, placeholder: 'Address Line 1', required: true, input_html: { class: 'contact-form-input', style: "width: 95%;" } %>
                  <%= f.input :address_line2, label: false, placeholder: 'Address Line 2  (optional)', required: false, input_html: { class: 'contact-form-input', style: "width: 95%;" } %>
                  <%= f.input :county, label: false, placeholder: 'County/State', required: true,  input_html: { class: 'contact-form-input', style: "width: 95%;" } %>
                  <%= f.input :city, label: false, placeholder: 'City', required: true, input_html: { class: 'contact-form-input', style: "width: 95%;" } %>
                  <%= f.input :postcode, label: false, placeholder: 'Post/zip code', required: true, input_html: { class: 'contact-form-input', style: "width: 95%;" } %>
                  <%= f.input :country, label: false, prompt: 'Country', required: true, input_html: { class: 'dropdown-input sign-up-dropdown tiny-margin-bottom', style: "width: 95%;" } %>
                  <%= f.input :phone_number, label: false, placeholder: 'Phone Number', input_html: { class: 'contact-form-input', style: "width: 95%;" } %>
                  <div style="height: 24px;"></div>
                  <%= f.input :delivery_address, as: :hidden, input_html: { value: false } %>
                  <%= f.submit 'ADD ADDRESS', class: 'secondary-button checkout-address-button', id: 'billingBtn' %>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
        <%= simple_form_for @order, remote: true do |f| %>
          <div class="checkout-mobile">
            <%= f.input :delivery_address_id, as: :hidden, input_html: { id: "deliveryHolder", value: current_user&.delivery_addresses&.last&.id } %>
            <%= f.input :billing_address_id, as: :hidden, input_html: { id: "billingHolder", value: current_user&.billing_addresses&.last&.id } %>
            <%= f.input :delivery_type, as: :hidden, input_html: { value: 'standard' } %>
          </div>
          <script src="https://js.stripe.com/v3/"></script>
          <% if @basket.total_price <= 0 %>
            <%= f.submit 'COMPLETE PURCHASE', class: 'primary-button checkout-complete-button'  %>
          <% elsif @user.delivery_addresses.length == 0 || @user.billing_addresses.length == 0 %>
            <a class="stripe-button conditional-button muli" id="addressBtn">CONFIRM ADDRESSES</a>
            <%= f.submit 'PAYMENT', class: 'stripe-button conditional-button d-none muli', id: "paymentHidden" %>
          <% else %>
            <%= f.submit 'PAYMENT', class: 'stripe-button stripe-button-el muli' %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script>
  // billingAddressContainer = document.querySelector('.billing-address-container')
  // useAsBilling = document.getElementById('address_use_as_billing')
  // useAsBilling.addEventListener('change', () => {
  //   billingAddressContainer.classList.toggle('d-none')
  // })
</script>
