<div class="dashboard-wrapper">
  <div class="dashboard-container">
    <div class="dash-menu-container">
      <div class="dash-links">
        <h4 class="insider-info-title mlb-title text-center dash-mobile-title">Order Summary</h4>
        <% if @basket.empty? %>
          <p class="small-text text-center">There are no items in your basket</p>
        <% else %>
          <div class="checkout-basket-display">
            <div class="checkout-item-container">
              <% @basket.basket_products.each do |item| %>
                <div class="checkout-item">
                  <div>
                    <h6 class="boldest small-text"><%= item.product.title %></h6>
                    <h6 class="small-text"><%= item.shade.name %></h6>
                    <h6 class="small-text no-margin">Qty: <%= item.quantity %></h6>
                  </div>
                  <div>
                    <h6 class="small-text"><%= humanized_money_with_symbol item.product.price * item.quantity %></h6>
                  </div>
                </div>
              <% end %>
              <%= link_to 'Edit Bag', bag_path, class: 'text-center grey underline boldest small-text checkout-edit-bag' %>
            </div>
            <div class="checkout-total-container">
              <div class="basket-price">
                <span class="small-text grey boldest">Subtotal: </span>
                <h5 class="small-text grey boldest no-margin"><%= humanized_money_with_symbol @basket.total_price %></h5>
              </div>
              <div class="basket-price small-margin-bottom">
                <span class="small-text grey boldest no-margin">Delivery: </span>
                <h5 class="small-text grey boldest no-margin"><%= humanized_money_with_symbol 5.95 %></h5>
              </div>
              <div class="basket-price">
                <span class="grey boldest medium-text">Total: </span>
                <h5 class="grey boldest medium-text no-margin"><%= humanized_money_with_symbol @basket.total_price %></h5>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="dash-content-container">
      <h2 class="insider-info-title mlb-title text-center">Checkout</h2>
      <hr>
      <%= render 'checkout_process' %>
      <hr>
      <div class="order-summary-container">
        <div class="order-summary">
          <div class="order-summary-mobile">
            <h4 class="boldest medium-text">Order Summary</h4>
            <% if @basket.empty? %>
              <p>There are no items in your basket</p>
            <% else %>
              <div class="checkout-basket-display">
                <div class="checkout-item-container">
                  <% @basket.basket_products.each do |item| %>
                    <div class="checkout-item">
                      <div>
                        <h6 class="boldest small-text"><%= item.product.title %></h6>
                        <h6 class="small-text"><%= item.shade.name %></h6>
                        <h6 class="small-text no-margin">Qty: <%= item.quantity %></h6>
                      </div>
                      <div>
                        <h6 class="small-text"><%= humanized_money_with_symbol item.product.price * item.quantity %></h6>
                      </div>
                    </div>
                  <% end %>
                  <%= link_to 'Edit Bag', bag_path, class: 'text-center grey underline boldest small-text checkout-edit-bag' %>
                </div>
                <div class="checkout-total-container">
                  <div class="basket-price">
                    <span class="small-text grey boldest">Subtotal: </span>
                    <h5 class="small-text grey boldest no-margin"><%= humanized_money_with_symbol @basket.total_price %></h5>
                  </div>
                  <div class="basket-price small-margin-bottom">
                    <span class="small-text grey boldest no-margin">Delivery: </span>
                    <h5 class="small-text grey boldest no-margin"><%= humanized_money_with_symbol 5.95 %></h5>
                  </div>
                  <div class="basket-price">
                    <span class="grey boldest medium-text">Total: </span>
                    <h5 class="grey boldest medium-text no-margin"><%= humanized_money_with_symbol @basket.total_price %></h5>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
          <p class="medium-text boldest small-margin-top">Delivery Option</p>
          <div class="checkout-delivery-option no-border-bottom">
            <div class="checkout-checkbox">
              <div class="checkout-checkbox-inner"></div>
            </div>
            <p class="boldest small-text no-margin">Standard</p>
            <p class="boldest small-text grey no-margin">2-5 working days from despatch</p>
            <p class="boldest small-text no-margin"><%= humanized_money_with_symbol 5.95 %></p>
          </div>
          <div class="checkout-delivery-option margin-bottom">
            <div class="checkout-checkbox">
              <div></div>
            </div>
            <p class="boldest small-text no-margin">Express</p>
            <p class="boldest small-text grey no-margin">Next working day from despatch</p>
            <p class="boldest small-text no-margin"><%= humanized_money_with_symbol 6.95 %></p>
          </div>
          <div class="checkout-addresses-container">
            <div class="checkout-address">
              <p class="medium-text boldest">Delivery Address</p>
              <% if @user.addresses.any? %>
                <p class="small-text grey boldest tiny-margin-bottom"><%= @user.first_name %> <%= @user.last_name %></p>
                <p class="small-text grey boldest tiny-margin-bottom"><%= @user.addresses.first.street %></p>
                <p class="small-text grey boldest tiny-margin-bottom"><%= @user.addresses.first.city %>, <%= @user.addresses.first.postcode %></p>
              <% else %>
                <%= simple_form_for @address do |f| %>
                  <%= f.input :street, label: false, placeholder: 'Street', input_html: { class: 'contact-form-input' } %>
                  <%= f.input :city, label: false, placeholder: 'City', input_html: { class: 'contact-form-input' } %>
                  <%= f.input :postcode, label: false, placeholder: 'Post code', input_html: { class: 'contact-form-input' } %>
                  <%= f.submit 'ADD ADDRESS', class: 'secondary-button checkout-address-button' %>
                <% end %>
              <% end %>
            </div>
            <div class="checkout-address">
              <p class="medium-text boldest">Billing Address</p>
              <% if @user.addresses.any? %>
                <p class="small-text grey boldest tiny-margin-bottom"><%= @user.first_name %> <%= @user.last_name %></p>
                <p class="small-text grey boldest tiny-margin-bottom"><%= @user.addresses.first.street %></p>
                <p class="small-text grey boldest tiny-margin-bottom"><%= @user.addresses.first.city %>, <%= @user.addresses.first.postcode %></p>
              <% else %>
                <%= simple_form_for @address do |f| %>
                  <%= f.input :street, label: false, placeholder: 'Street', input_html: { class: 'contact-form-input' } %>
                  <%= f.input :city, label: false, placeholder: 'City', input_html: { class: 'contact-form-input' } %>
                  <%= f.input :postcode, label: false, placeholder: 'Post code', input_html: { class: 'contact-form-input' } %>
                  <%= f.input :delivery_address, as: :hidden, input_html: { value: false } %>
                  <%= f.submit 'ADD ADDRESS', class: 'secondary-button checkout-address-button' %>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
        <div class="checkout-mobile">
          <%= simple_form_for @order do |f| %>
            <%= f.input :phone_number, input_html: { value: "#{current_user&.phone_number ? current_user.phone_number : '' }", class: "contact-form-input checkout-mobile-input" }  %>
          <% end %>
        </div>
        <%= simple_form_for @order do |f| %>
          <% if @basket.total_price <= 0 %>
            <%= f.submit 'COMPLETE PURCHASE', class: 'primary-button checkout-complete-button'  %>
          <% else %>
            <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
              data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
              data-name="My Order"
              data-email="<%= current_user.email %>"
              data-description="<%= current_user.first_name %>'s order from Loop Beauty"
              data-amount="<%= @basket.total_price_cents %>"
              data-currency="<%= @basket.total_price.currency %>"></script>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
