<div class="dashboard-wrapper">
  <div class="dashboard-container">
    <div class="dash-menu-container">
      <%= render 'shared/dash' %>
    </div>
    <div class="dash-content-container">
      <h2 class="insider-info-title mlb-title text-center">Order Complete</h2>
      <hr>
      <%= render 'shared/checkout_process' %>
      <hr>
      <div class="my-orders-container">
        <p class="medium-text boldest muli">Your order has been completed successfully!</p>
        <p class="medium-text boldest muli">Order details are listed below!</p>
        <div class="order-show-info">
          <div class="order-show-info-left">
            <% if @order.credit_spent_cents > 0 %>
              <p class="boldest s-medium-text no-margin muli">Total credits spent: <%= humanized_money_with_symbol @order.credit_spent %></p>
              <p class="boldest s-medium-text no-margin muli">Remaining credits: <%= humanized_money_with_symbol @order.user.remaining_credit %></p>
            <% else %>
              <p class="boldest s-medium-text small-margin-bottom">Total: <%= humanized_money_with_symbol @order.total_with_delivery %></p>
            <% end %>
            <!-- <p class="boldest s-medium-text no-margin">Status: <%= @order.status %></p> -->
             <p class="boldest s-medium-text no-margin muli">Delivery address:</p>
             <p class="small-text grey boldest tiny-margin-bottom"><%= @order.user.first_name %> <%= @order.user.last_name %></p>
             <p class="small-text grey boldest tiny-margin-bottom"><%= @order.delivery_address.address_line1 %></p>
             <p class="small-text grey boldest tiny-margin-bottom"><%= @order.delivery_address.city %>, <%= @order.delivery_address.postcode %></p>
          </div>
          <div class="order-show-info-right">
            <p class="boldest s-medium-text small-margin-bottom muli">Date: <%= @order.created_at.strftime('%d/%m/%y') %></p>
            <p class="boldest s-medium-text no-margin muli">No of items: <%= @order.total_number_of_products %></p>
          </div>
        </div>
        <div class="row row-padding" style="width: 100%;">
          <% @order.order_products.each do |order_product| %>
            <div class="col-12 col-sm-4">
              <%= link_to product_path(order_product.product), class: "order-show-card-link no-decoration" do %>
                <div class="each-order-card order-show-product-card">
                  <div class="each-order-container order-show-each-order">
                    <%= image_tag url_for(order_product.product.shades.first.card_photo), class: "order-image order-show-image", alt: "order product shade photo" %>
                    <div class="order-details-text">
                      <p class="boldest s-medium-text"><%= order_product.product.title %></p>
                      <p class="small-text"><%= order_product.shade.name %></p>
                      <p class="small-text">Quantity: <%= order_product.quantity %></p>
                    </div>
                    <div class="order-price">
                      <p class="boldest small-text"><%= humanized_money_with_symbol order_product.product.price * order_product.quantity %></p>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


