<div class="dashboard-wrapper">
  <div class="dashboard-container">
    <div class="dash-menu-container">
      <%= render 'shared/dash' %>
    </div>
    <div class="dash-content-container">
      <h2 class="insider-info-title mlb-title text-center">Order Complete</h2>
      <hr>
      <%= render 'shared/checkout_process' %>
      <hr>
      <div class="my-orders-container">
        <p class="medium-text boldest muli">Your order has been completed successfully!</p>
        <p class="medium-text boldest muli">Order details are listed below!</p>
        <div class="order-show-info">
          <div class="order-show-info-left">
            <p class="boldest small-text no-margin muli">Subtotal: <span class="grey"><%= humanized_money_with_symbol @order.subtotal %></span></p>
            <p class="boldest small-text no-margin muli">Delivery: <span class="grey"><%= @order.delivery_cost %></span></p>
            <% if @order.credit_spent_cents > 0 %>
              <p class="boldest small-text no-margin muli">Total credits spent: <span class="grey"><%= humanized_money_with_symbol @order.credit_spent %></span></p>
              <p class="boldest small-text no-margin muli">Remaining credits: <span class="grey"><%= humanized_money_with_symbol @order.user.remaining_credit %></span></p>
            <% end %>
            <p class="boldest small-text small-margin-bottom muli">Total: <span class="grey"><%= humanized_money_with_symbol @order.total_with_delivery %></span></p>
            <hr>
            <!-- <p class="boldest small-text no-margin">Status: <%= @order.status %></p> -->
            <div class="order-success-delivery-option">
              <p class="boldest small-text no-margin muli">Delivery option:</p>
              <p class="small-text grey boldest muli"><%= @order.delivery_type.capitalize %></p>
            </div>
            <hr>
            <div class="order-success-address">
              <p class="boldest small-text no-margin muli">Delivery address:</p>
              <p class="small-text boldest no-bottom-margin muli"><%= @order.user.first_name %> <%= @order.user.last_name %></p>
              <p class="small-text grey boldest no-bottom-margin muli"><%= @order.delivery_address.address_line1 %></p>
              <p class="small-text grey boldest no-bottom-margin muli"><%= @order.delivery_address.city %></p>
              <p class="small-text grey boldest no-bottom-margin muli"><%= @order.delivery_address.postcode %></p>
            </div>
          </div>
          <div class="order-show-info-right">
            <div class="order-success-order-number">
              <p class="boldest small-text no-margin muli">Order no:</p>
              <p class="small-text grey boldest muli"><%= "%05d" % @order.id %></p>
            </div>
            <hr>
            <p class="boldest small-text no-margin muli">Date: <span class="grey"><%= @order.created_at.strftime('%e %B %Y') %></span></p>
            <hr>
            <p class="boldest small-text no-margin muli">No of items: <span class="grey"><%= @order.total_number_of_products %></span></p>
            <hr>
            <%= link_to 'TRACK ORDER', '#', class: 'primary-button products-admin-buttons disabled-checkout-button' %>
          </div>
        </div>
        <div class="row row-padding" style="width: 100%;">
          <% @order.order_products.each do |order_product| %>
            <div class="col-12 col-sm-4">
              <%= link_to product_path(order_product.product), class: "order-show-card-link no-decoration" do %>
                <div class="each-order-card order-show-product-card">
                  <div class="each-order-container order-show-each-order">
                    <%= image_tag url_for(order_product.product.shades.first.card_photo), class: "order-image order-show-image", alt: "order product shade photo" %>
                    <div class="order-details-text">
                      <p class="boldest s-medium-text muli"><%= order_product.product.title %></p>
                      <p class="small-text muli"><%= order_product.shade.name %></p>
                      <p class="small-text muli">Quantity: <%= order_product.quantity %></p>
                    </div>
                    <div class="order-price">
                      <p class="boldest small-text muli"><%= humanized_money_with_symbol order_product.product.price * order_product.quantity %></p>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


