<div class="dashboard-wrapper">
  <div class="dashboard-container-title mb-3 px-3 px-md-0">
    <h4 class="ls-xs mb-0"><%= current_user.influencer ? "influencer portal" : "my profile" %></h4>
    <% if current_user.influencer? %>
      <div class="d-flex justify-content-center align-items-center">
        <p class="m-0 lighter ls-xs d-none d-sm-block">hello, <%= current_user.first_name %></p>
        <%= image_tag url_for(current_user.avatar_photo), class: 'avatar-large ml-3' %>
      </div>
    <% end %>
  </div>
  <div class="dashboard-container">
    <div class="dash-menu-container">
      <% if current_user.influencer %>
        <%= render 'shared/influencer_dash' %>
      <% else %>
        <%= render 'shared/dash' %>
      <% end %>
    </div>
    <div class="dash-content-container">
      <p class="ls-xs mb-3 mb-md-2 pl-3 pl-3 pl-md-0">my orders</p>
      <div class="dash-content">
        <div class="p-3 w-100">
          <div class="row m-0" style="width: 100%;">
            <div class="col-12 px-0">
              <div class="">
                <div class="order-title-show">
                  <p class="lighter mb-2 m-sm-0 small-text ls-xs">All Orders > Order Number > <%= "%05d" % @order.id %></p>
                  <%= link_to 'track order', 'https://tracking.controlport.co.uk/e9ab6870/loop-beauty/return/49cbcb', target: '_blank', class: 'primary-button personal-details-button small-text mt-0 mb-2 lighter' %>
                </div>
                <hr class="w-100 mt-2" style="border-color: #DDCCB5;">
              </div>
            </div>
            <div class="col-12 px-0">
              <div class="order-show-info">
                <div class="d-flex">
                  <div class="order-show-info-left">
                    <p class="small-text ls-xs bold">Order Number:</p>
                    <p class="small-text ls-xs bold">Total Paid:</p>
                    <p class="small-text ls-xs bold">Delivery Fee:</p>
                  </div>
                  <div class="">
                    <p class="small-text ls-xs"><%= "%05d" % @order.id %></p>
                    <p class="small-text ls-xs"><%= humanized_money_with_symbol @order.total_with_delivery %></p>
                    <p class="small-text ls-xs"><%= humanized_money_with_symbol @order.delivery_cost %> (<%= @order.delivery_type.capitalize %> Delivery)</p>
                  </div>
                </div>
                <div class="d-flex">
                  <p class="order-show-date small-text ls-xs"><strong>Date Ordered:</strong></p>
                  <p class="small-text ls-xs"><%= @order.created_at.strftime('%b %d, %Y') %></p>
                </div>
              </div>
              <hr class="w-100 mt-0" style="border-color: #DDCCB5;">
            </div>
            <div class="col-12 px-0">
              <p class="small-text ls-xs bold">Items Ordered:</p>
              <div class="row m-0">
                <% @order.order_products.each do |order_product| %>
                  <div class="col-12 px-0 mb-4">
                    <div class="d-flex justify-content-between">
                      <div class="d-flex">
                        <%= link_to product_path(order_product.product), class: "order-show-card-link no-decoration" do %>
                          <%= image_tag url_for(order_product.shade.card_photo), class: "order-image", alt: "order product shade photo" %>
                        <% end %>
                        <div class="d-flex flex-column justify-content-center">
                          <p class="small-text ls-xs my-1">Qty: <%= order_product.quantity %></p>
                          <p class="small-text ls-xs my-1 pr-3"><%= order_product.product.brand.name %>, <%= order_product.product.title %>, <%= order_product.shade.name %></p>
                          <p class="small-text ls-xs my-1">Price: <%= humanized_money_with_symbol order_product.product.price * order_product.quantity %></p>
                          <%= link_to 'View Product', product_path(order_product.product), class: 'no-decoration gold-link px-0 small-text ls-xs d-inline-block d-sm-none' %>
                        </div>
                      </div>
                      <div class="d-none d-sm-flex align-items-center small-text ls-xs ">
                      <%= link_to 'View Product', product_path(order_product.product), class: 'no-decoration gold-link px-0 small-text ls-xs' %>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
