<div class="dashboard-wrapper">
  <div class="dashboard-container">
    <div class="dash-menu-container">
      <%= render 'shared/dash' %>
    </div>
    <div class="dash-content-container">
      <h2 class="insider-info-title mlb-title text-center">Order <%= @order.stripe_id ? @order.stripe_id.upcase : @order.id %></h2>
      <hr>
      <div class="my-orders-container">
        <div class="order-show-info">
          <div class="order-show-info-left">
            <% if @order.credit_spent_cents > 0 %>
              <p class="boldest s-medium-text no-margin">Total credits spent: <%= humanized_money_with_symbol @order.credit_spent %></p>
              <p class="boldest s-medium-text no-margin">Remaining credits: <%= humanized_money_with_symbol @order.user.remaining_credit %></p>
            <% else %>
              <p class="boldest s-medium-text no-margin">Total: <%= humanized_money_with_symbol @order.total_price %></p>
            <% end %>
            <p class="boldest s-medium-text no-margin">Status: <%= @order.status %></p>
          </div>
          <div class="order-show-info-right">
            <p class="boldest s-medium-text no-margin">Date: <%= @order.created_at.strftime('%d\%m\%d') %></p>
            <p class="boldest s-medium-text no-margin">No of items: <%= @order.products.count %></p>
          </div>
        </div>
        <div class="row" style="width: 80%;">
          <% @order.order_products.each do |order_product| %>
            <div class="col-6">
              <%= link_to product_path(order_product.product), class: "order-show-card-link no-decoration" do %>
                <div class="each-order-card order-show-product-card">
                  <div class="each-order-container order-show-each-order">
                    <div class="my-order-details">
                      <%= image_tag url_for(order_product.product.shades.first.photos.first), class: "order-image" %>
                      <div class="order-details-text">
                        <p class="boldest s-medium-text"><%= order_product.product.title %></p>
                        <p class="small-text"><%= order_product.shade.name %></p>
                        <p class="small-text">Quantity: <%= order_product.quantity %></p>
                      </div>
                    </div>
                    <div class="order-price">
                      <p class="boldest small-text"><%= humanized_money_with_symbol order_product.product.price * order_product.quantity %></p>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
