<div class="about-us-wrapper">
  <div class="content-margin position-relative">
    <div class="content-container">
      <div class="row m-0">
        <div class="col-12 col-md-6">
          <div class="about-us-text mt-0 mt-mb-5">
            <%= image_tag 'the-net.png', width: 200, class: 'mb-5' %>
            <p class="ls-sm lighter mb-5 top-text">For buyers like me, finding a beauty product can be a frustrating experience. Too often brands put people who look like me low on their priority list. Shades are rarely “in stock”. Beauty advisors are ill equipped to advise. Filtering between brands, tracking beauty experts and trends to determine the best product is an uphill battle. I created The Net to integrate discovery and shopping into a solution that makes finding the perfect product simple. The Net is more than an e-tailer, we are your beauty bible, your beauty internet and your source of unrivalled beauty insider tips.  We scout out the most exciting brands so that you don’t have to.</p>
            <div class="signature d-flex justify-content-end">
              <%= image_tag 'signature.png' %>
              <div class="founder d-flex flex-column">
                <p class="m-0 small-text">Ariel Okunbanjo</p>
                <small>Founder</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6 d-none d-md-block">
          <div class="about-us-image-container">
            <div class="oval-button">
              <div class="button-text">
                <p class="mb-0 bt-5 ls-sm">Strength</p>
              </div>
              <%= image_tag 'oval-button.svg' %>
            </div>
            <%= image_tag 'double-loop-arrow.png', class: 'double-loop-arrow' %>
            <%= image_tag 'about-us-image.png', class: 'w-100' %>
            <%= image_tag 'the_net_watermark.png', class: 'the-net-watermark' %>
          </div>
        </div>
      </div>
    </div>
    <%= image_tag 'asterisk.png', class: 'asterisk' %>
  </div>

  <div class="content-margin position-relative">
    <div class="content-container">
      <div class="row m-0">
        <div class="col-12">
          <div class="about-us-image-wide-container">
            <%= image_tag 'about-us-image-two.png', class: 'w-100' %>
            <%= image_tag 'asterisk.png', class: 'asterisk' %>
            <%= image_tag 'single-loop-arrow.png', class: 'single-loop-arrow' %>
            <div class="oval-button">
              <div class="button-text">
                <p class="mb-0 bt-5 ls-sm">Digital</p>
              </div>
              <%= image_tag 'oval-button.svg' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="content-margin position-relative">
    <div class="content-container">
      <div class="row m-0 flex-column-reverse flex-md-row">
        <div class="col-12 col-md-6">
          <div class="about-us-text mt-5">
            <p class="ls-sm lighter mb-5 top-text">It’s no secret that women of colour too often get the short end of the stick in the world of beauty. What brands can you trust? What Beauty Advisor can give you the advice you are really looking for? Filtering between the 1000s of brands, tracking beauty experts and trends to determine the best product can be an uphill battle.</p>
            <p class="ls-sm lighter mb-5 top-text">Our team partners with a Net-work of the best-in class content creators to sort through the noise in the market to bring you all the best products along with expert tutorials and advice to help you find the perfect product.</p>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="about-us-community my-5 m-md-0">
            <h1>COMMUNITY</h1>
            <div class="oval-button">
              <div class="button-text">
                <p class="mb-0 bt-5 ls-sm">Beauty</p>
              </div>
              <%= image_tag 'oval-button.svg' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="content-margin position-relative">
    <div class="content-container">
      <div class="row m-0 justify-content-center">
        <div class="col-12 col-md-9">
          <div class="about-us-brands-container">
            <%= image_tag 'about-us-brand-image.png', class: 'w-100 mb-5' %>
            <p class="ls-sm lighter mb-5 top-text text-right">The NET is focused on offering you the best-in-class beauty, skincare and haircare products from Black and Brown brands. Our network of brands and experts create the ultimate Net worth for diverse brands and customers.</p>
            <p class="ls-sm lighter mb-5 top-text text-right">While our community is our priority, we also include non-Black and Brown brands who make a demonstrated commitment to both expert products for us and furthering the conversation on inclusion in beauty. We want to ensure The Net is your one stop online store regardless of the brands you shop.</p>
            <%= image_tag 'asterisk.png', class: 'asterisk' %>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="content-margin position-relative last-content-margin">
    <div class="content-container">
      <div class="row m-0">
        <div class="col-12">
          <div class="about-us-last-container">
            <h1 class="sideways-title">BRANDS</h1>
            <div class="oval-button mb-4">
                <div class="button-text">
                  <p class="mb-0 bt-5 ls-sm">DISCIPLINE</p>
                </div>
                <%= image_tag 'oval-button.svg' %>
              </div>
              <div class="oval-button mb-4">
                <div class="button-text">
                  <p class="mb-0 bt-5 ls-sm">HISTORY</p>
                </div>
                <%= image_tag 'oval-button.svg' %>
              </div>
              <div class="oval-button mb-5">
                <div class="button-text">
                  <p class="mb-0 bt-5 ls-sm">PASSION</p>
                </div>
                <%= image_tag 'oval-button.svg' %>
              </div>
            <div class="about-us-image-wide-container">
              <%= image_tag 'about-us-last-image.png', class: 'w-100' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
