<div class="about-us-wrapper">
  <div class="about-us-top-cont">
    <div class="about-us-title">
      <h1 class="boldest">ABOUT LOOP BEAUTY</h1>
    </div>
    <div class="about-us-top" style="background-image: url('<%= asset_path('about-us-top.png') %>')">
    </div>
  </div>
  <div class="about-us-cont no-padt-mdown">
    <%= image_tag 'about-us-group.png', class: 'about-us-img', alt: 'Loop Beauty influencers together' %>
    <div class="about-us-text">
      <h1 class="boldest">What's Loop Beauty?</h1>
      <h6 class="didot lh">We make cosmetic selection for women of colour aspirational, accessible and more effective.</h6>
      <h6 class="didot lh">Our team partners with a network of the best-inclass influencers to sort through the 1000s of beauty products and brands on the market to bring you all the best products in "one-stop shops" along with tutorials, editorial and recommendations straight from our expert network of influencers to help you get the perfect product.</h6>
    </div>
  </div>
  <div class="about-us-cont rev">
    <%= image_tag 'lipstick.png', class: 'about-us-img', alt: "Lipstick for women of color" %>
    <div class="about-us-text">
      <h1 class="boldest">Our History</h1>
      <h6 class="didot lh">Everyone knows it's no secret that women of colour get the short end of the stick in the world of beauty. Ariel saw unclose the beauty industry's challenge meeting the needs of women of colour. Filtering between beauty brands, tracking beauty experts and trends to determine the best product can be an up hill battle.</h6>
      <!-- <div class="our-history-image"> -->

      <!-- </div> -->
      <h6 class="didot lh">Although brands are now embracing inclusivity and shifting their marketing and products to suit the needs of women of colour, it's still challenging to understand and find the best for us.</h6>
    </div>
  </div>
  <div class="about-us-cont">
    <%= image_tag 'ariel-about-us.png', class: 'about-us-img', alt: 'Ariel Okubanjo our founder' %>
    <div class="about-us-text">
      <h1 class="boldest">Ariel Okubanjo <br>Founder & CEO</h1>
      <h6 class="didot lh">Launched in 2018 by Ariel Okubanjo, a beauty executive with 10 years experience working in the industry,  Ariel wanted a place made especially for women of colour to introduce them to incredible beauty brands. A place where people could discover incredible beauty experts, and find suggestions from a trusted friend - not from an anonymous, crowd-sourced recommendation engine.</h6>
    </div>
  </div>

 <!--  <div class="loop-beauty-banner">
    <%#= image_tag 'loop-beauty-logo.png', class: 'about-us-loop-logo', alt: "Loop beauty logo" %>
    <h4>Making cosmetic selection easier for women of colour</h4>
    <div class="loop-beauty-founder-container">
      <div class="loop-beauty-founder-text">
        <h6 class="didot lh">Launched in 2018 by Ariel Roberts, a beauty executive with 10 years experience working in the industry, Ariel wanted a place made especially for women of colour to introduce them to incredible beauty brands, a place where people could discover incredible beauty experts, and find suggestions from a trusted friend - not from an anonymous, crowd-sourced recommendation engine.</h6>
      </div>
      <%= image_tag 'ariel-about-us.png', class: 'about-us-ariel', alt: 'Ariel Okubanjo our founder' %>
    </div>
  </div> -->

</div>
