<%#= render "shared/homepage_banner"%>
<div class="content-margin first-banner-padding">
  <div class="content-container">
    <div class="d-block d-md-none">
      <h1 class="mb-4 main-home-title">inspire</h1>
      <h5 class="mb-0 neue-machina ls-sm lh-md mb-3">The revolutionary beauty marketplace that is changing women of colour.</h5>
      <%= link_to products_path do %>
        <div class="oval-button mb-4">
          <div class="button-text">
            <p class="mb-0 bt-5 ls-sm">View Products</p>
          </div>
          <%= image_tag 'oval-button.svg' %>
        </div>
      <% end %>
      <%= image_tag 'homepage_banner.png', class: 'w-100' %>
    </div>
    <div class="d-none d-md-block">
      <div class="homepage-banner" style="background-image: linear-gradient(to right, rgba(0,0,0,0.3), rgba(0,0,0,0.1)), url(<%= url_for(@home_banners.last.banner) %>)">
        <div class="homepage-banner-text">
          <h1 class="text-white mb-4">inspire</h1>
          <h5 class="text-white mb-0 neue-machina ls-lg lh-md mb-4"><%= @home_banners.last.content %></h5>
          <%= link_to products_path do %>
            <div class="oval-button">
              <div class="button-text">
                <p class="mb-0 bt-5 ls-sm text-white"><%= @home_banners.last.link_text %></p>
              </div>
              <%= image_tag 'oval-button-white.svg' %>
            </div>
          <% end %>
          <%= image_tag 'the_net_watermark.png', class: 'the-net-watermark' %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <% if user_signed_in? && current_user.admin %>
    <% if policy([:admin, HomeBanner]).edit? %>
      <div class="admin-options">
        <hr>
        <div class="container">
          <h6 class="neue-machina boldest ls-xs">admin options</h6>
          <div class="d-flex">
            <%= link_to "edit home banners", admin_home_banners_path, class: 'dotted-underline-button px-0' %>
          </div>
        </div>
        <hr>
      </div>
    <% end %>
  <% end %>
</div>

<div class="content-margin position-relative">
  <h2 class="text-center neue-machina ls-sm py-5">What's Hot Now</h2>
  <div class="content-container content-carousel">
    <div class="d-block d-md-none">
      <div id="mobileProductsCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
        <div class="carousel-inner">
          <% @products.each_with_index do |product, index| %>
            <div class="carousel-item <%= 'active' if index == 0 %>">
              <div class="col-12">
                <div class="card-image-results homepage-products">
                  <div class="card">
                    <%= link_to product_path(product) do %>
                      <% if product.out_of_stock? %>
                        <div class="out-of-stock-overlay">
                          <h4 class="boldest kaftan text-center out-of-stock-overlay-message">OUT OF STOCK</h4>
                        </div>
                      <% end %>
                      <div class="card_image">
                        <%= link_to product_path(product) do %>
                          <% if product.shades.first&.card_photo %>
                            <%= image_tag url_for(product.shades.first.card_photo.variant(resize: '300x300')), alt: "product shade photo" %>
                          <% else %>
                            <div style="background-color: #EFEFEF; min-height: 131.5px; max-height: 204px; height: 13rem; width: 100%"></div>
                          <% end %>
                        <% end %>
                      </div>
                    <% end %>
                  </div>
                  <div class="card-info">
                    <p class="mb-2 truncate-text lighter ls-xs"><%= product.brand.name %>, <%= product.title %></p>
                    <p class="neue-machina text-secondary"><%= humanized_money_with_symbol(product.price) %></p>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
        <a class="carousel-control-prev" href="#mobileProductsCarousel" role="button" data-slide="prev">
          <%= image_tag 'right_caret.png', width: 40 %>
        </a>
        <a class="carousel-control-next" href="#mobileProductsCarousel" role="button" data-slide="next">
          <%= image_tag 'right_caret.png', width: 40 %>
        </a>
      </div>
    </div>

    <div class="d-none d-md-block">
      <div id="whatsHotNowCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
        <div class="carousel-inner">
          <% @products.each_slice(3) do |products| %>
            <div class="carousel-item <%= 'active' if products[0] == @products.first %>">
              <div class="row row-products">
                <% products.each do |product| %>
                  <div class="col-4">
                    <div class="card-image-results homepage-products">
                      <div class="card">
                        <%= link_to product_path(product) do %>
                          <% if product.out_of_stock? %>
                            <div class="out-of-stock-overlay">
                              <h4 class="boldest kaftan text-center out-of-stock-overlay-message">OUT OF STOCK</h4>
                            </div>
                          <% end %>
                          <div class="button-overlay d-none d-md-flex">
                            <div class="oval-button mx-3">
                              <div class="button-text">
                                <p class="mb-0 bt-5 ls-sm">Add to Cart</p>
                              </div>
                              <%= image_tag 'oval-button.svg' %>
                            </div>
                          </div>
                          <div class="card_image">
                            <%= link_to product_path(product) do %>
                              <% if product.shades.first&.card_photo %>
                                <%= image_tag url_for(product.shades.first.card_photo.variant(resize: '300x300')), alt: "product shade photo" %>
                              <% else %>
                                <div style="background-color: #EFEFEF; min-height: 131.5px; max-height: 204px; height: 13rem; width: 100%"></div>
                              <% end %>
                            <% end %>
                          </div>
                        <% end %>
                      </div>
                      <div class="card-info">
                        <p class="mb-2 truncate-text lighter ls-xs"><%= product.brand.name %>, <%= product.title %></p>
                        <p class="neue-machina text-secondary"><%= humanized_money_with_symbol(product.price) %></p>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
        <% if @products.count > 3 %>
          <a class="carousel-control-prev" href="#whatsHotNowCarousel" role="button" data-slide="prev">
            <%= image_tag 'right_caret.png', width: 40 %>
          </a>
          <a class="carousel-control-next" href="#whatsHotNowCarousel" role="button" data-slide="next">
            <%= image_tag 'right_caret.png', width: 40 %>
          </a>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="content-margin pop-out-no-padding-mobile">
  <div class="content-container pop-out-bottom-padding">
    <div class="pop-out-image-banner">
      <div class="pop-out-image-banner-content">
        <h2 class="neue-machina ls-sm mb-3 text-center">Obsession of the Week</h2>
        <p class="lighter mb-4 ls-sm text-center"><%= @home_banners.last.content %></p>
        <a href="<%= @home_banners.last.link %>" class="dotted-underline-button lighter mb-5"><%= @home_banners.last.link_text %></a>
        <%= image_tag url_for(@home_banners.last.banner) %>
      </div>
    </div>
  </div>
</div>

<div class="content-margin position-relative">
  <div class="d-flex flex-column justify-content-center align-items-center">
    <h2 class="neue-machina ls-sm mb-3 text-center">Insider Secrets From Our Community</h2>
    <p class="lighter mb-4 ls-sm text-center">Our Experts are here to share their secrets from their experiences</p>
    <%= link_to 'View All Content', community_path, class: 'dotted-underline-button lighter mb-5' %>
  </div>
  <div class="content-container content-carousel" id="tutorial-anchor">
    <div class="d-block d-md-none">
      <div id="mobileArticleCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
        <div class="carousel-inner">
          <% @insider_articles.each_with_index do |article, index| %>
            <div class="carousel-item <%= 'active' if index == 0 %>">
              <div class="col-12">
                <div class="card-image-results homepage-products">
                  <div class="card">
                    <div class="card_image homepage-article-image">
                      <%= link_to insider_article_path(article) do %>
                        <%= image_tag url_for(article.cover_photo.variant(resize: '300x300')), alt: "insider article photo" %>
                      <% end %>
                    </div>
                  </div>
                  <div class="card-info">
                    <p class="mb-2 truncate-text lighter ls-xs small-text grey-font"><%= article.category.downcase %></p>
                    <p class="mb-3 truncate-text lighter ls-xs"><%= article.title %></p>
                    <%= link_to 'Read More', insider_article_path(article), class: 'dotted-underline-button lighter mb-5 px-0' %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
        <a class="carousel-control-prev" href="#mobileArticleCarousel" role="button" data-slide="prev">
          <%= image_tag 'right_caret.png', width: 40 %>
        </a>
        <a class="carousel-control-next" href="#mobileArticleCarousel" role="button" data-slide="next">
          <%= image_tag 'right_caret.png', width: 40 %>
        </a>
      </div>
    </div>

    <div class="d-none d-md-block">
      <div id="insiderArticleCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
        <div class="carousel-inner">
          <% @insider_articles.each_slice(2) do |articles| %>
            <div class="carousel-item <%= 'active' if articles[0] == @insider_articles.first %>">
              <div class="row row-products">
                <% articles.each do |article| %>
                  <div class="col-6">
                    <div class="card-image-results homepage-products">
                      <div class="card">
                        <div class="card_image homepage-article-image">
                          <%= link_to insider_article_path(article) do %>
                            <%= image_tag url_for(article.cover_photo.variant(resize: '300x300')), alt: "insider article photo" %>
                          <% end %>
                        </div>
                      </div>
                      <div class="card-info">
                        <p class="mb-2 truncate-text lighter ls-xs small-text grey-font"><%= article.category.downcase %></p>
                        <p class="mb-3 truncate-text lighter ls-xs"><%= article.title %></p>
                        <%= link_to 'Read More', insider_article_path(article), class: 'dotted-underline-button lighter mb-5 px-0' %>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
        <% if @insider_articles.count > 3 %>
          <a class="carousel-control-prev" href="#insiderArticleCarousel" role="button" data-slide="prev">
            <%= image_tag 'right_caret.png', width: 40 %>
          </a>
          <a class="carousel-control-next" href="#insiderArticleCarousel" role="button" data-slide="next">
            <%= image_tag 'right_caret.png', width: 40 %>
          </a>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="content-margin pop-out-no-padding-mobile">
  <div class="content-container pop-out-bottom-padding">
    <div class="pop-out-image-banner">
      <div class="pop-out-image-banner-content">
        <h2 class="neue-machina ls-sm mb-3 text-center">How We Are Changing The Game</h2>
        <p class="lighter mb-4 ls-sm text-center">Meet our founder Ariel Okubanjo</p>
        <%= link_to 'About Us', 'about_us_path', class: 'dotted-underline-button lighter mb-5' %>
        <%= image_tag 'pop_out_image_two.png' %>
      </div>
    </div>
  </div>
</div>

<div class="content-margin">
  <div class="content-container position-relative">
    <div class="d-flex flex-column justify-content-center align-items-center">
      <h2 class="neue-machina ls-sm mb-3">Need Some Guidance?</h2>
      <p class="lighter mb-4 ls-sm">Here are our tips and tricks from our influencers.</p>
      <%= link_to "View All How To's", community_path, class: 'dotted-underline-button lighter mb-5' %>
    </div>
    <div class="row row-products">
      <% @tutorials.each do |tutorial| %>
        <div class="col-12 col-md-4">
          <div class="card-image-results homepage-products mb-5">
            <div class="card">
              <%= link_to tutorial_path(tutorial) do %>
                <div class="button-overlay d-none d-md-flex">
                  <div class="oval-button mx-3">
                    <div class="button-text">
                      <p class="mb-0 bt-5 ls-sm">Play Video</p>
                    </div>
                    <%= image_tag 'oval-button.svg' %>
                  </div>
                </div>
                <div class="card_image">
                  <%= image_tag url_for(tutorial.cover_photo.variant(resize: '300x300')), alt: "product shade photo" %>
                </div>
              <% end %>
              <%= image_tag 'play-button.png', class: 'play-button' %>
            </div>
            <div class="card-info">
              <p class="mb-2 truncate-text lighter ls-xs"><%= tutorial.title %></p>
              <p class="neue-machina text-secondary"><%= tutorial.user.instagram %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="content-margin pop-out-no-padding-mobile last-content-margin">
  <div class="content-container pop-out-bottom-padding">
    <div class="pop-out-image-banner">
      <div class="pop-out-image-banner-content">
        <h2 class="neue-machina ls-sm mb-3 text-center">How We Are Changing The Game</h2>
        <p class="lighter mb-4 ls-sm text-center">Meet our founder Ariel Okubanjo</p>
        <%= link_to 'About Us', 'about_us_path', class: 'dotted-underline-button lighter mb-5' %>
        <%= image_tag 'pop_out_image_two.png' %>
      </div>
    </div>
  </div>
</div>







<%# if @first_visit %>
<% if 1==1 %>
  <div class="homepage-pop-up">
    <div class="pop-up-content">
      <div class="d-flex justify-content-center">
        <%= image_tag 'the-net.png', class: "popup-logo mb-5", alt: "the net logo" %>
      </div>
      <div class="">
        <%= image_tag 'popup_image.png', class: "w-100 mb-5", alt: "the net logo" %>
        <h3 class="mb-3 large-text ls-xs">welcome</h3>
        <p class="medium-text ls-xs">You entered the realm of beauty for women of colour and we are so excited to have you here.</p>
        <p class="medium-text ls-xs mb-5">Here's a little treat to complement your experience.</p>
      </div>
      <div class="">
        <h2 class="text-center mb-0 ls-xs">WELCOME2NET</h2>
        <p class="mb-0 small-text text-center ls-xs">USE AT CHECKOUT</p>
      </div>
      <%= image_tag 'popup_close.png', class: 'close-homepage-pop-up' %>
    </div>
  </div>
<% end %>

<script>
  popUp = document.querySelector('.homepage-pop-up');
  popUpContent = document.querySelector('.pop-up-content');
  popUpContentButton = document.querySelector('.pop-up-content-button');
  if (popUp) {
    popUp.addEventListener('click', function() {
      popUp.style.display = 'none'
      popUpContent.style.display = 'none'
    })
    popUpContentButton.addEventListener('click', function() {
      popUp.style.display = 'none'
      popUpContent.style.display = 'none'
    })
  }

  homeTab = document.querySelectorAll('.home-tab');
  homeFeaturedProducts = document.querySelectorAll('.home-featured-products')
  homeTab.forEach((tab) => {
    tab.addEventListener('click', (event) => {
      homeTab.forEach((tab) => { tab.classList.remove('home-tab-active') });
      event.currentTarget.classList.add('home-tab-active');
      homeFeaturedProducts.forEach((result) => {
        // result.classList.remove('home-featured-products-active');
        result.style.display = 'none';
        result.setAttribute('aria-hidden', 'true');
        if (tab.dataset.section == result.dataset.section ) {
          // result.classList.add('home-featured-products-active');
          result.style.display = 'block';
          result.setAttribute('aria-hidden', 'false');
        }
      });
    })
  })

  // document.onreadystatechange = function() {
  //   if (document.readyState !== "complete") {
  //       document.querySelectorAll(".load-show").forEach((load) => { load.style.visibility = 'hidden' })
  //       document.querySelector(".lds-spinner").style.visibility = "visible";
  //   } else {
  //       document.querySelector(".lds-spinner").style.display = "none";
  //       document.querySelectorAll(".load-show").forEach((load) => { load.style.visibility = 'visible' })
  //   }
  // };

</script>

