<div id="carouselExampleSlidesOnly" class="carousel slide carousel-fade" data-ride="carousel" data-pause="false">
  <div class="carousel-inner">
    <% @home_banners.order(created_at: :ASC).each_with_index do |home_banner, index| %>
      <div class="carousel-item <%= index == 0 ? 'active' : '' %> ">
        <a href="<%= home_banner.link %>" class="no-decoration">
          <div data-mob="<%= rails_blob_path home_banner.mobile_banner %>" data-lrg="<%= rails_blob_path home_banner.banner %>" class="holding-page-image-banner" style="background-image: url('<%= home_banner.banner.attached? ? (rails_blob_path home_banner.banner) : ('https://images.unsplash.com/photo-1512207128881-1baee87126fb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1198&q=80') %>')">
            <div class="holding-page-banner-text-container">
              <div class="holding-page-banner-text">
                <h2 class="didot <%= home_banner.text_color == 'White' ? 'home-banner-white' : 'home-banner-black' %>"><%= home_banner.content %></h2>
                <p class="<%= home_banner.text_color == 'White' ? 'home-banner-white' : 'home-banner-black' %>"><%= home_banner.link_text %></p>
              </div>
            </div>
          </div>
        </a>
      </div>
    <% end %>
  </div>
</div>
<div class="container">
  <% if user_signed_in? && current_user.admin %>
    <% if policy([:admin, HomeBanner]).edit? %>
      <div class="admin-options">
        <hr>
        <div class="container">
          <h6 class="boldest">Admin options</h6>
          <div class="d-flex">
            <%= link_to "EDIT HOME BANNERS", admin_home_banners_path, class: 'secondary-button small-margin-right' %>
          </div>
        </div>
        <hr>
      </div>
    <% end %>
  <% end %>
</div>
<div class="home-featured-wrapper">
  <div class="lds-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
  <%= render 'shared/home_tabs' %>
</div>

<h2 class="insider-info-title text-center">Insider</h2>
<div class="insider-home-articles">
  <%= render 'insider_articles/insider_cards', insider_articles: @insider_articles.last(3) %>
</div>

<% if @tutorials %>
  <div class="latest-videos-wrapper">
    <h2 class="text-center no-mb-small">Latest Videos</h2>
    <div class="latest-videos-container lookbook-max-width">
      <div class="row-carousel">
        <%= image_tag 'small-back-dark.png', class: 'carousel-buttons cb-left', alt: "back arrow" %>
          <% @tutorials.each do |tutorial| %>
            <%= render 'shared/tutorials_card', tutorial: tutorial %>
          <% end %>
        <%= image_tag 'small-forward-dark.png', class: 'carousel-buttons cb-right', alt: "forward arrow" %>
      </div>
    </div>
  </div>
<% end %>
<% if @first_visit %>
  <div class="homepage-pop-up">
    <div class="pop-up-content">
      <h3>First time with us?</h3>
      <h6>Get 10% off your first order</h6>
      <h6 class="grey-font">CODE: WELCOME2LOOP</h6>
      <p class="primary-button pop-up-content-button">SHOP NOW</p>
      <%= link_to about_us_path, class: "no-decoration" do %>
        <h6 class="grey-font no-margin" style="border-bottom: 1px solid #676767;">Learn more</h6>
      <% end %>
    </div>
  </div>
<% end %>
<script>
  popUp = document.querySelector('.homepage-pop-up');
  popUpContent = document.querySelector('.pop-up-content');
  popUpContentButton = document.querySelector('.pop-up-content-button');
  if (popUp) {
    popUp.addEventListener('click', function() {
      popUp.style.display = 'none'
      popUpContent.style.display = 'none'
    })
    popUpContentButton.addEventListener('click', function() {
      popUp.style.display = 'none'
      popUpContent.style.display = 'none'
    })
  }

  homeTab = document.querySelectorAll('.home-tab');
  homeFeaturedProducts = document.querySelectorAll('.home-featured-products')
  homeTab.forEach((tab) => {
    tab.addEventListener('click', (event) => {
      homeTab.forEach((tab) => { tab.classList.remove('home-tab-active') });
      event.currentTarget.classList.add('home-tab-active');
      homeFeaturedProducts.forEach((result) => {
        // result.classList.remove('home-featured-products-active');
        result.style.display = 'none';
        result.setAttribute('aria-hidden', 'true');
        if (tab.dataset.section == result.dataset.section ) {
          // result.classList.add('home-featured-products-active');
          result.style.display = 'block';
          result.setAttribute('aria-hidden', 'false');
        }
      });
    })
  })

  document.onreadystatechange = function() {
    if (document.readyState !== "complete") {
        document.querySelectorAll(".load-show").forEach((load) => { load.style.visibility = 'hidden' })
        document.querySelector(".lds-spinner").style.visibility = "visible";
    } else {
        document.querySelector(".lds-spinner").style.display = "none";
        document.querySelectorAll(".load-show").forEach((load) => { load.style.visibility = 'visible' })
    }
  };
  function changeBannerUrls() {
    if (window.innerWidth < 767.98) {
      document.querySelectorAll('.holding-page-image-banner').forEach((element) => {
        element.style.backgroundImage = `url('${element.dataset.mob}')`
      })
    } else {
      document.querySelectorAll('.holding-page-image-banner').forEach((element) => {
        element.style.backgroundImage = `url('${element.dataset.lrg}')`
      })
    }
  }
  changeBannerUrls()
  window.onresize = changeBannerUrls;
</script>

