<div id="carouselExampleSlidesOnly" class="carousel slide carousel-fade" data-ride="carousel" data-pause="false">
  <div class="carousel-inner">
    <% @home_banners.each_with_index do |home_banner, index| %>
      <div class="carousel-item <%= index == 0 ? 'active' : '' %> ">
        <div class="holding-page-image-banner" style="background-image: url('<%= home_banner.banner.attached? ? (rails_blob_path home_banner.banner) : ('https://images.unsplash.com/photo-1512207128881-1baee87126fb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1198&q=80') %>')">
          <div class="holding-page-banner-text-container">
            <div class="holding-page-banner-text">
              <h2 class="didot"><%= home_banner.content %></h2>
              <a href="<%= home_banner.link %>"><%= home_banner.link_text %></a>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<div class="insider-info-wrapper">
  <h2 class="insider-info-title text-center">Insider Info</h2>
  <div class="insider-info-container lookbook-max-width">
    <div class="row-carousel">
      <%= image_tag 'small-back.png', class: 'carousel-buttons cb-left', alt: "back arrow" %>
      <% @insider_articles.each do |article| %>
        <div class="col-10 col-sm-10 col-md-4 ia-cols">
          <%= link_to insider_article_path(article), class: "card-link insider-info-card-link" do %>
            <div class="insider-info-cards">
              <div class="insider-info-left">
                <div class="insider-info-text">
                  <p class="insider-info-title s-medium-text"><%= article.category %></p>
                  <p class="didot s-medium-text"><%= article.title.truncate(50) %></p>
                </div>
              </div>
              <div class="insider-info-right">
                <%# user = User.select { |u| u.first_name == article.by.split(" ")[0] } %>
                <% user = User.find(article.by) %>
                <!-- <div class="insider-info-image" style="background-image: url(<%#= url_for(user.first.avatar_photo) %>)"></div> -->
                <div class="insider-info-image" style="background-image: url(<%= url_for(user.avatar_photo) %>)"></div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
      <%= image_tag 'small-forward.png', class: 'carousel-buttons cb-right', alt: "forward arrow" %>
    </div>
  </div>
</div>
<% if @tutorials %>
  <div class="latest-videos-wrapper">
    <h2 class="insider-info-title text-center">Latest Videos</h2>
    <div class="latest-videos-container lookbook-max-width">
      <div class="row-carousel" style="margin: 30px 0;">
        <%= image_tag 'small-back-dark.png', class: 'carousel-buttons cb-left', alt: "back arrow" %>
          <% @tutorials.each do |tutorial| %>
            <%= render 'shared/tutorials_card', tutorial: tutorial %>
          <% end %>
        <%= image_tag 'small-forward-dark.png', class: 'carousel-buttons cb-right', alt: "forward arrow" %>
      </div>
    </div>
  </div>
<% end %>
<% if @first_visit %>
  <div class="homepage-pop-up">
    <div class="pop-up-content">
      <h3>First time with us?</h3>
      <h6>Get 10% off your first order</h6>
      <h6 class="grey-font">CODE: WELCOME2LOOP</h6>
      <p class="primary-button pop-up-content-button">SHOP NOW</p>
      <%= link_to about_us_path, class: "no-decoration" do %>
        <h6 class="grey-font no-margin" style="border-bottom: 1px solid #676767;">Learn more</h6>
      <% end %>
    </div>
  </div>
<% end %>
<script>
  popUp = document.querySelector('.homepage-pop-up');
  popUpContent = document.querySelector('.pop-up-content');
  popUpContentButton = document.querySelector('.pop-up-content-button');
  if (popUp) {
    popUp.addEventListener('click', function() {
      popUp.style.display = 'none'
      popUpContent.style.display = 'none'
    })
    popUpContentButton.addEventListener('click', function() {
      popUp.style.display = 'none'
      popUpContent.style.display = 'none'
    })
  }
</script>
