<div class="latest-videos-wrapper">
  <h2 class="insider-info-title text-center influencer-videos-title-mobile">Shantania Beckford's tutorials</h2>
  <div class="influencer-videos-title-section">
    <div class="filters-container">
      <p>Sort by: newest</p>
      <%= image_tag 'dropdown-down.png', class: "dropdown-arrow", alt: "Dropdown arrow" %>
    </div>
    <h2 class="insider-info-title text-center influencer-videos-title-web">Shantania Beckford's tutorials</h2>
    <div class="filters-container">
      <p>Filter by: tutorials</p>
      <%= image_tag 'dropdown-down.png', class: "dropdown-arrow", alt: "Dropdown arrow" %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-6 col-lg-3" style="margin-bottom: 25px;">
      <%= link_to '#', class: "video-card-link card-link" do %>
        <div class="homepage-video-card">
          <div class="video-holder" style="background-image: url('https://snusercontent.global.ssl.fastly.net/member-headshot-square-large/09/3856709_11011727.jpg')">
            <%= image_tag 'play-button.png', class: "play-button", width: 80, alt: "Play button", alt: "Play button" %>
          </div>
          <div class="homepage-video-card-text">
            <p class="video-card-text-title">by @shantania_beckford</p>
            <p class="video-card-text-content">A fresh look for 2018 with Shantania Beckford</p>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-3" style="margin-bottom: 25px;">
      <%= link_to '#', class: "video-card-link card-link" do %>
        <div class="homepage-video-card">
          <div class="video-holder" style="background-image: url('https://snusercontent.global.ssl.fastly.net/member-profile-featured/09/3856709_11011721.jpg')">
            <%= image_tag 'play-button.png', class: "play-button", width: 80, alt: "Play button" %>
          </div>
          <div class="homepage-video-card-text">
            <p class="video-card-text-title">by @shantania_beckford</p>
            <p class="video-card-text-content">A fresh look for 2018 with Shantania Beckford</p>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-3" style="margin-bottom: 25px;">
      <%= link_to '#', class: "video-card-link card-link" do %>
        <div class="homepage-video-card">
          <div class="video-holder" style="background-image: url('https://i.ytimg.com/vi/qVxa5e3k6Cc/maxresdefault.jpg')">
            <%= image_tag 'play-button.png', class: "play-button", width: 80, alt: "Play button" %>
          </div>
          <div class="homepage-video-card-text">
            <p class="video-card-text-title">by @shantania_beckford</p>
            <p class="video-card-text-content">A fresh look for 2018 with Shantania Beckford</p>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-3" style="margin-bottom: 25px;">
      <%= link_to '#', class: "video-card-link card-link" do %>
        <div class="homepage-video-card">
          <div class="video-holder" style="background-image: url('https://www.kamdora.com/wp-content/uploads/2017/06/effortless-600x460.jpg')">
            <%= image_tag 'play-button.png', class: "play-button", width: 80, alt: "Play button" %>
          </div>
          <div class="homepage-video-card-text">
            <p class="video-card-text-title">by @shantania_beckford</p>
            <p class="video-card-text-content">A fresh look for 2018 with Shantania Beckford</p>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-3" style="margin-bottom: 25px;">
      <%= link_to '#', class: "video-card-link card-link" do %>
        <div class="homepage-video-card">
          <div class="video-holder" style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQTsIaF6PQQ6jU7wORVc0RpuHeZwwVna0h7sONj2rY3Le-JmTOg')">
            <%= image_tag 'play-button.png', class: "play-button", width: 80, alt: "Play button" %>
          </div>
          <div class="homepage-video-card-text">
            <p class="video-card-text-title">by @shantania_beckford</p>
            <p class="video-card-text-content">A fresh look for 2018 with Shantania Beckford</p>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-3" style="margin-bottom: 25px;">
      <%= link_to '#', class: "video-card-link card-link" do %>
        <div class="homepage-video-card">
          <div class="video-holder" style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ8JbPFPlx3zdRyjxHLNcp-NihKjBvnYMVyTwTEzO0ej0d4LOygWQ')">
            <%= image_tag 'play-button.png', class: "play-button", width: 80, alt: "Play button" %>
          </div>
          <div class="homepage-video-card-text">
            <p class="video-card-text-title">by @shantania_beckford</p>
            <p class="video-card-text-content">A fresh look for 2018 with Shantania Beckford</p>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-3" style="margin-bottom: 25px;">
      <%= link_to '#', class: "video-card-link card-link" do %>
        <div class="homepage-video-card">
          <div class="video-holder" style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRObQdjt5t_PfIKjiRfndU_L_CBxmOnt1HRk5DTv6clIv5hN1kIjg')">
            <%= image_tag 'play-button.png', class: "play-button", width: 80, alt: "Play button" %>
          </div>
          <div class="homepage-video-card-text">
            <p class="video-card-text-title">by @shantania_beckford</p>
            <p class="video-card-text-content">A fresh look for 2018 with Shantania Beckford</p>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-3" style="margin-bottom: 25px;">
      <%= link_to '#', class: "video-card-link card-link" do %>
        <div class="homepage-video-card">
          <div class="video-holder" style="background-image: url('https://i.ytimg.com/vi/CcKrQrQkaQU/mqdefault.jpg')">
            <%= image_tag 'play-button.png', class: "play-button", width: 80, alt: "Play button" %>
          </div>
          <div class="homepage-video-card-text">
            <p class="video-card-text-title">by @shantania_beckford</p>
            <p class="video-card-text-content">A fresh look for 2018 with Shantania Beckford</p>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-3" style="margin-bottom: 25px;">
      <%= link_to '#', class: "video-card-link card-link" do %>
        <div class="homepage-video-card">
          <div class="video-holder" style="background-image: url('https://i.ytimg.com/vi/IVig_zJv-DU/maxresdefault.jpg')">
            <%= image_tag 'play-button.png', class: "play-button", width: 80, alt: "Play button" %>
          </div>
          <div class="homepage-video-card-text">
            <p class="video-card-text-title">by @shantania_beckford</p>
            <p class="video-card-text-content">A fresh look for 2018 with Shantania Beckford</p>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-3" style="margin-bottom: 25px;">
      <%= link_to '#', class: "video-card-link card-link" do %>
        <div class="homepage-video-card">
          <div class="video-holder" style="background-image: url('https://img.youtube.com/vi/P97X8Jd2dus/mqdefault.jpg')">
            <%= image_tag 'play-button.png', class: "play-button", width: 80, alt: "Play button" %>
          </div>
          <div class="homepage-video-card-text">
            <p class="video-card-text-title">by @shantania_beckford</p>
            <p class="video-card-text-content">A fresh look for 2018 with Shantania Beckford</p>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-3" style="margin-bottom: 25px;">
      <%= link_to '#', class: "video-card-link card-link" do %>
        <div class="homepage-video-card">
          <div class="video-holder" style="background-image: url('https://img.youtube.com/vi/IrlD7NQZM2k/hqdefault.jpg')">
            <%= image_tag 'play-button.png', class: "play-button", width: 80, alt: "Play button" %>
          </div>
          <div class="homepage-video-card-text">
            <p class="video-card-text-title">by @shantania_beckford</p>
            <p class="video-card-text-content">A fresh look for 2018 with Shantania Beckford</p>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-3" style="margin-bottom: 25px;">
      <%= link_to '#', class: "video-card-link card-link" do %>
        <div class="homepage-video-card">
          <div class="video-holder" style="background-image: url('https://ytimg.googleusercontent.com/vi/aaDtVx7EWqw/mqdefault.jpg')">
            <%= image_tag 'play-button.png', class: "play-button", width: 80, alt: "Play button" %>
          </div>
          <div class="homepage-video-card-text">
            <p class="video-card-text-title">by @shantania_beckford</p>
            <p class="video-card-text-content">A fresh look for 2018 with Shantania Beckford</p>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-3" style="margin-bottom: 25px;">
      <%= link_to '#', class: "video-card-link card-link" do %>
        <div class="homepage-video-card">
          <div class="video-holder" style="background-image: url('https://scontent-iad3-1.cdninstagram.com/vp/2d07b87be5d7c3ff1096258fec757212/5D8B0A82/t51.2885-15/sh0.08/e35/c0.180.1440.1440/s640x640/59064796_137328247412839_4628726301759209313_n.jpg?_nc_ht=scontent-iad3-1.cdninstagram.com')">
            <%= image_tag 'play-button.png', class: "play-button", width: 80, alt: "Play button" %>
          </div>
          <div class="homepage-video-card-text">
            <p class="video-card-text-title">by @shantania_beckford</p>
            <p class="video-card-text-content">A fresh look for 2018 with Shantania Beckford</p>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-3" style="margin-bottom: 25px;">
      <%= link_to '#', class: "video-card-link card-link" do %>
        <div class="homepage-video-card">
          <div class="video-holder" style="background-image: url('https://glamstetics.files.wordpress.com/2018/03/img_6779-2.jpg?w=350&h=200&crop=1')">
            <%= image_tag 'play-button.png', class: "play-button", width: 80, alt: "Play button" %>
          </div>
          <div class="homepage-video-card-text">
            <p class="video-card-text-title">by @shantania_beckford</p>
            <p class="video-card-text-content">A fresh look for 2018 with Shantania Beckford</p>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-3" style="margin-bottom: 25px;">
      <%= link_to '#', class: "video-card-link card-link" do %>
        <div class="homepage-video-card">
          <div class="video-holder" style="background-image: url('https://i.ytimg.com/vi/PA_Ns0qRau0/hqdefault.jpg')">
            <%= image_tag 'play-button.png', class: "play-button", width: 80, alt: "Play button" %>
          </div>
          <div class="homepage-video-card-text">
            <p class="video-card-text-title">by @shantania_beckford</p>
            <p class="video-card-text-content">A fresh look for 2018 with Shantania Beckford</p>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-3" style="margin-bottom: 25px;">
      <%= link_to '#', class: "video-card-link card-link" do %>
        <div class="homepage-video-card">
          <div class="video-holder" style="background-image: url('https://ytimg.googleusercontent.com/vi/jN0McfJEyeQ/mqdefault.jpg')">
            <%= image_tag 'play-button.png', class: "play-button", width: 80, alt: "Play button" %>
          </div>
          <div class="homepage-video-card-text">
            <p class="video-card-text-title">by @shantania_beckford</p>
            <p class="video-card-text-content">A fresh look for 2018 with Shantania Beckford</p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
