<div class="insider-show-banner" style="background-image: url('https://99only.com/sites/default/files/2018-03/99c%20Web%20CategoryDetailPageBanner%20001%20Beauty%201280x560%402x.jpg')"></div>
<div class="insider-show-article-wrapper">
  <div class="container">
    <div class="selected-article">
      <div class="article-header">
        <h6>Ask the expert:</h6>
        <h2 class="old-standard">This expert skin trick will transform your Makeup</h2>
        <p>by Ariel Roberts</p>
      </div>
      <div class="article-content">
        <p class="old-standard">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <p class="old-standard">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <%= image_tag 'https://i.pinimg.com/originals/0b/74/d4/0b74d4a79f1fccfd13fcfdff21443df7.jpg' %>
        <p class="old-standard">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <p class="old-standard">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
      <div class="share-articles-links">
        <h6>Share</h6>
        <div class="articles-link-icons">
          <%= link_to '#' do %>
            <i class="fab fa-facebook-f"></i>
          <% end %>
          <%= link_to '#' do %>
            <i class="fab fa-twitter"></i>
          <% end %>
          <%= link_to '#' do %>
            <i class="fab fa-pinterest-p"></i>
          <% end %>
          <%= link_to '#' do %>
            <i class="far fa-envelope"></i>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="insider-home-articles">
  <div class="row">
    <div class="col-xs-12 col-md-4" style="padding: 0;">
      <%= link_to '#', class: "insider-home-card-link" do %>
        <div class="insider-home-articles-card" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://images.pexels.com/photos/1377034/pexels-photo-1377034.jpeg?auto=format%2Ccompress&cs=tinysrgb&dpr=2&h=750&w=1260');">
          <div class="insider-home-articles-card-text">
            <h6>Inspiration</h6>
            <p class="old-standard">Bella Michelle's friday night looks revealed</p>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-xs-12 col-md-4" style="padding: 0;">
      <%= link_to '#', class: "insider-home-card-link" do %>
        <div class="insider-home-articles-card" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://images.pexels.com/photos/458766/pexels-photo-458766.jpeg?auto=format%2Ccompress&cs=tinysrgb&dpr=2&h=750&w=1260');">
          <div class="insider-home-articles-card-text">
            <h6>Ask the expert</h6>
            <p class="old-standard">Bella Michelle's friday night looks revealed</p>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-xs-12 col-md-4" style="padding: 0;">
      <%= link_to '#', class: "insider-home-card-link" do %>
        <div class="insider-home-articles-card" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://images.pexels.com/photos/1926620/pexels-photo-1926620.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');">
          <div class="insider-home-articles-card-text">
            <h6>Ask the expert</h6>
            <p class="old-standard">Bella Michelle's friday night looks revealed</p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="insider-home-articles">
  <div class="row">
    <div class="col-xs-12 col-md-4" style="padding: 0;">
      <%= link_to '#', class: "insider-home-card-link" do %>
        <div class="insider-home-articles-card" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://www.gaystarnews.com/wp-content/uploads/2019/05/Shantania_Beckford.jpg');">
          <div class="insider-home-articles-card-text">
            <h6>Ask the expert</h6>
            <p class="old-standard">Bella Michelle's friday night looks revealed</p>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-xs-12 col-md-4" style="padding: 0;">
      <%= link_to '#', class: "insider-home-card-link" do %>
        <div class="insider-home-articles-card" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://www.pupamilano.com/on/demandware.static/-/Sites-Storefront_catalog_EN/default/dwdc8cac65/fotoCategoria/Listing2019/BANNER-SEZIONE_MOBILE_COFANETTI_DEF.jpg');">
          <div class="insider-home-articles-card-text">
            <h6>Lifestyle</h6>
            <p class="old-standard">Bella Michelle's friday night looks revealed</p>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-xs-12 col-md-4" style="padding: 0;">
      <%= link_to '#', class: "insider-home-card-link" do %>
        <div class="insider-home-articles-card" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://images.pexels.com/photos/1197135/pexels-photo-1197135.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');">
          <div class="insider-home-articles-card-text">
            <h6>Ask the expert</h6>
            <p class="old-standard">Bella Michelle's friday night looks revealed</p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
