<div class="privacy-and-terms-container">
  <h2 class="text-center boldest large-margin-bottom">Website Terms of Use</h2>
  <h5 class="boldest italic">1. Terms of website use</h3>
  <p class="didot">Welcome to <%= link_to "loopbeauty.co.uk", root_path %> (the "<strong>Site</strong>"), a website operated in the United Kingdom by Loop Beauty Limited, a company incorporated in England and Wales with company registration number 11236332, VAT number XXXX and whose registered office is located at 130 Old Street, London, WC1E 6JA, EC1V 9BD United Kingdom ("<strong>Loop Beauty</strong>", "<strong>we</strong>", "<strong>us</strong>" or "<strong>our</strong>").</p>
  <p class="didot">This Terms of Use (together with the policies and documents listed in section 14) tells you the terms on which you may make use of the Site, whether as a guest or a registered user. Use of our Site includes accessing, browsing, or registering to use our Site.</p>
  <p class="didot">Please read this Terms of Use carefully before you start to use our Site, as it will apply to your use of our Site. We recommend that you print a copy for future reference.</p>
  <p class="didot">By using our Site, you confirm that you accept this Terms of Use and that you agree to comply with it. If you do not agree to this Terms of Use, you must not use our Site. If you are 13 or under you can look at our site but you may not make a purchase, register or submit any personal information to us.</p>
  <p class="didot">You have chosen to visit the Site in the United Kingdom in order to purchase our products. As a consequence, irrespective of your place of residence, your use of the Site is occurring in the United Kingdom and will be governed by this Terms of Use and the laws of England and Wales. Any use of currencies other than the UK pound sterling are purely for your ease of reference.</p>
  <p class="didot">We also like to interact with you on third party sites where we post content or invite your feedback, such as Facebook, Twitter, Instagram and YouTube ("Third Party Sites"). We do not control these Third Party Sites and this Terms of Use does not apply to companies that Loop Beauty does not own or control, or to the actions of people that Loop Beauty does not employ or manage. You should always check the terms of use posted on Third Party Sites.</p>
  <p class="didot">Loop Beauty uses secure socket layers ("SSL"), the industry standard in transferring information to process your orders made with Loop Beauty.</p>
  <h5 class="boldest italic">2. Ownership of rights</h3>
  <p class="didot">All rights in this Site, including copyright and moral rights, are owned by or licensed to Loop Beauty. Any use of this Site or its contents, including copying or storing it or them in whole or part, other than for your own personal, non-commercial use is prohibited without our permission. You may not modify, delete, distribute or post anything on this Site for any purpose.</p>
  <h5 class="boldest italic">3. Accuracy of content</h3>
  <p class="didot">We do not guarantee that our Site, or any content on it, will be free from errors or omissions.</p>
  <p class="didot">The images of products on this Site are illustrative only. The packaging may vary from that shown. The weights and dimensions are approximate only. We have made every effort to display as accurately as possible the colour of the products that appear on the Site. However, as the actual colours you see will depend on your personal computer equipment, we cannot guarantee that your monitor's display of any colour will accurately reflect the colour of the merchandise on delivery. To the extent permitted by applicable law, Loop Beauty disclaims all warranties, express or implied, as to the accuracy of the information contained in any of the materials on this Site. We are not responsible for the content of any off-website pages or any other websites linked to or from this Site. Links appearing on this Site are for your convenience only and are not an endorsement by us of the content, products, services or suppliers connected therewith. We shall not be liable to any person for any loss or damage which may arise from the use of any of the information contained in any of the materials on this Site, in any off-website materials, or in any linked websites.</p>
  <h5 class="boldest italic">4.  Accessing our Site</h3>
  <p class="didot">Our Site is made available free of charge. We do not guarantee that our Site, or any content on it, will always be available or be uninterrupted. Access to our Site is permitted on a temporary basis. We may suspend, withdraw, discontinue or change all or any part of our Site without notice. We will not be liable to you if for any reason our Site is unavailable at any time or for any period. You are responsible for making all arrangements necessary for you to have access to our Site. You are also responsible for ensuring that all persons who access our Site through your internet connection are aware of this Terms of Use (and any documents referred to in it) and that they comply with them.</p>
  <p class="didot">Our Site is directed to people residing in the United Kingdom. We do not represent that content available on or through our Site is appropriate or available for or in other locations. We may limit the availability of our Site or any service or product described on our Site to any person or geographic area at any time. If you choose to access our Site from outside the United Kingdom, you do so at your own risk.</p>
  <h5 class="boldest italic">5. Damage to your computer</h3>
  <p class="didot">We make every effort to ensure that this Site is free from viruses or defects. However, we cannot guarantee that your use of this Site or any websites accessible through it will not cause damage to your computer. It is your responsibility to ensure that the right equipment is available to use the Site and screen out anything that may damage it. We will not be liable to any person for any loss or damage which may arise to computer equipment as a result of using this Site.</p>
  <h5 class="boldest italic">6.  Limitation of liability</h3>
  <p class="didot"><strong>The provisions of this clause relate to the use of this Site only and do not affect the statutory rights of consumers or any other rights granted by us in connection with the purchase of our goods on this Site (including under the Loop Beauty <%= link_to "Terms and Conditions for Online Sales", sale_terms_path %>).</strong></p>
  <p class="didot">Nothing in this Terms of Use excludes or limits our liability for death or personal injury arising from our negligence or our fraud or fraudulent misrepresentation, or any other liability that cannot be excluded or limited by English law.</p>
  <p class="didot">To the extent permitted by law, we exclude all conditions, warranties, representations or other terms which may apply to our Site or any content on it, whether express or implied.</p>
  <p class="didot">We will not be liable to any user for any loss or damage, whether in contract, tort (including negligence), breach of statutory duty, or otherwise, even if foreseeable, arising under or in connection with:</p>
  <ul>
    <li><p class="didot">use of or inability to use our Site; or</p></li>
    <li><p class="didot">use of or reliance on any content displayed on our Site.</p></li>
  </ul>
  <p class="didot">If you are a business user, please note that we will not be liable for:</p>
  <ul>
    <li><p class="didot">loss of profits, sales, business, or revenue;</p></li>
    <li><p class="didot">business interruption;</p></li>
    <li><p class="didot">loss of anticipated savings;</p></li>
    <li><p class="didot">loss of business opportunity, goodwill or reputation; or</p></li>
    <li><p class="didot">any indirect or consequential loss or damage.</p></li>
  </ul>
  <p class="didot">If you are a consumer user, please note that we only provide our Site for domestic and private use. You agree not to use our Site for any commercial or business purposes, and we have no liability to you for any loss of profit, loss of business, business interruption, or loss of business opportunity.</p>
  <p class="didot">Different limitations and exclusions of liability will apply to liability arising as a result of the supply of any goods by use to you, which will be set out in our <%= link_to "Terms and Conditions for Online Sales", sale_terms_path %>.</p>
  <h5 class="boldest italic">7.  Prohibited uses</h3>
  <p class="didot">You may use our Site only for lawful purposes. You may not use our Site:</p>
  <ul>
    <li><p class="didot">in any way that breaches any applicable local, national or international law or regulation;</p></li>
    <li><p class="didot">in any way that is unlawful or fraudulent, or has any unlawful or fraudulent purpose or effect;</p></li>
    <li><p class="didot">to send, knowingly receive, upload, download, use or re-use any material which does not comply with our content standards set out below;</p></li>
    <li><p class="didot">to transmit or procure the sending of any unsolicited or unauthorised advertising or promotional material or any other form of similar solicitation ('spam'); or</p></li>
    <li><p class="didot">to knowingly transmit any data, or to send or upload any material that contains viruses, Trojan horses, worms, time-bombs, keystroke loggers, spyware, adware or any other harmful programs or similar computer code designed to adversely affect the operation of any computer software or hardware.</p></li>
  </ul>
  <p class="didot">You also agree:</p>
  <ul>
    <li><p class="didot">not to reproduce, duplicate, copy or re-sell any part of our Site in contravention of the provisions of these terms of website use; and</p></li>
    <li><p class="didot">not to access without authority, interfere with, damage or disrupt:</p></li>
    <li><p class="didot">any part of our Site;</p></li>
    <li><p class="didot">any equipment or network on which our Site is stored;</p></li>
    <li><p class="didot">any software used in the provision of our Site; or</p></li>
    <li><p class="didot">any equipment or network or software owned or used by any third party.</p></li>
  </ul>
  <p class="didot">You agree to defend, indemnify and hold us harmless for any loss, damages or costs, including reasonable solicitors' fees, resulting from any third-party claim, action, or demand resulting from your unlawful use of the Site. You also agree to indemnify us for any loss, damages, or costs, including reasonable attorneys' fees, resulting from your use of software robots, spiders, crawlers, or similar data gathering and extraction tools, or any other action you take that imposes an unreasonable burden or load on our infrastructure.</p>
  <h5 class="boldest italic">8.  Submission of Information</h3>
  <p class="didot">We welcome your enquiries or feedback on the Products you use or might like to purchase. However, it is our policy to decline any unsolicited suggestions or ideas. Any enquiries, feedback, suggestions, ideas or other information you provide to us ("<strong>Information</strong>") will be treated as non-confidential and non-proprietary. [Subject to our <%= link_to "Privacy Policy", privacy_policy_path %>, by providing us with any such unsolicited information you hereby grant Loop Beauty a non-exclusive and royalty-free right to use, reproduce, modify, adapt, publish, sell, assign, translate, transfer, sub-license, create derivative works from, distribute and display the Information in any form, media or technology and whether alone or as part of other works. You also agree that we may use your Information and any ideas, concepts or know-how contained therein for legitimate business purposes as laid out in our <%= link_to "Privacy Policy", privacy_policy_path %>. ]Furthermore, if you send us any such Information you represent and warrant that you own or otherwise are entitled to any and all rights to the Information and that your Information does not contain or constitute software viruses, commercial solicitation, chain letters, mass mailings or 'spam' in any form. You may not impersonate any person or entity or use any false e-mail address or otherwise mislead us as to the origin of the Information submitted and you agree to indemnify us and hold us harmless from and against any claims arising from your claims and/or any third party claims to any rights in any such Information.</p>
  <h5 class="boldest italic">9.  Intellectual Property</h3>
  <p class="didot">The trade marks, logos and service marks ("<strong>Intellectual Property</strong>") displayed on our Site are the registered and unregistered marks or designs of Loop Beauty, our affiliates, our licensors and/or our suppliers and are protected by UK and international trade mark laws. Except in connection with placing an order for merchandise or as required by applicable law, you may not use, reproduce, duplicate, copy, sell, resell, access, modify or otherwise exploit our Intellectual Property or that of our suppliers without our or their prior written consent.</p>
  <h5 class="boldest italic">10.   Mobile services</h3>
  <p class="didot">If you access this Site via your mobile phone, we do not currently charge for this access. Please be aware that your carrier's normal rates and fees, such as text messaging fees or data charges, will still apply.</p>
  <h5 class="boldest italic">11. User generated material</h3>
  <p class="didot">By submitting ideas, designs, customizations, creative concepts, or any other information ("<strong>User Generated Material</strong>") to this Site (or to our accounts on any Third Party Sites), you accept and agree that you assign and/or waive all ownership of and rights (including moral rights) in or to any intellectual property rights and other rights in the User Generated Material to Loop Beauty. To the extent such transfer is not valid, you grant Loop Beauty, by submitting the User Generated Material to this Site, a worldwide, non-exclusive, fully paid, perpetual, royalty-free license to use, including but not limited to a right to copy, modify, publicly display, distribute and to sublicense (all or parts of), the User Generated Material for any purposes as it deems fit, including but not limited to, developing, manufacturing and marketing products and services and creating, modifying or improving this Site or other products or services both online and offline.</p>
  <p class="didot">All User Generated Material shall be deemed to be non-confidential. Loop Beauty shall be entitled to use or disclose the User Generated Material in any manner whatsoever, without liability or notice to you. You acknowledge and agree that you shall have no claim against Loop Beauty or any other party should any User Generated Material created, posted or sent by you be used in the above sense by Loop Beauty or any part of its group.</p>
  <p class="didot">You warrant that:</p>
  <ul>
    <li><p class="didot">you own or are otherwise entitled to any and all rights in any User Generated Material;</p></li>
    <li><p class="didot">any User Generated Material is not, and does not contain, material which is offensive, abusive, pornographic, defamatory, blasphemous or unlawful, and does not infringe, or potentially infringe, the rights of a third party or any applicable law including, in particular, any intellectual property rights;</p></li>
    <li><p class="didot">any User Generated Material is original and is not copied in whole or in part from any third party;</p></li>
    <li><p class="didot">any User Generated Material does not contain or constitute software viruses, commercial solicitation, chain letters, mass mailings or 'spam' in any form; and</p></li>
    <li><p class="didot">you will not impersonate any person or entity or use any false e-mail address or otherwise mislead us as to the origin of any User Generated Material submitted, and you agree to indemnify us and hold us harmless from and against any claims arising from your claims and/or any third party claims to any rights in any User Generated Material.</p></li>
  </ul>
  <p class="didot">You agree that Loop Beauty:</p>
  <ul>
    <li><p class="didot">does not, and has no obligation to, review the User Generated Material;</p></li>
    <li><p class="didot">is not in any manner responsible for User Generated Material;</p></li>
    <li><p class="didot">does not guarantee the accuracy, integrity or quality of User Generated Material; and</p></li>
    <li><p class="didot">cannot assure that harmful, inaccurate, deceptive, offensive, threatening, defamatory, unlawful or otherwise objectionable User Generated Material will not appear on this Site.</p></li>
  </ul>
  <p class="didot">Notwithstanding the foregoing, Loop Beauty reserves the right to moderate all User Generated Material, and to decline the submission of, edit the content of, or remove from this Site, any User Generated Material in its absolute discretion, for example because it infringes the intellectual property rights of a third party, because the content is inappropriate, obscene, or abusive, or for any other reason. Loop Beauty is under no obligation to inform you of the reasons for such intervention.</p>
  <h5 class="boldest italic">12. Non-waiver</h3>
  <p class="didot">No failure to exercise and no delay on the part of Loop Beauty in exercising any right, remedy, power or privilege of Loop Beauty under this Terms of Use and no course of dealing between us shall be construed or operate as a waiver, nor shall any single or partial exercise of any right, remedy, power or privilege preclude any other or further exercise thereof or the exercise of any other right, remedy, power or privilege on the part of Loop Beauty.</p>
  <h5 class="boldest italic">13. Transfer of rights</h3>
  <p class="didot">We may transfer our rights and obligations under this Terms of Use to another organisation, and we will always notify you in writing if this happens, but this will not affect your rights or your obligations under this Terms of Use. You may only transfer your rights or obligations under this Terms of Use to another person if we agree in writing.</p>
  <h5 class="boldest italic">14.  Other legal notices</h3>
  <p class="didot">Other legal notices and policies which relate to your use of this Site, all of which will, together with this Terms of Use, govern your use of this Site are as follows:</p>
  <p class="didot"><%= link_to "Privacy Policy", privacy_policy_path %></p>
  <p class="didot"><%= link_to "Cookies Policy", cookies_policy_path %></p>
  <p class="didot"><%= link_to "Terms & Conditions for Online Sales", sale_terms_path %></p>
  <p class="didot"><%= link_to "Returns Policy", returns_policy_path %></p>
  <h5 class="boldest italic">15.  Questions</h3>
  <p class="didot">If you have any questions regarding this Terms of Use please contact us by e-mail at hello@myloopbeauty.com or by post at –</p>
  <p class="didot">Loop Beauty Customer Services<br>Mortimer House<br>37-41 Mortimer House<br>London, W1T 3JH<br>United Kingdom</p>
  <h5 class="boldest italic">16.  Changes to legal notices</h3>
  <p class="didot">We reserve the right to change this Terms of Use from time to time and we encourage you to review it as often as possible. Any changes are effective immediately upon posting to the Site.</p>
  <h5 class="boldest italic">17.  Law, jurisdiction and language</h3>
  <p class="didot">This Site, any content contained herein, and any contracts entered into as a result of usage of this Site are governed by English law. The parties to any such contract agree to submit to the exclusive jurisdiction of the courts of England and Wales. All contracts are concluded in English.</p>
  <h5 class="boldest italic">18. Consent for processing of data</h3>
  <p class="didot">By ticking the box below, you consent to our use of your personal data in accordance with our Privacy Policy, in particular to:</p>
  <p class="didot">a) the receipt of direct marketing initiatives from us for the purpose of enhancing your experience on the Site and assist in your shopping experience; and</p>
  <p class="didot">b) the potential transfer and storage of your personal data outside of the EEA for in the event we require assistance from services in managing your date, who are located outside the EEA.</p>
</div>

 



 



