<% featured = @tutorials.sample %>
<%= link_to tutorial_path(featured), class: "featured-tutorial" do %>
  <div class="video-home-image-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= url_for(featured.cover_photo) %>)">
    <%= image_tag 'play-button.png', class: "video-home-play-button", width: 80 %>
    <div class="video-home-banner-text-container">
      <div class="video-home-banner-text">
        <h2 class="didot"><%= featured.title %></h2>
      </div>
    </div>
  </div>
<% end %>
<div class="latest-videos-wrapper">
  <%= link_to 'See all', '#', class: "see-all-videos-link" %>
  <h2 class="insider-info-title text-center">Latest Videos</h2>
  <div class="row" style="margin: 30px 0;">
    <% @tutorials.order(created_at: :DESC).first(4).each do |tutorial| %>
      <div class="col-xs-12 col-md-6 col-lg-3">
        <%= link_to tutorial_path(tutorial), class: "video-card-link card-link" do %>
          <div class="homepage-video-card">
            <div class="video-holder" style="background-image: url(<%= url_for(tutorial.cover_photo) %>)">
              <%= image_tag 'play-button.png', class: "play-button", width: 80 %>
            </div>
            <div class="homepage-video-card-text">
              <p class="video-card-text-title">by <%= tutorial.user.instagram %></p>
              <p class="video-card-text-content"><%= tutorial.title %></p>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
<div class="latest-videos-wrapper">
  <%= link_to 'See all', '#', class: "see-all-videos-link" %>
  <h2 class="insider-info-title text-center">Tutorials</h2>
  <div class="row" style="margin: 30px 0;">
    <% @tutorials.first(4).each do |tutorial| %>
      <div class="col-xs-12 col-md-6 col-lg-3">
        <%= link_to tutorial_path(tutorial), class: "video-card-link card-link" do %>
          <div class="homepage-video-card">
            <div class="video-holder" style="background-image: url(<%= url_for(tutorial.cover_photo) %>)">
              <%= image_tag 'play-button.png', class: "play-button", width: 80 %>
            </div>
            <div class="homepage-video-card-text">
              <p class="video-card-text-title">by <%= tutorial.user.instagram %></p>
              <p class="video-card-text-content"><%= tutorial.title %></p>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
<div class="latest-videos-wrapper">
  <%= link_to 'See all', '#', class: "see-all-videos-link" %>
  <h2 class="insider-info-title text-center">Ask the experts</h2>
  <div class="row" style="margin: 30px 0;">
    <% @tutorials.first(4).each do |tutorial| %>
      <div class="col-xs-12 col-md-6 col-lg-3">
        <%= link_to tutorial_path(tutorial), class: "video-card-link card-link" do %>
          <div class="homepage-video-card">
            <div class="video-holder" style="background-image: url(<%= url_for(tutorial.cover_photo) %>)">
              <%= image_tag 'play-button.png', class: "play-button", width: 80 %>
            </div>
            <div class="homepage-video-card-text">
              <p class="video-card-text-title">by <%= tutorial.user.instagram %></p>
              <p class="video-card-text-content"><%= tutorial.title %></p>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
