<% featured = @tutorials.sample %>
<%= link_to tutorial_path(featured), class: "featured-tutorial" do %>
  <div class="video-home-image-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= url_for(featured.cover_photo) %>)">
    <%= image_tag 'play-button.png', class: "video-home-play-button", width: 80 %>
    <div class="video-home-banner-text-container">
      <div class="video-home-banner-text">
        <h2 class="didot"><%= featured.title %></h2>
      </div>
    </div>
  </div>
<% end %>
<div class="latest-videos-wrapper">
  <%= link_to 'See all', '#', class: "see-all-videos-link" %>
  <h2 class="insider-info-title text-center">Latest Videos</h2>
  <div class="row" style="margin: 30px 0;">
    <% @tutorials.order(created_at: :DESC).first(4).each do |tutorial| %>
      <%= render 'shared/tutorials_card', tutorial: tutorial %>
    <% end %>
  </div>
</div>
<div class="latest-videos-wrapper">
  <%= link_to 'See all', '#', class: "see-all-videos-link" %>
  <h2 class="insider-info-title text-center">Tutorials</h2>
  <div class="row" style="margin: 30px 0;">
    <% @tutorials.first(4).each do |tutorial| %>
      <%= render 'shared/tutorials_card', tutorial: tutorial %>
    <% end %>
  </div>
</div>
<div class="latest-videos-wrapper">
  <%= link_to 'See all', '#', class: "see-all-videos-link" %>
  <h2 class="insider-info-title text-center">Ask the experts</h2>
  <div class="row" style="margin: 30px 0;">
    <% @tutorials.first(4).each do |tutorial| %>
      <%= render 'shared/tutorials_card', tutorial: tutorial %>
    <% end %>
  </div>
</div>
