<div class="user-details">
  <h3 class="muli boldest">User details</h3>
  <p class="didot">First Name: <%= @details[:first_name] %></p>
  <p class="didot">Last Name: <%= @details[:last_name] %></p>
  <p class="didot">Address Line 1: <%= @details[:address_line_1] %></p>
  <p class="didot">Address line 2: <%= @details[:address_line_2] %></p>
  <p class="didot">City: <%= @details[:city] %></p>
  <p class="didot">Postcode: <%= @details[:postcode] %></p>
  <p class="didot">County: <%= @details[:county] %></p>
  <p class="didot">Phone Number: <%= @details[:phone_number] %></p>
</div>

<div class="user-message">
  <p class="didot">Subject: <%= @details[:subject] %></p>
  <p class="didot">Message: <%= @details[:message] %></p>
</div>
