document.querySelector('.basket-item-count').innerText = '<%= @basket.products.size %>'
document.querySelector('.basket-total-price').innerText = '<%= humanized_money_with_symbol @basket.total_price %>'
document.querySelector('.navbar-basket-title > h6').innerHTML = '<span class="boldest">My Bag</span>, <%= @basket.products.size %> <%= 'item'.pluralize(@basket.products.size) %>'
container = document.querySelector('.navbar-basket-items-container')
container.innerHTML = "<%= j render 'shared/navbar_basket_product_card', item: @item %>"

navBasketDrop = document.querySelector('.navbar-hover-container');
navBasketDrop.classList.add('navbar-hover-container-top')
setTimeout(() => navBasketDrop.classList.remove('navbar-hover-container-top'), 3000)
