checkout = document.getElementById("pos-checkout")
discount = document.getElementById("discount-apply")
containers = document.querySelectorAll('.item-<%= @item.id %>')
document.querySelector('.basket-item-count').innerText = '<%= @basket.total_number_of_products %>'
document.querySelector('.basket-mobile').innerText = '<%= @basket.total_number_of_products %>'
document.querySelector('.navbar-basket-title > h6').innerHTML = '<span class="boldest">My Bag</span>, <%= @basket.total_number_of_products %> <%= 'item'.pluralize(@basket.total_number_of_products) %>'
subtotals = document.querySelectorAll('.basket-total-price')
subtotals.forEach(total => {
  total.innerHTML = "<%= humanized_money_with_symbol @item.basket.subtotal %>"
})
total = document.querySelector('.shopping-bag-continue-checkout-total > p')
if (total) {
  total.innerText = "Total: <%= humanized_money_with_symbol @item.basket.total_price %>"
}
if (<%= @basket.empty? %>) {
  document.querySelector('.navbar-basket-items-container').innerHTML = '<p class="large-margin text-center boldest muli grey s-medium-text">Your basket is empty</p>'
  if (<%= params[:controller] == 'baskets' && params[:action] == 'show' %>) {
    checkout.classList.add("disabled")
    discount.classList.add("disabled")
  }
}
containers.forEach(container => container.remove())

priceContainer = document.querySelector('.shopping-bag-continue-checkout-total')
if (<%= params[:controller] == 'baskets' && params[:action] == 'show' %>) {
  priceContainer.innerHTML = "<%= j render 'shared/shopping_bag_price', basket: @basket %>"
}

emptyBasketText = document.querySelector('.empty-basket-text')
if (emptyBasketText) {
  if (<%= @basket.products.count == 0%>) {
    emptyBasketText.innerHTML = `<p class="large-margin text-center boldest muli grey s-medium-text">Your basket is empty</p>
                                 <div class="start-shopping-holder">
                                   <%= link_to "SHOP NOW", products_path, class: "primary-button"  %>
                                 </div>
                                 <hr style="border-color: #CFCFCF;">
                                `
  }
}

checkoutButtonContainer = document.querySelector('.checkout-button')
if (checkoutButtonContainer) {
  checkoutButtonContainer.innerHTML = `<%= j render 'baskets/checkout_button', basket: @basket %>`
}
