containers = document.querySelectorAll('.item-<%= @item.id %>')
document.querySelector('.basket-item-count').innerText = '<%= @basket.products.size %>'
document.querySelector('.basket-total-price').innerText = '<%= humanized_money_with_symbol @basket.total_price %>'
document.querySelector('.navbar-basket-title > h6').innerHTML = '<span class="boldest">My Bag</span>, <%= @basket.products.size %> <%= 'item'.pluralize(@basket.products.size) %>'
if (<%= @basket.empty? %>) {
  document.querySelector('.navbar-basket-items-container').innerHTML = '<p class="medium-margin text-center boldest">Your basket is empty</p>'
}
containers.forEach(container => container.remove())
