<div class="sessions-new-wrapper">
  <h1>Login or create an account</h1>
  <div class="container sessions-new-container">
    <div class="create-account-container">
      <h3>New Customer</h3>
      <h5>By creating an account with our store, you will be able to:</h5>
      <ul>
        <li>Store delivery addresses</li>
        <li>Checkout quicker</li>
        <li>View and track orders</li>
        <li>Create your wish list</li>
        <li>Access exclusive promotions</li>
      </ul>
      <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
        <%= link_to "CREATE ACCOUNT", new_registration_path(resource_name), class: "primary-button" %>
      <% end %>
      <%#= link_to 'CREATE ACCOUNT', new_registration_path, class: "primary-button" %>
    </div>
    <div class="log-in-container">
      <h3>Registered Customers</h3>
      <h5>If you have an account with us, please log in.</h5>
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-inputs">
          <%= f.input :email,
                      required: false,
                      autofocus: true,
                      label: false,
                      placeholder: "Email address",
                      input_html: { autocomplete: "email" } %>
          <%= f.input :password,
                      required: false,
                      placeholder: "Password",
                      label: false,
                      input_html: { autocomplete: "current-password" } %>

        </div>
        <div class="sessions-new-options">
          <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
          <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
            <%= link_to "Forgot your password?", new_password_path(resource_name) %>
          <% end %>
        </div>
        <div class="form-actions">
          <%= f.button :submit, "LOG IN", class: "primary-button" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
