<p class="medium-text ls-xs mb-1"><%= add.user.full_name %></p>
<p class="medium-text lighter ls-xs mb-1"><%= add.address_line1 %></p>
<p class="medium-text lighter ls-xs mb-1"><%= add.city %></p>
<p class="medium-text lighter ls-xs mb-1"><%= add.country %></p>
<p class="medium-text lighter ls-xs mb-1"><%= add.postcode %></p>
