<p class="s-medium-text muli boldest tiny-margin-bottom"><%= address.user.full_name %></p>
<p class="grey-font s-medium-text didot boldest no-margin"><%= address.street %></p>
<p class="grey-font s-medium-text didot boldest no-margin"><%= address.city %></p>
<p class="s-medium-text grey boldest didot no-margin"><%= address.country %></p>
<p class="grey-font s-medium-text didot boldest no-margin"><%= address.postcode %></p>
