<p class="s-medium-text muli boldest tiny-margin-bottom"><%= add.user.full_name %></p>
<p class="grey-font s-medium-text muli boldest no-margin"><%= add.address_line1 %></p>
<p class="grey-font s-medium-text muli boldest no-margin"><%= add.city %></p>
<p class="s-medium-text grey boldest muli no-margin"><%= add.country %></p>
<p class="grey-font s-medium-text muli boldest no-margin"><%= add.postcode %></p>
