<div class="address-card checkout-address-card" style="<%= address.default_address ? 'border: 3px solid #000' : '' %>">
  <div class="address-info">
    <%= render 'addresses/address', add: address %>
  </div>
  <div>
    <% unless address.default_address %>
      <%= link_to 'SET AS DEFAULT', address_set_default_path(address), method: :patch, remote: true, class: 'secondary-button secondary-checkout-button' %>
    <% end %>
    <button class="delivery-address-selector secondary-button secondary-checkout-button muli" id="<%= address.id %>" data-user="<%= @user.full_name %>" data-address_line1="<%= address.address_line1 %>" data-address_line2="<%= address.address_line2 %>" data-city="<%= address.city %>" data-country="<%= address.country %>" data-postcode="<%= address.postcode %>" data-dismiss="modal">USE ADDRESS</button>
  </div>
</div>
