if (<%= @default_is_delivery %>) {
  document.querySelector('.delivery-default').innerHTML = `<%= j render 'addresses/address', add: @default_delivery %>`
  document.querySelector('.modal-delivery-addresses').innerHTML = `<%= j render 'addresses/modal_addresses', addresses: @user.delivery_addresses %>`
} else {
  document.querySelector('.billing-default').innerHTML = `<%= j render 'addresses/address', add: @default_billing %>`
  document.querySelector('.modal-billing-addresses').innerHTML = `<%= j render 'addresses/modal_addresses', addresses: @user.billing_addresses %>`
}

// let billingAddressShow = document.getElementById('billingAddressShow')
// let deliveryAddressShow = document.getElementById('deliveryAddressShow')

// let deliveryHolder = document.getElementById('deliveryHolder')
var savedDeliveryAddresses = document.querySelectorAll('.delivery-address-selector')
// let billingHolder = document.getElementById('billingHolder')
var savedBillingAddresses = document.querySelectorAll('.billing-address-selector')

savedDeliveryAddresses.forEach(a => a.addEventListener('click', () => {
  deliveryHolder.value = a.id;
  deliveryAddressShow.innerHTML = `
                                    <p class="s-medium-text muli boldest tiny-margin-bottom">${a.dataset.user}</p>
                                    <p class="grey-font s-medium-text muli boldest no-margin">${a.dataset.address_line1}</p>
                                    <p class="grey-font s-medium-text muli boldest no-margin">${a.dataset.city}</p>
                                    <p class="grey-font s-medium-text muli boldest no-margin">${a.dataset.country}</p>
                                    <p class="grey-font s-medium-text muli boldest no-margin">${a.dataset.postcode}</p>
                                  `
                                  deliveryAddressShow.classList.remove('d-none')
                                  deliveryAddressShow.parentNode.querySelector('.delivery-default').classList.add('d-none')
}))

savedBillingAddresses.forEach(a => a.addEventListener('click', () => {
  billingHolder.value = a.id;
  billingAddressShow.innerHTML = `
                                    <p class="s-medium-text muli boldest tiny-margin-bottom">${a.dataset.user}</p>
                                    <p class="grey-font s-medium-text muli boldest no-margin">${a.dataset.address_line1}</p>
                                    <p class="grey-font s-medium-text muli boldest no-margin">${a.dataset.city}</p>
                                    <p class="grey-font s-medium-text muli boldest no-margin">${a.dataset.country}</p>
                                    <p class="grey-font s-medium-text muli boldest no-margin">${a.dataset.postcode}</p>
                                  `
  billingAddressShow.classList.remove('d-none')
  billingAddressShow.parentNode.querySelector('.billing-default').classList.add('d-none')
}))
