<%= simple_form_for :filter, method: :get, url: admin_products_path, html: { onchange: "Rails.fire(this, 'submit')" }, remote: true do |f| %>
  <div class="partial-filters-container">
    <div class="mobile-filters">
      <p class="boldest no-margin">Filter</p>
    </div>
    <div class="partial-filters">
      <div class="partial-filters_collection">
        <div class="filter-title filter-title-subcategories">
          <h6>Category</h6>
          <%= image_tag 'filter-arrow.png', class: 'filter-arrow filter-arrow-category arrow-flip' %>
        </div>
        <div class="filters-options filters-options-subcategories show-filters">
          <% Category.find_each do |category| %>
            <% next if category.sub_categories.all? { |sc| @products.where(sub_category: sc ).empty? } %>
            <h6><%= category.name %></h6>
            <%= f.input :sub_category, collection: category.sub_categories.joins(:products).merge(Product.where(sub_category_id: category.sub_categories.ids)).order(name: :ASC).product_filter_labels_and_values(Product.all).uniq, as: :check_boxes, required: false, label: "", checked: params[:product] ? params[:product][:sub_category] : [], value_method: :first, label_method: :last %>
          <% end %>
        </div>
        <div class="partial-filters_collection">
          <div class="filter-title filter-title-brands">
            <h6>Brand</h6>
            <%= image_tag 'filter-arrow.png', class: 'filter-arrow filter-arrow-brands' %>
          </div>
          <div class="filters-options filters-options-brands">
            <%= f.input :brand, collection: Brand.order(name: :ASC).product_filter_labels_and_values(Product.all), as: :check_boxes, value_method: :first,label: "", required: false, label_method: :last, checked: params[:filter] ? params[:filter][:brand] : [] %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<script>
  filterTitleSubcategories = document.querySelector('.filter-title-subcategories')
  filterOptionsSubcategories = document.querySelector('.filters-options-subcategories')

  filterTitleBrands = document.querySelector('.filter-title-brands')
  filterOptionsBrands = document.querySelector('.filters-options-brands')

  filterTitleSubcategories.addEventListener('click', () => {
    filterOptionsSubcategories.classList.toggle('show-filters')
    document.querySelector('.filter-arrow-category').classList.toggle('arrow-flip')
  })

  filterTitleBrands.addEventListener('click', () => {
    filterOptionsBrands.classList.toggle('show-filters')
    document.querySelector('.filter-arrow-brands').classList.toggle('arrow-flip')
  })
</script>
