<%= simple_form_for :filter, method: :get, url: admin_products_path, html: { onchange: "Rails.fire(this, 'submit')" }, remote: true do |f| %>
  <div class="partial-filters-container">
    <div class="mobile-filters">
      <p class="boldest no-margin">Filter</p>
    </div>
    <div class="partial-filters">
      <div class="partial-filters_collection">
        <div class="filter-title filter-title-subcategories">
          <h6>Category</h6>
          <%= image_tag 'filter-arrow.png', class: 'filter-arrow filter-arrow-category arrow-flip' %>
        </div>
        <div class="filters-options filters-options-categories show-filters">
          <% Category.order(name: :ASC).each do |category| %>
            <div class="filter-subtitle filter-subtitle-<%= category.name %>" data-sub="<%= category.name %>">
              <h6><%= category.name %></h6>
              <%= image_tag 'filter-arrow.png', class: 'filter-arrow filter-arrow-subcategory', data: { sub: "#{ category.name }" } %>
            </div>
            <div class="filter-subcategory-container filter-subcategory-<%= category.name %>" data-sub="<%= category.name %>">
              <%= f.input :sub_category, collection: category.sub_categories.order(name: :ASC).product_filter_labels_and_values(Product.all), as: :check_boxes, required: false, label: "", checked: params[:product] ? params[:product][:sub_category] : [], value_method: :first, label_method: :last %>
            </div>
          <% end %>
        </div>
        <div class="partial-filters_collection">
          <div class="filter-title filter-title-brands">
            <h6>Brand</h6>
            <%= image_tag 'filter-arrow.png', class: 'filter-arrow filter-arrow-brands' %>
          </div>
          <div class="filters-options filters-options-brands">
            <%= f.input :brand, collection: Brand.order(name: :ASC).product_filter_labels_and_values(Product.all), as: :check_boxes, value_method: :first,label: "", required: false, label_method: :last, checked: params[:filter] ? params[:filter][:brand] : [] %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<script>

  filterTitleCategories = document.querySelector('.filter-title-categories')
  filterOptionsCategories = document.querySelector('.filters-options-categories')

  filterTitleBrands = document.querySelector('.filter-title-brands')
  filterOptionsBrands = document.querySelector('.filters-options-brands')

  if (filterTitleCategories) {
    filterTitleCategories.addEventListener('click', () => {
      filterOptionsCategories.classList.toggle('show-filters')
      document.querySelector('.filter-arrow-category').classList.toggle('arrow-flip')
    })
  }

  if (filterTitleBrands) {
    filterTitleBrands.addEventListener('click', () => {
      filterOptionsBrands.classList.toggle('show-filters')
      document.querySelector('.filter-arrow-brands').classList.toggle('arrow-flip')
    })
   }

  document.querySelectorAll('.filter-subtitle').forEach((subtitle) => {
    subtitle.addEventListener('click', () => {
      // document.querySelector(`.filter-subcategory-${subtitle.dataset.sub}`).classList.toggle('show-filters')
      document.querySelectorAll('.filter-subcategory-container').forEach((subcategory) => {
        if (subtitle.dataset.sub === subcategory.dataset.sub) {
          subcategory.classList.toggle('show-filters')
          document.querySelectorAll('.filter-arrow-subcategory').forEach((arrow) => {
            if (arrow.dataset.sub === subcategory.dataset.sub) {
              arrow.classList.toggle('arrow-flip')
            }
          })
        }
      })
    })
  })


</script>
