<div class="col-6 col-lg-6 col-xl-4" style="margin-bottom: 15px;">
  <div class="my-products-card">
    <div class="my-products-image">
      <% if product.lead_product_image.attached? %>
        <%= image_tag url_for(product.lead_product_image), alt: "product shade photo" %>
      <% elsif product.shades.first&.card_photo %>
        <%= image_tag url_for(product.shades.first.card_photo), alt: "product shade photo" %>
      <% else %>
        <div style="background-color: #EFEFEF; min-height: 131.5px; max-height: 204px; height: 13rem; width: 100%"></div>
      <% end %>
    </div>
    <div class="my-products-details text-center no-margin muli">
      <p><%= product.title %></p>
    </div>
    <div class="my-products-price text-center boldest no-margin muli d-flex justify-content-around">
      <div>
        <%= humanized_money_with_symbol(product.price) %>
      </div>
      <% if product.us_price > 0 %>
        <div>
          <%= humanized_money_with_symbol(product.us_price) %>
        </div>
      <% end %>
    </div>
    <div class="products-admin-options">
      <%= link_to 'EDIT', edit_admin_product_path(product), class: 'secondary-button products-admin-buttons' %>
      <%= link_to 'DELETE', admin_product_path(product), method: :delete, data: { confirm: 'Are you sure?' }, class: 'secondary-button products-admin-buttons' %>
    </div>
  </div>
</div>
