<div class="dashboard-wrapper">
  <div class="dashboard-container">
    <div class="dash-menu-container">
      <%= render 'admin/shared/admin_dash' %>
    </div>
    <div class="dash-content-container">
      <h2 class="insider-info-title mlb-title text-center">New In</h2>
      <hr>
      <div class="row row-admin-cards">
        <% @products.each do |product| %>
          <div class="col-6 col-sm-6 col-md-4" style="padding: 10px;">
            <!-- removed d-flex justify-content-center from above div -->
            <div class="product-cards-holder">
              <%= render 'admin/products/new_in_products', product: product %>
            </div>
          </div>
        <% end %>
      </div>
      <div class="admin-form-container">
        <%= simple_form_for :new_in, url: admin_add_new_in_path, method: :post do |f| %>
          <div class="personal-details-input-wide align-items-start">
            <p class="boldest muli s-medium-text text-right no-margin">Products</p>
            <%= f.input :products, label: false, collection: Product.where(featured: false), label_method: ->(product){ "#{product.title} (#{product.brand.name})" }, input_html: { multiple: true, style: "overflow: scroll" } %>
          </div>
        <%= f.submit 'UPDATE NEW IN', class: 'primary-button personal-details-button small-text' %>
      <% end %>
    </div>
  </div>
</div>
