<div class="dashboard-wrapper">
  <div class="dashboard-container-title mb-3 px-3 px-md-0">
    <h4 class="ls-xs mb-2">admin portal</h4>
  </div>
  <div class="dashboard-container">
    <div class="dash-menu-container">
      <%= render 'admin/shared/admin_dash' %>
    </div>
    <div class="dash-content-container">
      <p class="ls-xs mb-3 mb-md-2 pl-3 pl-md-0">products / sku's</p>
      <div class="dash-content">
        <div class="w-100 position-relative">
          <div class="influencer-orders-container pt-0 pb-3 px-3">
            <table class="sku-table">
              <tr>
                <th class="neue-machina ls-xs s-medium-text py-3">brand</th>
                <th class="neue-machina ls-xs s-medium-text py-3">product</th>
                <th class="neue-machina ls-xs s-medium-text py-3">shade</th>
                <th class="neue-machina ls-xs s-medium-text py-3">sku</th>
              </tr>
              <% @shades.each_with_index do |shade, index| %>
                <tr class="<%= index.even? ? 'shaded' : '' %>">
                  <td class="neue-machina ls-xs lighter small-text"><%= shade.product.brand.name %></td>
                  <td class="neue-machina ls-xs lighter small-text"><%= shade.product.title %></td>
                  <td class="neue-machina ls-xs lighter small-text"><%= shade.name %></td>
                  <td class="neue-machina ls-xs lighter small-text"><%= shade.sku %></td>
                </tr>
              <% end %>
            </table>
          </div>
          <div class="discount-button-container">
            <hr class="w-100 m-0" style="border-color: #DDCCB5;">
            <div class="p-3 d-flex justify-content-between align-items-center">
              <%= paginate @shades %>
              <%= link_to 'download', admin_sku_download_path(format: :csv), class: 'primary-button personal-details-button small-text m-0', method: :get, style: 'margin: 0 0 50px 0' %>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>


