<div class="container skucont">
  <table>
    <tr>
      <th>Brand</th>
      <th>Product</th>
      <th>Shade</th>
      <th>SKU</th>
    </tr>
    <% @shades.each_with_index do |shade, index| %>
      <tr class="<%= index.even? ? 'shaded' : '' %>">
        <td><%= shade.product.brand.name %></td>
        <td><%= shade.product.title %></td>
        <td><%= shade.name %></td>
        <td><%= shade.sku %></td>
      </tr>
    <% end %>
  </table>
</div>
