<div class="admin-wrapper minimum-height">
  <div class="admin-container">
    <h2 class="insider-info-title mlb-title text-center">Update an Influencer</h2>
    <hr>
    <div class="admin-form-container">
      <%= simple_form_for [:admin, @influencer], url: admin_influencer_path do |f| %>
        <div class="personal-details-input">
          <p class="boldest muli s-medium-text text-right no-margin">First name</p>
          <%= f.input :first_name, label: false, placeholder:'First name...', input_html: { class: "admin-form-input" } %>
          </div>
          <div class="personal-details-input">
            <p class="boldest muli s-medium-text text-right no-margin">Last name</p>
            <%= f.input :last_name, label: false, placeholder:'Last name...', input_html: { class: "admin-form-input" } %>
          </div>
          <div class="personal-details-input">
            <p class="boldest muli s-medium-text text-right no-margin">Email</p>
            <%= f.input :email, label: false, placeholder:'Email...', input_html: { class: "admin-form-input" } %>
          </div>
          <div class="personal-details-input">
            <p class="boldest muli s-medium-text text-right no-margin">Instagram</p>
            <%= f.input :instagram, label: false, placeholder:'e.g. @loop_beauty', input_html: { class: "admin-form-input" } %>
          </div>
          <div class="personal-details-input">
            <p class="boldest muli s-medium-text text-right no-margin">Instagram Followers</p>
            <%= f.input :instagram_followers, label: false, placeholder:'e.g. 200k', input_html: { class: "admin-form-input" } %>
          </div>
          <div class="personal-details-input">
            <p class="boldest muli s-medium-text text-right no-margin">Youtube</p>
            <%= f.input :youtube, label: false, placeholder:'e.g. https://www.youtube.com/user/loopbeauty', input_html: { class: "admin-form-input" } %>
          </div>
          <div class="personal-details-input">
            <p class="boldest muli s-medium-text text-right no-margin">Youtube Subscribers</p>
            <%= f.input :youtube_subscribers, label: false, placeholder:'e.g. 200k', input_html: { class: "admin-form-input" } %>
          </div>
          <div class="personal-details-input align-items-start">
            <p class="boldest muli s-medium-text text-right photo-input-text">Avatar photo</p>
            <div>
              <%= f.input :avatar_photo, input_html: { class: 'd-none photo-input', 'data-name': 'avatar', onchange: "displayPreview(this)" }, label_html: { class: 'upload-photo'}, label: 'CHOOSE FILE' %>
              <% if @influencer.avatar_photo.attached? %>
                <%= image_tag url_for(@influencer.avatar_photo), height: 100, class: "photo-preview", 'data-name': 'avatar', alt: "influencer avatar" %>
              <% else %>
                <%= image_tag "", width: 100, class: "d-none photo-preview", 'data-name': 'avatar', alt: "influencer avatar" %>
              <% end %>
            </div>
          </div>
          <div class="personal-details-input align-items-start">
            <p class="boldest muli s-medium-text text-right photo-input-text">Cover Photo</p>
            <div>
              <%= f.input :cover_photo, input_html: { class: 'd-none photo-input', 'data-name': 'cover', onchange: "displayPreview(this)" }, label_html: { class: 'upload-photo'}, label: 'CHOOSE FILE' %>
              <% if @influencer.cover_photo.attached? %>
                <%= image_tag url_for(@influencer.cover_photo), height: 100, class: "photo-preview", 'data-name': 'cover', alt: "influencer cover photo" %>
              <% else %>
                <%= image_tag "", width: 100, class: "d-none photo-preview", 'data-name': 'cover', alt: "influencer cover photo" %>
              <% end %>
            </div>
          </div>
          <div class="personal-details-input align-items-start">
            <p class="boldest muli s-medium-text text-right photo-input-text">Q&A photo</p>
            <div>
              <%= f.input :qa_photo, input_html: { class: 'd-none photo-input', 'data-name': 'qa', onchange: "displayPreview(this)" }, label_html: { class: 'upload-photo'}, label: 'CHOOSE FILE' %>
              <% if @influencer.qa_photo.attached? %>
                <%= image_tag url_for(@influencer.qa_photo), height: 100, class: "photo-preview", 'data-name': 'qa', alt: "influencer q and a photo" %>
              <% else %>
                <%= image_tag "", width: 100, class: "d-none photo-preview", 'data-name': 'qa', alt: "influencer q and a photo" %>
              <% end %>
            </div>
          </div>
          <div class="personal-details-input align-items-start">
            <p class="boldest muli s-medium-text text-right photo-input-text">Lookbook photo</p>
            <div>
              <%= f.input :lookbook_photo, input_html: { class: 'd-none photo-input', 'data-name': 'lookbook', onchange: "displayPreview(this)" }, label_html: { class: 'upload-photo'}, label: 'CHOOSE FILE' %>
              <% if @influencer.lookbook_photo.attached? %>
                <%= image_tag url_for(@influencer.lookbook_photo), height: 100, class: "photo-preview", 'data-name': 'lookbook', alt: "influencer lookbook photo" %>
              <% else %>
                <%= image_tag "", width: 100, class: "d-none photo-preview", 'data-name': 'lookbook', alt: "influencer lookbook photo" %>
              <% end %>
            </div>
          </div>
          <div class="personal-details-input align-items-start">
            <p class="boldest muli s-medium-text text-right photo-input-text">Tutorial photo</p>
            <div>
              <%= f.input :tutorial_photo, input_html: { class: 'd-none photo-input', 'data-name': 'tutorial', onchange: "displayPreview(this)" }, label_html: { class: 'upload-photo'}, label: 'CHOOSE FILE' %>
              <% if @influencer.tutorial_photo.attached? %>
                <%= image_tag url_for(@influencer.tutorial_photo), height: 100, class: "photo-preview", 'data-name': 'tutorial', alt: "influencer tutorial photo" %>
              <% else %>
                <%= image_tag "", width: 100, class: "d-none photo-preview", 'data-name': 'tutorial', alt: "influencer tutorial photo" %>
              <% end %>
            </div>
          </div>
          <div class="personal-details-input align-items-start">
            <p class="boldest muli s-medium-text text-right photo-input-text">Makeup photo</p>
            <div>
              <%= f.input :makeup_photo, input_html: { class: 'd-none photo-input', 'data-name': 'makeup', onchange: "displayPreview(this)" }, label_html: { class: 'upload-photo'}, label: 'CHOOSE FILE' %>
              <% if @influencer.makeup_photo.attached? %>
                <%= image_tag url_for(@influencer.makeup_photo), height: 100, class: "photo-preview", 'data-name': 'makeup', alt: "influencer makeup photo" %>
              <% else %>
                <%= image_tag "", width: 100, class: "d-none photo-preview", 'data-name': 'makeup', alt: "influencer makeup photo" %>
              <% end %>
            </div>
          </div>
          <div class="personal-details-input align-items-start">
            <p class="boldest muli s-medium-text text-right no-margin">Description</p>
            <%= f.input :description, label: false, placeholder:'This influencer...', input_html: { class: "admin-form-input" } %>
          </div>
          <% if action_name == "new" %>
            <div class="personal-details-input">
              <p class="boldest muli s-medium-text text-right no-margin">Password</p>
              <%= f.input :password, label: false, placeholder:'Password', input_html: { class: "admin-form-input" } %>
            </div>
          <% end %>
          <%= f.submit 'UPDATE INFLUENCER ACCOUNT', class: 'primary-button personal-details-button small-text' %>
      <% end %>
    </div>
  </div>
</div>

<%= content_for(:after_js) do %>
  <%= javascript_pack_tag 'components/photo_preview' %>
<% end %>

