<div class="admin-wrapper minimum-height">
  <div class="admin-container">
    <h2 class="insider-info-title mlb-title text-center">Create an Influencer</h2>
    <hr>
    <div class="admin-form-container">
      <%= simple_form_for [:admin, @influencer], url: admin_influencers_path do |f| %>
        <div class="personal-details-input">
          <p class="boldest muli s-medium-text text-right no-margin">First name</p>
          <%= f.input :first_name, label: false, placeholder:'First name...', input_html: { class: "admin-form-input" } %>
          </div>
          <div class="personal-details-input">
            <p class="boldest muli s-medium-text text-right no-margin">Last name</p>
            <%= f.input :last_name, label: false, placeholder:'Last name...', input_html: { class: "admin-form-input" } %>
          </div>
          <div class="personal-details-input">
            <p class="boldest muli s-medium-text text-right no-margin">Email</p>
            <%= f.input :email, label: false, placeholder:'Email...', input_html: { class: "admin-form-input" } %>
          </div>
          <div class="personal-details-input">
            <p class="boldest muli s-medium-text text-right no-margin">Instagram</p>
            <%= f.input :instagram, label: false, placeholder:'e.g. @loop_beauty', input_html: { class: "admin-form-input" } %>
          </div>
          <div class="personal-details-input">
            <p class="boldest muli s-medium-text text-right no-margin">Instagram Followers</p>
            <%= f.input :instagram_followers, label: false, placeholder:'e.g. 200k', input_html: { class: "admin-form-input" } %>
          </div>
          <div class="personal-details-input">
            <p class="boldest muli s-medium-text text-right no-margin">Youtube</p>
            <%= f.input :youtube, label: false, placeholder:'e.g. https://www.youtube.com/user/loopbeauty', input_html: { class: "admin-form-input" } %>
          </div>
          <div class="personal-details-input">
            <p class="boldest muli s-medium-text text-right no-margin">Youtube Subscribers</p>
            <%= f.input :youtube_subscribers, label: false, placeholder:'e.g. 200k', input_html: { class: "admin-form-input" } %>
          </div>
          <div class="personal-details-input">
            <p class="boldest muli s-medium-text text-right no-margin">Avatar photo</p>
            <%= f.input :avatar_photo, label: false %>
          </div>
          <div class="personal-details-input">
            <p class="boldest muli s-medium-text text-right no-margin">Cover Photo</p>
            <%= f.input :cover_photo, label: false %>
          </div>
          <div class="personal-details-input">
            <p class="boldest muli s-medium-text text-right no-margin">Q&A photo</p>
            <%= f.input :qa_photo, label: false %>
          </div>
          <div class="personal-details-input">
            <p class="boldest muli s-medium-text text-right no-margin">Lookbook photo</p>
            <%= f.input :lookbook_photo, label: false %>
          </div>
          <div class="personal-details-input">
            <p class="boldest muli s-medium-text text-right no-margin">Tutorial photo</p>
            <%= f.input :tutorial_photo, label: false %>
          </div>
          <div class="personal-details-input">
            <p class="boldest muli s-medium-text text-right no-margin">Makeup photo</p>
            <%= f.input :makeup_photo, label: false %>
          </div>
          <div class="personal-details-input align-items-start">
            <p class="boldest muli s-medium-text text-right no-margin">Description</p>
            <%= f.input :description, label: false, placeholder:'This influencer...', input_html: { class: "admin-form-input" } %>
          </div>
          <div class="personal-details-input">
            <p class="boldest muli s-medium-text text-right no-margin">Password</p>
            <%= f.input :password, label: false, placeholder:'Password', input_html: { class: "admin-form-input" } %>
          </div>
          <%= f.submit 'CREATE INFLUENCER ACCOUNT', class: 'primary-button personal-details-button small-text' %>
      <% end %>
    </div>
  </div>
</div>
