<div class="row" style="margin: 0; width: 100%;">
  <% insider_articles.each_with_index do |article, index| %>
    <% if (index + 1) % 4  == 0 %>
      <%= link_to insider_article_path(article), class: 'no-decoration' do %>
        <div class="insider-home-articles-banner" style="background-image:url(<%= url_for(article.cover_photo) %>)">
          <div class="insider-article-banner-text-container">
            <div class="insider-article-banner">
              <h2 class="neue-machina <%= article.card_text_color == 'White' ? 'article-white' : 'article-black' %>"><%= article.title %></h2>
              <p class="<%= article.card_text_color == 'White' ? 'article-white' : 'article-black' %>">Read more</p>
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
      <div class="col-xs-12 col-md-4" style="padding: 0;">
        <%= link_to insider_article_path(article), class: "insider-home-card-link" do %>
          <div class="insider-home-articles-card" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= url_for(article.cover_photo.variant(resize: '700')) %>);">
            <div class="insider-home-articles-card-text">
              <h6><%= article.category %></h6>
              <p class="neue-machina"><%= article.title %></p>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
