<div class="row m-0 justify-content-between">
  <% contents.each_with_index do |content, index| %>
    <% if (index + 1) % 5  == 0 %>
      <div class="pop-out-bottom-padding-community my-5 w-100 px-0 px-sm-4 px-md-5">
        <div class="pop-out-image-banner">
          <div class="pop-out-image-banner-content">
            <h2 class="neue-machina ls-sm mb-3 text-center">How We Are Changing The Game</h2>
            <p class="lighter mb-4 ls-sm text-center">Meet our founder Ariel Okubanjo</p>
            <%= link_to 'About Us', 'about_us_path', class: 'dotted-underline-button lighter mb-5' %>
            <%= image_tag 'pop_out_image_two.png' %>
          </div>
        </div>
      </div>
    <% else %>
      <div class="insider-cards">
        <% if @how_to %>
          <%= link_to tutorial_path(content), class: "insider-home-card-link no-decoration" do %>
            <div class="inside-how-to my-5">
              <div class="insider-home-articles-card mb-3 position-relative" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= url_for(content.cover_photo.variant(resize: '700')) %>);">
                <%= image_tag 'play-button.png', class: "play-button", width: 200, alt: "Play button" %>
              </div>
              <div>
                <p class="mb-3 truncate-text lighter ls-xs"><%= content.title %></p>
                <p class="mb-2 truncate-text lighter ls-xs small-text grey-font"><%= content.user.instagram %></p>
              </div>
            </div>
          <% end %>
        <% else %>
          <div class="card-image-results homepage-products w-100 my-5">
            <div class="card">
              <div class="card_image homepage-article-image">
                <%= link_to insider_article_path(content) do %>
                  <%= image_tag url_for(content.cover_photo.variant(resize: '300x300')), alt: "insider article photo" %>
                <% end %>
              </div>
            </div>
            <div class="card-info">
              <p class="mb-2 truncate-text lighter ls-xs small-text grey-font"><%= content.category.downcase %></p>
              <p class="mb-3 truncate-text lighter ls-xs"><%= content.title %></p>
              <%= link_to 'Read More', insider_article_path(content), class: 'dotted-underline-button lighter mb-5 px-0' %>
            </div>
          </div>
        <% end %>
      </div>
      <% end %>
  <% end %>
</div>

