<%= content_for :meta_title do %>
  Beauty tutorials from your favourite influencers
<% end %>
<% if @featured_article %>
  <div class="content-padding first-banner-padding">
    <div class="content-container">
      <div class="d-block d-md-none">
        <h1 class="mb-4 main-home-title"><%= @featured_article.title %></h1>
        <h5 class="mb-0 neue-machina ls-sm lh-md mb-3"><%= @featured_article_tag %></h5>
        <%= link_to 'Read More', insider_article_path(@featured_article), class: 'oval-button ls-sm no-decoration mb-4' %>
        <%= image_tag url_for(@featured_article.cover_photo), class: 'w-100' %>
      </div>
      <div class="d-none d-md-block">
        <div class="homepage-banner" style="background-image: linear-gradient(to right, rgba(0,0,0,0.3), rgba(0,0,0,0.1)), url(<%= url_for(@featured_article.cover_photo) %>)">
          <div class="homepage-banner-text">
            <h1 class="text-white mb-4"><%= @featured_article.title %></h1>
            <h5 class="text-white mb-0 neue-machina ls-lg lh-md mb-4"><%= @featured_article_tag %></h5>
            <%= link_to 'Read More', insider_article_path(@featured_article), class: 'oval-button ls-sm text-white border-white no-decoration' %>
            <%= image_tag 'the_net_watermark.png', class: 'the-net-watermark' %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<div class="content-padding position-relative">
  <div class="content-container">
    <div class="row m-0 justify-content-center">
      <div class="insider-home-tabs-container mb-3">
        <div class="insider-home-tabs">
          <%= form_tag(community_path, method: :get, remote: true) do %>
            <%= hidden_field_tag :category, params[:category], value: "All" %>
            <%= submit_tag "All Content", class: "each-insider-home-tab mr-5 #{ (params[:category] == 'All' || !params[:category].present? ) ? 'insider-home-tab-active' : '' }"  %>
          <% end %>
          <%= form_tag(community_path, method: :get, remote: true) do %>
            <%= hidden_field_tag :category, params[:category], value: "Inspiration" %>
            <%= submit_tag "Inspiration", class: "each-insider-home-tab mr-5 #{ params[:category] == 'Inspiration' ? 'insider-home-tab-active' : '' }"  %>
          <% end %>
          <%= form_tag(community_path, method: :get, remote: true) do %>
            <%= hidden_field_tag :category, params[:category], value: "News" %>
            <%= submit_tag "News", class: "each-insider-home-tab mr-5 #{ params[:category] == 'News' ? 'insider-home-tab-active' : '' }"  %>
          <% end %>
          <%= form_tag(community_path, method: :get, remote: true) do %>
            <%= hidden_field_tag :category, params[:category], value: "Ask the Expert" %>
            <%= submit_tag "Ask the Expert", class: "each-insider-home-tab mr-5 #{ params[:category] == 'Ask the Expert' ? 'insider-home-tab-active' : '' }"  %>
          <% end %>
          <%= form_tag(community_path, method: :get, remote: true) do %>
            <%= hidden_field_tag :category, params[:category], value: "How To" %>
            <%= submit_tag "How To", class: "each-insider-home-tab #{ params[:category] == 'How To' ? 'insider-home-tab-active' : '' }"  %>
          <% end %>
        </div>
      </div>
      <div class="insider-home-articles">
        <%= render 'insider_cards', contents: @contents %>
      </div>
    </div>
  </div>
</div>

<script>
  tabs = document.querySelectorAll('.each-insider-home-tab');
  tabs.forEach(function(tab) {
    tab.addEventListener('click', (e) => {
      document.querySelectorAll('.each-insider-home-tab').forEach(function(tab) { tab.classList.remove('insider-home-tab-active') });
      e.currentTarget.classList.add('insider-home-tab-active');
    })
  });
</script>
