<% if @featured_article %>
<%= link_to insider_article_path(@featured_article), class: 'no-decoration' do %>
  <div class="insider-show-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= url_for(@featured_article.cover_photo) %>)">
    <div class="insider-article-banner-text-container">
      <div class="insider-article-banner">
        <h2 class="didot <%= @featured_article.card_text_color == 'White' ? 'article-white' : 'article-black' %>" ><%= @featured_article.title %></h2>
        <p class="<%= @featured_article.card_text_color == 'White' ? 'article-white' : 'article-black' %>">Read more</p>
      </div>
    </div>
  </div>
<% end %>
<% end %>
<div class="insider-home-tabs-container">
  <div class="insider-home-tabs">
    <%= form_tag(insider_articles_path, method: :get, remote: true) do %>
      <%= hidden_field_tag :category, params[:category], value: "All" %>
      <%= submit_tag "All articles", class: "each-insider-home-tab #{ (params[:category] == 'All' || !params[:category].present? ) ? 'insider-home-tab-active' : '' }"  %>
    <% end %>
    <%= form_tag(insider_articles_path, method: :get, remote: true) do %>
      <%= hidden_field_tag :category, params[:category], value: "Inspiration" %>
      <%= submit_tag "Inspiration", class: "each-insider-home-tab #{ params[:category] == 'Inspiration' ? 'insider-home-tab-active' : '' }"  %>
    <% end %>
    <%= form_tag(insider_articles_path, method: :get, remote: true) do %>
      <%= hidden_field_tag :category, params[:category], value: "Beauty News" %>
      <%= submit_tag "Beauty News", class: "each-insider-home-tab #{ params[:category] == 'Beauty News' ? 'insider-home-tab-active' : '' }"  %>
    <% end %>
    <%= form_tag(insider_articles_path, method: :get, remote: true) do %>
      <%= hidden_field_tag :category, params[:category], value: "Ask the Expert" %>
      <%= submit_tag "Ask the Expert", class: "each-insider-home-tab #{ params[:category] == 'Ask the Expert' ? 'insider-home-tab-active' : '' }"  %>
    <% end %>
  </div>
</div>
<div class="insider-home-articles">
  <%= render 'insider_cards', insider_articles: @insider_articles %>
</div>

<script>
  tabs = document.querySelectorAll('.each-insider-home-tab');
  tabs.forEach(function(tab) {
    tab.addEventListener('click', (e) => {
      document.querySelectorAll('.each-insider-home-tab').forEach(function(tab) { tab.classList.remove('insider-home-tab-active') });
      e.currentTarget.classList.add('insider-home-tab-active');
    })
  });
</script>
