<div class="insider-show-banner" style="background-image: url(<%= url_for(@insider_article.cover_photo) %>)"></div>
<div class="insider-show-article-wrapper">
  <div class="container">
    <div class="selected-article">
      <div class="article-header">
        <h6 class="boldest muli"><%= @insider_article.category %>:</h6>
          <h2 class="didot"><%= @insider_article.title %></h2>
        <p class="boldest muli">by <%= @insider_article.by %> </p>
      </div>
      <div class="article-content">
        <%= simple_format(@insider_article.text1) %>
        <% if @insider_article.photo1.attached? %>
          <% if @movies.include?(@insider_article.photo1.filename.extension.downcase) %>
            <%= video_tag(url_for(@insider_article.photo1), controls: true, alt: @insider_article.photo1_alt_text, playsinline: true, poster: url_for(@insider_article.cover_photo), class: "insider_article_photo") %>
          <% else %>
            <%= image_tag(url_for(@insider_article.photo1), alt: @insider_article.photo1_alt_text, class: "insider_article_photo") %>
          <% end %>
        <% end %>
        <p class="didot"><%= simple_format(@insider_article.text2) %></p>
        <% if @insider_article.photo2.attached? %>
          <% if @movies.include?(@insider_article.photo2.filename.extension.downcase) %>
            <%= video_tag(url_for(@insider_article.photo2), controls: true, alt: @insider_article.photo1_alt_text, playsinline: true, poster: url_for(@insider_article.cover_photo), class: "insider_article_photo") %>
          <% else %>
            <%= image_tag(url_for(@insider_article.photo2), alt: @insider_article.photo2_alt_text, class: "insider_article_photo") %>
          <% end %>
        <% end %>
        <p class="didot"><%= simple_format(@insider_article.text3) %></p>
        <% if @insider_article.photo3.attached? %>
          <% if @movies.include?(@insider_article.photo3.filename.extension.downcase) %>
            <%= video_tag(url_for(@insider_article.photo3), controls: true, alt: @insider_article.photo1_alt_text, playsinline: true, poster: url_for(@insider_article.cover_photo), class: "insider_article_photo") %>
          <% else %>
            <%= image_tag(url_for(@insider_article.photo3), alt: @insider_article.photo3_alt_text, class: "insider_article_photo") %>
          <% end %>
        <% end %>
        <p class="didot"> <%= simple_format(@insider_article.text4) %></p>
        <% if user_signed_in? && current_user.admin %>
          <% if policy([:admin, @insider_article]).publish? %>
            <div class="admin-options">
              <hr>
              <div class="container">
                <h6 class="boldest">Admin options</h6>
                <div class="d-flex">
                  <% if @insider_article.published %>
                    <%= link_to "UNPUBLISH", unpublish_admin_insider_article_path(@insider_article), method: :patch, class: 'secondary-button small-margin-right' %>
                  <% else %>
                    <%= link_to "PUBLISH", publish_admin_insider_article_path(@insider_article), method: :patch, class: 'secondary-button small-margin-right' %>
                  <% end %>
                  <%= link_to "EDIT", edit_admin_insider_article_path(@insider_article), class: 'secondary-button small-margin-right' %>
                  <%= link_to "DELETE", admin_insider_article_path(@insider_article), method: :delete, class: 'secondary-button' %>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
      <div class="share-articles-links">
        <h6>Share</h6>
        <div class="articles-link-icons">
          <%= link_to "http://www.facebook.com/sharer/sharer.php?u=#{insider_article_url(@insider_article)}&t=#{@insider_article.title}", target: "_blank" do %>
            <i class="fab fa-facebook-f"></i>
          <% end %>
          <%= link_to "https://twitter.com/intent/tweet?text=#{@insider_article.title}&url=#{insider_article_url(@insider_article)}", target: "_blank" do %>
            <i class="fab fa-twitter"></i>
          <% end %>
          <%= link_to "http://pinterest.com/pin/create/button/?url=#{insider_article_url(@insider_article)}&media=#{url_for(@insider_article.cover_photo)}&description=#{@insider_article.title}", target: "_blank" do %>
            <i class="fab fa-pinterest-p"></i>
          <% end %>
          <%= mail_to '', subject: @insider_article.title, body: insider_article_url(@insider_article) do %>
            <i class="far fa-envelope"></i>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="insider-home-articles">
  <div class="row" style="width: 100%; margin: 0">
    <% @insider_articles.first(6).each do |article| %>
      <div class="col-xs-12 col-sm-6 col-lg-4" style="padding: 0;">
        <%= link_to insider_article_path(article), class: "insider-home-card-link" do %>
          <div class="insider-home-articles-card" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= url_for(article.cover_photo) %>);">
            <div class="insider-home-articles-card-text">
              <h6><%= article.category %></h6>
              <p class="didot"><%= article.title %></p>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
