<% if user_signed_in? && current_user.admin %>
  <% if policy([:admin, @insider_article]).publish? %>
    <div class="container">
      <div class="admin-options">
      <hr>
        <h6 class="bold neue-machina ls-xs">admin options</h6>
        <div class="d-flex">
          <% if @insider_article.published %>
            <%= link_to "unpublish", unpublish_admin_insider_article_path(@insider_article), method: :patch, class: 'dotted-underline-button px-0 mr-2' %>
          <% else %>
            <%= link_to "publish", publish_admin_insider_article_path(@insider_article), method: :patch, class: 'dotted-underline-button px-0 mr-2' %>
          <% end %>
          <%= link_to "edit", edit_admin_insider_article_path(@insider_article), class: 'dotted-underline-button px-0 mr-2' %>
          <%= link_to "delete", admin_insider_article_path(@insider_article), method: :delete, data: { confirm: 'Are you sure?' }, class: 'dotted-underline-button' %>
        </div>
      </div>
      <hr>
    </div>
  <% end %>
<% end %>

<div class="content-margin pop-out-no-padding-mobile first-banner-padding article-show-first-banner">
  <div class="content-container pop-out-bottom-padding">
    <div class="pop-out-image-banner">
      <div class="pop-out-image-banner-content">
        <h2 class="neue-machina ls-sm mb-3 text-center"><%= @insider_article.category %></h2>
        <p class="lighter mb-4 ls-sm text-center"><%= @insider_article.title %></p>
        <p class="lighter mb-4 ls-sm text-center">by <%= @insider_article.by %></p>
        <%= image_tag url_for(@insider_article.cover_photo) %>
      </div>
    </div>
  </div>
</div>

<div class="content-margin first-banner-padding last-content-margin">
  <div class="content-container">
    <div id="here"></div>
    <div class="insider-show-article-wrapper">
      <div class="selected-article">
        <div class="article-content" id='cont'>
          <%= simple_format(@insider_article.text1) %>
          <% if @insider_article.photo1.attached? %>
            <% if @movies.include?(@insider_article.photo1.filename.extension.downcase) %>
              <%= video_tag(url_for(@insider_article.photo1), controls: true, alt: @insider_article.photo1_alt_text, playsinline: true, poster: url_for(@insider_article.cover_photo), class: "insider_article_photo", preload: 'none') %>
            <% else %>
              <%= image_tag(url_for(@insider_article.photo1), alt: @insider_article.photo1_alt_text, class: "insider_article_photo") %>
            <% end %>
          <% end %>
          <p class="neue-machina"><%= simple_format(@insider_article.text2) %></p>
          <% if @insider_article.photo2.attached? %>
            <% if @movies.include?(@insider_article.photo2.filename.extension.downcase) %>
              <%= video_tag(url_for(@insider_article.photo2), controls: true, alt: @insider_article.photo1_alt_text, playsinline: true, poster: url_for(@insider_article.cover_photo), class: "insider_article_photo", preload: 'none') %>
            <% else %>
              <%= image_tag(url_for(@insider_article.photo2), alt: @insider_article.photo2_alt_text, class: "insider_article_photo") %>
            <% end %>
          <% end %>
          <p class="neue-machina"><%= simple_format(@insider_article.text3) %></p>
          <% if @insider_article.photo3.attached? %>
            <% if @movies.include?(@insider_article.photo3.filename.extension.downcase) %>
              <%= video_tag(url_for(@insider_article.photo3), controls: true, alt: @insider_article.photo1_alt_text, playsinline: true, poster: url_for(@insider_article.cover_photo), class: "insider_article_photo", preload: 'none') %>
            <% else %>
              <%= image_tag(url_for(@insider_article.photo3), alt: @insider_article.photo3_alt_text, class: "insider_article_photo") %>
            <% end %>
          <% end %>
          <p class="neue-machina"> <%= simple_format(@insider_article.text4) %></p>
        </div>
        <div class="share-articles-links">
          <p class="bold mb-2">Share:</p>
          <%= link_to "http://www.facebook.com/sharer/sharer.php?u=#{insider_article_url(@insider_article)}&t=#{@insider_article.title}", target: "_blank" do %>
            Facebook
          <% end %>
          <%= link_to "https://twitter.com/intent/tweet?text=#{@insider_article.title}&url=#{insider_article_url(@insider_article)}", target: "_blank" do %>
            Twitter
          <% end %>
          <%= link_to "http://pinterest.com/pin/create/button/?url=#{insider_article_url(@insider_article)}&media=#{url_for(@insider_article.cover_photo)}&description=#{@insider_article.title}", target: "_blank" do %>
            Pintrest
          <% end %>
          <%= mail_to 'contact@hoxton-digital.com', subject: @insider_article.title, body: insider_article_url(@insider_article) do %>
            Email
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="share-articles-links d-flex d-md-none">
  <p class="bold mb-0">Share:</p>
  <%#= link_to "http://www.facebook.com/sharer/sharer.php?u=#{insider_article_url(@insider_article)}&t=#{@insider_article.title}", target: "_blank" do %>
    Fb.
  <%# end %>
  <%#= link_to "https://twitter.com/intent/tweet?text=#{@insider_article.title}&url=#{insider_article_url(@insider_article)}", target: "_blank" do %>
    Twt.
  <%# end %>
  <%#= link_to "http://pinterest.com/pin/create/button/?url=#{insider_article_url(@insider_article)}&media=#{url_for(@insider_article.cover_photo)}&description=#{@insider_article.title}", target: "_blank" do %>
    Pint.
  <%# end %>
  <%#= mail_to 'contact@hoxton-digital.com', subject: @insider_article.title, body: insider_article_url(@insider_article) do %>
    Email
  <%# end %>
</div> -->

<!-- <script>
  function set_articles() {
    if (window.innerWidth < 767.98) {
      document.getElementById('article-banner').style.backgroundImage = `url('${document.getElementById('article-banner').dataset.mob}')`
    } else {
      document.getElementById('article-banner').style.backgroundImage = `url('${document.getElementById('article-banner').dataset.lrg}')`
    }
  }
  set_articles()
  window.onresize = set_articles;
</script> -->
