<%= content_for :meta_title do %>
  Shop by Brand
<% end %>

<%# brands = ['adidas', 'Aldo', 'Armani', 'Asics', 'Barbour', 'Bellfield', 'Calvin Klein', 'Casio', 'Diesel', 'DKNY', 'Ellesse', 'Espirit', 'Fila', 'Fred Perry', 'G-Star', 'Gillette', 'Harrys', 'Hudson', 'Icon Brand', 'Jack Wills', 'Jordan', 'Kappa', 'Kickers', 'Kurt Geiger', 'Lacoste', 'Levis', 'MAC', 'Moschino', 'New Balance', 'Nicce', 'Nike', 'Noak', 'Oakley', 'Office', 'Original Penguin', 'Paul Smith', 'Planks', 'Pre London', 'Puma', 'Quay', 'Ray-Ban', 'Reebok', 'Reiss', 'River Island', 'Schott', 'Schuh', 'Spiral', 'Superdry', 'Ted Baker', 'Timberland', 'Toms', 'Topman', 'True Religion', 'Umbro', 'Under Armour', 'Vans', 'Voi', 'Von Dutch', 'Wahl', 'Wrangler'] %>

<div class="dashboard-wrapper">
  <div class="content-margin mt-0">
    <div class="dashboard-container-title mb-3">
      <h4 class="ls-xs mb-4">brands</h4>
    </div>
    <div class="d-flex justify-content-between">
      <h1 class="brand-letter">A <span class="medium-text d-sm-none">to</span> <span class="d-sm-none">M</span></h1>
      <h1 class="brand-letter d-none d-sm-block">M</h1>
    </div>
    <div class="brands-container">
      <% @brands.select { |b| ('A'..'M').to_a.include?(b.name.first.upcase) }.each do |brand| %>
        <%= link_to brand_path(brand), class: "" do %>
          <p class="ls-xs lighter mb-2"><%= brand.name %></p>
        <% end %>
      <% end %>
    </div>
    <hr class="w-100" style="border-color: #DDCCB5;">
    <div class="d-flex justify-content-between">
      <h1 class="brand-letter">N <span class="medium-text d-sm-none">to</span> <span class="d-sm-none">Z</span></h1>
      <h1 class="brand-letter d-none d-sm-block">Z</h1>
    </div>
    <div class="brands-container last-content-margin">
      <% @brands.select { |b| ('N'..'Z').to_a.include?(b.name.first.upcase) }.each do |brand| %>
        <%= link_to brand_path(brand), class: "" do %>
          <p class="ls-xs lighter mb-2"><%= brand.name %></p>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
