<!-- <h2 class="insider-info-title text-center"><%#= @brand.name %></h2> -->
<%= content_for :meta_title do %>
  <%= @brand.name %>
<% end %>
<div class="influencers-show-banner justify-content-start align-items-center" style="background-image: linear-gradient(to right, rgba(0,0,0,0.9), rgba(0,0,0,0.7)), url('<%= rails_blob_path @brand.photo %>')">
  <div>
    <div class="pl-5" style="width: 47%">
      <h1 class="text-white neue-machina"><%= @brand.name.upcase %></h1>
      <h3 class="text-white kaftan"><%= @tag %>.</h3>
    </div>
  </div>
</div>
<div class="content-container pb-5">
  <div class="row m-0 justify-content-between align-items-center">
    <div class="col-12 col-md-6 pl-0">
      <div class="border-left px-5 py-4">
        <% if @brand.description %>
          <h3><%= @brand.description %></h3>
        <% end %>
      </div>
    </div>
    <div class="col-12 col-md-5 pr-0">
      <% if @brand.logo.attached? %>
        <%= image_tag url_for(@brand.logo), class: 'w-100', alt: "brand logo" %>
      <% end %>
    </div>
  </div>
</div>
<div class="brands-results pt-3" id="brandsResults">
  <%= render 'shared/card_results', products: @products, form_url: brand_path(@brand), sort_method: @sort_method %>
</div>
