<%= content_for :meta_title do %>
  <%= @brand.name %>
<% end %>
<div class="content-margin pop-out-no-padding-mobile brands-banner">
  <%= link_to :back, class: 'back-button d-md-none' do %>
  <%= image_tag 'back.png', width: 28 %>
  <% end %>
  <div class="content-container pop-out-bottom-padding">
    <div class="pop-out-image-banner">
      <div class="pop-out-image-banner-content">
        <h2 class="neue-machina ls-sm mb-3 text-center"><%= @brand.name %></h2>
        <% if @brand.description %>
          <p class="lighter mb-4 ls-sm text-center px-3 px-md-5"><%= @tag %></p>
        <% end %>
        <p class="dotted-underline-button lighter mb-5 px-0"><%= @brand.products.size %> <%= 'product'.pluralize(@brand.products.size) %></p>
        <%= image_tag url_for(@brand.logo) %>
      </div>
    </div>
  </div>
</div>

<div class="brand-padding">
  <div class="content-container">
    <div class="brands-results pt-3" id="brandsResults">
      <%= render 'shared/card_results', products: @products, form_url: brand_path(@brand), sort_method: @sort_method %>
    </div>
  </div>
</div>
