<div class="container">
  <%= simple_form_for [user, question_answer] do |f| %>
    <%= f.label :photo_one, 'First Photo', class:"form-control-label" %>
    <%= f.input :photo_one, label: false, class:"form-control" %>
    <%= f.label :photo_one_alt_text, 'First Photo Alt Text', class:"form-control-label" %>
    <%= f.input :photo_one_alt_text, class:"form-control", label: false, id: :photo_one_alt_text%>
    <%= f.label :question_one, 'First question', class:"form-control-label" %>
    <%= f.input :question_one, class:"form-control", label: false %>
    <%= f.label :answer_one, 'First answer', class:"form-control-label" %>
    <%= f.input :answer_one, class:"form-control", label: false %>
    <%= f.label :question_two, 'Second question', class:"form-control-label" %>
    <%= f.input :question_two, class:"form-control", label: false %>
    <%= f.label :answer_two, 'Second answer', class:"form-control-label" %>
    <%= f.input :answer_two, class:"form-control", label: false %>
    <%= f.label :photo_two, 'Second Photo', class:"form-control-label" %>
    <%= f.input :photo_two %>
    <%= f.label :photo_two_alt_text, 'Second photo alt text', class:"form-control-label" %>
    <%= f.input :photo_two_alt_text, class:"form-control", label: false, id: :photo_two_alt_text%>
    <%= f.label :question_three, 'Third question', class:"form-control-label" %>
    <%= f.input :question_three, class:"form-control", label: false %>
    <%= f.label :answer_three, 'Third answer', class:"form-control-label" %>
    <%= f.input :answer_three, class:"form-control", label: false %>
    <%= f.label :question_four, 'Fourth question', class:"form-control-label" %>
    <%= f.input :question_four, class:"form-control", label: false %>
    <%= f.label :answer_four, 'Fourth answer', class:"form-control-label" %>
    <%= f.input :answer_four, class:"form-control", label: false %>
    <%= f.label :photo_three, 'Third Photo', class:"form-control-label" %>
    <%= f.input :photo_three %>
    <%= f.label :photo_three_alt_text, 'Third photo alt text', class:"form-control-label" %>
    <%= f.input :photo_three_alt_text, class:"form-control", label: false, id: :photo_two_alt_text%>
    <%= f.label :question_five, 'Fifth question', class:"form-control-label" %>
    <%= f.input :question_five, class:"form-control", label: false %>
    <%= f.label :answer_five, 'Fifth answer', class:"form-control-label" %>
    <%= f.input :answer_five, class:"form-control", label: false %>
    <%= f.label :question_six, 'Sixth question', class:"form-control-label" %>
    <%= f.input :question_six, class:"form-control", label: false %>
    <%= f.label :answer_six, 'Sixth answer', class:"form-control-label" %>
    <%= f.input :answer_six, class:"form-control", label: false %>

    <%= f.submit class: "btn btn-primary btn-lg" %>
  <% end %>

</div>
