<% if policy(@question_answer).edit? %>
  <div class="container">
    <div class="admin-options">
      <hr>
      <h6 class="bold ls-xs neue-machina">admin options</h6>
      <div class="d-flex">
        <%= link_to "edit", edit_user_question_answer_path(@question_answer.user, @question_answer), class: 'dotted-underline-button mr-2' %>
        <%= link_to "delete", user_question_answer_path(@question_answer.user, @question_answer), method: :delete, data: { confirm: 'Are you sure?' }, class: 'dotted-underline-button' %>
      </div>
      <hr>
    </div>
  </div>
<% end %>

<div class="content-margin pop-out-no-padding-mobile brands-banner">
  <%= link_to :back, class: 'back-button d-md-none' do %>
    <%= image_tag 'back.png', width: 28 %>
  <% end %>
  <div class="content-container">
    <div class="pop-out-image-banner py-5">
        <h2 class="neue-machina ls-sm mb-3 text-center"><%= @user.instagram %></h2>
        <% if @user.description %>
          <p class="lighter mb-4 ls-sm text-center px-3 px-md-5 user-description"><%= @user.description %></p>
        <% end %>
        <div class="influencer-socials">
          <div class="mr-0 mr-sm-4 mb-3 mb-sm-0 lighter">
            <i class="fab fa-instagram"></i>
            <span>375 posts</span>
          </div>
          <div class="mb-3 mb-sm-0 lighter">
            <i class="fab fa-youtube"></i>
            <span>15 videos</span>
          </div>
        </div>
    </div>
  </div>
</div>

<div class="content-margin mt-0">
  <div class="content-container">
    <div class="qna-wrapper">
      <div class="qna-content">
        <div class="row m-0 p-0 py-sm-5 justify-content-between">
          <div class="col-12 col-sm-6 col-md-5">
            <%= image_tag(url_for(@question_answer.photo_one), alt: @question_answer.photo_one_alt_text, class: 'qna-image') %>
          </div>
          <div class="col-12 col-sm-6 col-md-5">
            <h4 class="neue-machina ls-xs font-weight-normal mb-4"><%= @question_answer.question_one %></h4>
            <p class="ls-xs lighter medium-text mb-4"><%= @question_answer.answer_one %></p>
          </div>
        </div>
        <div class="row m-0 p-0 py-sm-5 justify-content-between question-middle">
          <div class="col-12 col-sm-6 col-md-5">
            <h4 class="neue-machina ls-xs font-weight-normal mb-4"><%= @question_answer.question_two %></h4>
            <p class="ls-xs lighter medium-text mb-4"><%= @question_answer.answer_two %></p>

          </div>
          <div class="col-12 col-sm-6 col-md-5">
            <%= image_tag(url_for(@question_answer.photo_two), alt: @question_answer.photo_two_alt_text, class: 'qna-image') %>
          </div>
        </div>
        <div class="row m-0 p-0 py-sm-5 justify-content-between">
          <div class="col-12 col-sm-6 col-md-5">
            <%= image_tag(url_for(@question_answer.photo_three), alt: @question_answer.photo_three_alt_text, class: 'qna-image') %>
          </div>
          <div class="col-12 col-sm-6 col-md-5">
            <h4 class="neue-machina ls-xs font-weight-normal mb-4"><%= @question_answer.question_three %></h4>
            <p class="ls-xs lighter medium-text mb-4"><%= @question_answer.answer_three %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="content-margin mt-0 last-content-margin">
  <div class="content-container">
    <div class="col-12">
      <h4 class="neue-machina ls-xs font-weight-normal mb-4"><%= @question_answer.question_four %></h4>
      <p class="ls-xs lighter medium-text mb-5"><%= @question_answer.answer_four %></p>
      <h4 class="neue-machina ls-xs font-weight-normal mb-4"><%= @question_answer.question_five %></h4>
      <p class="ls-xs lighter medium-text mb-5"><%= @question_answer.answer_five %></p>
      <h4 class="neue-machina ls-xs font-weight-normal mb-4"><%= @question_answer.question_six %></h4>
      <p class="ls-xs lighter medium-text mb-5"><%= @question_answer.answer_six %></p>
    </div>
  </div>
</div>

