<div class="qna-wrapper">
  <div class="container">
    <h3 class="text-center">Interview with <%= @question_answer.user.first_name %> <%= @question_answer.user.last_name %></h3>
    <div class="question-banner">
      <div class="question-image">
        <%= image_tag(url_for(@question_answer.photo_one), alt: @question_answer.photo_one_alt_text) %>
      </div>
      <div class="question-text">
        <h4><%= @question_answer.question_one %></h4>
        <p class="old-standard"><%= @question_answer.answer_one %></p>
        <h4><%= @question_answer.question_two %></h4>
        <p class="old-standard"><%= @question_answer.answer_two %></p>
      </div>
    </div>
    <div class="question-banner question-middle">
      <div class="question-text">
        <h4><%= @question_answer.question_three %></h4>
        <p class="old-standard"><%= @question_answer.answer_three %></p>
        <h4><%= @question_answer.question_four %></h4>
        <p class="old-standard"><%= @question_answer.answer_four %></p>
      </div>
      <div class="question-image">
        <%= image_tag(url_for(@question_answer.photo_two), alt: @question_answer.photo_two_alt_text) %>
      </div>
    </div>
    <div class="question-banner">
      <div class="question-image">
        <%= image_tag(url_for(@question_answer.photo_three), alt: @question_answer.photo_three_alt_text) %>
      </div>
      <div class="question-text">
        <h4><%= @question_answer.question_five %></h4>
        <p class="old-standard"><%= @question_answer.answer_five %></p>
        <h4><%= @question_answer.question_six %></h4>
        <p class="old-standard"><%= @question_answer.answer_six %></p>
      </div>
    </div>
  </div>

  <% if policy(@question_answer).edit? %>
    <%= link_to "Edit Q&A", edit_user_question_answer_path(@question_answer.user, @question_answer) %>
    <%= link_to "Delete Q&A", user_question_answer_path(@question_answer.user, @question_answer), method: :delete %>
  <% end %>
</div>
