<% customer_reviews.each do |review| %>
  <div class="customer-review-section">
    <div class="row m-0">
      <div class="customer-reviews-left m-0 mr-md-5 pb-4 pb-md-0">
        <p class="small-text"><%= review.created_at.strftime('%B %d, %Y') %></p>
        <%= render 'shared/ratings', rating: review.rating %>
        <h6 class="mt-3 neue-machina"><%= review.user.first_name.capitalize %></h6>
      </div>
      <div class="col-12 col-sm-6 pl-0">
        <h5 class="mb-3 ls-xs"><%= review.title %></h5>
        <p class="mb-3 ls-xs">"<%= review.review %>"</p>
        <p class="ls-xs"><span class="bold"><%= review.recommendation %></span>, I would recommend this product</p>
      </div>
    </div>
  </div>
<% end %>
