<div class="col-12 col-md-6 ir-cols px-0 px-md-4">
  <div class="insider-review-cards" data-toggle="modal" data-target="#review_<%= review.id %>">
    <div class="insider-review-text">
      <div class="pb-3">
        <%= render 'shared/ratings', rating: review.rating %>
      </div>
      <p class="neue-machina medium-text lighter mb-4">"<%= review.review.truncate(100) %>"</p>
    </div>
    <div class="d-flex align-items-center">
      <div class="insider-review-image mr-2" style="background-image: url(<%= url_for(review.user.avatar_photo.variant(resize: '300x300')) %>)"></div>
      <div class="d-flex flex-column">
        <h6 class="truncate-text neue-machina mb-0"><%= review.user.instagram %></h6>
        <p class="v-small-text mb-0 ls-xs bold">THE NET EXPERT</p>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="review_<%= review.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content loop-border">
      <%= link_to user_path(review.user), class: "review-modal-header" do %>
        <div class="modal-insider-review-image" style="background-image: url(<%= url_for(review.user.avatar_photo) %>)"></div>
        <h6 class="review-modal-influencer"><%= review.user.instagram %></h6>
      <% end %>
      <div class="review-modal-body">
        <p class="neue-machina"><%= review.review %></p>
        <div class="d-flex justify-content-center py-3">
          <%= render 'shared/ratings', rating: review.rating %>
        </div>
      </div>
      <div class="review-modal-footer">
        <button type="button" class="primary-button small-text" data-dismiss="modal">CLOSE</button>
      </div>
    </div>
  </div>
</div>
