<div class="product-details-container">
  <div class="product-details">
    <div class="product-image-container">
      <div class="product-carousel">
        <% @product.shades.first.photos.first(4).each do |shade_photo| %>
          <div class="product-shade-image">
            <%= image_tag(url_for(shade_photo), onclick: "myFunction(this);", class: "item-image-thumbnail")  %>
          </div>
        <% end %>
      </div>
      <div class="product-main-image">
        <%= image_tag url_for(@product.shades.first.photos.first), id: "expandedImg", class: "myImg" %>
      </div>
    </div>
    <div class="product-info-container assistant">
    <%= simple_form_for(([@product, BasketProduct.new(product: @product)]), remote: :true) do |f| %>
      <%= f.input :shade_id, as: :hidden, input_html: { value: @product.shades[0].id } %>
      <h5><%= @product.title %></h5>
      <hr>
      <p class="product-shade-title small-margin-bottom"><strong><%= @product.shades.first.name %></strong></p>
      <% colors = ['https://media.istockphoto.com/photos/green-cosmetic-clay-powder-texture-close-up-selective-focus-abstract-picture-id884603174', 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS78bHnt2gbcBbyeTBBqVde3suKnkxZMtWfj8R1-IIdsnUlcj2PDQ', 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR81aMOdrVMLvvEWZUPHPdNyc1Vv-OPn-EUKC9dlJzJDnd900bprQ'] %>
      <% num = 3 %>
      <div class="shades-container">
        <div class="row" style="margin: 0; width: 100%;">
          <% @product.shades.each_with_index do |shade, i| %>
            <div class="col-2 col-md-4" style="padding: 0 3px 0 0;">
              <div class="product-shade-card shade_<%= shade.id %> <%= 'product-shade-card-selected' if i == 0 %>" data-shadeId="<%= shade.id %>" style="background-image: url(<%= url_for(shade.photos.last) %>)",
                data-name="<%= shade.name %>"
                data-urls="<%= shade.photos.first(4).map { |photo| url_for(photo) } %>">
              </div>
<!--               <%# if user_signed_in? && current_user.wishlist %>
                <div class="shade-wishlist-heart shade-<%= shade.id %>">
                  <%#= render 'shared/shade-wishlist', product: @product, shade: shade %>
                </div>
              <%# end %> -->
            </div>
          <% end %>
        </div>
      </div>
      <div class="d-flex justify-content-between">
        <h5><%= humanized_money_with_symbol(@product.price) %></h5>
        <% if user_signed_in? && current_user.wishlist %>
          <div id="item-<%= @product.id %>-wishlist" class="product-show-wishlist">
            <%= render 'shared/product_show_wishlist', product: @product %>
          </div>
        <% end %>
      </div>
      <div class="card_ratings">
        <%= render 'shared/ratings', rating: @product.average_rating.to_i %>
        <p class="small-text"><%= @product.average_rating %> (<%= @product.total_reviews %> Reviews)</p>
      </div>
      <%#= link_to 'ADD TO BAG', '#', class: "primary-button" %>
      <%= f.submit 'ADD TO BAG', id: "add-to-bag", class: "primary-button" %>
    <% end %>
      <div class="product-details-section info-expand">
        <div class="product-details-title">
          <h6 class="small-text">Product details</h6>
          <i class="fas fa-plus pd-expand"></i>
        </div>
        <p class="product-details-text didot small-text no-margin"><%= @product.details %></p>
      </div>
      <div class="benefits-section info-expand">
        <div class="benefits-title">
          <h6 class="small-text">Benefits</h6>
          <i class="fas fa-plus be-expand"></i>
        </div>
        <div class="benefits-text">
          <% @product.benefits.each do |benefit| %>
            <p class="didot no-margin small-text">- <%= benefit.name %></p>
          <% end %>
        </div>
      </div>
      <div class="about-the-brand-section info-expand">
        <div class="about-the-brand-title">
          <h6 class="small-text">About the brand</h6>
          <i class="fas fa-plus ab-expand"></i>
        </div>
        <p class="about-the-brand-text didot small-text no-margin"><%= @product.brand.description %></p>
      </div>
      <div class="share-section">
        <h6 class="small-text">Share</h6>
        <div class="articles-link-icons">
          <%= link_to "http://www.facebook.com/sharer/sharer.php?u=#{product_url(@product)}&t=#{@product.title}", target: "_blank" do %>
            <i class="fab fa-facebook-f"></i>
          <% end %>
          <%= link_to "https://twitter.com/intent/tweet?text=#{@product.title}&url=#{product_url(@product)}", target: "_blank" do %>
            <i class="fab fa-twitter"></i>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<% if current_user&.ordered_products&.include?(@product) && (current_user.influencer ? !@product.insider_reviews.any?{|review| review.user == current_user} : !@product.customer_reviews.any?{|review| review.user == current_user}) %>
  <%= simple_form_for [@product, current_user.influencer ? InsiderReview.new : CustomerReview.new], html: { class: 'customer-review-form small-padding' } do |f| %>
      <h5 class="insider-info-title text-center">How did you enjoy our <%= @product.title %>?</h5>
      <div class="customer-review-input">
        <p class="boldest muli s-medium-text no-margin">Rating</p>
        <%= f.input :rating, collection: [1,2,3,4,5], label: false, input_html: { class: 'dropdown-input sign-up-dropdown', id: 'review_rating' } %>
      </div>
      <div class="customer-review-input">
        <p class="boldest muli s-medium-text no-margin">Review</p>
        <%= f.input :review, label: false %>
      </div>
      <% unless current_user.influencer %>
        <div class="customer-review-input">
          <p class="boldest muli s-medium-text no-margin">Would you recommend?</p>
          <%= f.input :recommendation, collection: ['Yes', 'No', 'Maybe'], label: false, input_html: { class: 'dropdown-input sign-up-dropdown' } %>
        </div>
      <% end %>
      <%= f.submit 'LEAVE A REVIEW' , class: 'primary-button personal-details-button small-text' %>
  <% end %>
<% end %>
<div class="product-insider-reviews-wrapper">
  <h2 class="insider-info-title text-center">Insider Reviews</h2>
  <div class="insider-review-container max-width">
    <div class="row-carousel">
      <%= image_tag 'small-back-dark.png', class: 'carousel-buttons cb-left' %>
      <% if @product.insider_reviews.count == 0 %>
        <p class="text-center medium-margin width-100">There are no insider reviews yet</p>
      <% end %>
      <% @product.insider_reviews.first(3).each do |review| %>
        <div class="col-10 col-md-4 ir-cols">
          <div class="insider-review-cards" data-toggle="modal" data-target="#review_<%= review.id %>">
            <div class="insider-review-left">
              <div class="insider-review-image" style="background-image: url(<%= url_for(review.user.avatar_photo) %>)"></div>
              <h6><%= review.user.instagram %></h6>
            </div>
            <div class="insider-review-right">
              <div class="insider-review-text">
                <%= render 'shared/ratings', rating: review.rating %>
                <p class="didot"><%= review.review.truncate(150) %></p>
              </div>
            </div>
          </div>
        </div>
        <div class="modal fade" id="review_<%= review.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <%= link_to user_path(review.user), class: "review-modal-header" do %>
                <div class="modal-insider-review-image" style="background-image: url(<%= url_for(review.user.avatar_photo) %>)"></div>
                <h6 class="review-modal-influencer"><%= review.user.instagram %></h6>
              <% end %>
              <div class="review-modal-body">
                <%= review.review %>
                <div class="d-flex justify-content-center py-3">
                  <%= render 'shared/ratings', rating: review.rating %>
                </div>
              </div>
              <div class="review-modal-footer">
                <button type="button" class="primary-button" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      <%= image_tag 'small-forward-dark.png', class: 'carousel-buttons cb-right' %>
    </div>
    <% if current_user&.admin %>
      <div class="admin-options">
          <div class="container">
            <hr>
            <h6 class="boldest">Admin options</h6>
            <%= link_to 'EDIT INSIDER REVIEWS', admin_product_insider_reviews_path(@product), class: 'secondary-button' %>
            <hr>
          </div>
        </div>
    <% end %>
  </div>
</div>
<div class="recommended-products-wrapper">
  <div class="recommended-products-header">
    <h2 class="insider-info-title text-center">Recommended Products</h2>
  </div>
  <div class="max-width">
    <div class="row-carousel">
      <%= image_tag 'small-back.png', class: 'carousel-buttons cb-left' %>
      <% Product.all.sample(4).each do |product| %>
        <div class="col-8 col-sm-6 col-md-3 d-flex justify-content-center tp-cols" >
          <div class="card-image-results">
            <div class="card">
              <%= link_to product_path(product) do %>
                <div class="card_image">
                  <%= link_to product_path(product) do %>
                    <%= image_tag url_for(product.shades.first.photos.first) %>
                  <% end %>
                </div>
              <% end %>
              <div class="card_header">
                <p><%= product.title %></p>
              </div>
              <div class="card_price-heart">
                <%= humanized_money_with_symbol(product.price) %>
              </div>
              <div class="my-products-purchase">
                <%= link_to 'Add to bag', my_product_product_path(product), remote: true, method: :post, class: "my-products-button" %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      <%= image_tag 'small-forward.png', class: 'carousel-buttons cb-right' %>
    </div>
  </div>
</div>
<div class="product-insider-reviews-wrapper">
  <h2 class="insider-info-title text-center">Customer Reviews</h2>
  <div class="insider-review-container max-width">
    <div class="row-carousel">
      <%= image_tag 'small-back-dark.png', class: 'carousel-buttons cb-left' %>
      <% if @product.customer_reviews.count == 0 %>
        <p class="text-center medium-margin width-100">There are no customer reviews yet</p>
      <% end %>
      <% @product.customer_reviews.sample(6).each do |review| %>
        <div class="col-10 col-md-6 ir-cols">
          <div class="customer-review-cards">
            <div class="customer-review-left">
              <h6><%= review.user.first_name.capitalize %></h6>
              <div class="boldest grey-font">
                <p><%= review.user.country %></p>
                <p>Age: 22-25</p>
                <p>Gender: Female</p>
              </div>
              <h6><%= review.created_at.strftime('%d.%m.%y') %></h6>
            </div>
            <div class="customer-review-right">
              <div class="customer-review-text">
                <%= render 'shared/ratings', rating: review.rating %>
                <p class="didot">"<%= review.review.truncate(170) %>"</p>
                <p class="boldest"><%= review.recommendation %>,<span class="grey-font"> I would recommend this product</span></p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      <%= image_tag 'small-forward-dark.png', class: 'carousel-buttons cb-right' %>
    </div>
    <% if current_user&.admin %>
      <div class="admin-options">
          <div class="container">
            <hr>
            <h6 class="boldest">Admin options</h6>
            <%= link_to 'EDIT CUSTOMER REVIEWS', admin_product_customer_reviews_path(@product), class: 'secondary-button' %>
            <hr>
          </div>
        </div>
    <% end %>
  </div>
</div>

<script>

  function myFunction(imgs) {
  // Get the expanded image
  expandImg = document.getElementById("expandedImg");
  // Get the image text
  imgText = document.getElementById("imgtext");
  // Use the same src in the expanded image as the image being clicked on from the grid
  expandImg.src = imgs.src;
  // Use the value of the alt attribute of the clickable image as text inside the expanded image
  // imgText.innerHTML = imgs.alt;
  // Show the container element (hidden with CSS)
  // expandImg.parentElement.style.display = "block";
  }

  details = document.querySelector(".product-details-title");
  detailsText = document.querySelector(".product-details-text");
  aboutBrand = document.querySelector(".about-the-brand-title");
  aboutBrandText = document.querySelector(".about-the-brand-text");
  benefit = document.querySelector(".benefits-title");
  benefitsText = document.querySelector(".benefits-text");
  expandIconProduct = document.querySelector(".pd-expand");
  expandIconBenefit = document.querySelector(".be-expand");
  expandIconBrand = document.querySelector(".ab-expand");
  addToBag = document.getElementById('add-to-bag');
  itemAdded = document.querySelector('.item-added');
  basketIcon = document.querySelector('.basket-icon-container');
  basketIconMobile = document.querySelector('.basket-icon-mobile')
  recommendedItemAdded = document.querySelectorAll('.my-products-button')

  details.addEventListener('click', function() {
    expandIconProduct.classList.toggle('fa-plus');
    expandIconProduct.classList.toggle('fa-minus');
    detailsText.classList.toggle('show-text');
  });

  benefit.addEventListener('click', function() {
    expandIconBenefit.classList.toggle('fa-plus');
    expandIconBenefit.classList.toggle('fa-minus');
    benefitsText.classList.toggle('show-text');
  });

  aboutBrand.addEventListener('click', function() {
    expandIconBrand.classList.toggle('fa-plus');
    expandIconBrand.classList.toggle('fa-minus');
    aboutBrandText.classList.toggle('show-text');
  });

  addToBag.addEventListener('click', function() {
    addToBag.value = 'ITEM ADDED';
    itemAdded.classList.add('item-added-show');
    basketIcon.style.animation = 'basket-bounce 2s ease'
    basketIconMobile.style.animation = 'basket-bounce 2s ease'
    setTimeout(() => basketIcon.style.animation = '', 2000)
    setTimeout(() => basketIconMobile.style.animation = '', 2000)
    setTimeout(() => itemAdded.classList.remove('item-added-show'), 4000)
    setTimeout(() => addToBag.disabled = true, 100)
    setTimeout(() => addToBag.disabled = false, 4000)
    setTimeout(() => addToBag.value = 'ADD TO BAG', 3500)
  });

  recommendedItemAdded.forEach((addedItem) => {
    addedItem.addEventListener('click', function() {
      addedItem.innerHTML = 'Item added';
      console.log(addedItem.value)
      itemAdded.classList.add('item-added-show');
      basketIcon.style.animation = 'basket-bounce 2s ease'
      basketIconMobile.style.animation = 'basket-bounce 2s ease'
      setTimeout(() => basketIcon.style.animation = '', 2000)
      setTimeout(() => basketIconMobile.style.animation = '', 2000)
      setTimeout(() => itemAdded.classList.remove('item-added-show'), 4000)
      setTimeout(() => addedItem.disabled = true, 100)
      setTimeout(() => addedItem.disabled = false, 4000)
      setTimeout(() => addedItem.innerHTML = 'Add to bag', 3500)
    });
  })

</script>
