<div class="product-details-container">
  <div class="product-details">
    <div class="product-image-container">
      <div class="product-carousel">
        <div class="product-shade-image">
          <%= image_tag url_for(@product.shades.first.card_photo.variant(resize: '700x700')), onclick: "myFunction(this);", class: "item-image-thumbnail", alt: "shade photo"  %>
        </div>
        <% @product.shades.first.photos.first(3).each do |shade_photo| %>
          <div class="product-shade-image">
            <%= image_tag url_for(shade_photo.variant(resize: '700x700')), onclick: "myFunction(this);", class: "item-image-thumbnail", alt: "shade photo"  %>
          </div>
        <% end %>
      </div>
      <div class="product-main-image">
        <div class="myImg" id="expandedImg" style="background-image: url(<%= url_for(@product.shades.first.card_photo.variant(resize: '700x700')) %>); background-position: center; background-size: cover;">
        </div>
        <%#= image_tag url_for(@product.shades.first.card_photo), id: "expandedImg", class: "myImg magniflier", alt: "shade photo" %>
      </div>
    </div>
    <div class="product-info-container assistant">
    <%= simple_form_for(([@product, BasketProduct.new(product: @product)]), remote: :true) do |f| %>
      <%= f.input :shade_id, as: :hidden, input_html: { value: @product.shades.order(created_at: :ASC)[0].id } %>
      <h6 class="mb-1"><%= @product.brand.name.upcase %></h6>
      <h5><%= @product.title %></h5>
      <div class="card_ratings">
        <%= render 'shared/ratings', rating: @product.average_rating.to_i %>
        <p id="product-show-reviews" class="small-text muli ml-1"><%= @product.average_rating %> (<%= @product.total_reviews %> Reviews)</p>
      </div>
      <div class="d-flex justify-content-between my-3">
        <h3 class="product-price mb-0"><%= humanized_money_with_symbol(@product.price) %></h3>
      </div>
      <hr class="my-3">
      <p class="product-shade-title small-margin-bottom muli"><%= @product.shades.order(created_at: :ASC).first.name %></p>
      <% if @product.shades.count > 1 %>
        <div class="shades-container">
          <div class="row" style="margin: 0; width: 100%;">
            <% @product.shades.order(created_at: :ASC).each_with_index do |shade, i| %>
              <% next unless shade.shade_color.attached? %>
              <div class="col-2" style="padding: 0 4px 0 0;">
                <div class="product-shade-card shade_<%= shade.id %> <%= 'product-shade-card-selected' if i == 0 %>" data-shadeId="<%= shade.id %>" style="background-image: url(<%= url_for(shade.shade_color.variant(resize: '90x90')) %>)",
                  data-name="<%= shade.name %>",
                  data-stock="<%= shade.number_in_stock %>"
                  data-main="<%= url_for(shade.card_photo.variant(resize: '700x700')) %>"
                  data-urls="<%= shade.photos.first(3).map { |photo| url_for(photo.variant(resize: '700x700')) } %>">
                </div>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
      <div class="button-holder">
        <% if @product.out_of_stock? %>
          <%= f.submit 'OUT OF STOCK', disabled: true, class: "primary-button disabled-button w-100" %>
        <% elsif @product.shades.order(created_at: :ASC).first.out_of_stock? %>
          <%= f.submit 'OUT OF STOCK', disabled: true, class: "primary-button disabled-button w-100" %>
        <% else %>
          <%= f.submit 'ADD TO BAG', id: "add-to-bag", class: "primary-button w-100" %>
        <% end %>
      </div>
      <% if user_signed_in? && current_user.wishlist %>
        <div id="item-<%= @product.id %>-wishlist" class="product-show-wishlist">
          <%= render 'shared/product_show_wishlist', product: @product %>
        </div>
      <% end %>
    <% end %>
      <div class="product-details-section info-expand">
        <div class="product-details-title">
          <h6>Product Details</h6>
          <i class="fas fa-plus pd-expand"></i>
        </div>
        <p class="product-details-text didot small-text"><%= @product.details %></p>
      </div>
      <div class="benefits-section info-expand">
        <div class="benefits-title">
          <h6>Benefits</h6>
          <i class="fas fa-plus be-expand"></i>
        </div>
        <div class="benefits-text">
          <% @product.benefits.each do |benefit| %>
            <p class="didot no-margin small-text">- <%= benefit.name %></p>
          <% end %>
        </div>
      </div>
      <div class="about-the-brand-section info-expand mb-2">
        <div class="about-the-brand-title">
          <h6>About the Brand</h6>
          <i class="fas fa-plus ab-expand"></i>
        </div>
        <p class="about-the-brand-text didot small-text"><%= @product.brand.description %></p>
      </div>
      <div class="share-section">
        <h6>Share with friends</h6>
        <div class="articles-link-icons">
          <%= link_to "http://www.facebook.com/sharer/sharer.php?u=#{product_url(@product)}&t=#{@product.title}", target: "_blank", class: 'no-decoration' do %>
            <div class="footer-social-link mr-2 product-share-icons">
              <i class="fab fa-facebook-f"></i>
            </div>
          <% end %>
          <%= link_to "https://twitter.com/intent/tweet?text=#{@product.title}&url=#{product_url(@product)}", target: "_blank", class: 'no-decoration' do %>
            <div class="footer-social-link product-share-icons">
              <i class="fab fa-twitter"></i>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<% if current_user&.admin %>
  <div class="admin-options">
    <div class="container">
      <hr>
      <h6 class="boldest">Admin options</h6>
      <%= link_to 'EDIT PRODUCT', edit_admin_product_path(@product), class: 'secondary-button' %>
      <hr>
    </div>
  </div>
<% end %>
<% if current_user&.ordered_products&.include?(@product) && (current_user.influencer ? !@product.insider_reviews.any?{|review| review.user == current_user} : !@product.customer_reviews.any?{|review| review.user == current_user}) %>
  <div class="product-review-wrapper">
    <%= simple_form_for [@product, current_user.influencer ? InsiderReview.new : CustomerReview.new], html: { class: 'customer-review-form small-padding' } do |f| %>
        <h6 class="insider-info-title text-center">How did you enjoy our <%= @product.title %>?</h6>
        <div class="customer-review-input">
          <p class="boldest muli s-medium-text no-margin">Rating</p>
          <%= f.input :rating, collection: [1,2,3,4,5], label: false, input_html: { class: 'dropdown-input sign-up-dropdown', id: 'review_rating' } %>
        </div>
        <div class="customer-review-input">
          <p class="boldest muli s-medium-text no-margin">Review</p>
          <%= f.input :review, label: false, placeholder: "Please leave your review here...", input_html: { class: 'product-show-review-input' } %>
        </div>
        <% unless current_user.influencer %>
          <div class="customer-review-input">
            <p class="boldest muli s-medium-text no-margin">Would you recommend?</p>
            <%= f.input :recommendation, collection: ['Yes', 'No', 'Maybe'], label: false, input_html: { class: 'dropdown-input sign-up-dropdown' } %>
          </div>
        <% end %>
        <%= f.submit 'LEAVE A REVIEW' , class: 'primary-button personal-details-button small-text' %>
    <% end %>
  </div>
<% end %>

<div class="content-container trending-container">
  <div class="row m-0">
    <div class="col-12 d-flex justify-content-center">
      <h5 class="mb-3 semi-bold" style="width: 98%">WHAT THE EXPERTS THINK</h5>
    </div>
  </div>
</div>
<div class="product-insider-reviews-wrapper">
  <div class="insider-review-container">
    <!--   <%# if @product.insider_reviews.any? %>
      <p class="shop-look-text text-center pb-3">Click a review to see more</p>
    <%# end %> -->

    <div class="d-block d-md-none">
      <div id="mobileProductShowCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
        <div class="carousel-inner">
          <% @product.insider_reviews.each_with_index do |review, index| %>
            <div class="carousel-item <%= 'active' if index == 0 %>">
              <div class="row m-0">
                <% if @product.insider_reviews.count == 0 %>
                  <p class="text-center medium-margin width-100 muli grey boldest small-text">There are no insider reviews yet</p>
                <% end %>
                <%= render 'insider_review_card', review: review %>
              </div>
            </div>
          <% end %>
        </div>
        <a class="carousel-control-next" href="#mobileProductShowCarousel" role="button" data-slide="next">
          <%= image_tag 'carousel-right.png', width: 40 %>
        </a>
      </div>
    </div>

    <div class="d-none d-md-block">
      <div id="productShowCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
        <div class="carousel-inner">
          <% @product.insider_reviews.each_slice(2) do |reviews| %>
            <div class="carousel-item <%= 'active' if reviews[0] == @product.insider_reviews.first %>">
              <div class="row m-0">
                <% if @product.insider_reviews.count == 0 %>
                  <p class="text-center medium-margin width-100 muli grey boldest small-text">There are no insider reviews yet</p>
                <% end %>
                <% reviews.each do |review| %>
                  <%= render 'insider_review_card', review: review %>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
        <a class="carousel-control-next" href="#productShowCarousel" role="button" data-slide="next">
          <%= image_tag 'carousel-right.png', width: 40 %>
        </a>
      </div>
    </div>
    <% if current_user&.admin %>
      <div class="admin-options">
        <div class="container">
          <hr>
          <h6 class="boldest">Admin options</h6>
          <%= link_to 'EDIT INSIDER REVIEWS', admin_product_insider_reviews_path(@product), class: 'secondary-button' %>
          <hr>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="content-container trending-container">
  <div class="row m-0">
    <div class="col-12 d-flex justify-content-center">
      <h5 class="mb-3 semi-bold" style="width: 98%">SIMILAR PRODUCTS OUR CUSTOMERS LOVE</h5>
    </div>
  </div>
  <div class="row m-0">

    <!-- DON'T FORGET TO REMOVE THE 2.TIMES DO -->

    <% 2.times do %>
      <% @products.each do |product| %>
        <div class="col-3">
          <div class="card-image-results homepage-products">
            <div class="card">
              <%= link_to product_path(product) do %>
                <% if product.out_of_stock? %>
                  <div class="out-of-stock-overlay">
                    <h4 class="boldest muli text-center out-of-stock-overlay-message">OUT OF STOCK</h4>
                  </div>
                <% end %>
                <div class="card_image">
                  <%= link_to product_path(product) do %>
                    <% if product.shades.first&.card_photo %>
                      <%= image_tag url_for(product.shades.first.card_photo.variant(resize: '300x300')), alt: "product shade photo" %>
                    <% else %>
                      <div style="background-color: #EFEFEF; min-height: 131.5px; max-height: 204px; height: 13rem; width: 100%"></div>
                    <% end %>
                  <% end %>
                </div>
              <% end %>
            </div>
            <div class="card-info">
              <p class="muli semi-bold text-center truncate-text small-text" style="margin-bottom: 0px;"><%= product.brand.name.upcase %></p>
              <div class="card_header mb-3">
                <p class="muli semi-bold text-center truncate-text medium-text"><%= product.title.upcase %></p>
              </div>
              <p class="mb-3">"<%= product.details.truncate(88) %>"</p>
              <h5 class="text-center"><%= humanized_money_with_symbol(product.price) %></h5>
              <%= link_to 'SHOP', product_path(product), class: "primary-button" %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>




<%# if @tutorials.any? %>
<!--   <div class="home-featured-wrapper" style="background: #FFF !important;">
    <div class="lds-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
    <div class="home-featured-container show-tutorial load-show h-100" data-prev="<%#= asset_path 'pag-left.png' %>"  data-next="<%#= asset_path 'pag-right.png' %>">
      <h2 class="insider-info-title text-center mt-0 mb-4">Tutorials featuring <%#= @product.title %></h2>
      <div class="product-show-tutorial-container">
        <div class="home-featured-products" style="background: #FFF !important;" aria-hidden="false">
          <div class="homepage-slick">
            <%# @tutorials.each do |tutorial| %>
              <div class="homepage-slick-card">
                <%#= render 'shared/product_show_tutorials', tutorial: tutorial %>
              </div>
            <%# end %>
          </div>
        </div>
      </div>
    </div> -->
    <%# @tutorials.each do |tutorial| %>
      <!-- Modal -->
     <!--  <div class="product-show-modal modal fade" id="tutorial-modal_<%#= tutorial.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="tutorial-show-video-banner">
              <%#= video_tag url_for(tutorial.video), style: "width: 100%", id: "tutorial-show-video_#{tutorial.id}", playsinline: true, poster: url_for(tutorial.cover_photo), alt: "influencer tutorial video", class: "product-show-video", preload: 'none' %>
              <div class="video-overlay video-overlay_<%#= tutorial.id %>" onclick="playVideo(<%#= tutorial.id %>)">
                <%#= image_tag 'play-button.png', class: "video-home-play-button", width: 80, alt: "play button" %>
              </div>
            </div>
            <div class="modal-content-info">
              <%#= image_tag url_for(tutorial.user.avatar_photo), class: 'modal-avatar mr-3' %>
              <div class="">
                <h4 class="muli boldest mt-0 mb-2"><%#= tutorial.title %></h4>
                <%#= link_to user_path(tutorial.user), class: 'no-decoration' do %>
                  <p class="muli m-0"><%#= tutorial.user.instagram %></p>
                <%# end %>
              </div>
            </div>
          </div>
        </div>
      </div> -->
    <%# end %>
  <!-- </div> -->
<%# end %>
<% if @product.sent_recommended_products.any? %>
  <div class="recommended-products-wrapper">
    <div class="recommended-products-header">
      <h2 class="insider-info-title text-center">Recommended Products</h2>
    </div>
    <div class="max-width">
      <div class="row-carousel">
        <%= image_tag 'small-back.png', class: 'carousel-buttons cb-left' %>
        <% @product.sent_recommended_products.each do |product| %>
          <div class="col-8 col-sm-6 col-md-3 d-flex justify-content-center tp-cols" >
            <div class="card-image-results">
              <div class="card">
                <%= link_to product_path(product.recommended) do %>
                  <div class="card_image">
                    <% if product.recommended.shades.first&.card_photo %>
                      <%= image_tag url_for(product.recommended.shades.first.card_photo.variant(resize: '700x700')), alt: "product shade photo" %>
                    <% else %>
                      <div style="background-color: #EFEFEF; min-height: 131.5px; max-height: 204px; height: 13rem; width: 100%"></div>
                    <% end %>
                  </div>
                <% end %>
                <div class="card_header">
                  <p class="muli boldest"><%= product.recommended.title %></p>
                </div>
                <div class="card_price-heart muli boldest">
                  <%= humanized_money_with_symbol(product.recommended.price) %>
                </div>
                <div class="my-products-purchase">
                  <%= link_to 'Add to bag', my_product_product_path(product.recommended), remote: true, method: :post, class: "my-products-button" %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
        <%= image_tag 'small-forward.png', class: 'carousel-buttons cb-right' %>
      </div>
    </div>
  </div>
<% end %>
<div class="content-container trending-container">
  <div class="row m-0">
    <div class="col-12 d-flex justify-content-center">
      <h5 class="mb-3 semi-bold" style="width: 98%">WHAT OUR CUSTOMERS THINK</h5>
    </div>
  </div>
</div>
<div id="product-show-reviews-container" class="product-insider-reviews-wrapper">
  <% if @product.customer_reviews.any? %>
    <!-- <p class="shop-look-text text-center">Click a review to see more</p> -->
  <% end %>
  <div class="insider-review-container max-width py-5">
    <div class="row-carousel" id="reviews-target">
      <!-- <div class="row-carousel"> -->
        <%= render 'review_cards', reviews: @customer_reviews %>
      <!-- </div> -->
    </div>
    <div class="customer-review-pagination-container mt-3">
      <div class="col-12 d-flex justify-content-center">
        <p class="boldest muli small-text grey" id="info-target"><%= page_entries_info @customer_reviews %></p>
      </div>
      <div class="col-12 d-flex justify-content-center" id="paginate-target">
        <%= paginate @customer_reviews, remote: true %>
      </div>
    </div>
    <% if current_user&.admin %>
      <div class="admin-options">
        <div class="container">
          <hr>
          <h6 class="boldest">Admin options</h6>
          <%= link_to 'EDIT CUSTOMER REVIEWS', admin_product_customer_reviews_path(@product), class: 'secondary-button' %>
          <hr>
        </div>
      </div>
    <% end %>
  </div>
</div>

<script>

  numOfReviews = document.getElementById('product-show-reviews');
  reviewsContainer = document.getElementById('product-show-reviews-container');
  numOfReviews.addEventListener('click', function() {
    reviewsContainer.scrollIntoView({behavior: "smooth", block: "start", inline: "nearest"});
  })

  function myFunction(imgs) {
  // Get the expanded image
  expandImg = document.getElementById("expandedImg");
  // Get the image text
  imgText = document.getElementById("imgtext");
  // Use the same src in the expanded image as the image being clicked on from the grid
  expandImg.style.backgroundImage = `url(${imgs.src})`;
  // Use the value of the alt attribute of the clickable image as text inside the expanded image
  // imgText.innerHTML = imgs.alt;
  // Show the container element (hidden with CSS)
  // expandImg.parentElement.style.display = "block";
  }

  details = document.querySelector(".product-details-title");
  detailsText = document.querySelector(".product-details-text");
  aboutBrand = document.querySelector(".about-the-brand-title");
  aboutBrandText = document.querySelector(".about-the-brand-text");
  benefit = document.querySelector(".benefits-title");
  benefitsText = document.querySelector(".benefits-text");
  expandIconProduct = document.querySelector(".pd-expand");
  expandIconBenefit = document.querySelector(".be-expand");
  expandIconBrand = document.querySelector(".ab-expand");
  addToBag = document.getElementById('add-to-bag');
  itemAdded = document.querySelector('.item-added');
  basketIcon = document.querySelector('.basket-icon-container');
  basketIconMobile = document.querySelector('.basket-icon-mobile')
  recommendedItemAdded = document.querySelectorAll('.my-products-button')

  details.addEventListener('click', function() {
    expandIconProduct.classList.toggle('fa-plus');
    expandIconProduct.classList.toggle('fa-minus');
    // detailsText.classList.toggle('show-text');
    $(detailsText).slideToggle();
  });

  if (<%= @product.benefits.any? %>) {
    benefit.addEventListener('click', function() {
      expandIconBenefit.classList.toggle('fa-plus');
      expandIconBenefit.classList.toggle('fa-minus');
      // benefitsText.classList.toggle('show-text');
      $(benefitsText).slideToggle();
    });
  }

    aboutBrand.addEventListener('click', function() {
      expandIconBrand.classList.toggle('fa-plus');
      expandIconBrand.classList.toggle('fa-minus');
      // aboutBrandText.classList.toggle('show-text');
      $(aboutBrandText).slideToggle();
    });

  if (addToBag) {
    addToBag.addEventListener('click', function() {
      addToBag.value = 'ITEM ADDED';
      itemAdded.classList.add('item-added-show');
      basketIcon.style.animation = 'basket-bounce 2s ease'
      basketIconMobile.style.animation = 'basket-bounce 2s ease'
      setTimeout(() => basketIcon.style.animation = '', 2000)
      setTimeout(() => basketIconMobile.style.animation = '', 2000)
      setTimeout(() => itemAdded.classList.remove('item-added-show'), 4000)
      setTimeout(() => addToBag.disabled = true, 100)
      setTimeout(() => addToBag.disabled = false, 4000)
      setTimeout(() => addToBag.value = 'ADD TO BAG', 3500)
    });
  }

  recommendedItemAdded.forEach((addedItem) => {
    addedItem.addEventListener('click', function() {
      addedItem.innerHTML = 'Item added';
      console.log(addedItem.value)
      itemAdded.classList.add('item-added-show');
      basketIcon.style.animation = 'basket-bounce 2s ease'
      basketIconMobile.style.animation = 'basket-bounce 2s ease'
      setTimeout(() => basketIcon.style.animation = '', 2000)
      setTimeout(() => basketIconMobile.style.animation = '', 2000)
      setTimeout(() => itemAdded.classList.remove('item-added-show'), 4000)
      setTimeout(() => addedItem.disabled = true, 100)
      setTimeout(() => addedItem.disabled = false, 4000)
      setTimeout(() => addedItem.innerHTML = 'Add to bag', 3500)
    });
  })

  document.onreadystatechange = function() {
    if (document.readyState !== "complete") {
        document.querySelector(".load-show").style.visibility = 'hidden';
        document.querySelector(".lds-spinner").style.visibility = "visible";
    } else {
        document.querySelector(".lds-spinner").style.display = "none";
        document.querySelector(".load-show").style.visibility = 'visible';
    }
  };

  function playVideo(tutorial_id) {
    videoOverlay = document.querySelector(`.video-overlay_${tutorial_id}`);
    video = document.getElementById(`tutorial-show-video_${tutorial_id}`);
    modal = document.getElementById(`tutorial-modal_${tutorial_id}`);
    videoOverlay.style.display = "none";
    video.play();
    video.controls = 'true';
    modal.addEventListener('click', (event) => {
      if (modal.classList.contains('show') == false) {
        videoOverlay.style.display = "block";
        video.pause()
      }
    })
  }

</script>
