<div class="dash-links">
  <h2 class="insider-info-title mlb-title text-center dash-mobile-title">Menu</h2>
  <h2 class="insider-info-title text-center dash-mobile-name">Hello <%= current_user.first_name %> <%= current_user.last_name %></h2>
  <%= link_to admin_brands_path, class: "each-dash-link" do %>
    <%= image_tag "basket.png", class: "dash-links-image", alt: "basket icon" %>All Brands
  <% end %>
  <%= link_to admin_products_path, class: "each-dash-link" do %>
    <%= image_tag "lipstick.png", class: "dash-links-image", alt: "lipstick icon" %>All Products
  <% end %>
  <%= link_to admin_freebies_path, class: "each-dash-link" do %>
    <%= image_tag "freebie-icon.png", class: "dash-links-image", alt: "freebie icon" %>Freebies
  <% end %>
  <%= link_to admin_lookbooks_path, class: "each-dash-link" do %>
    <%= image_tag "lookbook-icon.png", class: "dash-links-image", alt: "lookbook icon" %>Pending Lookbooks
    <% if Lookbook.where(status: 'pending').any? %>
      <div class="admin-notification muli">
        <p><%= Lookbook.where(status: 'pending').size %></p>
      </div>
    <% end %>
  <% end %>
  <%= link_to admin_tutorials_path, class: "each-dash-link" do %>
    <%= image_tag "admin-play-button.png", class: "dash-links-image", alt: "basket icon" %>Pending Tutorials
    <% if Tutorial.where(status: 'pending').any? %>
      <div class="admin-notification muli">
        <p><%= Tutorial.where(status: 'pending').size %></p>
      </div>
    <% end %>
  <% end %>
  <%= link_to admin_insider_articles_path, class: "each-dash-link" do %>
    <%= image_tag "magazine.png", class: "dash-links-image", alt: "article icon" %>Insider Articles
  <% end %>
  <%= link_to destroy_user_session_path, method: :delete, class: "each-dash-link" do %>
    <%= image_tag "dash-sign-out.png", class: "dash-links-image", alt: "dash icon" %>Sign Out
  <% end %>
</div>

<div class="dash-links-mobile">
  <%= link_to admin_brands_path, class: "each-dash-link-mobile no-decoration muli" do %>
    <span>BRANDS</span>
    <%= image_tag "basket.png", class: "dash-links-mobile-image", alt: "basket icon" %>
  <% end %>
  <%= link_to admin_products_path, class: "each-dash-link-mobile no-decoration muli" do %>
    <span>PRODUCTS</span>
    <%= image_tag "lipstick.png", class: "dash-links-mobile-image", alt: "lipstick icon" %>
  <% end %>
  <%= link_to admin_freebies_path, class: "each-dash-link-mobile no-decoration muli" do %>
    <span>FREEBIES</span>
    <%= image_tag "freebie-icon.png", class: "dash-links-mobile-image", alt: "freebie icon" %>
  <% end %>
  <%= link_to admin_lookbooks_path, class: "each-dash-link-mobile no-decoration muli" do %>
    <span>LOOKBOOKS</span>
    <%= image_tag "lookbook-icon.png", class: "dash-links-mobile-image", alt: "lookbook icon" %>
    <% if Lookbook.where(status: 'pending').any? %>
      <div class="admin-mobile-notification muli">
        <p><%= Lookbook.where(status: 'pending').size %></p>
      </div>
    <% end %>
  <% end %>
  <%= link_to admin_tutorials_path, class: "each-dash-link-mobile no-decoration muli" do %>
    <span>TUTORIALS</span>
    <%= image_tag "admin-play-button.png", class: "dash-links-mobile-image", alt: "tutorial icon" %>
    <% if Tutorial.where(status: 'pending').any? %>
      <div class="admin-mobile-notification muli">
        <p><%= Tutorial.where(status: 'pending').size %></p>
      </div>
    <% end %>
  <% end %>
  <%= link_to admin_insider_articles_path, class: "each-dash-link-mobile no-decoration muli" do %>
    <span>ARTICLES</span>
    <%= image_tag "magazine.png", class: "dash-links-mobile-image", alt: "article icon" %>
  <% end %>
  <%= link_to destroy_user_session_path, method: :delete, class: "each-dash-link-mobile no-decoration muli" do %>
    <span>SIGN OUT</span>
    <%= image_tag "dash-sign-out.png", class: "dash-links-mobile-image", alt: "sign out icon" %>
  <% end %>
</div>
