<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= meta_title %></title>
    <meta name="description" content="<%= meta_description %>">

    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="<%= meta_title %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:image" content="<%= meta_image %>" />
    <meta property="og:description" content="<%= meta_description %>" />
    <meta property="og:site_name" content="<%= meta_title %>" />

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="<%= DEFAULT_META["twitter_account"] %>">
    <meta name="twitter:title" content="<%= meta_title %>">
    <meta name="twitter:description" content="<%= meta_description %>">
    <meta name="twitter:creator" content="<%= DEFAULT_META["twitter_account"] %>">
    <meta name="twitter:image:src" content="<%= meta_image %>">
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= favicon_link_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-181681613-1"></script>

    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-181681613-1');
    </script>
    <!-- Facebook Pixel Code -->
    <script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window,document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '318899782735837');
    fbq('track', 'PageView');
    </script>
    <script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/2e469bc335ba91eb474ed6736/4cb1a7dc5614faeee4f33a734.js");</script>
    <!-- End Facebook Pixel Code -->
  </head>
  <body>
    <!-- Facebook Pixel Code -->
    <noscript>
      <img height="1" width="1"
      src="https://www.facebook.com/tr?id=318899782735837&ev=PageView
      &noscript=1"/>
    </noscript>
    <!-- End Facebook Pixel Code -->
    <% unless params[:controller] == 'pages' && params[:action] == 'home' %>
      <%#= render 'shared/navbar' %>
      <%= render 'shared/navbar_new' %>
    <% end %>
    <%= render 'shared/flashes' %>
    <div class="minimum-height">
      <%= yield %>
      <!-- COOKIE MESSAGE - JS IN PACKS/COMPONENTS/COOKIE_BOX -->
      <% if @not_seen_cookie %>
        <div class="cookie-box" style="background-image: url('<%= asset_path 'cookies-background-two.png' %>')">
          <div class="width-100">
            <h5 class="boldest">This site uses cookies</h5>
            <p class="boldest neue-machina">We use cookies to ensure you get the best experience. By using our website you agree to our <%= link_to 'Cookie Policy', privacy_policy_path, class: "cookie-link" %> </p>
            <%= link_to seen_cookie_path, remote: true do %>
              <%= image_tag 'close-black.png', class: 'cookie-close close-cookie-box' %>
            <% end %>
            <%= link_to 'GOT IT', seen_cookie_path, remote: true, class: 'cookies-button close-cookie-box' %>
          </div>
        </div>
      <% end %>
      <!-- COOKIE MESSAGE - JS IN PACKS/COMPONENTS/COOKIE_BOX -->
    </div>
    <% unless (params[:controller] == 'pages' && params[:action] == 'home') || (params[:controller] == 'pages' && params[:action] == 'freebies') %>
      <%= render 'shared/footer' %>
    <% end %>

    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
    <%= yield(:after_js) %>

  </body>
</html>
