<div class="admin-wrapper minimum-height">
  <div class="admin-container" style="max-width: 800px;">
    <h2 class="insider-info-title mlb-title text-center">Create a freebie</h2>
    <hr>
    <div class="admin-form-container freebies-form-container">
      <%= simple_form_for [:admin, @freebie] do |f| %>
        <div class="personal-details-input">
          <p class="boldest muli s-medium-text text-right no-margin">Heading</p>
          <%= f.input :heading, label: false, input_html: { class: "contact-form-input" } %>
        </div>
        <div class="personal-details-input">
          <p class="boldest muli s-medium-text text-right no-margin">Blurb</p>
          <%= f.input :blurb, label: false, input_html: { class: "contact-form-input" } %>
        </div>
        <div class="personal-details-input align-items-start">
          <p class="boldest muli s-medium-text text-right photo-input-text">Banner</p>
          <div>
            <%= f.input :banner, input_html: { class: 'd-none photo-input', 'data-name': 'freebie-banner', onchange: "displayPreview(this)" }, label_html: { class: 'upload-photo'}, label: 'CHOOSE FILE' %>
            <% if @freebie.banner.attached? %>
              <%= image_tag @freebie.banner, height: 100, class: "photo-preview", 'data-name': 'freebie-banner' %>
            <% else %>
              <%= image_tag "", width: 100, class: "d-none photo-preview", 'data-name': 'freebie-banner' %>
            <% end %>
          </div>
        </div>
        <div class="personal-details-input">
          <p class="boldest muli s-medium-text text-right no-margin">Display?</p>
          <%= f.input :display, label: false, input_html: { class: "contact-form-input lb-checkbox" } %>
        </div>
          <%= simple_fields_for @freebie.discount_code  do |a| %>
            <div class="personal-details-input">
              <p class="boldest muli s-medium-text text-right no-margin">Code</p>
              <%= a.input :code, label: false, input_html: { class: "contact-form-input" } %>
            </div>
            <div class="personal-details-input">
              <p class="boldest muli s-medium-text text-right no-margin">Discount</p>
              <%= a.input :discount, label: false, input_html: { class: "contact-form-input" } %>
            </div>
            <div class="personal-details-input">
              <p class="boldest muli s-medium-text text-right no-margin">Uses</p>
              <%= a.input :uses, label: false, input_html: { class: "contact-form-input" } %>
            </div>
            <div class="personal-details-input">
              <p class="boldest muli s-medium-text text-right no-margin">User uses</p>
              <%= a.input :user_uses, label: false, input_html: { class: "contact-form-input" } %>
            </div>
          <% end %>
          <%= f.submit 'UPDATE FREEBIE', class: 'primary-button personal-details-button small-text' %>
      <% end %>
    </div>
  </div>
</div>

<%= content_for(:after_js) do %>
  <%= javascript_pack_tag 'components/photo_preview' %>
<% end %>
