<div class="dashboard-wrapper">
  <div class="dashboard-container">
    <div class="dash-menu-container">
      <%= render 'admin/shared/admin_dash' %>
    </div>
    <div class="dash-content-container">
      <h2 class="insider-info-title mlb-title text-center">Freebies</h2>
      <hr>
      <div class="row" style="width: 100%; margin: 0; padding: 30px;">
        <% @freebies.each do |freebie| %>
          <div class="col-12 col-sm-6 col-lg-4" style="margin-bottom: 15px;">
            <div class="freebies-card">
              <%= image_tag url_for(freebie.banner), alt: "Freebie banner" %>
              <p class="small-text text-center boldest no-margin"><%= freebie.heading %></p>
              <p class="small-text text-center no-margin"><%= freebie.blurb %></p>

            </div>
            <div class="products-admin-options d-flex justify-content-around">
              <%= link_to 'EDIT', edit_admin_freebie_path(freebie), class: 'secondary-button products-admin-buttons' %>
              <%= link_to 'DELETE', admin_freebie_path(freebie), method: :delete, class: 'secondary-button products-admin-buttons' %>
            </div>
          </div>
        <% end %>
      </div>
      <%= link_to 'NEW FREEBIE', new_admin_freebie_path, class: 'primary-button products-admin-primary' %>
    </div>
  </div>
</div>

